<template>
  <div id="adminNewsletterCampaign">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ newsletter }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">{{ campaigns }}</router-link>
      </li>
    </ol>
      <div class="container-fluid card-title-admin">
        <h1>{{ campaigns }}</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <!--   LIST   -->
          <div class="tab-pane nopadding active" id="tabAdminNewsletterCampaign" role="tabpanel">
            <div class="">
              <div class="tab-content">
                <div class="tab-pane active" id="tabAdminNewsletterCampaignList" role="tabpanel">
                  <div class="row align-btn">
                    <div class="col-lg-12">
                      <button
                        id="btnAddCampaign"
                        type="button"
                        class="btn btn-primary"
                        @click="addCampaign"
                      >
                        <i class="fa fa-plus"></i>
                        <span>{{ add }}</span>
                      </button>
                      <button
                        id="btnSaveCampaign"
                        type="button"
                        class="btn btn-success"
                        @click="confirmSaveCampaign"
                        :disabled="disableButton"
                      >
                        <i class="fa fa-floppy-o"></i>
                        <span>{{ save }}</span>
                      </button>
                      <button
                        id="btnDeleteCampaign"
                        type="button"
                        class="btn btn-danger"
                        @click="confirmDeleteCampaign"
                        :disabled="disableButton"
                      >
                        <i class="fa fa-trash"></i>
                        <span>{{ del }}</span>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <bootstrapTable
                        :configurations="tableListConfiguration"
                        :datas="tableListData"
                        id="tableAdminNewsletterCampaignList"
                        :onCheck="onTableListCheck"
                        :onCheckAll="onTableListCheck"
                        :onUncheck="onTableListCheck"
                        :onUncheckAll="onTableListCheck"
                        ref="tableAdminNewsletterCampaignList"
                        :results="tableListResult"
                      ></bootstrapTable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--   END LIST   -->
          <!--   DETAIL   -->
          <div class="tab-pane nopadding" id="tabAdminNewsletterCampaignDetail" role="tabpanel" style="box-shadow: none;">
            <!--div class="card-header">
              <div class="row">
                <div class="col-sm-12">
                  <strong>Dettaglio campagna: {{ titleDetailCampaign }}</strong>
                </div>
              </div>
            </!--div-->
            <div class="row">
              <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <button
                        id="tabAdminNewsletterCampaign"
                        class="nav-link active"
                        type="button"
                        data-toggle="tab"
                        href="#tabAdminNewsletterCampaignDetailTab"
                        role="tab"
                        aria-controls="tabAdminNewsletterCampaignDetailTab"
                      >
                        <i class="fa fa-puzzle-piece"></i>
                        <span>Spedizione</span>
                      </button>
                    </li>
                    <li class="nav-item">
                      <button
                        id="tabAdminNewsletterClienti"
                        type="button"
                        class="nav-link"
                        data-toggle="tab"
                        href="#tabAdminNewsletterClientiList"
                        role="tab"
                        aria-controls="tabAdminNewsletterClientiList"
                        :disabled="disableTab"
                        v-on:click="onCustomerTab"
                      >
                        <i class="fa fa-briefcase"></i>
                        <span>{{customers}}</span>
                      </button>
                    </li>
                    <li class="nav-item">
                      <button
                        id="tabAdminNewsletterContact"
                        type="button"
                        class="nav-link"
                        data-toggle="tab"
                        href="#tabAdminNewsletterContactList"
                        role="tab"
                        aria-controls="tabAdminNewsletterContactList"
                        :disabled="disableTab"
                        v-on:click="onContactTab"
                      >
                        <i class="fa fa-address-card"></i>
                        <span>{{contacts}}</span>
                      </button>
                    </li>
                    <li class="nav-item">
                      <button
                        id="tabAdminNewsletterGroup"
                        type="button"
                        class="nav-link"
                        data-toggle="tab"
                        href="#tabAdminNewsletterGroupList"
                        role="tab"
                        aria-controls="tabAdminNewsletterGroupList"
                        :disabled="disableTab"
                        v-on:click="onGroupTab"
                      >
                        <i class="fa fa-users"></i>
                        <span>{{groups}}</span>
                      </button>
                    </li>
                    <li class="nav-item">
                      <button
                        id="tabAdminNewsletterResoconto"
                        type="button"
                        class="nav-link"
                        data-toggle="tab"
                        href="#tabAdminNewsletterResocontoList"
                        role="tab"
                        aria-controls="tabAdminNewsletterResocontoList"
                        :disabled="disableFeedback"
                        v-on:click="onFeedbackTab"
                      >
                        <i class="fa fa-list"></i>
                        <span>{{feedback}}</span>
                      </button>
                    </li>
                  </ul>
              </div>
            </div>
            <div class="tab-content">
              <div class="tab-pane active" id="tabAdminNewsletterCampaignDetailTab" role="tabpanel"  style="box-shadow: none;">
                <div class="card-body">
                  <div class="row">
                    <pageDetail
                      functions="AdminNewsletterCampaign"
                      :configurations="detailConfiguration"
                      :jsonValue="detailData"
                    ></pageDetail>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tabAdminNewsletterClientiList" role="tabpanel" style="box-shadow: none;">
                <div class="row">
                  <div class="col-sm-5">
                    <bootstrapTable
                      addInput="false"
                      :configurations="tableClientiEnabledConfiguration"
                      :datas="tableClientiEnabledData"
                      id="tableClientiEnabled"
                      :onCheck="onTableClientiEnabledCheck"
                      :onCheckAll="onTableClientiEnabledCheck"
                      :onUncheck="onTableClientiEnabledCheck"
                      :onUncheckAll="onTableClientiEnabledCheck"
                      ref="tableClientiEnabled"
                    ></bootstrapTable>
                  </div>
                  <div class="col-sm-2 vertical-center">
                    <div class="container-fluid">
                      <div class="row">
                        <button
                          type="button"
                          class="btn btn-block btn-primary"
                          :disabled="disableAddCustomerButton && !disableFeedback"
                          @click="addCustomer"
                        >
                          <i class="fa fa-arrow-left"></i>
                          <span>{{ add }}</span>
                        </button>
                      </div>
                      <div class="row">&nbsp;</div>
                      <div class="row">
                        <button
                          type="button"
                          class="btn btn-block btn-secondary"
                          :disabled="disableRemoveCustomerButton && !disableFeedback"
                          @click="removeCustomer"
                        >
                          <i class="fa fa-arrow-right"></i>
                          <span>{{ remove }}</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <bootstrapTable
                      addInput="false"
                      :configurations="tableClientiDisabledConfiguration"
                      :datas="tableClientiDisabledData"
                      id="tableClientiDisabled"
                      :onCheck="onTableClientoDisabledCheck"
                      :onCheckAll="onTableClientoDisabledCheck"
                      :onUncheck="onTableClientoDisabledCheck"
                      :onUncheckAll="onTableClientoDisabledCheck"
                      ref="tableClientiDisabled"
                    ></bootstrapTable>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tabAdminNewsletterContactList" role="tabpanel"  style="box-shadow: none;">
                <div class="row">
                  <div class="col-sm-5">
                    <bootstrapTable
                      addInput="false"
                      :configurations="tableContactEnabledConfiguration"
                      :datas="tableContactEnabledData"
                      id="tableContactEnabled"
                      :onCheck="onTableContactEnabledCheck"
                      :onCheckAll="onTableContactEnabledCheck"
                      :onUncheck="onTableContactEnabledCheck"
                      :onUncheckAll="onTableContactEnabledCheck"
                      ref="tableContactEnabled"
                    ></bootstrapTable>
                  </div>
                  <div class="col-sm-2 vertical-center">
                    <div class="container-fluid">
                      <div class="row">
                        <button
                          type="button"
                          class="btn btn-block btn-primary"
                          :disabled="disableAddContactButton && !disableFeedback"
                          @click="addContact"
                        >
                          <i class="fa fa-arrow-left"></i>
                          <span>{{ add }}</span>
                        </button>
                      </div>
                      <div class="row">&nbsp;</div>
                      <div class="row">
                        <button
                          type="button"
                          class="btn btn-block btn-secondary"
                          :disabled="disableRemoveContactButton && !disableFeedback"
                          @click="removeContact"
                        >
                          <i class="fa fa-arrow-right"></i>
                          <span>{{ remove }}</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <bootstrapTable
                      addInput="false"
                      :configurations="tableContactDisabledConfiguration"
                      :datas="tableContactDisabledData"
                      id="tableContactDisabled"
                      :onCheck="onTableContactDisabledCheck"
                      :onCheckAll="onTableContactDisabledCheck"
                      :onUncheck="onTableContactDisabledCheck"
                      :onUncheckAll="onTableContactDisabledCheck"
                      ref="tableContactDisabled"
                    ></bootstrapTable>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tabAdminNewsletterGroupList" role="tabpanel"  style="box-shadow: none;">
                <div class="row">
                  <div class="col-sm-5">
                    <bootstrapTable
                      addInput="false"
                      :configurations="tableGroupEnabledConfiguration"
                      :datas="tableGroupEnabledData"
                      id="tableGroupEnabled"
                      :onCheck="onTableGroupEnabledCheck"
                      :onCheckAll="onTableGroupEnabledCheck"
                      :onUncheck="onTableGroupEnabledCheck"
                      :onUncheckAll="onTableGroupEnabledCheck"
                      ref="tableGroupEnabled"
                    ></bootstrapTable>
                  </div>
                  <div class="col-sm-2 vertical-center">
                    <div class="container-fluid">
                      <div class="row">
                        <button
                          type="button"
                          class="btn btn-block btn-primary"
                          :disabled="disableAddGroupButton && !disableFeedback"
                          @click="addGroup"
                        >
                          <i class="fa fa-arrow-left"></i>
                          <span>{{ add }}</span>
                        </button>
                      </div>
                      <div class="row">&nbsp;</div>
                      <div class="row">
                        <button
                          type="button"
                          class="btn btn-block btn-secondary"
                          :disabled="disableRemoveGroupButton && !disableFeedback"
                          @click="removeGroup"
                        >
                          <i class="fa fa-arrow-right"></i>
                          <span>{{ remove }}</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <bootstrapTable
                      addInput="false"
                      :configurations="tableGroupDisabledConfiguration"
                      :datas="tableGroupDisabledData"
                      id="tableGroupDisabled"
                      :onCheck="onTableGroupDisabledCheck"
                      :onCheckAll="onTableGroupDisabledCheck"
                      :onUncheck="onTableGroupDisabledCheck"
                      :onUncheckAll="onTableGroupDisabledCheck"
                      ref="tableGroupDisabled"
                    ></bootstrapTable>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tabAdminNewsletterResocontoList" role="tabpanel"  style="box-shadow: none;">
                <div class="row">
                  <div class="col-sm-4 col-lg-4" v-for="chart in charts" v-bind:key="chart.title">
                    <div class="card">
                      <graphic :configurations="chart" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-right">
                  <button
                    id="btnCancelNew"
                    type="button"
                    class="btn btn-danger"
                    @click="confirmCancelNewCampaing"
                  >
                    <i class="fa fa-times"></i>
                    <span>{{ cancel }}</span>
                  </button>
                  <button
                    id="btnAddNew"
                    type="button"
                    class="btn btn-success"
                    @click="confirmSaveNewCampaing"
                  >
                    <i class="fa fa-floppy-o"></i>
                    <span>{{ save }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--   END DETAIL   -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Graphic from "@/components/Graphic.vue";

export default {
  name: "adminNewsletterCampaign",
  components: {
    BootstrapTable,
    PageDetail,
    Graphic
  },
  data() {
    return {
      configurationsGrafic: { 1: {}, 2: {}, 3: {} },
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      campaign: dictionaryHelpers.getDictionary("Campaign"),
      campaigns: dictionaryHelpers.getDictionary("campaigns"),
      charts: [],
      chartsResult: {},
      confirmCancel: dictionaryHelpers.getDictionary("ConfirmCancel"),
      confirmSave: dictionaryHelpers.getDictionary("ConfirmSave"),
      confirmDeleteRowSelected: dictionaryHelpers.getDictionary(
        "ConfirmDeleteRowSelected"
      ),
      confirmSaveRowSelected: dictionaryHelpers.getDictionary(
        "ConfirmSaveRowSelected"
      ),
      contacts: dictionaryHelpers.getDictionary("Contacts"),
      customers: dictionaryHelpers.getDictionary("Customers"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      detailConfiguration: [],
      detailData: {},
      disableButton: true,
      disableTab: true,
      disableFeedback: true,
      disableAddCustomerButton: true,
      disableRemoveCustomerButton: true,
      disableAddContactButton: true,
      disableRemoveContactButton: true,
      disableAddGroupButton: true,
      disableRemoveGroupButton: true,
      groups: dictionaryHelpers.getDictionary("Groups"),
      feedback: dictionaryHelpers.getDictionary("Feedback"),
      idRowSelected: 0,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newCampaing: dictionaryHelpers.getDictionary("NewCampaign"),
      newsletter: dictionaryHelpers.getDictionary("Newsletter"),
      save: dictionaryHelpers.getDictionary("Save"),
      spanRowSelected: "",
      tableListConfiguration: [],
      tableListData: [],
      tableListResult: [],
      tableClientiEnabledConfiguration: [],
      tableClientiEnabledData: [],
      tableClientiDisabledConfiguration: [],
      tableClientiDisabledData: [],
      tableContactEnabledConfiguration: [],
      tableContactEnabledData: [],
      tableContactDisabledConfiguration: [],
      tableContactDisabledData: [],
      tableGroupEnabledConfiguration: [],
      tableGroupEnabledData: [],
      tableGroupDisabledConfiguration: [],
      tableGroupDisabledData: [],
      tableFeedbackNewsletterConfiguration: [],
      tableFeedbackNewsletterData: [],
      titleDetailCampaign: null,
      remove: dictionaryHelpers.getDictionary("Remove"),
      rowsSelected: 0,
      url: window.location.pathname,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted")
    };
  },
  created() {
    var adminNewsletterCampaign = this;

    adminConfigurationServices.getFunctionality(function(result) {
      $.each(result.data.tablesConfigurations, function(i, tableConfiguration) {
        if (tableConfiguration.code == "List") {
          adminNewsletterCampaign.tableListConfiguration =
            tableConfiguration.tablesConfigurations;
        }
      });

      $.each(result.data.tabsConfigurations, function(i, tabConfiguration) {
        if (tabConfiguration.code == "Detail") {
          adminNewsletterCampaign.detailConfiguration =
            tabConfiguration.pageConfigurations;
        }
      });

      adminNewsletterCampaign.loadCampaignData();
    });
  },
  mounted() {


    
    this.tableClientiEnabledConfiguration = [
      { inputType: "TableCheckbox", visibleOnTable: true },
      { field: "name", title: "Nome", visibleOnTable: true },
      { field: "surname", title: "Cognome", visibleOnTable: true },
      { field: "businessName", title: "Ditta", visibleOnTable: true }
    ];
    this.tableClientiDisabledConfiguration = [
      { inputType: "TableCheckbox", visibleOnTable: true },
      { field: "name", title: "Nome", visibleOnTable: true },
      { field: "surname", title: "Cognome", visibleOnTable: true },
      { field: "businessName", title: "Ditta", visibleOnTable: true }
    ];

    this.tableContactEnabledConfiguration = [
      { inputType: "TableCheckbox", visibleOnTable: true },
      { field: "name", title: "Nome", visibleOnTable: true },
      { field: "surname", title: "Cognome", visibleOnTable: true },
      { field: "businessName", title: "Ditta", visibleOnTable: true }
    ];
    this.tableContactDisabledConfiguration = [
      { inputType: "TableCheckbox", visibleOnTable: true },
      { field: "name", title: "Nome", visibleOnTable: true },
      { field: "surname", title: "Cognome", visibleOnTable: true },
      { field: "businessName", title: "Ditta", visibleOnTable: true }
    ];

    this.tableGroupEnabledConfiguration = [
      { inputType: "TableCheckbox", visibleOnTable: true },
      { field: "description", title: "Descrizione", visibleOnTable: true }
    ];
    this.tableGroupDisabledConfiguration = [
      { inputType: "TableCheckbox", visibleOnTable: true },
      { field: "description", title: "Descrizione", visibleOnTable: true }
    ];

    this.tableFeedbackNewsletterConfiguration = [
      { field: "code", title: "Codice", visibleOnTable: true },
      { field: "name", title: "Nome", visibleOnTable: true },
      { field: "email", title: "Email", visibleOnTable: true }
    ];
  },
  methods: {
    /***   CAMPAIGN   ****/

    loadCampaignData: function() {
      var adminNewsletterCampaign = this;

      newsletterServices.getAll(function(result) {
        adminNewsletterCampaign.tableListData = result.data;
      });
      this.disableButton = true;
      this.disableTab = true;
      this.disableFeedback = true;
    },

    newsletterFormatter(value, row, index, field) {
      var adminNewsletterCampaign = this;
      var html =
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<div class="col-1"><button class="btn btn-success" onclick="adminNewsletterCampaign.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button></div>';

      if (functionHelpers.isValued(this.tableListResult)) {
        $.each(this.tableListResult, function(i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += adminNewsletterCampaign.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div></div>";
      return html; 
    },
    newsletterNumberRecipients(value, row, index, field){
      var adminNewsletterCampaign = this;

      var html = "";
      html ='<div class="container-fluid nopadding" style="width:80px;"><div class="row"><div class="col-1">';
      html += '<label id="count-' + row.id + '"></label>'; 
      html += '</div></div></div>';
      
      newsletterRecipientServices.getNumberRecipients(row.id, function(result) {
       $('#count-' + row.id).html(result.data);
      });

      return html; 
      
      
    },
    executeOpenDetail: function(id) {
      spinnerHelpers.show();
      var adminNewsletterCampaign = this;
      this.rowIdSelected = id;
      $.each(this.tableListData, function(i, row) {
        if (adminNewsletterCampaign.rowIdSelected == row.id) {

          adminNewsletterCampaign.titleDetailCampaign = row.description;
          $('#tableAdminNewsletterCampaignList').bootstrapTable('uncheckAll');
          $('#tableAdminNewsletterCampaignList').bootstrapTable('check', i);
          adminNewsletterCampaign.disableTab = false;
          adminNewsletterCampaign.detailData = row;
        }else{
          adminNewsletterCampaign.disableTab = true;
        }
      });

      $("#tabAdminNewsletterCampaign").removeClass("active");
      $("#tabAdminNewsletterCampaignDetail").addClass("active");
      spinnerHelpers.hide();
    },

    addCampaign: function() {
      spinnerHelpers.show();
      this.titleDetailCampaign = this.newCampaing;
      this.rowIdSelected = 0;
      this.disableTab = true;
      this.detailData = {};
      $("#tabAdminNewsletterCampaignDetail").addClass("active");
      $("#tabAdminNewsletterCampaign").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmCancelNewCampaing: function() {
      if (confirm(this.confirmCancel)) {
        spinnerHelpers.show();
        this.cancelNewCampaing();
      }
    },

    cancelNewCampaing: function() {
      spinnerHelpers.show();
      $("#tabAdminNewsletterCampaign").addClass("active");
      $("#tabAdminNewsletterCampaignDetail").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveNewCampaing: function() {
      if (validationHelpers.isValid("#frmAdminNewsletterCampaign")) {
        if (confirm(this.confirmSave)) {
          spinnerHelpers.show();
          this.saveNewCampaing();
        }
      }
    },

    saveNewCampaing: function() {
      spinnerHelpers.show();
      var adminNewsletterCampaign = this;
      this.tableResult = [];
      var dataToSave = this.detailData;
      dataToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(dataToSave.draft)) {
        dataToSave.draft = false;
      }

      if (this.rowIdSelected > 0) {
        newsletterServices.update(dataToSave, function(result) {
          adminNewsletterCampaign.loadCampaignData();
          $("#tabAdminNewsletterCampaign").addClass("active");
          $("#tabAdminNewsletterCampaignDetail").removeClass("active");
          adminNewsletterCampaign.tableListResult.push({
            id: result.data,
            success: true,
            message: adminNewsletterCampaign.updateCompleted
          });
          notificationHelpers.success(adminNewsletterCampaign.updateCompleted);
        });
      } else {
        newsletterServices.insert(dataToSave, function(result) {
          adminNewsletterCampaign.loadCampaignData();
          $("#tabAdminNewsletterCampaign").addClass("active");
          $("#tabAdminNewsletterCampaignDetail").removeClass("active");
          adminNewsletterCampaign.tableListResult.push({
            id: result.data,
            success: true,
            message: adminNewsletterCampaign.insertCompleted
          });
          notificationHelpers.success(adminNewsletterCampaign.insertCompleted);
        });
      }
    },

    onTableListCheck: function() {
      var adminNewsletterCampaign = this;
      this.disableButton = true;
      this.disableTab = true;
      this.disableFeedback = true;
      
      if (this.$refs.tableAdminNewsletterCampaignList.countRowSelected() > 0) {
        this.disableButton = false;

        if (
          this.$refs.tableAdminNewsletterCampaignList.countRowSelected() == 1
        ) {
          this.disableTab = false;

          $.each(
            this.$refs.tableAdminNewsletterCampaignList.getRowSelected(),
            function(i, row) {
              if (functionHelpers.isValued(row.startSendDateTime)) {
                adminNewsletterCampaign.disableFeedback = false;
              }
            }
          );
        }
      }
    },

    confirmSaveCampaign: function() {
      if (this.$refs.tableAdminNewsletterCampaignList.haveRowSelected(true)) {
        if (confirm(this.confirmSaveRowSelected)) {
          spinnerHelpers.show();
          this.executeSaveCampaign();
        }
      }
    },

    executeSaveCampaign() {
      var adminNewsletterCampaign = this;
      this.rowsSelected = 0;
      this.tableListResult = [];

      $.each(
        this.$refs.tableAdminNewsletterCampaignList.getRowSelected(),
        function(i, row) {
          var rowToSave = row;
          rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

          adminNewsletterCampaign.rowsSelected =
            adminNewsletterCampaign.rowsSelected + 1;
          newsletterServices.update(
            rowToSave,
            function() {
              adminNewsletterCampaign.checkCampaignAllIsSaved();
              adminNewsletterCampaign.tableListResult.push({
                id: rowToSave.id,
                success: true
              });
              notificationHelpers.success(
                adminNewsletterCampaign.updateCompleted
              );
            },
            function(response) {
              adminNewsletterCampaign.checkCampaignAllIsSaved();
              adminNewsletterCampaign.tableListResult.push({
                id: rowToSave.id,
                success: false,
                message: response
              });
              notificationHelpers.error(response);
            }
          );
        }
      );
    },

    confirmDeleteCampaign: function() {
      if (this.$refs.tableAdminNewsletterCampaignList.haveRowSelected(true)) {
        if (confirm(this.confirmDeleteRowSelected)) {
          spinnerHelpers.show();
          this.executeDeleteCampaign();
        }
      }
    },

    executeDeleteCampaign: function() {
      var adminNewsletterCampaign = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(
        this.$refs.tableAdminNewsletterCampaignList.getRowSelected(),
        function(i, row) {
          adminNewsletterCampaign.rowsSelected =
            adminNewsletterCampaign.rowsSelected + 1;
          newsletterServices.del(
            row.id,
            function(id) {
              adminNewsletterCampaign.checkCampaignAllIsSaved();
              adminNewsletterCampaign.tableResult.push({
                id: id,
                success: true
              });
              notificationHelpers.success(
                adminNewsletterCampaign.deleteCompleted
              );
            },
            function(response, id) {
              adminNewsletterCampaign.checkCampaignAllIsSaved();
              adminNewsletterCampaign.tableResult.push({
                id: id,
                success: false,
                message: response
              });
              notificationHelpers.error(response);
            }
          );
        }
      );
    },

    checkCampaignAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.loadCampaignData();
      }
    },

    changeTitle() {
      var cleanUrl =
        "/newsletter/" +
        this.detailData.title
          .replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&\s])/g, "-")
          .toLowerCase();

      if (!functionHelpers.isValued(this.detailData.url)) {
        this.detailData.url = dataHelpers.unbind(cleanUrl);
        $("#url").val(this.detailData.url);
      }

      this.checkUrl();
    },
    checkUrl(field, value, rowIndex, id, rowId) {
      if (functionHelpers.isValued(id)) {
        pageServices.checkExistUrlNotForThisNewsletter(value, rowId, function(
          result
        ) {
          if (result.data) {
            validationHelpers.setDetailError(
              id,
              dictionaryHelpers.getDictionary("UrlAlreadyExist")
            );
          } else {
            $("#" + id).removeClass("error");
            validationHelpers.clear("#frmAdminNewsletterCampaign");
          }
        });
      } else {
        var adminNewsletterCampaign = this;

        if (functionHelpers.isValued(this.detailData.url)) {
          if (this.rowIdSelected == 0) {
            pageServices.checkExistUrl(this.detailData.url, function(result) {
              if (result.data) {
                validationHelpers.setDetailError(
                  "url",
                  dictionaryHelpers.getDictionary("UrlAlreadyExist")
                );
              } else {
                $("#url").removeClass("error");
                validationHelpers.clear("#frmAdminNewsletterCampaign");
              }
            });
          } else {
            pageServices.checkExistUrlNotForThisNewsletter(
              this.detailData.url,
              this.rowIdSelected,
              function(result) {
                if (result.data) {
                  validationHelpers.setDetailError(
                    "url",
                    dictionaryHelpers.getDictionary("UrlAlreadyExist")
                  );
                } else {
                  $("#url").removeClass("error");
                  validationHelpers.clear("#frmAdminNewsletterCampaign");
                }
              }
            );
          }
        }
      }
    },

    /***   END CAMPAIGN   ****/

    /***   CUSTOMER   ****/
    onCustomerTab: function() {
      spinnerHelpers.show();
      var adminNewsletterCampaign = this;
      this.disableAddCustomerButton = true;
      this.disableRemoveCustomerButton = true;

      $.each(
        this.$refs.tableAdminNewsletterCampaignList.getRowSelected(),
        function(i, row) {
          adminNewsletterCampaign.rowIdSelected = row.id;
        }
      );

      newsletterRecipientServices.getCustomer(this.rowIdSelected, function(
        result
      ) {
        adminNewsletterCampaign.tableClientiEnabledData = result.data.included;
        adminNewsletterCampaign.tableClientiDisabledData = result.data.excluded;
      });
    },

    onTableClientiEnabledCheck: function() {
      if (this.$refs.tableClientiEnabled.countRowSelected() == 0) {
        this.disableRemoveCustomerButton = true;
      } else {
        this.disableRemoveCustomerButton = false;
      }
    },

    onTableClientoDisabledCheck: function() {
      if (this.$refs.tableClientiDisabled.countRowSelected() == 0) {
        this.disableAddCustomerButton = true;
      } else {
        this.disableAddCustomerButton = false;
      }
    },

    addCustomer: function() {
      var adminNewsletterCampaign = this;
      this.rowsSelected = 0;
      if (this.$refs.tableClientiDisabled.haveRowSelected(true)) {
        spinnerHelpers.show();
        $.each(this.$refs.tableClientiDisabled.getRowSelected(), function(
          i,
          row
        ) {
          adminNewsletterCampaign.rowsSelected =
            adminNewsletterCampaign.rowsSelected + 1;
          newsletterRecipientServices.insertCustomer(
            {
              idNewsletter: adminNewsletterCampaign.$refs.tableAdminNewsletterCampaignList.getRowSelected()[0]
                .id,
              idCustomer: row.id,
              idFunctionality: menuHelpers.getIdFunctionByAdminUrl()
            },
            function(result) {
              adminNewsletterCampaign.checkAllCustomerIsSaved();
              notificationHelpers.success(
                adminNewsletterCampaign.updateCompleted
              );
            }
          );
        });
      }
    },

    removeCustomer: function() {
      var adminNewsletterCampaign = this;
      this.rowsSelected = 0;
      if (this.$refs.tableClientiEnabled.haveRowSelected(true)) {
        spinnerHelpers.show();
        $.each(this.$refs.tableClientiEnabled.getRowSelected(), function(
          i,
          row
        ) {
          adminNewsletterCampaign.rowsSelected =
            adminNewsletterCampaign.rowsSelected + 1;
          newsletterRecipientServices.del(row.id, function(result) {
            adminNewsletterCampaign.checkAllCustomerIsSaved();
            notificationHelpers.success(
              adminNewsletterCampaign.updateCompleted
            );
          });
        });
      }
    },

    checkAllCustomerIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        spinnerHelpers.hide();
        this.onCustomerTab();
      }
    },

    /***   END CUSTOMER   ****/

    /***   CONTACT   ****/

    onContactTab: function() {
      spinnerHelpers.show();
      var adminNewsletterCampaign = this;
      this.disableAddContactButton = true;
      this.disableRemoveContactButton = true;

      $.each(
        this.$refs.tableAdminNewsletterCampaignList.getRowSelected(),
        function(i, row) {
          adminNewsletterCampaign.rowIdSelected = row.id;
        }
      );

      newsletterRecipientServices.getContact(this.rowIdSelected, function(
        result
      ) {
        adminNewsletterCampaign.tableContactEnabledData = result.data.included;
        adminNewsletterCampaign.tableContactDisabledData = result.data.excluded;
      });
    },

    onTableContactEnabledCheck: function() {
      if (this.$refs.tableContactEnabled.countRowSelected() == 0) {
        this.disableRemoveContactButton = true;
      } else {
        this.disableRemoveContactButton = false;
      }
    },

    onTableContactDisabledCheck: function() {
      if (this.$refs.tableContactDisabled.countRowSelected() == 0) {
        this.disableAddContactButton = true;
      } else {
        this.disableAddContactButton = false;
      }
    },

    addContact: function() {
      var adminNewsletterCampaign = this;
      this.rowsSelected = 0;
      if (this.$refs.tableContactDisabled.haveRowSelected(true)) {
        spinnerHelpers.show();
        $.each(this.$refs.tableContactDisabled.getRowSelected(), function(
          i,
          row
        ) {
          adminNewsletterCampaign.rowsSelected =
            adminNewsletterCampaign.rowsSelected + 1;
          newsletterRecipientServices.insertContact(
            {
              idNewsletter: adminNewsletterCampaign.$refs.tableAdminNewsletterCampaignList.getRowSelected()[0].id,
              idContact: row.id,
              idFunctionality: menuHelpers.getIdFunctionByAdminUrl()
            },
            function(result) {
              adminNewsletterCampaign.checkAllContactIsSaved();
              notificationHelpers.success(
                adminNewsletterCampaign.updateCompleted
              );
            }
          );
        });
      }
    },

    removeContact: function() {
      var adminNewsletterCampaign = this;
      this.rowsSelected = 0;
      if (this.$refs.tableContactEnabled.haveRowSelected(true)) {
        spinnerHelpers.show();
        $.each(this.$refs.tableContactEnabled.getRowSelected(), function(
          i,
          row
        ) {
          adminNewsletterCampaign.rowsSelected =
            adminNewsletterCampaign.rowsSelected + 1;
          newsletterRecipientServices.del(row.id, function(result) {
            adminNewsletterCampaign.checkAllContactIsSaved();
            notificationHelpers.success(
              adminNewsletterCampaign.updateCompleted
            );
          });
        });
      }
    },

    checkAllContactIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        spinnerHelpers.hide();
        this.onContactTab();
      }
    },

    /***   END CONTACT   ****/

    /***   GROUP   ****/

    onGroupTab: function() {
      spinnerHelpers.show();
      var adminNewsletterCampaign = this;
      this.disableAddGroupButton = true;
      this.disableRemoveGroupButton = true;

      $.each(
        this.$refs.tableAdminNewsletterCampaignList.getRowSelected(),
        function(i, row) {
          adminNewsletterCampaign.rowIdSelected = row.id;
        }
      );

      newsletterRecipientServices.getGroupNewsletter(
        this.rowIdSelected,
        function(result) {
          adminNewsletterCampaign.tableGroupEnabledData = result.data.included;
          adminNewsletterCampaign.tableGroupDisabledData = result.data.excluded;
        }
      );
    },

    onTableGroupEnabledCheck: function() {
      if (this.$refs.tableGroupEnabled.countRowSelected() == 0) {
        this.disableRemoveGroupButton = true;
      } else {
        this.disableRemoveGroupButton = false;
      }
    },

    onTableGroupDisabledCheck: function() {
      if (this.$refs.tableGroupDisabled.countRowSelected() == 0) {
        this.disableAddGroupButton = true;
      } else {
        this.disableAddGroupButton = false;
      }
    },

    addGroup: function() {
      var adminNewsletterCampaign = this;
      this.rowsSelected = 0;
      if (this.$refs.tableGroupDisabled.haveRowSelected(true)) {
        spinnerHelpers.show();
        $.each(this.$refs.tableGroupDisabled.getRowSelected(), function(
          i,
          row
        ) {
          adminNewsletterCampaign.rowsSelected =
            adminNewsletterCampaign.rowsSelected + 1;
          newsletterRecipientServices.insertGroupNewsletter(
            {
              idNewsletter: adminNewsletterCampaign.$refs.tableAdminNewsletterCampaignList.getRowSelected()[0]
                .id,
              idGroupNewsletter: row.id,
              idFunctionality: menuHelpers.getIdFunctionByAdminUrl()
            },
            function(result) {
              adminNewsletterCampaign.checkAllGroupIsSaved();
              notificationHelpers.success(
                adminNewsletterCampaign.updateCompleted
              );
            }
          );
        });
      }
    },

    removeGroup: function() {
      var adminNewsletterCampaign = this;
      this.rowsSelected = 0;
      if (this.$refs.tableGroupEnabled.haveRowSelected(true)) {
        spinnerHelpers.show();
        $.each(this.$refs.tableGroupEnabled.getRowSelected(), function(i, row) {
          adminNewsletterCampaign.rowsSelected =
            adminNewsletterCampaign.rowsSelected + 1;
          newsletterRecipientServices.delGroupNewsletter(
            adminNewsletterCampaign.$refs.tableAdminNewsletterCampaignList.getRowSelected()[0]
              .id,
            row.id,
            function(result) {
              adminNewsletterCampaign.checkAllGroupIsSaved();
              notificationHelpers.success(
                adminNewsletterCampaign.updateCompleted
              );
            }
          );
        });
      }
    },

    checkAllGroupIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        spinnerHelpers.hide();
        this.onGroupTab();
      }
    },

    /***   END GROUP   ****/

    /***   FEEDBACK   ****/

    onFeedbackTab: function() {
      spinnerHelpers.show();
      var adminNewsletterCampaign = this;
      this.charts = [];

      $.each(
        this.$refs.tableAdminNewsletterCampaignList.getRowSelected(),
        function(i, row) {
          adminNewsletterCampaign.rowIdSelected = row.id;
        }
      );

      feedbackNewsletterServices.getChart(this.rowIdSelected, function(result) {
        adminNewsletterCampaign.chartsResult = result.data;

        $.each(adminNewsletterCampaign.chartsResult.charts, function(i, chart) {
          adminNewsletterCampaign.charts.push({
            title: chart.labels[1],
            idCont: "chart_" + i,
            confGrafic: {
              type: "pie",
              data: {
                labels: chart.labels,
                datasets: [
                  {
                    backgroundColor: chart.datasets[0].backgroundColor,
                    data: chart.datasets[0].data
                  }
                ]
              },
              options: {
                legend: { display: false },
                animation: { animateRotate: false, animateScale: true },
                scales: {
                  xAxes: [
                    { gridLines: { display: false }, ticks: { display: false } }
                  ],
                  yAxes: [
                    { gridLines: { display: false }, ticks: { display: false } }
                  ]
                }
              }
            }
          });

          spinnerHelpers.hide();
        });
      });
    }

    /***   END FEEDBACK   ****/
  }
};
</script>
<style>
hr {
  border-color: rgba(0, 0, 0, 0);
}
.graphic-card {
  background: #ededed;
  padding: 15px;
  border-radius: 5px;
}
.graphic-title {
  position: absolute;
}
.graphic-title h6 {
  font-weight: bold;
}
.graphic-title h3 {
  font-size: 20px;
  font-weight: bold;
  color: #b5b5b5;
}
.card-title-admin h1{
  font-size:40px;
  font-weight: lighter;
  color:#303C54;
}
.align-btn {
    position: absolute;
    margin-top: 11px;
    z-index: 1;
}
.nav-tabs .nav-item {
  width: 20%;
}
.nav-tabs .nav-link {
  width: 100%;
  border-radius: 0;
  color: #fff;
  background: #3c4b64;
  border-bottom: 3px solid #f45f00 !important;
  border: 0px;
}
.nav-tabs .nav-link.active {
  background: #2a3545 !important;
}
.nav-tabs .nav-link.active span{
  color: #fff;
}
.nav-tabs .nav-link.active i{
  color: #fff;
}
.nav-tabs > .nav-item > .nav-link:not(.active) {
  background: #3c4b64 !important;
}
</style>



