<template>
  <div id="configurationSettingAdmin">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ setting }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url" v-on:click.native="cancelNewConfiguration">{{ configurations }}</router-link>
      </li>
    </ol>
     <div class="container-fluid card-title-admin">
        <h1>{{ configurations }}</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content">
          <div class="tab-pane active" id="tabConfigurationTable" role="tabpanel">
            <div class="row align-btn">
              <div class="col-lg-12" style="    margin-top: -96px;">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onNewConfiguration"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
                <button
                  id="btnSave"
                  type="button"
                  class="btn btn-success"
                  @click="confirmSaveConfiguration"
                  :disabled="disableButton"
                >
                  <i class="fa fa-floppy-o"></i>
                  <span>{{ save }}</span>
                </button>
                <button
                  id="btnDelete"
                  type="button"
                  class="btn btn-danger"
                  @click="confirmDeleteConfiguration"
                  :disabled="disableButton"
                >
                  <i class="fa fa-trash"></i>
                  <span>{{ del }}</span>
                </button>
                <label style="margin-left:100px;">Inserisci Favicon</label>
                <input
                    style="margin-top:100px"
                    type="file"
                    id="ImageFavicon"
                    name="ImageFavicon"
                    @change="onChangeImageFavicon"/> 
              </div>
            </div>
             <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="tableConfigurationConfiguration"
                  :datas="tableConfigurationData"
                  id="tableConfiguration"
                  :onCheck="onTableCheckConfiguration"
                  :onCheckAll="onTableCheckConfiguration"
                  :onUncheck="onTableCheckConfiguration"
                  :onUncheckAll="onTableCheckConfiguration"
                  ref="tableConfiguration"
                  :results="tableConfigurationResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabConfigurationDetail" role="tabpanel">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="AdminSettingConfiguration"
                  :configurations="detailConfigurationConfiguration"
                  :jsonValue="detailConfigurationData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="confirmCancelNewConfiguration"
                  ><i class="fa fa-times"></i>&nbsp; {{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="confirmSaveNewConfiguration"
                  ><i class="fa fa-floppy-o"></i>&nbsp; {{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";

export default {
  name: "configurationSettingAdmin",
  components: {
    BootstrapTable,
    PageDetail
  },
  data() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      configurations: dictionaryHelpers.getDictionary("Configurations"),
      confirmCancel: dictionaryHelpers.getDictionary("ConfirmCancel"),
      confirmDelete: dictionaryHelpers.getDictionary("ConfirmDelete"),
      confirmSave: dictionaryHelpers.getDictionary("ConfirmSave"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      detailConfigurationConfiguration: [],
      detailConfigurationData: {},
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newConfiguration: dictionaryHelpers.getDictionary("NewConfiguration"),
      tableConfigurationConfiguration: [],
      tableConfigurationData: [],
      tableConfigurationResult: [],
      save: dictionaryHelpers.getDictionary("Save"),
      setting: dictionaryHelpers.getDictionary("Setting"),
      rowSelected: 0,
      rowIdSelected:0,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname
    };
  },
  created() {
    spinnerHelpers.show();
    var configurationSettingAdmin = this;
    adminConfigurationServices.getFunctionality(function(result) {
      $.each(result.data.tablesConfigurations, function(i, config) {
        if ((config.code = "Table")) {
          configurationSettingAdmin.tableConfigurationConfiguration = config.tablesConfigurations;
        }
      });
      $.each(result.data.tabsConfigurations, function(i, config) {
        if ((config.code = "Detail")) {
          configurationSettingAdmin.detailConfigurationConfiguration = config.pageConfigurations;
        }
      });

      configurationSettingAdmin.loadTableData();
    });
  },
  methods: {
    loadTableData() {
      var configurationSettingAdmin = this;

      settingServices.getAll(function(result) {
        if (functionHelpers.isValued(result.data)) {
          configurationSettingAdmin.tableConfigurationData = result.data;
        }

        spinnerHelpers.hide();
      });
    },
    changeCode(el) {},
    onTableCheckConfiguration() {
      var countRowSelected = this.$refs.tableConfiguration.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    onNewConfiguration() {
      spinnerHelpers.show();
      this.detailConfigurationData = {};
      $("#tabConfigurationTable").removeClass("active");
      $("#tabConfigurationDetail").addClass("active");
      spinnerHelpers.hide();
    },
    confirmCancelNewConfiguration() {
      if (confirm(this.confirmCancel)) {
        this.cancelNewConfiguration();
      }
    },
    cancelNewConfiguration() {
      spinnerHelpers.show();
      this.detailConfigurationData = {};
      $("#tabConfigurationTable").addClass("active");
      $("#tabConfigurationDetail").removeClass("active");
      spinnerHelpers.hide();
    },
    confirmSaveNewConfiguration() {
      if (
        validationHelpers.isValid("#frmAdminSettingConfiguration") &&
        confirm(this.confirmSave)
      ) {
        this.saveNewConfiguration();
      }
    },
    saveNewConfiguration() {
      spinnerHelpers.show();
      var configurationSettingAdmin = this;
      this.tableConfigurationResult = [];

      settingServices.insert(this.detailConfigurationData, function(result) {
        configurationSettingAdmin.tableConfigurationResult.push({
          id: result.data,
          success: true,
          message: configurationSettingAdmin.insertCompleted
        });
        configurationSettingAdmin.cancelNewConfiguration();
        configurationSettingAdmin.loadTableData();
        notificationHelpers.success(configurationSettingAdmin.insertCompleted);
      });
    },
    confirmSaveConfiguration() {
      if (confirm(this.confirmSave)) {
        this.saveConfiguration();
      }
    },
    saveConfiguration() {
      spinnerHelpers.show();
      var configurationSettingAdmin = this;
      this.tableConfigurationResult = [];

      $.each(this.$refs.tableConfiguration.getRowSelected(), function(i, row) {
        configurationSettingAdmin.rowSelected += 1;

        settingServices.update(
          row,
          function(result) {
            configurationSettingAdmin.tableConfigurationResult.push({
              id: row.id,
              success: true,
              message: configurationSettingAdmin.updateCompleted
            });
            configurationSettingAdmin.checkAllIsSaved();
            notificationHelpers.success(
              configurationSettingAdmin.updateCompleted
            );
          },
          function(response, id) {
            configurationSettingAdmin.tableConfigurationResult.push({
              id: id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },
    confirmDeleteConfiguration() {
      if (confirm(this.confirmDelete)) {
        this.deleteConfiguration();
      }
    },
    deleteConfiguration() {
      spinnerHelpers.show();
      var configurationSettingAdmin = this;
      this.tableConfigurationResult = [];

      $.each(this.$refs.tableConfiguration.getRowSelected(), function(i, row) {
        configurationSettingAdmin.rowSelected += 1;

        settingServices.del(row.id, function() {
          configurationSettingAdmin.checkAllIsSaved();
          notificationHelpers.success(
            configurationSettingAdmin.deleteCompleted
          );
        });
      });
    },

   onChangeImageFavicon(e) {
     
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImagePrincipal(e.target.id, files[0].name, files[0]);
    },

    createImagePrincipal(id, name, file) {
      var configurationSettingAdmin = this;
      var reader = new FileReader();
      var vm = this;

      reader.onload = (e) => {

        var data = {
          idSettings: configurationSettingAdmin.rowIdSelected,
          imgName: name,
          imgBase64: e.target.result,
        };

      console.log(data);
      settingServices.updateImageNameFavicon(data, function (result) {

         // adminCrmItems.loadItemImages();
          notificationHelpers.success("Immagine inserita con successo");
        }); 
      };

      reader.readAsDataURL(file);
    },



    checkAllIsSaved() {
      this.rowSelected -= 1;
      if (this.rowSelected == 0) {
        this.loadTableData();
      }
    }
  }
};
</script>
<style>
.card-title-admin h1{
  font-size:40px;
  font-weight: lighter;
  color:#303C54;
}
.align-btn {
    position: absolute;
    margin-top: 11px;
    z-index: 1;
}
</style>
