<template>
  <div id="adminMenuAdminCustom">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ setting }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Menù Custom</router-link>
      </li>
    </ol>
          <div class="container-fluid">
            <div class="card">          
        <div class="tab-content noborder">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-left">
                <select2
                  id="select_AdminPagesView_IdLanguage"
                  ref="select_AdminPagesView_IdLanguage"
                  class="form-control nopadding"
                  style="width:75%"
                  :filterable="false"
                  service="languages"
                  v-model="
                    pageValueSelected.languagePageSetting.idLanguage
                  "
                  :default="defaultLanguageOptions"
                  :change="languageChange"                
                />
                <span>{{ language }}</span>
                          </div>
                        </div>
                     </div>
                  </div>
                </div>
              </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
            <div class="row">
              <div class="col-lg-6">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-sm btn-primary"
                  @click="onNewMessage"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
                <button
                  id="btnSave"
                  type="button"
                  class="btn btn-sm btn-success"
                  @click="confirmSaveMessage"
                  :disabled="disableButton"
                >
                  <i class="fa fa-floppy-o"></i>
                  <span>{{ save }}</span>
                </button>
                <button
                  id="btnDelete"
                  type="button"
                  class="btn btn-sm btn-danger"
                  @click="confirmDeleteMessage"
                  :disabled="disableButton"
                >
                  <i class="fa fa-trash"></i>
                  <span>{{ del }}</span>
                </button>
              </div>
            </div>
      
            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="tableConfiguration"
                  :datas="tableData"
                  id="tableMessage"
                  :onCheck="onTableCheckMessage"
                  :onCheckAll="onTableCheckMessage"
                  :onUncheck="onTableCheckMessage"
                  :onUncheckAll="onTableCheckMessage"
                  ref="tableMessage"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabDetail" role="tabpanel">
            <div class="card-header">Inserisci nuovo menù custom</div>
            <div class="card-body">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="adminMenuAdminCustom"
                  :configurations="detailConfiguration"
                  :jsonValue="detailData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="confirmCancelNewMessage"
                  ><i class="fa fa-times"></i>&nbsp; {{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="confirmSaveNewMessage"
                  ><i class="fa fa-floppy-o"></i>&nbsp; {{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";

export default {
  name: "adminMenuAdminCustom",
  components: {
    BootstrapTable,
    Select2,
    PageDetail
  },
  data: function() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      language: dictionaryHelpers.getDictionary("Language"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      setting: dictionaryHelpers.getDictionary("Setting"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      detailConfiguration: [],
      detailData: {},
      languages: 0,
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newMessage: dictionaryHelpers.getDictionary("newMessage"),
      openDetail: dictionaryHelpers.getDictionary("OpenDetail"),
      save: dictionaryHelpers.getDictionary("Save"),
      defaultLanguageOptions: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null }
      },
      tableConfiguration: [],
      tableCustomerResult: [],
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0
    };
  },
  created() {
    var adminMenuAdminCustom = this;
    spinnerHelpers.show();

    this.languages = storageData.sIdLanguage();

    adminMenuAdminCustom.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };

    adminConfigurationServices.getFunctionality(function(result) {
        adminMenuAdminCustom.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
        adminMenuAdminCustom.detailConfiguration = result.data.tabsConfigurations[0].pageConfigurations;

      adminMenuAdminCustom.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminMenuAdminCustom = this;
      if(!functionHelpers.isValued(ln)){
        ln = storageData.sIdLanguage();
      }else{
        ln = this.languages;
      }
      
      menuAdminCustomServices.getAllCustom(ln,function(result) {
        adminMenuAdminCustom.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminMenuAdminCustom = this;
      this.languages = value;
      adminMenuAdminCustom.loadTable(value);
      spinnerHelpers.hide();
    },
    MessageFormatter(value, row, index, field) {
      var adminMenuAdminCustom = this;
      var html =
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<div class="col-1"><button class="btn btn-success" onclick="adminMenuAdminCustom.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button></div>';


      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function(i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += adminMenuAdminCustom.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div></div>";
      return html;
    },

    executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminMenuAdminCustom = this;
      this.rowIdSelected = id;
      this.titleDetail = this.customer;

      $.each(this.tableData, function(i, row) {
        if (adminMenuAdminCustom.rowIdSelected == row.id) {
          adminMenuAdminCustom.detailData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    onNewMessage() {
      spinnerHelpers.show();

      this.detailData = {};
      this.titleDetail = this.newMessage;
      this.rowIdSelected = 0;
      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveMessage() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveMessageSave();
      }
    },

    executeSaveMessageSave() {
      spinnerHelpers.show();
      var adminMenuAdminCustom = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableMessage.getRowSelected(), function(i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminMenuAdminCustom.rowsSelected = adminMenuAdminCustom.rowsSelected + 1;
       // rowToSave.idlanguage=adminMenuAdminCustom.languages;

        menuAdminCustomServices.update(
          rowToSave,
          function() {
            adminMenuAdminCustom.checkAllIsSaved();
            adminMenuAdminCustom.tableResult.push({
              id: rowToSave.id,
              success: true
            });
            notificationHelpers.success(adminMenuAdminCustom.updateCompleted);
          },
          function(response) {
            adminMenuAdminCustom.checkAllIsSaved();
            adminMenuAdminCustom.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    confirmDeleteMessage() {
      if (confirm(this.confirmDelete)) {
        this.executeDeleteMessage();
      }
    },
    executeDeleteMessage() {
      spinnerHelpers.show();
      var adminMenuAdminCustom = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableMessage.getRowSelected(), function(i, row) {
        adminMenuAdminCustom.rowsSelected = adminMenuAdminCustom.rowsSelected + 1;

        menuAdminCustomServices.del(
          row.id,
          function() {
            adminMenuAdminCustom.checkAllIsSaved();
            notificationHelpers.success(adminMenuAdminCustom.deleteCompleted);
            
          },
          function(response) {
            adminMenuAdminCustom.checkAllIsSaved();
            adminMenuAdminCustom.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    onTableCheckMessage() {
      var countRowSelected = this.$refs.tableMessage.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },

    confirmCancelNewMessage() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmCancel"))) {
        this.executeCancelMessage();
      }
    },

    executeCancelMessage() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $("#tabTable").addClass("active");
      $("#tabDetail").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveNewMessage() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveNewMessage();
      }
    },

    executeSaveNewMessage() {
      spinnerHelpers.show();
      var adminMenuAdminCustom = this;
      this.detailData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailData.code)) {
        this.detailData.code = false;
      }

      if (!functionHelpers.isValued(this.detailData.description)) {
        this.detailData.description = false;
      }

      if (!functionHelpers.isValued(this.languages)) {
        this.detailData.idLanguage = storageData.sIdLanguage();
      } else {
        this.detailData.idLanguage = this.languages;
      }

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailData.id = this.rowIdSelected;

        menuAdminCustomServices.update(this.detailData, function(result) {
          adminMenuAdminCustom.tableResult.push({
            id: result.data,
            success: true,
            message: adminMenuAdminCustom.updateCompleted
          });
          notificationHelpers.success(adminMenuAdminCustom.updateCompleted);
          adminMenuAdminCustom.loadTable(adminMenuAdminCustom.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      } else {
        
        menuAdminCustomServices.insert(this.detailData, function(result) {
          adminMenuAdminCustom.tableResult.push({
            id: result.data,
            success: true,
            message: adminMenuAdminCustom.insertCompleted
          });
          notificationHelpers.success(adminMenuAdminCustom.insertCompleted);
          adminMenuAdminCustom.loadTable(adminMenuAdminCustom.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      }
    },

    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable(this.languages);
      }
    }
  }
};
</script>
