<template>
  <div id="adminCrmMessage">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">Contenuti </li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Messaggi</router-link>
      </li>
    </ol> 
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content">
          <div class="tab-pane active" id="tabTable" role="tabpanel" style="margin-top: -10px;">
            <div class="row align-btns" style="width:85%;">
              <div class="col-lg-6">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onNewMessage"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
                <button
                  id="btnSave"
                  type="button"
                  class="btn btn-success"
                  @click="confirmSaveMessage"
                  :disabled="disableButton"
                >
                  <i class="fa fa-floppy-o"></i>
                  <span>{{ save }}</span>
                </button>
                <button
                  id="btnDelete"
                  type="button"
                  class="btn btn-danger"
                  @click="confirmDeleteMessage"
                  :disabled="disableButton"
                >
                  <i class="fa fa-trash"></i>
                  <span>{{ del }}</span>
                </button>
              </div>
               <span style="margin-top:8px;">{{ language }}</span>
               <div class="col-3 text-left">
                <select2
                  id="select_AdminPagesView_IdLanguage"
                  ref="select_AdminPagesView_IdLanguage"
                  class="form-control nopadding"
                  style="width:75%"
                  :filterable="false"
                  service="languages"
                  v-model="
                    pageValueSelected.languagePageSetting.idLanguage
                  "
                  :default="defaultLanguageOptions"
                  :change="languageChange"
                />
              </div>
         
            </div>

            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="tableConfiguration"
                  :datas="tableData"
                  id="tableMessage"
                  :onCheck="onTableCheckMessage"
                  :onCheckAll="onTableCheckMessage"
                  :onUncheck="onTableCheckMessage"
                  :onUncheckAll="onTableCheckMessage"
                  ref="tableMessage"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabDetail" role="tabpanel">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="adminCrmMessage"
                  :configurations="detailConfiguration"
                  :jsonValue="detailData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="confirmCancelNewMessage"
                  ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>

                  <button
                    type="button"
                    class="btn btn-success"
                    @click="confirmSaveNewMessage"
                  ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";

export default {
  name: "adminCrmMessage",
  components: {
    BootstrapTable,
    Select2,
    PageDetail,
  },
  data: function () {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      language: dictionaryHelpers.getDictionary("Language"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      setting: dictionaryHelpers.getDictionary("Setting"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      detailConfiguration: [],
      detailData: {},
      languages: 0,
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newMessage: dictionaryHelpers.getDictionary("newMessage"),
      openDetail: dictionaryHelpers.getDictionary("OpenDetail"),
      save: dictionaryHelpers.getDictionary("Save"),
      defaultLanguageOptions: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
      },
      tableConfiguration: [],
      tableCustomerResult: [],
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0,
    };
  },
  created() {
    var adminCrmMessage = this;
    spinnerHelpers.show();

    this.languages = storageData.sIdLanguage();

    adminCrmMessage.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage(),
    };

    adminConfigurationServices.getFunctionality(function (result) {
      adminCrmMessage.tableConfiguration =
        result.data.tablesConfigurations[0].tablesConfigurations;
      adminCrmMessage.detailConfiguration =
        result.data.tabsConfigurations[0].pageConfigurations;
      adminCrmMessage.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminCrmMessage = this;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      } else {
        ln = this.languages;
      }
      messageServices.getAll(ln, function (result) {
        adminCrmMessage.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminCrmMessage = this;
      this.languages = value;
      adminCrmMessage.loadTable(value);
      spinnerHelpers.hide();
    },
    MessageFormatter(value, row, index, field) {

      var adminCrmMessage = this;
      var html =
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<div class="col-1"><button class="btn btn-success" onclick="adminCrmMessage.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button></div>';

      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function (i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += adminCrmMessage.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div></div>";
      return html;
    },

    executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminCrmMessage = this;
      this.rowIdSelected = id;
      this.titleDetail = this.customer;
      
      $.each(this.tableData, function (i, row) {
        if (adminCrmMessage.rowIdSelected == row.id) {
           adminCrmMessage.detailData = row;
           console.log(row);
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    onNewMessage() {
      var adminCrmMessage = this;
      spinnerHelpers.show();
     
       adminCrmMessage.detailData.content = '';
      adminCrmMessage.detailData.code = ''; 
      adminCrmMessage.detailData.description = '';
      adminCrmMessage.detailData.content = '';
      adminCrmMessage.detailData.message_type_id = '';
      //this.detailData = {};
      this.titleDetail = this.newMessage;
      this.rowIdSelected = 0;
      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveMessage() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveMessageSave();
      }
    },

    executeSaveMessageSave() {
      spinnerHelpers.show();
      var adminCrmMessage = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableMessage.getRowSelected(), function (i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminCrmMessage.rowsSelected = adminCrmMessage.rowsSelected + 1;
        // rowToSave.idlanguage=adminCrmMessage.languages;

        messageServices.update(
          rowToSave,
          function () {
            adminCrmMessage.checkAllIsSaved();
            adminCrmMessage.tableResult.push({
              id: rowToSave.id,
              success: true,
            });
            notificationHelpers.success(adminCrmMessage.updateCompleted);
          },
          function (response) {
            adminCrmMessage.checkAllIsSaved();
            adminCrmMessage.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response,
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    confirmDeleteMessage() {
      if (confirm(this.confirmDelete)) {
        this.executeDeleteMessage();
      }
    },
    executeDeleteMessage() {
      spinnerHelpers.show();
      var adminCrmMessage = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableMessage.getRowSelected(), function (i, row) {
        adminCrmMessage.rowsSelected = adminCrmMessage.rowsSelected + 1;

        messageServices.del(
          row.id,
          function () {
            adminCrmMessage.checkAllIsSaved();
            notificationHelpers.success(adminCrmMessage.deleteCompleted);
          },
          function (response) {
            adminCrmMessage.checkAllIsSaved();
            adminCrmMessage.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response,
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    onTableCheckMessage() {
      var countRowSelected = this.$refs.tableMessage.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },

    confirmCancelNewMessage() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmCancel"))) {
        this.executeCancelMessage();
      }
    },

    executeCancelMessage() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $("#tabTable").addClass("active");
      $("#tabDetail").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveNewMessage() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveNewMessage();
      }
    },

    executeSaveNewMessage() {
      spinnerHelpers.show();
      var adminCrmMessage = this;
      this.detailData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailData.code)) {
        this.detailData.code = false;
      }

      if (!functionHelpers.isValued(this.detailData.description)) {
        this.detailData.description = false;
      }

      if (!functionHelpers.isValued(this.languages)) {
        this.detailData.idLanguage = storageData.sIdLanguage();
      } else {
        this.detailData.idLanguage = this.languages;
      }

      if (functionHelpers.isValued(this.rowIdSelected) && this.rowIdSelected > 0) {
        this.detailData.id = this.rowIdSelected;
        console.log(this.detailData);
        messageServices.update(this.detailData, function (result) {
          adminCrmMessage.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmMessage.updateCompleted,
          });
          notificationHelpers.success(adminCrmMessage.updateCompleted);
          adminCrmMessage.loadTable(adminCrmMessage.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      } else {
        
        messageServices.insert(this.detailData, function (result) {
          adminCrmMessage.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmMessage.insertCompleted,
          });
          notificationHelpers.success(adminCrmMessage.insertCompleted);
          adminCrmMessage.loadTable(adminCrmMessage.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      }
    },

    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable(this.languages);
      }
    },
  },
};
</script>

<style scoped>
.align-btns {
 position: absolute;
    z-index: 1;
    margin-top: 10px;
}
</style>
