<template>
  <div id="bootstrapTable">
    <table data-filter-strict-search="true" data-search="true" :id="id"></table>
  </div>
</template>

<script>
import bootstrapTable from "bootstrap-table";
//import bootstrapEditable from "@/assets/js/bootstrap-editable.js";
//import bootstrapTableFilterControl from "@/assets/js/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js";
// import Select2 from "@/assets/js/select2.full.js";

export default {
  name: "bootstrapTable",
  props: {
    addInput: {
      default: "true",
      type: String
    },
    configurations: Array,
    datas: Array,
    filterBy: {},
    filterControl: String,
    id: String,
    onCheck: Function,
    onCheckAll: Function,
    onClickRow: Function,
    onUncheck: Function,
    onUncheckAll: Function,
    pageList: [10, 20, 50],
    pagination: {default: true,type: Boolean},
    results: Array,
    singleSelect: String,
    search: false,
    showColumns: true,
    undefinedText: {
      default: "",
      type: String
    }
  },
  data() {
    return {
      saveDatas: Object,
      tableOf: dictionaryHelpers.getDictionary("TableOf"),
      tableRows: dictionaryHelpers.getDictionary("TableRows"),
      tableRowsForPage: dictionaryHelpers.getDictionary("TableRowsForPage"),
      tableShowing: dictionaryHelpers.getDictionary("TableShowing"),
      tableTo: dictionaryHelpers.getDictionary("TableTo"),
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted")
    };
  },
  watch: {
    configurations: function(newVal, oldVal) {
      if (functionHelpers.isValued(newVal)) {
        var bootstrapTable = this;
        var filterControl = false;
        var singleSelect = false;
        
                
        if (
          functionHelpers.isValued(bootstrapTable.filterControl) &&
          bootstrapTable.filterControl == "false"
        ) {
          filterControl = false;
        }

        if (
          functionHelpers.isValued(bootstrapTable.singleSelect) &&
          bootstrapTable.singleSelect == "true"
        ) {
          singleSelect = true;
        }

        

        $("#" + bootstrapTable.id).bootstrapTable({
          columns: bootstrapTable.getTableConfiguration(),
          filterControl: filterControl,
          disableUnusedSelectOptions: true,
          onCheck: bootstrapTable.onCheck,
          onCheckAll: bootstrapTable.onCheckAll,
          onClickRow: bootstrapTable.onClickRow,
          onUncheck: bootstrapTable.onUncheck,
          onUncheckAll: bootstrapTable.onUncheckAll,
          pageList: bootstrapTable.pageList,
          pagination: bootstrapTable.pagination,
          singleSelect: singleSelect,
          search: bootstrapTable.search,
          showColumns: bootstrapTable.showColumns,
          undefinedText: bootstrapTable.undefinedText,
          onPostBody: function() {    
            //spinnerHelpers.show();
            $("#bootstrapTable input.search-input").attr('placeholder', 'Cerca');  
            //tableHelpers.addInput( "#" + bootstrapTable.id,bootstrapTable.configurations);
              

          },
          onSearch(el){
            if(el != ''){
              $("#bootstrapTable input.search-input").focus();
            
            }
          },
          onColumnSearch(el){
            var empty = true;
            $("#" + bootstrapTable.id + ' th input.form-control').each(function() {

              if($(this).val()!=""){
                empty = false;
              }
            });
            
            if(empty){
              bootstrapTable.loadInitialData();
            }
            
            $('th[data-field=' + el + '] input').focus();
          },
          formatRecordsPerPage(pageNumber) {
            return pageNumber + " " + bootstrapTable.tableRowsForPage;
          },
          formatShowingRows(pageFrom, pageTo, totalRows) {
            return (
              bootstrapTable.tableShowing +
              " " +
              pageFrom +
              " " +
              bootstrapTable.tableTo +
              " " +
              pageTo +
              " " +
              bootstrapTable.tableOf +
              " " +
              totalRows +
              " " +
              bootstrapTable.tableRows
            );
          }
        });
      }
    },
    datas: function(newVal, oldVal) {
      this.saveDatas = newVal;
      if (newVal != oldVal) {
        this.loadInitialData();
        //spinnerHelpers.hide();
      }
    },
    filterBy: function(newVal, oldVal) {
      if (functionHelpers.isValued(newVal)) {
        $("#" + this.id).bootstrapTable("filterBy", newVal);
      } else {
        $("#" + this.id).bootstrapTable("filterBy");
      }
      
    }
  },
  methods: {
    loadInitialData(){
        $("#" + this.id).bootstrapTable('load', this.saveDatas);
    },
    /***   CONFIGURATION   ***/

    getTableConfiguration() {
      var bootstrapTable = this;
      var results = [];
      $.each(bootstrapTable.configurations, function(i, configuration) {
        if (
          functionHelpers.isValued(configuration.visibleOnTable) &&
          configuration.visibleOnTable
        ) {
          var result = {};

          if (functionHelpers.isValued(configuration.field)) {
            result.field = configuration.field;
          }

          if (functionHelpers.isValued(configuration.title)) {
            result.title = configuration.title;
          }

          if (functionHelpers.isValued(configuration.filterType)) {
            switch (configuration.filterType) {
              case "Input":
                result.filterControl = "input";
                result.filterStrictSearch = false;
                break;
              case "Select":
                result.filterControl = "select";
                result.filterStrictSearch = true;
                break;
              case "DatePicker":
                result.filterControl = "datepicker";
                result.filterDatepickerOptions = {
                  autoclose: true,
                  clearBtn: true,
                  todayHighlight: true,
                  format: storageData.sDatePickerFormat()
                };
                break;
            }

            if (functionHelpers.isValued(configuration.placeholder)) {
              result.filterControlPlaceholder = configuration.placeholder;
            }
          }

          if (functionHelpers.isValued(configuration.formatter)) {
            if (configuration.formatter == "dateFormatter") {
              result.formatter = tableHelpers.dateFormatter;
            } else {
              result.formatter =
                bootstrapTable.$parent[configuration.formatter];
            }
          }

          if (functionHelpers.isValued(configuration.footerFormatter)) {
            result.footerFormatter =
              window[configuration.footerFormatter.split(".")[0]][
                configuration.footerFormatter.split(".")[1]
              ];
          }

          if (functionHelpers.isValued(configuration.cellStyle)) {
            result.cellStyle =
              window[configuration.cellStyle.split(".")[0]][
                configuration.cellStyle.split(".")[1]
              ];
          }

          if (functionHelpers.isValued(configuration.align)) {
            result.align = configuration.align;
          }

          if (functionHelpers.isValued(configuration.sortable)) {
            result.sortable = configuration.sortable;
          } else {
            if (
              !functionHelpers.isValued(configuration.formatter) &&
              configuration.inputType != "TableCheckbox" &&
              configuration.inputType != "CommandFormatter"
            ) {
              result.sortable = true;
            }
          }

          if (functionHelpers.isValued(configuration.width)) {
            result.width = configuration.width;
          }

          if (functionHelpers.isValued(configuration.minwidth)) {
            result.minwidth = configuration.minwidth;
          }

          if (functionHelpers.isValued(configuration.maxwidth)) {
            result.maxwidth = configuration.maxwidth;
          }

          if (functionHelpers.isValued(configuration.headerFormatter)) {
            result.headerFormatter = configuration.headerFormatter;
          }

          if (
            functionHelpers.isValued(configuration.inputType) &&
            !functionHelpers.isValued(configuration.formatter)
          ) {
            switch (configuration.inputType) {
              case "TableCheckbox":
                result.checkbox = true;
                break;

              case "CommandFormatter":
                result.formatter = bootstrapTable.commandFormatter;
                result.cellStyle = bootstrapTable.commandCellStyle;
                break;

              case "DatePicker":
                result.formatter = bootstrapTable.datePickerFormatter;
                break;

              case "Select":
                result.formatter = bootstrapTable.selectFormatter;
                break;

              case "Image":
                result.formatter = bootstrapTable.imageFormatter;
                break;

              default:
                result.formatter = bootstrapTable.formatter;
                break;
            }
          }

          if (functionHelpers.isValued(configuration.align)) {
            result.align = configuration.align;
          }

          results.push(result);
        }
      });
      return results;
    },
    /***   END CONFIGURATION   ***/

    /***   FORMATTER   ***/

    formatter(value, row, index, field) {
      var val = "";

      if (functionHelpers.isValued(value)) {
        val = value;
      }

      if (
        (functionHelpers.isValued(row.IsDeleted) && row.IsDeleted) ||
        this.addInput == "false"
      ) {
        return val;
      } else {
        return (
          '<a href="' +
          "#" +
          '" id="ti_' +
          field +
          "_" +
          row.id +
          '" field="' +
          field +
          '" data-rowindex="' +
          index +
          '" >' +
          val +
          "</a>"
        );
      }
    },
    commandFormatter(value, row, index, field) {
      var bootstrapTable = this;
      if (functionHelpers.isValued(bootstrapTable.results)) {
        var html =
          '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';

        $.each(bootstrapTable.results, function(i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += bootstrapTable.updateCompleted;
              }
              html += '"></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '"></div>';
            }
            return;
          }
        });
        html += "</div></div>";
        return html;
      } else {
        return "";
      }
    },
    dateFormatter(value, row, index, field) {
      return value;
    },
    datePickerFormatter(value, row, index, field) {
      var val = "";

      if (functionHelpers.isValued(value)) {
        val = value;
      }

      if (functionHelpers.isValued(row.IsDeleted) && row.IsDeleted) {
        return val;
      } else {
        return (
          '<a href="' +
          window.location.hash +
          '" id="ti_' +
          this.field +
          "_" +
          row.ID +
          '" data-rowindex="' +
          index +
          '" >' +
          val +
          "</a>"
        );
      }
    },
    checkFormatter(value, row, index, field) {
      if (functionHelpers.isValued(row[this.field]) && row[this.field]) {
        return '<i class="fa fa-check" aria-hidden="true"></i>';
      }
    },
    selectFormatter(value, row, index, field) {
      var idVal = 0;
      var textVal = "";

      if (functionHelpers.isValued(row[field])) {
        idVal = row[field];
      }

      if (
        functionHelpers.isValued(
          row[field.replace("id", "").toLowerCase() + "Description"]
        )
      ) {
        textVal = row[field.replace("id", "").toLowerCase() + "Description"];
      }

      if (
        (functionHelpers.isValued(row.IsDeleted) && row.IsDeleted) ||
        this.addInput == "false"
      ) {
        return textVal;
      } else {
        return (
          '<a href="' +
          window.location.hash +
          '" id="ti_' +
          field +
          "_" +
          row.id +
          '" data-rowindex="' +
          index +
          '" data-type="select2" data-pk="1" data-value="' +
          idVal +
          '" >' +
          textVal +
          "</a>"
        );
      }
    },

    imageFormatter(value, row, index, field) {
      return '<img src="' + value + '" style="height:100px">';
    },

    /***   END FORMATTER   ***/

    /***   CELL STYLE   ***/

    commandCellStyle(value, row, index, field) {
      return { css: { "border-right": "1px solid #dddddd", width: "2rem" } };
    },

    /***   END CELL STYLE   ***/

    getRowSelected() {
      var bootstrapTable = this;
      var results = [];

      $.each(
        $("#" + bootstrapTable.id).bootstrapTable("getSelections"),
        function(i, row) {
          var result = row;

          $.each(bootstrapTable.configurations, function(i, configuration) {
            if (
              functionHelpers.isValued(configuration.visibleOnTable) &&
              configuration.visibleOnTable &&
              functionHelpers.isValued(configuration.inputType) &&
              configuration.inputType != "tableCheckbox"
            ) {
              $.each(
                $("#" + bootstrapTable.id).find(
                  'a[id="ti_' + configuration.field + "_" + row.id + '"]'
                ),
                function(i, input) {
                  switch (configuration.inputType) {
                    // case 'Select':
                    //   result[configuration.field] = $('#' + bootstrapTable.id).find('#' + this.id).attr('data-value');
                    //   break;
                    case "DatePicker":
                      result[
                        configuration.field
                      ] = functionHelpers.dateToJsonFormatter(
                        $("#" + bootstrapTable.id)
                          .find("#" + this.id)
                          .text()
                      );
                      break;
                    default:
                      // if ($('#' + bootstrapTable.id).find('#' + this.id).text() != '-') {
                      //   result[configuration.field] = $('#' + bootstrapTable.id).find('#' + this.id).text();
                      // }
                      // else {
                      //   result[configuration.field] = '';
                      // }

                      if (
                        functionHelpers.isValued(
                          //$("#" + this.id).editable("getValue")[this.id]
                        )
                      ) {
                        /*result[configuration.field] = $("#" + this.id).editable(
                          "getValue"
                        )[this.id];*/
                      } else {
                        result[configuration.field] = "";
                      }
                      break;
                  }
                }
              );
            }
          });

          results.push(result);
        }
      );

      return results;
    },
    haveRowSelected(showNotification) {
      if (this.countRowSelected() == 0) {
        if (showNotification) {
          notificationHelpers.error(
            dictionaryHelpers.getDictionary("NoRowSelected")
          );
        }
        return false;
      } else {
        return true;
      }
    },
    countRowSelected(showNotification) {
      return $("#" + this.id).bootstrapTable("getSelections").length;
    }
  }
};
</script>

<style>
/*#bootstrapTable input.search-input{
  height:56px;
  margin-top:-15px;
}*/
 thead {
    background: #3c4b64;
    color: #fff;
    border-bottom: 3px solid #f45f00 !important;
}

table tr a {
    color: #111;
    background-color: transparent;
    text-rendering: optimizeLegibility;
}

.tab-content .tab-pane {
    box-shadow: 0 6px 10px #aaa;
}

.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 0px;
    border: 0px;
}

.table-bordered th, .table-bordered td {
    border: 0px !important;
}
.table-bordered {
    border: 1px solid #fff;
}


.bootstrap-table .fixed-table-container .table input[type=radio], .bootstrap-table .fixed-table-container .table input[type=checkbox] {
    margin: 0 auto !important;
    /*position: absolute;*/
}

.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th{
border-radius:0px;  
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover{
  background:#3c4b64;
}
.bootstrap-datetimepicker-widget{
  z-index:10;
}

.table-bordered{
  border:0px solid #c8ced3 !important;
}



</style>