<template>
  <div id="CodeMirror">
    <textarea id="textCodeMirror" v-model="content"></textarea>
  </div>
</template>

<script>
export default {
  name: "CodeMirror",
  props: {
    content: String
  },
  mounted() {
    CodeMirror.fromTextArea(document.getElementById("textCodeMirror"), {
      lineNumbers: true,
      tabMode: "indent",
      indentWithTabs: true,
      lineWrapping: true,
      mode: "text/css",
      extraKeys: {"Ctrl-Space": "autocomplete"},
      tabSize: 2
    });
  }
};
</script>

<style>
#adminSettinJS .CodeMirror-gutters, #adminSettinManageStyle .CodeMirror-gutters{
  z-index: 2 !important;
}
#adminSettinJS  .CodeMirror-gutter-wrapper, #adminSettinManageStyle .CodeMirror-gutters-wrapper{
  z-index:3 !important;
}
</style>
