<template>
  <div id="footer" v-html="msg">{{msg}}</div>
</template>

<script>
export default {
  name: "Footer",
  data(){
    return{
      msg: ""
    }
  },
  created: function(){
    var footer = this;
    contentServices.getByCode("Footer", storageData.sIdLanguage(), function(result) {
      footer.msg =  result.data.content;
      footer.renderBannerArea(footer.msg);
    });
  },
  methods: {
    renderBannerArea(html){
      var footer = this,
      htmlNew = "";
      data = {'code': 'footer', 'url': this.$route.fullPath};
      advertisingAreaServices.getHtmlBanner(data, function(result){
        htmlNew = result.message;           
        html = html.replace("#bannerfooter#", htmlNew);
        footer.msg = html;    
      });
    }
  }
};
</script>
