<template>
  <div id="frolaEditor" style="width:100%">
    <froala :tag="'textarea'" :config="config" v-model="localContenuto"></froala>
    <div id="templateEditor" class="template hide">
      <div class="row">
        <div class="col-1 text-left">
          <i id="closeTemplate" class="fa fa-times" @click="templateHide"></i>
        </div>
        <div class="col-10 text-left">
          <h5>Seleziona la tipologia</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <select2
            :service="service"
            :param="select2Param"
            :change="typeChange"
            :options="allTemplateOptions"
            id="idTemplateEditorType"
          ></select2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>
      <div class="row">
        <div v-for="template in templateEditorData" v-bind:key="template.id" class="col-sm-4">
          <div :id="template.id" draggable="true" @drag="dragEvent" class="box-template">
            <img draggable="false" :src="template.img" width="100%" />
            <p class="text-center">{{template.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
require("froala-editor/js/froala_editor.pkgd.min.js");
require("froala-editor/js/languages/it.js");
require("froala-editor/js/plugins/align.min.js");
require("froala-editor/js/plugins/code_beautifier.min.js");
require("froala-editor/js/plugins/code_view.min.js");
require("froala-editor/js/plugins/colors.min.js");
require("froala-editor/js/plugins/char_counter.min.js");
require("froala-editor/js/plugins/draggable.min.js");
require("froala-editor/js/plugins/edit_in_popup.min.js");
require("froala-editor/js/plugins/emoticons.min.js");
require("froala-editor/js/plugins/entities.min.js");
require("froala-editor/js/plugins/file.min.js");
require("froala-editor/js/plugins/font_family.min.js");
require("froala-editor/js/plugins/font_size.min.js");
require("froala-editor/js/plugins/fullscreen.min.js");
require("froala-editor/js/plugins/help.min.js");
require("froala-editor/js/plugins/image.min.js");
require("froala-editor/js/plugins/image_manager.min.js");
require("froala-editor/js/plugins/inline_class.min.js");
require("froala-editor/js/plugins/inline_style.min.js");
require("froala-editor/js/plugins/line_breaker.min.js");
require("froala-editor/js/plugins/line_height.min.js");
require("froala-editor/js/plugins/link.min.js");
require("froala-editor/js/plugins/lists.min.js");
require("froala-editor/js/plugins/paragraph_format.min.js");
require("froala-editor/js/plugins/paragraph_style.min.js");
require("froala-editor/js/plugins/print.min.js");
require("froala-editor/js/plugins/quick_insert.min.js");
require("froala-editor/js/plugins/quote.min.js");
require("froala-editor/js/plugins/special_characters.min.js");
require("froala-editor/js/plugins/table.min.js");
require("froala-editor/js/plugins/url.min.js");
require("froala-editor/js/plugins/video.min.js");
require("froala-editor/js/plugins/word_paste.min.js");

require("froala-editor/js/third_party/embedly.min.js");
require("froala-editor/js/third_party/font_awesome.min.js");
require("froala-editor/js/third_party/image_tui.min.js");

require("froala-editor/css/froala_editor.pkgd.min.css");
require("froala-editor/css/froala_style.min.css");
require("froala-editor/css/themes/gray.min.css");
require("froala-editor/css/plugins/code_view.min.css");
require("froala-editor/css/third_party/image_tui.min.css");

require("@/assets/css/vendors/tui-image-editor/tui-image-editor.css");
require("@/assets/css/vendors/tui-image-editor/tui-color-picker.css");

import FroalaEditor from "froala-editor";
import Select2 from "@/components/Select2.vue";

FroalaEditor.DefineIconTemplate(
  "template_icon",
  '<i class=" fa fa-archive"></i>'
);
FroalaEditor.DefineIcon("templateIcon", {
  NAME: "smartphone",
  template: "template_icon"
});
FroalaEditor.RegisterCommand("template", {
  title: "Blocchi",
  icon: "templateIcon",
  focus: false,
  undo: false,
  refreshAfterCallback: false,
  callback: function() {
    if ($("#templateEditor").hasClass("hide")) {
      
      $("#templateEditor").removeClass("hide");
    } else {
      $("#templateEditor").addClass("hide");
    }
  }
});

FroalaEditor.DefineIcon("clear", { NAME: "remove", SVG_KEY: "remove" });
FroalaEditor.RegisterCommand("clear", {
  title: "Clear HTML",
  focus: false,
  undo: true,
  refreshAfterCallback: true,
  callback: function() {
    this.html.set("");
    this.events.focus();
  }
});

export default {
  name: "frolaEditor",
  components: {
    FroalaEditor,
    Select2
  },
  props: {
    content: String,
    tipoTemplate: String
  },
  data() {
    return {
      service: "templateEditorGroupByType",
      select2Param: { type: this.tipoTemplate },
      templateEditorData: [],
      allTemplateOptions: [],
      config: {
        key:
          "Lc2C1qD2D2E4D4E3B17hBd1a1c1Zd1IXBc1a1THTBPLIIWBORpI1A1A1C7A1A5D5A1I4C3==",
        language: "it",
        charCounterCount: true,
        codeMirrorOptions: {
          indentWithTabs: true,
          lineNumbers: true,
          lineWrapping: true,
          mode: "text/html",
          tabMode: "indent",
          tabSize: 2
        },
        events: {
          "file.error": function(error, response) {
            this.popups
              .get("file.insert")
              .find(".fr-file-progress-bar-layer")
              .find("h3")
              .text(JSON.parse(response).message);
            notificationHelpers.error(JSON.parse(response).message);
          },
          drop: function(dropEvent) {
            var editor = this;
            // Focus at the current posisiton.
            editor.markers.insertAtPoint(dropEvent.originalEvent);
            var $marker = editor.$el.find(".fr-marker");
            $marker.replaceWith(FroalaEditor.MARKERS);
            editor.selection.restore();

            // Save into undo stack the current position.
            if (!editor.undo.canDo()) editor.undo.saveStep();

            // Insert HTML.

            editor.html.insert(frolaEditor.__vue__._data.dragHtml);

            // Save into undo stack the changes.
            editor.undo.saveStep();

            // Stop event propagation.
            dropEvent.preventDefault();
            dropEvent.stopPropagation();

            // Firefox show cursor.
            if (editor.core.hasFocus() && editor.browser.mozilla) {
              editor.events.disableBlur();
              setTimeout(function() {
                editor.$el.blur().focus();
                editor.events.enableBlur();
              }, 0);
            }

            return false;
          },
          "image.error": function(error, response) {
            this.popups
              .get("image.insert")
              .find(".fr-image-progress-bar-layer")
              .find("h3")
              .text(JSON.parse(response).message);
            notificationHelpers.error(JSON.parse(response).message);
          },
          "imageManager.error": function(error, response) {
            if (error.code != 14) {
              this.popups
                .get("image.insert")
                .find(".fr-image-progress-bar-layer")
                .find("h3")
                .text(JSON.parse(response).message);
              notificationHelpers.error(JSON.parse(response).message);
            }
          },
          "video.error": function(code, response) {
            this.popups
              .get("video.insert")
              .find(".fr-video-progress-bar-layer")
              .find("h3")
              .text(JSON.parse(response).message);
            notificationHelpers.error(JSON.parse(response).message);
          }
        },
        fileUploadURL: configData.wsRootServicesUrl + "/api/v1/file",
        imageUploadURL: configData.wsRootServicesUrl + "/api/v1/image",
        imageAllowedTypes: ["jpeg", "jpg", "png", "gif"],
        imageManagerLoadURL: configData.wsRootServicesUrl + "/api/v1/image/all",
        imageManagerDeleteURL: configData.wsRootServicesUrl + "/api/v1/image",
        imageManagerDeleteMethod: "DELETE",
        imageManagerPageSize: 10,
        toolbarStickyOffset: 0,
        theme: "gray",
        toolbarButtons: {
          moreText: {
            buttons: [
              "template",
              "paragraphFormat",
              "bold",
              "italic",
              "underline",
              "strikeThrough",
              "subscript",
              "superscript",
              "fontFamily",
              "fontSize",
              "textColor",
              "backgroundColor",
              "inlineClass",
              "inlineStyle",
              "clearFormatting",
              "paragraphStyle"
            ],
            buttonsVisible: 5
          },
          moreParagraph: {
            buttons: [
              "alignLeft",
              "alignCenter",
              "formatUL",
              "formatOLSimple",
              "alignRight",
              "alignJustify",
              "formatOL",
              "lineHeight",
              "outdent",
              "indent",
              "quote"
            ],
            buttonsVisible: 3
          },
          moreRich: {
            buttons: [
              "insertLink",
              "insertImage",
              "insertVideo",
              "insertTable",
              "emoticons",
              "fontAwesome",
              "specialCharacters",
              "embedly",
              "insertFile",
              "insertHR"
            ]
          },
          moreMisc: {
            buttons: [
              "fullscreen",
              "html",
              "undo",
              "redo",
              "print",
              "getPDF",
              "spellChecker",
              "selectAll",
              "clear",
              "help"
            ],
            align: "right",
            buttonsVisible: 3
          }
        },
        zIndex: 2001,
        requestHeaders: {
          Authorization: storageData.sTokenKey()
        },
        videoUploadURL: configData.wsRootServicesUrl + "/api/v1/video",

        dragInline: false
        //pluginsEnabled: ["draggable"]
      },
      dragHtml: ""
    };
  },
  created() {
    var adminTemplateEditor = this,
      value = 0;
    templateEditorServices.getTemplateById(value, function(result) {
      adminTemplateEditor.templateEditorData = result.data;
    });
  },
  computed: {
    localContenuto: {
      get() {
        return this.content;
      },
      set(value) {
        this.$emit("updateContenuto", value, this.$attrs.id);
      }
    }
  },
  methods: {
    previewHtml(){

    },
    templateHide() {
      $("#templateEditor").addClass("hide");
    },
    dragEvent(e) {
      var froaraEditor = this;

      $.each(this.templateEditorData, function(i, template) {
        if (template.id == e.currentTarget.id) {
          froaraEditor.dragHtml = template.html;
        }
      });
    },
    typeChange(value) {
      var adminTemplateEditor = this;
      adminTemplateEditor.templateEditorData = [];

      if (!functionHelpers.isValued(value)) {
        value = 0;
      }

      templateEditorServices.getTemplateById(value, function(result) {
        adminTemplateEditor.templateEditorData = result.data;
      });
    }
  }
};
</script>

<style>
.fr-box.fr-ltr.gray-theme.fr-basic.fr-top {
  z-index: 3 !important;
}

.fr-toolbar.gray-theme.fr-ltr.fr-desktop.fr-top.fr-basic {
  z-index: 3 !important;
}
.fr-fullscreen-wrapper {
  z-index: 20;
}

#templateEditor #closeTemplate {
  font-size: 1.3rem;
  cursor: pointer;
  margin: 5px 0px 10px 0px;
}
#templateEditor .select2 {
  width: 100% !important;
}
.select2-container--open .select2-dropdown--below {
  z-index: 10000000000;
}
.box-template p {
  margin-bottom: 0px;
  margin-top: 5px;
  padding-bottom: 0px;
  color: #666;
  font-size: 12px;
}
#templateEditor h5 {
  margin-bottom: 0px;
  margin-top: 4px;
  font-size: 20px;
}
.template {
  overflow: auto;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  z-index: 21 !important;
  right: 0px;
  height: 100%;
  /*transition: all ease-in-out 0.25s;*/
  transition: right 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-left: 5px solid #ededed;
  border-bottom: 5px solid #ededed;
  border-top: 5px solid #ededed;
  border-right: 5px solid #ededed;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.template.hide {
  right: -100000px;
  
}

.box-template {
  padding: 1rem;
  background: #fff;
  margin-bottom: 15px;
  box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.4);
}
</style>
