<template>
  <div id="frolaEditor" style="width:100%;">
    <froala :tag="'textarea'" ref="editor" :config="config" v-model="localContenuto"></froala>
    <div id="templateEditor" class="template hide">
      <div class="row">
        <div class="col-sm-5">
          <draggable :list="tmpArraySectionHtml"
          class="dragArea list-group"
          group="block"
          v-bind="dragOptions"
          :move="checkMove"
          handle=".handle"
          draggable=".list-group-item">
            <section v-for="section in tmpArraySectionHtml" :key="section.id" class="list-group-item">
              <!-- section icon padding -->
              <div class="icon-padding-section-temp" @click="insertPaddingSection(section.id)"><i class="fa fa-arrows-v"></i></div>
              <div draggable="false" class="slidecontainer" :id="'slidecontainer' + section.id">
                <input class="inputslider" draggable="false" type="range" min="0" max="15" :value="section.padding" @change="changePaddingSlider(section.id)" v-if="section.padding!='' && section.padding!=null && section.padding!='undefined' && section.padding!=undefined">
                <input v-else class="inputslider" draggable="false" type="range" min="0" max="15" :value="0" @change="changePaddingSlider(section.id)">
                <label :id='"label-slider" + section.id' v-if="section.padding!='' && section.padding!=null && section.padding!='undefined' && section.padding!=undefined"> 
                  {{section.padding}}rem
                </label>
                <label v-else :id='"label-slider" + section.id'>
                  0rem
                </label>
              </div>
              <!-- end section icon padding -->
              <!-- section icon background color -->
              <div class="icon-background-section-temp" @click="insertBackgroundSection(section.id)"><i class="fa fa-tint"></i></div>
              <div draggable="false" class="backgroundcontainer" :id="'backgroundcontainer' + section.id">
                <div class="container-preview-color">
                  <div class="preview-color" v-for="previewColors in previewColor" :key="previewColors">
                    <div :style="'background:' + previewColors" :data-background="previewColors" @click="preselectBackgroundSection(section.id, previewColors)"></div>
                  </div>
                  <div class="preview-color">
                    <i class="fa fa-trash" @click="delPreselectBackgroundSection(section.id)"></i>
                  </div>
                </div>
                <div class="container-input-background">
                  <div class="row no-gutters">
                    <div class="col-10 align-self-center">
                      <input class="form-control" :id="'input-backgroundcontainer' + section.id" :name="'input-backgroundcontainer' + section.id" :value="section.background" v-if="section.background!='' && section.background!=null && section.background!='undefined' && section.background!=undefined">
                      <input class="form-control" :id="'input-backgroundcontainer' + section.id" :name="'input-backgroundcontainer' + section.id" :value="''" v-else>
                    </div>
                    <div class="col-2 text-center align-self-center">
                      <i class="fa fa-check" @click="confirmPreselectBackgroundSection(section.id)"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end section icon background color -->
              <div class="icon-background-url-section-temp" @click="insertBackgroundUrlSection(section.id)"><i class="fa fa-picture-o"></i></div>
              <div draggable="false" class="backgroundurlcontainer" :id="'backgroundurlcontainer' + section.id">
                <div class="container-input-background-url">
                  <div class="row no-gutters">
                    <div class="col-10 align-self-center">
                      <input class="form-control" :id="'input-backgroundurlcontainer' + section.id" :name="'input-backgroundurlcontainer' + section.id" :value="section.backgroundurl" v-if="section.backgroundurl!='' && section.backgroundurl!=null && section.backgroundurl!='undefined' && section.backgroundurl!=undefined">
                      <input class="form-control" :id="'input-backgroundurlcontainer' + section.id" :name="'input-backgroundurlcontainer' + section.id" :value="''" v-else>
                    </div>
                    <div class="col-2 text-center align-self-center">
                      <i class="fa fa-check" @click="confirmPreselectBackgroundUrlSection(section.id)"></i>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-10 align-self-center">
                      <label v-cloak @drop.prevent="handleFileInputSection" @dragover.prevent class="custom-file-upload-section">
                        <input class="imgBackground" :data-attr-id-value="section.id" :id="'imgBackground' + section.id" type="file" name="file-input" multiple="True" @change="handleFileInputSection" />
                        SFOGLIA / UPLOAD AREA
                      </label>
                    </div>
                    <div class="col-2 text-center align-self-center input-backgroundurlcontainer-fixed">
                      <input type="checkbox" :checked="section.checkedFixed"  @change="changeBackgroundUrlFixed(section.id)" :id="'input-backgroundurlcontainer-fixed' + section.id" :name="'input-backgroundurlcontainer-fixed' + section.id"><br>
                      <label>fisso</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- section icon delete -->
              <div class="icon-section-temp" @click="delSection(section.id)"><i class="fa fa-trash"></i></div>
              <!-- end section icon delete -->

              <!-- section icon preview saved setting -->
              <div v-if="section.background!='' && section.background!=null && section.background!='undefined' && section.background!=undefined" class="preview-icon-background-section-temp" :style="'background:' + section.background"><i class="fa fa-tint" style="opacity: 0.5;"></i></div>
              <div v-if="section.padding!='' && section.padding!=null && section.padding!='undefined' && section.padding!=undefined" class="preview-icon-padding-section-temp"><i class="fa fa-arrows-v" style="opacity: 0.5;text-shadow: 0px 2px 2px rgb(255 255 255 / 50%);"></i><label>{{section.padding}}rem</label></div>
              <!-- end section icon preview saved setting -->

              <div class="handle" v-html="section.html"></div>
            </section>
          </draggable>
        </div>
        <div class="col-sm-7">
          <div class="col-sm-7" style="position:fixed;background:#f5f5f5;min-height:100%;padding: 0px 30px 15px 15px;">
            <div class="row">
              <div class="col-10 text-left">
                <h2 style="color:#303C53;font-weight:bold;text-transform:uppercase;">{{titlePageSelected}}</h2>
              </div>
              <div class="col-2 text-right">
                <i id="closeTemplate" class="fa fa-times" @click="templateHide"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <select2  
                  :service="service"
                  :param="select2Param"
                  :change="typeChange"
                  :options="allTemplateOptions"
                  :default="defaultTemplateOptions"
                  id="idTemplateEditorType"
                ></select2>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <hr />
              </div>
            </div>
            <div class="row" style="overflow: auto;max-height: 100%;min-height: 100%;display: block;position: absolute;padding-bottom: 120px;padding-right: 25px;">
              <div class="col-sm-12">
                <draggable style="flex-wrap: wrap;flex-direction: row;align-items: center;overflow: auto;max-height: 100%;height: 100%;position: relative;" class="dragArea list-group" :move="checkMove" :list="templateEditorData" :group="{ name: 'block', pull: 'clone', put: false }">
                  <div class="list-group-item" style="width: 30%;max-width: 32.8%;" v-for="template in templateEditorData" :key="template.id">
                    <img draggable="false" :src="template.img" width="100%" />
                    <p class="text-center">{{template.description}}</p>
                  </div>
                </draggable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="uploadImage" class="uploadImage hide"
    @dragover.prevent 
    @drop.stop.prevent="dropImage" 
    @dragover.stop.prevent="dragImage"
    >
       <div id="dropFiles"><h3>Rilascia qui i file</h3></div>
      <div class="row" style="margin:0px;">
        <div class="col-3 text-left align-self-center">
          <h2 style="color:#303C53;font-weight:bold;text-transform:uppercase;">Gestione immagini</h2>
        </div>
        <div class="col-3 text-right align-self-center">

          <input type="radio" id="tutti" name="ext" value="" checked @change="Search()"><label class="labelRadioButton" for="tutti">Tutti</label>
          <input type="radio" id="jpg" name="ext" value=".jpg" @change="Search()"><label class="labelRadioButton" for="jpg">jpg/jpeg</label>
          <input type="radio" id="png" name="ext" value=".png" @change="Search()"><label class="labelRadioButton" for="png">png</label>
          <input type="radio" id="webp" name="ext" value=".webp" @change="Search()"><label class="labelRadioButton" for="webp">webp</label>
         </div>
        <div class="col-1 text-right align-self-center">
          <select class="form-control" id="month" name="month" @change="Search()">
            <option value="">Mese</option>
            <option value="01">Gennaio</option>
            <option value="02">Febbraio</option>
            <option value="03">Marzo</option>
            <option value="04">Aprile</option>
            <option value="05">Maggio</option>
            <option value="06">Giugno</option>
            <option value="07">Luglio</option>
            <option value="08">Agosto</option>
            <option value="09">Settembre</option>
            <option value="10">Ottobre</option>
            <option value="11">Novembre</option>
            <option value="12">Dicembre</option>
          </select>
        </div>
        <div class="col-1 text-right align-self-center">
          <select class="form-control" id="year" name="year" @change="Search()">
            <option value="">Anno</option>
            <option value="2025">2025</option>
            <option value="2024">2024</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
          </select>
        </div>
        <div class="col-2 text-right align-self-center">
          <input type="text" class="form-control" id="search" required="required" name="search" placeholder="Cerca" @keyup="Search()"/>
        </div>
        <div class="col-1 text-left align-self-center">
          <label class="custom-file-upload btn btn-primary" for="imgPrincipal" style="font-weight:lighter;cursor:pointer;padding:5px 15px;">&nbsp;Carica&nbsp;</label>
          <input type="file" id="imgPrincipal" name="imgPrincipal" style="display: none;" @change="dropImageManual">
        </div>
        <div class="col-1 text-right">
          <i id="closeTemplate" style="z-index:100;cursor:pointer;position: relative;" class="fa fa-times" @click="uploadImageHide"></i>
        </div>
      </div>
      <div class="row" style="margin:0px;">
        <div class="col-10">
          <div class="row">
            <ul class="list-group" id="ul-image-uploadImage" @scroll="handleScroll">
              <li class="listLi" v-for="resultFilePopup in resultFilePopups" v-bind:key="resultFilePopup.id">
                <div class="list-group-item-upload" v-if="resultFilePopup.visible" :style="'background-image:url(\'' + resultFilePopup.img + '\')'" @click="activeImage(resultFilePopup.id, $event)">
                  <div v-if="resultFilePopup.ext!=''" class="div-extension-img">
                    <label>{{ resultFilePopup.ext }}</label>
                  </div>
                  <div class="cont-active-image" v-if="resultFilePopup.active && resultFilePopup.selected">
                    <i class="fa fa-check-circle fa-lg"></i>
                  </div>
                  <div class="cont-selected-image" v-else-if="!resultFilePopup.active && resultFilePopup.selected">
                    <i class="fa fa-check-circle fa-lg"></i>
                  </div>
                  <div class="cont-none-image" v-else-if="!resultFilePopup.active && !resultFilePopup.selected">
                  </div>
                </div>
              </li> 
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="div-right-detail-img" style="overflow: auto;">
            <div id="btn-insert-replace"></div>
            <div class="row no-gutters" style="margin-bottom:10px;">
              <div class="col-7 align-self-center" >
                <h3 style="margin-bottom:0px;">Dettagli</h3>
                <input type="hidden" id="input-insert-replace" value="">
              </div>
              <div class="col-5 align-self-center text-right" v-if="resultFileActive.id > 0">
                <span class="deleteImgPopUp" @click="deleteImageSelected(resultFileActive.id)">Elimina</span>
              </div>
            </div>
            
            <div v-if="resultFileActive.id > 0">
              <div class="row no-gutters">
                <div class="col-12">
                  <img :src="resultFileActive.img" style="max-width:100%;max-height: 150px;margin-bottom:10px;">
                  <h6>{{ resultFileActive.imgName }}</h6>
                  <h6>Caricato il: {{ resultFileActive.date}}</h6>
                  <h6>Dimensione del file: {{ resultFileActive.weight}}</h6>
                  <h6>Dimensioni: {{ resultFileActive.width }} x {{ resultFileActive.height }} pixel</h6>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-12">
                  <hr>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-12">
                  <label style="margin-bottom:0px">Titolo</label>
                  <input type="text" class="form-control" id="titleImg" name="titleImg" :value="resultFileActive.title" @keyup="changeFieldImg(resultFileActive.id, 'title')">
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-12">
                  <label style="margin-bottom:0px">Testo alternativo</label>
                  <input type="text" class="form-control" id="altImg" name="altImg" :value="resultFileActive.alt"  @keyup="changeFieldImg(resultFileActive.id, 'alt')">
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-12">
                  <label style="margin-bottom:0px">Didascalia</label>
                  <textarea id="didascaliaImg" class="form-control" name="didascaliaImg" :value="resultFileActive.didascalia" @keyup="changeFieldImg(resultFileActive.id, 'didascalia')"></textarea>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-12">
                  <hr>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-12">
                  <label style="margin-bottom:5px">Tipologia di contenitore per ogni immagine selezionata</label>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-12">
                  <div>
                    <input type="radio" class="inputCheckboxRadio" id="nessuno" name="htmlRadio" value="" checked>
                    <label for="nessuno">Nessuno</label>
                  </div>
                  <div>
                    <input type="radio" class="inputCheckboxRadio" id="div" name="htmlRadio" value="div">
                    <label for="div">div</label>
                  </div>
                  <div>
                    <input type="radio" class="inputCheckboxRadio" id="li" name="htmlRadio" value="li">
                    <label for="li"> ul / li</label>
                  </div>
                  <div>
                    <input type="radio" class="inputCheckboxRadio" id="p" name="htmlRadio" value="p">
                    <label for="p">p</label>
                  </div>
                  <div>
                    <input type="radio" class="inputCheckboxRadio" id="span" name="htmlRadio" value="span">
                    <label for="span">span</label>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-12">
                  <label style="margin-bottom:5px">Classe inserita nel contenitore di ogni immagine selezionata</label>
                  <input type="text" class="form-control" id="classElement" name="classElement" style="margin-bottom:15px;">
                </div>
              </div>
            </div>
            <div class="text-center" v-else>
              <label>Seleziona un'immagine</label>
            </div>
          </div>
        </div>
      </div>

      <div class="div-cont-bottom" style="position: absolute;bottom: 0px;width: 99%;background: #f5f5f5;box-shadow:0px -5px 15px -13px rgb(0 0 0 / 40%)">
        <div class="row no-gutters" style="margin-top:10px;">
          <div class="col-8">
            <div v-if="resultFileSelected.length>0" class="div-cont-img-selected">
              <div class="row no-gutters">
                <div class="col-2" style="padding-bottom:0px;padding-top:0px;">
                  <label style="font-weight:bold;">{{ resultFileSelected.length }} elementi selezionati</label><br>
                  <label style="color:red;cursor:pointer;" @click="clearSelectionImage()">Pulisci</label>
                </div>
                <div class="col-10" style="padding-bottom:0px;padding-top:0px;">
                  <ul class="list-group" id="ul-list-item-selected">
                    <li class="listItemSelectedLI" v-for="resultFileSelecteds in resultFileSelected" v-bind:key="resultFileSelecteds.id">
                      <div class="list-item-selected" :style="'background-image:url(\'' + resultFileSelecteds.img + '\')'" >
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="row no-gutters" style="margin-top:10px;">
              <div class="col-12">
                <div v-if="resultFileSelected.length>0" class="div-cont-img-selected">
                  <div class="row no-gutters">
                    <div class="col-10 text-right">
                      <div style="margin-bottom:0px;" v-if="resultFileSelected.length == 1 && resultFileActive.ext!='webp' && resultFileActive.ext!='gif' && resultFileActive.id > 0">
                        <button class="btn btn-primary" @click="convertImageToWebp(resultFileActive.id)">Converti in webp</button>
                      </div>
                    </div>
                    <div class="col-2 text-right" style="padding-bottom:0px;padding-top:0px;">
                      <button class="btn btn-primary" @click="insertSelectionImage()">Inserisci</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
require("froala-editor/js/froala_editor.pkgd.min.js");
require("froala-editor/js/languages/it.js");
require("froala-editor/js/plugins/align.min.js");
require("froala-editor/js/plugins/code_beautifier.min.js");
require("froala-editor/js/plugins/code_view.min.js");
require("froala-editor/js/plugins/colors.min.js");
require("froala-editor/js/plugins/char_counter.min.js");
require("froala-editor/js/plugins/draggable.min.js");
require("froala-editor/js/plugins/edit_in_popup.min.js");
require("froala-editor/js/plugins/emoticons.min.js");
require("froala-editor/js/plugins/entities.min.js");
require("froala-editor/js/plugins/file.min.js");
require("froala-editor/js/plugins/font_family.min.js");
require("froala-editor/js/plugins/font_size.min.js");
require("froala-editor/js/plugins/fullscreen.min.js");
require("froala-editor/js/plugins/help.min.js");
require("froala-editor/js/plugins/image.min.js");
require("froala-editor/js/plugins/image_manager.min.js");
require("froala-editor/js/plugins/inline_class.min.js");
require("froala-editor/js/plugins/inline_style.min.js");
require("froala-editor/js/plugins/line_breaker.min.js");
require("froala-editor/js/plugins/line_height.min.js");
require("froala-editor/js/plugins/link.min.js");
require("froala-editor/js/plugins/lists.min.js");
require("froala-editor/js/plugins/paragraph_format.min.js");
require("froala-editor/js/plugins/paragraph_style.min.js");
require("froala-editor/js/plugins/print.min.js");
require("froala-editor/js/plugins/quick_insert.min.js");
require("froala-editor/js/plugins/quote.min.js");
require("froala-editor/js/plugins/special_characters.min.js");
require("froala-editor/js/plugins/table.min.js");
require("froala-editor/js/plugins/url.min.js");
require("froala-editor/js/plugins/video.min.js");
require("froala-editor/js/plugins/word_paste.min.js");

require("froala-editor/js/third_party/embedly.min.js");
require("froala-editor/js/third_party/font_awesome.min.js");
require("froala-editor/js/third_party/image_tui.min.js");

require("froala-editor/css/froala_editor.pkgd.min.css");
require("froala-editor/css/froala_style.min.css");
require("froala-editor/css/themes/gray.min.css");
require("froala-editor/css/plugins/code_view.min.css");
require("froala-editor/css/third_party/image_tui.min.css");

require("@/assets/css/vendors/tui-image-editor/tui-image-editor.css");
require("@/assets/css/vendors/tui-image-editor/tui-color-picker.css");

import FroalaEditor from "froala-editor";
import Select2 from "@/components/Select2.vue";
import draggable from "vuedraggable";

import { CodeMirror } from "vue-codemirror";

// theme css
import 'codemirror/theme/paraiso-light.css';

import 'codemirror/addon/hint/show-hint.css';
import 'codemirror/lib/codemirror';
import 'codemirror/mode/sql/sql';
import 'codemirror/addon/hint/show-hint';
import 'codemirror/addon/search/searchcursor';
import 'codemirror/addon/search/search';
import 'codemirror/addon/display/placeholder';
import 'codemirror/addon/hint/sql-hint';
import 'codemirror/addon/hint/anyword-hint';

// require active-line.js
import 'codemirror/addon/selection/active-line.js';
import  "codemirror/addon/hint/show-hint.js" ;
import 'codemirror/mode/javascript/javascript.js'

import 'codemirror/addon/fold/foldgutter.css';
import 'codemirror/lib/codemirror.js';
import 'codemirror/addon/fold/foldcode.js';
import 'codemirror/addon/fold/foldgutter.js';
import 'codemirror/addon/fold/brace-fold.js';
import 'codemirror/addon/fold/xml-fold.js';
import 'codemirror/addon/fold/indent-fold.js';
import 'codemirror/addon/fold/markdown-fold.js';
import 'codemirror/addon/fold/comment-fold.js';
import 'codemirror/mode/javascript/javascript.js';
import 'codemirror/mode/xml/xml.js';

import 'codemirror/mode/htmlmixed/htmlmixed.js';
import 'codemirror/mode/python/python.js';
import 'codemirror/mode/markdown/markdown.js';

import 'codemirror/addon/scroll/annotatescrollbar.js'
import 'codemirror/addon/search/matchesonscrollbar.js'
import 'codemirror/addon/search/match-highlighter.js'
import 'codemirror/addon/search/jump-to-line.js'

import 'codemirror/addon/dialog/dialog.js'
import 'codemirror/addon/dialog/dialog.css'
import 'codemirror/addon/search/searchcursor.js'
import 'codemirror/addon/search/search.js'

//  :default="{id:templateresultfinal.value, text:templateresultfinal.description}"
/* BLOCCHI */
FroalaEditor.DefineIconTemplate(
  "template_icon",
  '<i class=" fa fa-archive"></i>'
);
FroalaEditor.DefineIcon("templateIcon", {
  NAME: "smartphone",
  template: "template_icon"
});
FroalaEditor.RegisterCommand("template", {
  title: "Blocchi",
  icon: "templateIcon",
  focus: false,
  undo: false,
  refreshAfterCallback: false,
  callback: function() {
    if ($("#templateEditor").hasClass("hide")) {
      $("#templateEditor").removeClass("hide");
    } else {
      $("#templateEditor").addClass("hide");
    }
  }
});
/* END BLOCCHI */

/* CLEAR */
FroalaEditor.DefineIcon("clear", { NAME: "remove", SVG_KEY: "remove" });
FroalaEditor.RegisterCommand("clear", {
  title: "Clear HTML",
  focus: false,
  undo: true,
  refreshAfterCallback: true,
  callback: function() {
    this.html.set("");
    this.events.focus();
  }
});
/* END CLEAR */

/* UPLOAD IMAGE POPUP */
FroalaEditor.DefineIconTemplate(
  "upload_icon",
  '<i class=" fa fa-picture-o"></i>'
);
FroalaEditor.DefineIcon("uploadIcon", {
  NAME: "Upload",
  template: "upload_icon"
});
FroalaEditor.RegisterCommand("uploadImages", {
  title: "Upload images",
  icon: "uploadIcon",
  focus: false,
  undo: false,
  refreshAfterCallback: false,
  callback: function() {
    this.selection.save();
    $('#input-insert-replace').val('');
    $('#btn-insert-replace').hide();
    $('#btn-insert-replace').html('');
    if ($("#uploadImage").hasClass("hide")) {
      $("#uploadImage").removeClass("hide");
    } else {
      $("#uploadImage").addClass("hide");
    }
  }
});
/* END UPLOAD IMAGE POPUP */

/* POPUP CLICK IMAGE */
FroalaEditor.DefineIconTemplate(
  "replace_icon",
  '<i class=" fa fa-exchange"></i>'
);
FroalaEditor.DefineIcon('replaceIcon', {
  NAME: 'Replace',
  template: "replace_icon"
});
FroalaEditor.RegisterCommand('imageInfoReplace', {
  title: 'Sostituisci',
  icon: "replaceIcon",
  focus: false,
  undo: false,
  refreshAfterCallback: false,
  callback: function() {
    var $img = this.image.get();
    if ($("#uploadImage").hasClass("hide")) {
      $("#uploadImage").removeClass("hide");
    } else {
      $("#uploadImage").addClass("hide");
    }

    $('#btn-insert-replace').html('Sostituisci immagine <br> <img src="' + $img[0].currentSrc + '" style="max-height:55px;">');
    $('#btn-insert-replace').show();
    $('#input-insert-replace').val($img[0].outerHTML);

  }
});
/* POPUP CLICK IMAGE */

export default {
  name: "frolaEditor",
  components: {
    FroalaEditor,
    draggable,
    Select2
  },
  props: {
    content: String,
    tipoTemplate: String
  },
  data() {
    return {
      service: "templateEditorGroup",
      select2Param: { type: this.tipoTemplate },
      tmpHtml: "",
      titlePageSelected: "",
      inDragging:false,
      enabled: true,
      dragging: false,
      tmpArraySectionHtml: [],
      templateEditorData: [],
      templateresultfinal: [],
      allTemplateOptions: [],
      previewColor: [
        '#58C575',
        '#01C8A5',
        '#46B9D9',
        '#0092D2',
        '#A26FC2',
        '#4E6284',
        '#D2D2D2',
        '#28B367',
        '#00B48F',
        '#289DC3',
        '#1078BB',
        '#624290',
        '#2B3959',
        '#000000',
        '#FDDC64',
        '#FFA20D',
        '#FA6C5D',
        '#F24B49',
        '#AF988E',
        '#F1F1F1',
        '#FFFFFF',
        '#FFC700',
        '#FF7A33',
        '#E24348',
        '#CB2532',
        '#887B77',
        '#D5DADD',
      ],
      defaultTemplateOptions: [],
      /* editor immagini */
      resultFilePopups: [],
      resultFileActive: {id:0},
      resultFileSelected: [],
      pageImage: 1,
      /* end editor immagini */
      config: {
        key:
          "Lc2C1qD2D2E4D4E3B17hBd1a1c1Zd1IXBc1a1THTBPLIIWBORpI1A1A1C7A1A5D5A1I4C3==",
        language: "it",
        htmlExecuteScripts: true,
        htmlDoNotWrapTags: [],
        htmlRemoveTags:[],
        charCounterCount: true,
        heightMin: 300,
        codeMirror: CodeMirror,
        codeMirrorOptions: {
          /*indentWithTabs: true,
          lineNumbers: true,
          lineWrapping: true,
          mode: "text/html",
          tabMode: "indent",
          tabSize: 2*/

          indentWithTabs: true,
          lineNumbers: true,
          line: true,
          indentUnit: 4,
          autofocus: false,
          styleActiveLine: false,
          matchBrackets: true,
          mode: "text/html",
          lineWrapping: true,
          addModeClass:true,
          theme: 'default',
          tabMode: "indent",
          tabSize: 4,
          extraKeys: {
            Ctrl: 'autocomplete',
          },
          extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
          gutters: ["CodeMirror-lint-markers"],
          lint: true,
          foldGutter: true
          
        },
        hintOptions:{
          completeSingle: true
        },
        events: {
          'file.beforeUpload': function (files) {
            //api per controllare l'esistenza del file
            var data = {
              nameFile : files[0].name
            }; 
            
            pageServices.checkUploadFileEditor(data, function (result) {
              
              if(result.message == 'File presente'){
                if (confirm('Il file è già presente, vuoi sostituirlo?')) {
                  var formData = new FormData();
                  formData.append('file', files[0]);
                  $.ajax({
                    type: 'POST',
                    url: configData.wsRootServicesUrl + "/api/v1/file",
                    headers: {
                      Authorization: storageData.sTokenKey()
                    },
                    processData: false,
                    contentType: false,
                    data: formData
                  }).done(function (result) {
                    notificationHelpers.success('File sostituito con successo!');
                  }).fail(function (response) {
                    console.log(response);
                  });
                }else {
                  return false;
                }
              } else {
                var formData = new FormData();
                formData.append('file', files[0]);
                $.ajax({
                  type: 'POST',
                  url: configData.wsRootServicesUrl + "/api/v1/file",
                  headers: {
                    Authorization: storageData.sTokenKey()
                  },
                  processData: false,
                  contentType: false,
                  data: formData
                }).done(function (result) {
                  notificationHelpers.success('File caricato con successo!');
                }).fail(function (response) {
                  console.log(response);
                });
              }
            });  
            
            return false;
          },
          'file.uploaded': function (response) {
            // File was uploaded to the server.
            console.log('uploaded');
          },
          "file.error": function(error, response) {
            /*this.popups
              .get("file.insert")
              .find(".fr-file-progress-bar-layer")
              .find("h3")
              .text(JSON.parse(response).message);*/
            //notificationHelpers.error(JSON.parse(response).message);
          },
          drop: function(dropEvent) {
            var editor = this;
            // Focus at the current posisiton.
            editor.markers.insertAtPoint(dropEvent.originalEvent);
            var $marker = editor.$el.find(".fr-marker");
            $marker.replaceWith(FroalaEditor.MARKERS);
            editor.selection.restore();

            // Save into undo stack the current position.
            if (!editor.undo.canDo()) editor.undo.saveStep();

            // Insert HTML.
            editor.html.insert(frolaEditor.__vue__._data.dragHtml);

            // Save into undo stack the changes.
            editor.undo.saveStep();

            // Stop event propagation.
            dropEvent.preventDefault();
            dropEvent.stopPropagation();

            // Firefox show cursor.
            if (editor.core.hasFocus() && editor.browser.mozilla) {
              editor.events.disableBlur();
              setTimeout(function() {
                editor.$el.blur().focus();
                editor.events.enableBlur();
              }, 0);
            }

            return false;
          },
          "image.error": function(error, response) {
            this.popups
              .get("image.insert")
              .find(".fr-image-progress-bar-layer")
              .find("h3")
              .text(JSON.parse(response).message);
            notificationHelpers.error(JSON.parse(response).message);
          },
          "imageManager.error": function(error, response) {
            if (error.code != 14) {
              this.popups
                .get("image.insert")
                .find(".fr-image-progress-bar-layer")
                .find("h3")
                .text(JSON.parse(response).message);
              notificationHelpers.error(JSON.parse(response).message);
            }
          },
          "video.error": function(code, response) {
            this.popups
              .get("video.insert")
              .find(".fr-video-progress-bar-layer")
              .find("h3")
              .text(JSON.parse(response).message);
            notificationHelpers.error(JSON.parse(response).message);
          }
        },
        imageEditButtons: ['imageInfoReplace', 'imageAlign', 'imageRemove', '|', 'imageLink', 'linkOpen', 'linkEdit', 'linkRemove', '-', 'imageDisplay', 'imageStyle', 'imageAlt', 'imageSize'],
        fileUploadURL: configData.wsRootServicesUrl + "/api/v1/file",
        imageUploadURL: configData.wsRootServicesUrl + "/api/v1/image",
        imageAllowedTypes: ["jpeg", "jpg", "png", "gif", "webp"],
        //imageManagerLoadURL: configData.wsRootServicesUrl + "/api/v1/image/all",
        imageManagerLoadURL: configData.wsRootServicesUrl + "/api/v1/page/getByFileEditorAll",
        imageManagerDeleteURL: configData.wsRootServicesUrl + "/api/v1/image",
        imageManagerDeleteMethod: "DELETE",
        imageManagerPageSize: 10,
        toolbarStickyOffset: 0,
        theme: "gray",
        toolbarButtons: {
          moreText: {
            buttons: [
              "template",
              "paragraphFormat",
              "bold",
              "italic",
              "underline",
              "strikeThrough",
              "subscript",
              "superscript",
              "fontFamily",
              "fontSize",
              "textColor",
              "backgroundColor",
              "inlineClass",
              "inlineStyle",
              "clearFormatting",
              "paragraphStyle"
            ],
            buttonsVisible: 3
          },
          moreParagraph: {
            buttons: [
              "alignLeft",
              "alignCenter",
              "formatUL",
              "formatOLSimple",
              "alignRight",
              "alignJustify",
              "formatOL",
              "lineHeight",
              "outdent",
              "indent",
              "quote"
            ],
            buttonsVisible: 3
          },
          moreRich: {
            buttons: [
              //"insertImage",
              "uploadImages",
              "insertVideo",
              "insertLink",
              "insertTable",
              "emoticons",
              "fontAwesome",
              "specialCharacters",
              "embedly",
              "insertFile",
              "insertHR",
            ],
            buttonsVisible: 3
          },
          moreMisc: {
            buttons: [
              "fullscreen",
              "html",
              "undo",
              "redo",
              "print",
              "getPDF",
              "spellChecker",
              "selectAll",
              "clear",
              "help"
            ],
            align: "right",
            buttonsVisible: 3
          }
        },
        imageDefaultWidth:0,
        zIndex: 2001,
        requestHeaders: {
          Authorization: storageData.sTokenKey()
        },
        videoUploadURL: configData.wsRootServicesUrl + "/api/v1/video",
        dragInline: true
        //pluginsEnabled: ["draggable"]
      },
      dragHtml: ""
    };
  },
  created() {

    var adminTemplateEditor = this,
    value = 0;

    templateEditorServices.getTemplateDefaultValue(value,function(result) {
      adminTemplateEditor.templateEditorData = result.data;
    });

    templateEditorServices.getTemplateDefaultValueSelect(function(result) {
      adminTemplateEditor.defaultTemplateOptions = {
        id: result.data[0].id,
        text: result.data[0].text
      };
    });

    adminTemplateEditor.getImage(1, '');

  },
  computed: {
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    },
    localContenuto: {
      get() {
        this.previewHtml(this.content);
        return this.content;
      },
      set(value) {
        this.$emit("updateContenuto", value, this.$attrs.id);
      }
    }
  },
  methods: {
    insertPaddingSection(id){
      $('.slidecontainer').hide();
      $('.backgroundcontainer').hide();
      $('.backgroundurlcontainer').hide();
      $('#slidecontainer' + id).show();
    },
    changePaddingSlider(id){
      var froalaEditor = this, i;
      for (i = 0; i < froalaEditor.tmpArraySectionHtml.length; ++i) {
        if(froalaEditor.tmpArraySectionHtml[i].id == id){
          froalaEditor.tmpArraySectionHtml[i].padding = $('#slidecontainer' + id + ' input').val();
          $('#label-slider' + id).html($('#slidecontainer' + id + ' input').val() + 'rem');
        }
      }
      //$('#slidecontainer' + id).hide();
    },
    insertBackgroundSection(id){
      $('.slidecontainer').hide();
      $('.backgroundcontainer').hide();
      $('.backgroundurlcontainer').hide();
      $('#backgroundcontainer' + id).show();
    },
    insertBackgroundUrlSection(id){
      $('.slidecontainer').hide();
      $('.backgroundcontainer').hide();
      $('.backgroundurlcontainer').hide();
      $('#backgroundurlcontainer' + id).show();
    },
    preselectBackgroundSection(id, background){
      $('#input-backgroundcontainer' + id).val(background);
    },
    delPreselectBackgroundSection(id){
      $('#input-backgroundcontainer' + id).val('');
    },
    confirmPreselectBackgroundSection(id){
      console.log(id);
      var froalaEditor = this, i;
      for (i = 0; i < froalaEditor.tmpArraySectionHtml.length; ++i) {
        if(froalaEditor.tmpArraySectionHtml[i].id == id){
          froalaEditor.tmpArraySectionHtml[i].background = $('#input-backgroundcontainer' + id).val();
        }
      }
      $('.backgroundcontainer').hide();
    },
    confirmPreselectBackgroundUrlSection(id){
      var froalaEditor = this, i;
      for (i = 0; i < froalaEditor.tmpArraySectionHtml.length; ++i) {
        if(froalaEditor.tmpArraySectionHtml[i].id == id){
          froalaEditor.tmpArraySectionHtml[i].backgroundurl = $('#input-backgroundurlcontainer' + id).val();
        }
      }
      $('.backgroundurlcontainer').hide();
    },
    changeBackgroundUrlFixed(id){
      var froalaEditor = this, i;
      for (i = 0; i < froalaEditor.tmpArraySectionHtml.length; ++i) {
        if(froalaEditor.tmpArraySectionHtml[i].id == id){
          if($('#input-backgroundurlcontainer-fixed' + id).prop("checked")){
            froalaEditor.tmpArraySectionHtml[i].backgroundurl = $('#input-backgroundurlcontainer' + id).val();
            froalaEditor.tmpArraySectionHtml[i].checkedFixed = 'true';
          }else{
            froalaEditor.tmpArraySectionHtml[i].backgroundurl = $('#input-backgroundurlcontainer' + id).val();
            froalaEditor.tmpArraySectionHtml[i].checkedFixed = 'false';
          }
        }
      }
      
    },
    delSection(id){
      this.inDragging = true;
      var froalaEditor = this,
          newArray = [],
          jsonSection = {},
          i;
      for (i = 0; i < froalaEditor.tmpArraySectionHtml.length; ++i) {
        if(froalaEditor.tmpArraySectionHtml[i].id != id){
          newArray.push(froalaEditor.tmpArraySectionHtml[i]);
        }
      }

      if (newArray.length == 0){
        jsonSection = {id : 0 , html : '<section> Trascina qui i tuoi elementi</section>'};
        newArray.push(jsonSection);
      }

      froalaEditor.tmpArraySectionHtml = newArray;
    },
    checkMove: function(e) {
        console.log(e);
        this.inDragging = true;
    },

    checkMoveRange: function(e) {
        console.log(e);
    },
    previewHtml(html){
      var sectionHtml = $(html),
          froalaEditor = this,
          jsonSection = {},
          i,
          j;
      if (functionHelpers.isValued(this.$parent.pageValueSelected)) {
        if(this.$parent.pageValueSelected.languagePageSetting.title == undefined){
          this.titlePageSelected = "Nuova pagina";
        }else{
          this.titlePageSelected = this.$parent.pageValueSelected.languagePageSetting.title;
        }
      }
      
      if(!this.inDragging){
        froalaEditor.tmpArraySectionHtml = [];
        for (i = 0; i < sectionHtml.length; ++i) {
          var arrayAttributesSection = $(sectionHtml[i])[0].attributes;
          var paddingVar = '';
          var backgroundVar = '';
          var backgroundUrlVar = '';
          var checkedFixed = 'false';
        
          if (typeof arrayAttributesSection !== 'undefined' && arrayAttributesSection.length > 0) {
            for (j = 0; j < arrayAttributesSection.length; ++j) {
              if($(arrayAttributesSection[j])[0].name == 'data-section-padding'){
                //if($(arrayAttributesSection[j])[0].value!=undefined && $(arrayAttributesSection[j])[0].value!='undefined'){
                  paddingVar = $(arrayAttributesSection[j])[0].value;
                //}
              }
              if($(arrayAttributesSection[j])[0].name == 'data-section-background'){
                //if($(arrayAttributesSection[j])[0].value!=undefined && $(arrayAttributesSection[j])[0].value!='undefined'){
                  backgroundVar = $(arrayAttributesSection[j])[0].value;
                //}
              }
              if($(arrayAttributesSection[j])[0].name == 'data-section-background-url'){
                //if($(arrayAttributesSection[j])[0].value!=undefined && $(arrayAttributesSection[j])[0].value!='undefined'){
                  backgroundUrlVar = $(arrayAttributesSection[j])[0].value;
                //}
              }
              if($(arrayAttributesSection[j])[0].name == 'data-section-background-url-checked-fixed'){
                //if($(arrayAttributesSection[j])[0].value!=undefined && $(arrayAttributesSection[j])[0].value!='undefined'){
                  checkedFixed = $(arrayAttributesSection[j])[0].value;
                //}
              }
            }
          }

          jsonSection = {id : i , html : sectionHtml[i].innerHTML, padding:paddingVar, background:backgroundVar, backgroundurl: backgroundUrlVar, checkedFixed: checkedFixed};
          froalaEditor.tmpArraySectionHtml.push(jsonSection);
        }
      }
      if (froalaEditor.tmpArraySectionHtml == 0){
        jsonSection = {id : 0 , html : '<section> Trascina qui i tuoi elementi</section>', padding:'', background:'', backgroundurl:'', checkedFixed:'false'};
        froalaEditor.tmpArraySectionHtml.push(jsonSection);
      }
    },
    templateHide() {
      var froalaEditor = this;
      var i;
      var htmlFinal = "";
      froalaEditor.inDragging = false;

      $('.slidecontainer').hide();
      $('.backgroundcontainer').hide();
      $('.backgroundurlcontainer').hide();
      if (typeof froalaEditor.tmpArraySectionHtml !== 'undefined' && froalaEditor.tmpArraySectionHtml.length > 0) {
        for (i = 0; i < froalaEditor.tmpArraySectionHtml.length; ++i) {
          if(froalaEditor.tmpArraySectionHtml[i].html != '<section> Trascina qui i tuoi elementi</section>'){
            var strStyle="";
            if(froalaEditor.tmpArraySectionHtml[i].background != '' && froalaEditor.tmpArraySectionHtml[i].background != null){
              strStyle = strStyle + 'background:'  + froalaEditor.tmpArraySectionHtml[i].background + ';';
            }
            if(froalaEditor.tmpArraySectionHtml[i].padding != '' && froalaEditor.tmpArraySectionHtml[i].padding != null){
              strStyle = strStyle + "padding:" + froalaEditor.tmpArraySectionHtml[i].padding + "rem 0rem;";
            }

            if(froalaEditor.tmpArraySectionHtml[i].backgroundurl != '' && froalaEditor.tmpArraySectionHtml[i].backgroundurl != null){
              strStyle = strStyle + "background-position: center;background-repeat: no-repeat;background-size: cover;background-image:url('" + froalaEditor.tmpArraySectionHtml[i].backgroundurl + "');";
              if(froalaEditor.tmpArraySectionHtml[i].checkedFixed == "true"){
                strStyle = strStyle + "background-attachment:fixed";
              }
            }

            if(strStyle != ''){
              strStyle = 'style="' + strStyle + '"';
            }

            htmlFinal = htmlFinal + '<section ' + strStyle + ' data-section-background-url-checked-fixed="' + froalaEditor.tmpArraySectionHtml[i].checkedFixed + '" data-section-background-url="' + froalaEditor.tmpArraySectionHtml[i].backgroundurl + '" data-section-background="' + froalaEditor.tmpArraySectionHtml[i].background + '" data-section-padding="' + froalaEditor.tmpArraySectionHtml[i].padding + '" data-id-template-selena=' + froalaEditor.tmpArraySectionHtml[i].id + '>' + froalaEditor.tmpArraySectionHtml[i].html + '</section>';
          }
        }
      }
      var editor = this.$refs.editor.getEditor();
      editor.selection.restore();
      editor.html.set(htmlFinal);
      //editor.html.insert(htmlFinal);
      
      froalaEditor.localContenuto = htmlFinal;
      //froalaEditor.templateEditorData = htmlFinal;
      froalaEditor.content = htmlFinal;
      froalaEditor.previewHtml(htmlFinal);
      $("#templateEditor").addClass("hide");
    },
    uploadImageHide(){
      var adminTemplateEditor = this;
      adminTemplateEditor.clearSelectionImage();
      $("#uploadImage").addClass("hide");
      $('#dropFiles').css('display','none');
      $('#input-insert-replace').val('');
    },
    dragEvent(e) {
      var froaraEditor = this;

      $.each(this.templateEditorData, function(i, template) {
        if (template.id == e.currentTarget.id) {
          froaraEditor.dragHtml = template.html;
        }
      });
    },
    typeChange(value) {
      var adminTemplateEditor = this;
      adminTemplateEditor.templateEditorData = [];

      if (!functionHelpers.isValued(value)) {
          value = 0;
      }

      templateEditorServices.getTemplateById(value, function(result) {
        adminTemplateEditor.templateEditorData = result.data;
      });
    },
    /* gestione editor immagini */
    getImage(page, imgActive) { 
      var adminTemplateEditor = this;
      var data = {
        page : page,
        search : $('#search').val(),
        month : $('#month').val(),
        year : $('#year').val(),
        ext : $('input[name="ext"]:checked').val(),
        imgActive: imgActive
      }; 
      pageServices.getByFile(data, function (result) {
        if(adminTemplateEditor.resultFilePopups.length == 0 || page == 1){
          adminTemplateEditor.resultFilePopups = result.data;
          $('#ul-image-uploadImage').css('max-height', window.innerHeight - 220);
          $('.div-right-detail-img').css('max-height', window.innerHeight - 220);
        }else{


          var array1 = adminTemplateEditor.resultFilePopups;
          var array2 = result.data;
          var newArray = array1.concat(array2);
          adminTemplateEditor.resultFilePopups = newArray;
        }
      }); 
    },
    handleScroll(){
      if($('#ul-image-uploadImage').scrollTop() + $('#ul-image-uploadImage').innerHeight() >= $('#ul-image-uploadImage')[0].scrollHeight) {
        this.getImage(this.pageImage + 1, '');
        this.pageImage = this.pageImage + 1;
      }
    },
    Search() {
      var adminSettingNews = this;
      adminSettingNews.getImage(1, ''); 
    },
    activeImage(id, e){

      var adminTemplateEditor = this;
      var clickedSelected = false;
      var imageAlreadySelected = false;
      var tmpArraySelected = [];
      if(e.ctrlKey || e.metaKey){
        for(var i = 0; i< adminTemplateEditor.resultFilePopups.length;i++){
          if(adminTemplateEditor.resultFilePopups[i].id == id){
            adminTemplateEditor.resultFilePopups[i].active = true;
            adminTemplateEditor.resultFilePopups[i].selected = true;
            adminTemplateEditor.resultFileActive = adminTemplateEditor.resultFilePopups[i];
            
            if(adminTemplateEditor.resultFileSelected.length > 0){
              for(var j = 0; j< adminTemplateEditor.resultFileSelected.length;j++){
                if(adminTemplateEditor.resultFilePopups[i].id == adminTemplateEditor.resultFileSelected[j].id){
                  imageAlreadySelected = true;
                }
              }
            }
            if(!imageAlreadySelected){
              adminTemplateEditor.resultFileSelected.push(adminTemplateEditor.resultFilePopups[i]);
            }
            
          }else{
            adminTemplateEditor.resultFilePopups[i].active = false;
          }
        }
      }else{
        for(var i = 0; i< adminTemplateEditor.resultFilePopups.length;i++){
          if(adminTemplateEditor.resultFilePopups[i].id == id){
            if(adminTemplateEditor.resultFilePopups[i].selected){
              clickedSelected = true;
              adminTemplateEditor.resultFilePopups[i].active = true;
            }
            adminTemplateEditor.resultFileActive = adminTemplateEditor.resultFilePopups[i];
            tmpArraySelected.push(adminTemplateEditor.resultFilePopups[i]);
          }
        }
        if(!clickedSelected){
          for(var i = 0; i< adminTemplateEditor.resultFilePopups.length;i++){
            if(adminTemplateEditor.resultFilePopups[i].id != id){
              adminTemplateEditor.resultFilePopups[i].selected = false;
              adminTemplateEditor.resultFilePopups[i].active = false;
            }else{
              adminTemplateEditor.resultFilePopups[i].selected = true;
              adminTemplateEditor.resultFilePopups[i].active = true;
            }
          }
          adminTemplateEditor.resultFileSelected = tmpArraySelected;
        }else{
          for(var i = 0; i< adminTemplateEditor.resultFilePopups.length;i++){
            if(adminTemplateEditor.resultFilePopups[i].id == id){
              adminTemplateEditor.resultFilePopups[i].active = true;
            }else{
              adminTemplateEditor.resultFilePopups[i].active = false;
            }
          }
        }
      }
    },
    clearSelectionImage(){
      var adminTemplateEditor = this;
      adminTemplateEditor.resultFileSelected = [];
      adminTemplateEditor.resultFileActive = {};
      for(var i = 0; i< adminTemplateEditor.resultFilePopups.length;i++){
        adminTemplateEditor.resultFilePopups[i].active = false;
        adminTemplateEditor.resultFilePopups[i].selected = false;
      }
    },
    changeFieldImg(id, type){
      var adminTemplateEditor = this;
      for(var i = 0; i< adminTemplateEditor.resultFileSelected.length;i++){
        if(adminTemplateEditor.resultFileSelected[i].id == id){
          adminTemplateEditor.resultFileSelected[i].alt = $('#altImg').val();
          adminTemplateEditor.resultFileSelected[i].title = $('#titleImg').val();
          adminTemplateEditor.resultFileSelected[i].didascalia = $('#didascaliaImg').val();
        }
      }

      for(var j = 0; j< adminTemplateEditor.resultFilePopups.length;j++){
         if(adminTemplateEditor.resultFilePopups[j].id == id){
          adminTemplateEditor.resultFilePopups[j].alt = $('#altImg').val();
          adminTemplateEditor.resultFilePopups[j].title = $('#titleImg').val();
          adminTemplateEditor.resultFilePopups[j].didascalia = $('#didascaliaImg').val();
        }
      }

    },
    convertImageToWebp(id){
      var adminTemplateEditor = this;
      if (confirm('Sei sicuro di voler duplicare l\'immagine convertendola in .webp?')) {
        for(var i = 0; i< adminTemplateEditor.resultFileSelected.length;i++){
          if(adminTemplateEditor.resultFileSelected[i].id == id){


            var data = {
              data: adminTemplateEditor.resultFileSelected[i],
              month : $('#month').val(),
              year : $('#year').val()
            };
            
            pageServices.convertImageToWebp(data, function(result) {
              if(result.message == 'ok'){
                notificationHelpers.success('Conversione immagine avvenuto correttamente.');
              }else{
                notificationHelpers.warning(result.message);
              }
              adminTemplateEditor.getImage(1, ''); 
            });
            
          }
        }
      }
    },
    deleteImageSelected(id){
      var adminTemplateEditor = this;
      if (confirm('Sei sicuro di voler eliminare l\'immagine?')) {
        for(var i = 0; i< adminTemplateEditor.resultFileSelected.length;i++){
          if(adminTemplateEditor.resultFileSelected[i].id == id){
            var data = adminTemplateEditor.resultFileSelected[i];
            pageServices.deleteImage(data, function(result) {
              notificationHelpers.success(result.message);
              adminTemplateEditor.resultFileActive = {};
              adminTemplateEditor.getImage(1, ''); 
            });
            
          }
        }
      }
    },
    insertSelectionImage(){
      var adminTemplateEditor = this;
      var editor = this.$refs.editor.getEditor();
      var htmlImg = '';

      var classContainer = $('#classElement').val();
      var classText = "";
      if(classContainer != ''){
        classText = " class='" +  classContainer + "'";
      }

      var imageContainer = $("input[name='htmlRadio']:checked").val();
      var htmlContainerStart = '';
      var htmlContainerEnd = '';
      var htmlContainerListStart = '';
      var htmlContainerListEnd = '';
      
      switch (imageContainer) {
        case '':
            htmlContainerStart = '';
            htmlContainerEnd = '';
            htmlContainerListStart = '';
            htmlContainerListEnd = '';
            break;
          case 'li':
            htmlContainerStart = '<ul>';
            htmlContainerEnd = '</ul>';
            htmlContainerListStart = '<li' + classText + '>';
            htmlContainerListEnd = '</li>';
            break;
          case 'p':
            htmlContainerStart = '';
            htmlContainerEnd = '';
            htmlContainerListStart = '<p' + classText + '>';
            htmlContainerListEnd = '</p>';
            break;
          case 'span':
            htmlContainerStart = '';
            htmlContainerEnd = '';
            htmlContainerListStart = '<span' + classText + '>';
            htmlContainerListEnd = '</span>';
            break;
           case 'div':
            htmlContainerStart = '';
            htmlContainerEnd = '';
            htmlContainerListStart = '<div' + classText + '>';
            htmlContainerListEnd = '</div>';
            break;
          default:
            htmlContainerStart = '';
            htmlContainerEnd = '';
            htmlContainerListStart = '<div' + classText + '>';
            htmlContainerListEnd = '</div>';
            break;
        }



      for(var i = 0; i < adminTemplateEditor.resultFileSelected.length; i++){
        htmlImg = htmlImg + htmlContainerListStart + '<img ';
        htmlImg = htmlImg + ' width="' + adminTemplateEditor.resultFileSelected[i].width  + 'px"';
        htmlImg = htmlImg + ' height="' + adminTemplateEditor.resultFileSelected[i].height  + 'px"';
        htmlImg = htmlImg + ' srcset="' + adminTemplateEditor.resultFileSelected[i].srcset  + '"';
        htmlImg = htmlImg + ' src="' + adminTemplateEditor.resultFileSelected[i].img  + '"';
        htmlImg = htmlImg + ' alt="' + adminTemplateEditor.resultFileSelected[i].alt  + '"';
        htmlImg = htmlImg + ' title="' + adminTemplateEditor.resultFileSelected[i].title  + '"';
        htmlImg = htmlImg + '>';
        if(adminTemplateEditor.resultFileSelected[i].didascalia != ''){
          htmlImg = htmlImg + '<span>' + adminTemplateEditor.resultFileSelected[i].didascalia + '</span>';
        }
        htmlImg = htmlImg + htmlContainerListEnd;
      }
      editor.selection.restore();
      if($('#input-insert-replace').val()!=''){
        var strHtml = editor.html.get();
        var strToReplace = $('#input-insert-replace').val();
        var strToReplaceNew = strToReplace.replace(' fr-draggable','');
        var strToReplaceNew = strToReplaceNew.replace('<p><br></p>','');

        var newHtml = strHtml.replace(strToReplaceNew, htmlContainerStart + htmlImg + htmlContainerEnd);
       
        editor.html.set(newHtml);
        //editor.html.insert(newHtml.replace('<p><br></p>',''));
      }else{
        editor.html.insert(htmlContainerStart + htmlImg + htmlContainerEnd);
      }
      adminTemplateEditor.uploadImageHide();
    },
    dragLeave(){
      $('#dropFiles').css('display','none');
    },
    dropImageManual(event){
      var adminTemplateEditor = this;
      if(event.target.files.length > 0){
        for(var i = 0; i < event.target.files.length; i++){
          const file = event.target.files[i];

          // Do something with the dropped file
          let reader = new FileReader()
          reader.onload = (event) => {
            //api to upload images
            var data = {
              imgName: file.name,
              imgBase64: event.target.result,
              replaceImg: false
            }

            pageServices.insertImage(data, function(result) {
              if(result.data.return == 'ok'){
                notificationHelpers.success("Inserimento " + file.name +  " avvenuto correttamente!");
                adminTemplateEditor.getImage(1, '');

                adminTemplateEditor.resultFileActive = result.data;
                adminTemplateEditor.resultFileSelected.push(result.data);
                adminTemplateEditor.resultFilePopups.push(result.data);
              }else{
                if(confirm('Attenzione, è già presente un\' immagine con il seguente nome ' + file.name + ' vuoi sostituirla?')){
                  var data = {
                    imgName: file.name,
                    imgBase64: event.target.result,
                    replaceImg: true
                  }

                  pageServices.insertImage(data, function(result2) {
                    if(result2.data.return == 'ok'){
                      notificationHelpers.success("Sostituzione " + file.name +  " avvenuta correttamente!");
                      adminTemplateEditor.getImage(1, '');

                      adminTemplateEditor.resultFileActive = result2.data;
                      adminTemplateEditor.resultFileSelected.push(result2.data);
                      adminTemplateEditor.resultFilePopups.push(result2.data);
                    }
                  });

                }else{
                  notificationHelpers.warning("Caricamento immagine " + file.name +  " annullato!");
                }
              }
            });
          }
          reader.readAsDataURL(file)
        }
      }
      
    },
    dropImage(event){
      var adminTemplateEditor = this;
      $('#dropFiles').css('display','none');
      if(event.dataTransfer.files.length > 0){
        for(var i = 0; i < event.dataTransfer.files.length; i++){
          const file = event.dataTransfer.files[i];

          // Do something with the dropped file
          let reader = new FileReader()
          reader.onload = (event) => {
            //api to upload images
            var data = {
              imgName: file.name,
              imgBase64: event.target.result,
              replaceImg: false
            }

            pageServices.insertImage(data, function(result) {
              if(result.data.return == 'ok'){
                notificationHelpers.success("Inserimento " + file.name +  " avvenuto correttamente!");
                adminTemplateEditor.getImage(1, result.data.img);
                adminTemplateEditor.resultFileActive = result.data;
                adminTemplateEditor.resultFileSelected.push(result.data);
                adminTemplateEditor.resultFilePopups.push(result.data);
              }else{
                if(confirm('Attenzione, è già presente un\' immagine con il seguente nome ' + file.name + ' vuoi sostituirla?')){
                  var data = {
                    imgName: file.name,
                    imgBase64: event.target.result,
                    replaceImg: true
                  }

                  pageServices.insertImage(data, function(result2) {
                    if(result2.data.return == 'ok'){
                      notificationHelpers.success("Sostituzione " + file.name +  " avvenuta correttamente!");
                      adminTemplateEditor.getImage(1, result2.data.img);                      
                      adminTemplateEditor.resultFileActive = result2.data;
                      adminTemplateEditor.resultFileSelected.push(result2.data);
                      adminTemplateEditor.resultFilePopups.push(result2.data);
                    }
                  });

                }else{
                  notificationHelpers.warning("Caricamento immagine " + file.name +  " annullato!");
                }
              }
            });
          }
          reader.readAsDataURL(file)
        }
      }
    },
    dragImage(event){
      $('#dropFiles').css('display','block');
    },
    handleFileInputSection(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = 0; i < files.length; i++) {
        this.createImageSection(e.target.id, files[i].name, files[i]);
      }
    },
    createImageSection(id, name, file) {
      var idAttr = $('#' + id).attr('data-attr-id-value');
      var adminCrmItems = this;
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
        var data = {
          imgName: name,
          imgBase64: e.target.result,
          replaceImg: false
        };

        pageServices.insertImage(data, function(result) {
          //console.log(result);
          if(result.data.return == 'ok'){
            notificationHelpers.success("Inserimento " + name +  " avvenuto correttamente!");
            $('#input-backgroundurlcontainer' + idAttr).val(result.data.img);
          }else{
            if(confirm('Attenzione, è già presente un\' immagine con il seguente nome ' + name + ' vuoi sostituirla?')){
              var data2 = {
                imgName: name,
                imgBase64: e.target.result,
                replaceImg: true
              };

              pageServices.insertImage(data2, function(result2) {
                //console.log(result2);
                if(result2.data.return == 'ok'){
                  notificationHelpers.success("Sostituzione " + name +  " avvenuta correttamente!");
                  $('#input-backgroundurlcontainer' + idAttr).val(result2.data.img);
                }
              });
            }else{
              notificationHelpers.warning("Caricamento immagine " + name +  " annullato!");
            }
          }
        });
      };
      reader.readAsDataURL(file);
    },
    /* end gestione editor immagini */
  }
};
</script>

<style>
.icon-section-temp {
  position: absolute;
  background: rgba(255,255,255,1);
  padding: 5px 10px;
  right: 0;
  top: 0px;
  cursor: pointer;
  box-shadow: 0px 5px 6px -5px rgb(0 0 0 / 40%);
  z-index: 10;
}

.icon-section-temp  .fa-trash{

}

.icon-padding-section-temp {
  position: absolute;
  background: rgba(255,255,255,1);
  padding: 5px 12px;
  right: 30px;
  top: 0px;
  cursor: pointer;
  box-shadow: 0px 5px 6px -5px rgb(0 0 0 / 40%);
  z-index: 10;
}
.preview-icon-padding-section-temp{
  position: absolute;
  background: rgba(255,255,255,1);
  padding: 5px 12px;
  left: 24px;
  top: 0px;
  cursor: pointer;
  box-shadow: 0px 5px 6px -5px rgb(0 0 0 / 40%);
  z-index: 10;
}
.preview-icon-padding-section-temp label{
  font-size: 11px;
  background: #005CC8;
  color: #fff;
  line-height: 11px;
  padding: 2px;
  margin-left: 5px;
  margin-bottom: 0px;
  font-weight: bold;
  border-radius:3px;
}
    
.icon-background-section-temp {
  position: absolute;
  background: rgba(255,255,255,1);
  padding: 5px 8px;
  right: 60px;
  top: 0px;
  cursor: pointer;
  box-shadow: 0px 5px 6px -5px rgb(0 0 0 / 40%);
  z-index: 10;
}
.preview-icon-background-section-temp{
  position: absolute;
  background: rgba(255,255,255,1);
  padding: 5px 8px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  box-shadow: 0px 5px 6px -5px rgb(0 0 0 / 40%);
  z-index: 10;
}

.icon-background-url-section-temp {
  position: absolute;
  background: rgba(255,255,255,1);
  padding: 5px 8px;
  right: 85px;
  top: 0px;
  cursor: pointer;
  box-shadow: 0px 5px 6px -5px rgb(0 0 0 / 40%);
  z-index: 10;
}

.list-group-item {
  margin-bottom:5px;
  margin-right: 5px;
  flex-grow: 1;
  cursor:move;
}
.list-group-item img{
  max-width: 100%;
}
.list-group-item:last-child {
  margin-bottom:5px;
}
.fr-box.fr-ltr.gray-theme.fr-basic.fr-top {
  z-index: 0 !important;
}

.fr-toolbar.gray-theme.fr-ltr.fr-desktop.fr-top.fr-basic {
  z-index: 3 !important;
}
.fr-fullscreen-wrapper {
  z-index: 20;
}

#templateEditor #closeTemplate {
  font-size: 2rem;
  cursor: pointer;
  margin: 0px 0px 10px 0px;
  color:#000;
}

#uploadImage #closeTemplate {
  font-size: 2rem;
  cursor: pointer;
  margin: 0px 0px 10px 0px;
  color:#000;
}
#templateEditor .select2 {
  width: 100% !important;
}
.select2-container--open .select2-dropdown--below {
  z-index: 10000000000;
}
.box-template p {
  margin-bottom: 0px;
  margin-top: 5px;
  padding-bottom: 0px;
  color: #666;
  font-size: 12px;
}
#templateEditor h5 {
  margin-bottom: 0px;
  margin-top: 4px;
  font-size: 20px;
}
.template {
  overflow: auto;
  width: 100%;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  z-index: 21 !important;
  right: 0px;
  height: 100%;
  /*transition: all ease-in-out 0.25s;*/
  transition: right 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-left: 5px solid #ededed;
  border-bottom: 5px solid #ededed;
  border-top: 5px solid #ededed;
  border-right: 5px solid #ededed;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.template.hide {
  right: -100000px;
}

.box-template {
  padding: 1rem;
  background: #fff;
  margin-bottom: 15px;
  box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.4);
}
.fr-fullscreen .fr-box.fr-ltr.gray-theme.fr-basic.fr-top{
      z-index: 2001 !important;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
  width:100%;
  min-height: 100px;
  min-width: 100%;
}
.ghost > *{
  min-height: 100px;
  display:none;
}

/* gestione editor immagini */

.uploadImage {
  overflow: auto;
  width: 98%;
  background-color: #f5f5f5;
  position: fixed;
  top: 1.5%;
  z-index: 2999 !important;
  right: 1%;
  height: 97%;
  /*transition: all ease-in-out 0.25s;*/
  transition: right 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-left: 5px solid #ededed;
  border-bottom: 5px solid #ededed;
  border-top: 5px solid #ededed;
  border-right: 5px solid #ededed;
  box-shadow: 0px 0px 40px 50px rgba(0, 0, 0, 0.8);
  padding: 5px;
}
.uploadImage.hide {
  right: -100000px;
}
.list-group-item-upload{
  height: 105px;
  padding: 0px;
  background: #ededed;
  border-radius: 0px;
  margin-bottom: 5px;
  cursor:pointer;
  position: relative;
  min-width:110px;
  min-height:110px;
  min-width:110px;
  max-width:110px;
  background-size:cover;
  margin-right: 5px;
}
#ul-image-uploadImage{
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  max-height: 50px;
  overflow:auto;
  padding-top: 10px;
}
.listLi {
  list-style: none;
  text-align: center;
}
.labelListImage {
  cursor: pointer;
  font-size: 12px;
  padding: 2px;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(255,255,255,0.7);
}
.cont-active-image {
    position: absolute;
    right: -3px;
    top: -8px;
    z-index: 10;
}
.cont-active-image .fa-check-circle{
    color: #238AE6;
    text-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
}
.cont-selected-image{
    position: absolute;
    right: -3px;
    top: -8px;
    z-index: 10;
}
.cont-selected-image .fa-check-circle{
    color: #222;
    text-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
}
.cont-none-image{
    position: absolute;
    right: -3px;
    top: -8px;
    z-index: 10;
}
#ul-list-item-selected{
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
.list-item-selected{
  height: 50px;
  padding: 0px;
  background: #ededed;
  border-radius: 0px;
  margin-bottom: 5px;
  position: relative;
  min-width:50px;
  min-height:50px;
  min-width:50px;
  max-width:50px;
  background-size:cover;
  margin-right: 5px;
  border:1px solid #000;
}
.listItemSelectedLI {
  list-style: none;
  text-align: center;
}
#dropFiles {
  position: absolute;
  width: 99.4%;
  background: rgb(60, 75, 100,0.8);
  z-index: 10;
  height: 99%;
  border: 5px dashed #f5f5f5;
  display: none;
}
#dropFiles h3 {
  position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 50px;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 40%);
    top: calc(50% - 30px);
}
.inputCheckboxRadio {
  margin-right:5px;
  margin-top:5px;
}
/* end gestione editor immagini */


.fr-sticky-on{
  top:54px !important;
}

#meta_tag_characteristic, #characteristic {

  padding-top:15px;
}

.deleteImgPopUp {
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  background: #f00;
  font-weight: bold;
  padding: .3rem .61rem;
  border-radius: .3rem;
  white-space: nowrap;
}
.div-extension-img{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #238AE6;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 7px -2px rgb(0 0 0 / 30%);
}

.div-extension-img label {
    font-size: 10px;
    margin: 0px !important;
    display: block;
    color: #fff;
    font-weight: bold;
}

#btn-insert-replace{
  display: none;
  border: 3px solid #ededed;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 3px 7px -3px rgb(0 0 0 / 20%);
}

.labelRadioButton {
    margin-left: 5px;
    margin-right: 10px;
}

.gray-theme .fr-view img.fr-dii { height:auto !important }

/* slider range padding container */
.slidecontainer {
  display:none;
  position: absolute;
  background: #fbfbfb;
  padding: 5px 5px 0px 5px;
  right: 32px;
  top: 33px;
  /*cursor: pointer;*/
  box-shadow: 0px 5px 6px -5px rgb(0 92 200 / 30%);
  z-index: 12;
  transition: all ease-in-out 0.25s;
}

.slidecontainer label{
  font-size:9px;
  display:inline-block;
  margin: 0px 5px 0px 0px;
  top: -5px;
  position: relative;
  color: #fff;
  background:#005cc8;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
    line-height: 10px;
}
.inputslider{
  height: 3px;
  top: -5px;
  position: relative;
  margin-right: 5px;
}




/* end slider range padding container */

/* container picker background color*/
.backgroundcontainer{
  display:none;
  position: absolute;
  background: #fbfbfb;
  padding: 5px 5px 0px 5px;
  right: 60px;
  top: 33px;
  /*cursor: pointer;*/
  box-shadow: 0px 5px 6px -5px rgb(0 92 200 / 30%);
  z-index: 12;
  max-width: 160px;
  transition: all ease-in-out 0.25s;
}
.container-preview-color{
  padding:5px;
}

.container-preview-color{
  padding:5px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.container-input-background{
  padding:5px;
}

.container-input-background .fa{
  font-size:20px;
  color:#58C575;
  cursor:pointer;
}

.container-input-background-url{
  padding:5px;
}

.backgroundurlcontainer{
  display:none;
  position: absolute;
  background: #fbfbfb;
  padding: 5px 5px 0px 5px;
  right: 85px;
  top: 33px;
  /*cursor: pointer;*/
  box-shadow: 0px 5px 6px -5px rgb(0 92 200 / 30%);
  z-index: 12;
  min-width: 260px;
  transition: all ease-in-out 0.25s;
}
.input-backgroundurlcontainer-fixed input {

  position: relative;
  bottom: -5px;
}

.input-backgroundurlcontainer-fixed label {
  font-size:11px;
  line-height: 11px;
  margin-bottom:0px;
  width:100%;
}

.container-input-background-url .fa{
  font-size:20px;
  color:#58C575;
  cursor:pointer;
}
.preview-color, .preview-color div{
  width:20px;
  height:20px;
  cursor:pointer;
  text-align: center;
}
/* end container picker background color*/


/* sfoglia file */

.custom-file-upload-section {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: lighter;
  border: 3px dashed #ededed;
  border-radius: 10px;
  color: slategrey;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 10px;
}
.imgBackground[type="file"] {
  display: none;
}
/* end sfoglia file */

.dragArea img {
    width: 100%!important;
    height: 100%!important;
}

</style>
