<template>
  <div id="header" v-html="msg"></div>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      msg: "",
      nrProductsCart: "0"
    };
  },
  created: function() {
    var header = this;
    var data = {
      code: 'Header',
      userId:storageData.sUserId(),
      idLanguage: storageData.sIdLanguage(),
      cartId: storageData.sCartId(),
      url: this.$route.params.pathMatch
    }
    contentServices.getByCodeUser(data, function(result) {
      header.msg = result.message;
    });
    /*contentServices.getByCode("Header", storageData.sIdLanguage(), function(result) {
      header.msg = result.message;

      settingServices.getRenderMenu(function(resultType) {
        switch (resultType.message) {
          case "Normal":
            header.renderMenuNormal(header.msg);
            break;
          case "Burger":
            header.renderMenuBurger(header.msg);
            break;
          default:
            header.renderMenuNormal(header.msg);
        }
      });
      
      header.renderUser(header.msg);
      header.renderSearch(header.msg);
      header.renderBannerArea(header.msg);
      //header.renderShoppingCart(header.msg);
    });*/
  },
  methods: {
    renderSearch(html){
      var header = this,
          htmlNew = "";
        //userServices.getByUsername(user, function(result) {
          //if(functionHelpers.isValued(result.data.name)){
            htmlNew += '<div class="row div-search">';
            htmlNew += '<div class="col-10 div-input-search">';
            htmlNew += '<form id="frmSearch" name="frmSearch">';
            htmlNew += '<input id="search" name="search" class="input-search form-control">';
            htmlNew += '</div>';

            htmlNew += '<div class="col-2">';
            htmlNew += '<i class="fa fa-search fa-2x div-icon-search" onclick="searchHelpers.search();"></i>';
            htmlNew += '</div>';
            htmlNew += '</div>';
          //}
          
        //});
      html = html.replace("#search#", htmlNew);
      header.msg = html;
    },
    renderUser(html){
      var header = this,
          htmlNew = "",
          user = storageData.sUserName(); 
      if(functionHelpers.isValued(user) && user != null){
        //userServices.getByUsername(user, function(result) {
          //if(functionHelpers.isValued(result.data.name)){
            htmlNew += '<div class="row div-user">';
            htmlNew += '<div class="col-6 div-user-welcome">';
            htmlNew += '<span>' + user + '</span>';
            htmlNew += '</div>';

            htmlNew += '<div class="col-6 div-user-logout">';
            htmlNew += '<i class="fa fa-sign-out" onclick="loginHelpers.disconnect();"></i>';
            htmlNew += '</div>';
            htmlNew += '</div>';
          //}
          
        //});
      }else{
        htmlNew += '<div class="row div-user">';
        htmlNew += '<div class="col-12 div-user-login">';
        htmlNew += '<a href="/login"><i class="fa fa-user"></i></a>';
        htmlNew += '</div>';
        htmlNew += '</div>';
      }
      html = html.replace("#user#", htmlNew);
      header.msg = html;
      //html = html.replace("#user#", htmlNew);
    },
    renderShoppingCart(html){
    
        var header = this,
        htmlNew = "",
        data = {'ln':storageData.sIdLanguage(), 'code':'Cart_Widget' , 'url': this.$route.fullPath};
        
        contentServices.getByCodeRender(data, function(result) {
          htmlNew = result.message; 
          cartServices.getNrProductRows(storageData.sCartId(), function(result){
            //htmlNew = htmlNew.replace("#getNrProductRows#", result.message);            
            html = html.replace("#Cart_Widget#", result.message);
            header.msg = html;        
          });    

        }); 
    },  

    renderBannerArea(html){
        var header = this,
        htmlNew = "";
        
        data = {'code': 'header', 'url': this.$route.fullPath};

        advertisingAreaServices.getHtmlBanner(data, function(result){
          htmlNew = result.message;           
          html = html.replace("#bannerheader#", htmlNew);
          header.msg = html;    
        });
    }, 

    renderMenuNormal(html) {
      var header = this,
        idLang = storageData.sIdLanguage(),
        pageTypeList = "Page",
        htmlNew = "";
        //html = header.msg;
      pageServices.getMenuList(idLang, pageTypeList, function(result) {
        $.each(result.data.menuList, function(i, config) {
          if (config.online) {
            if (config.subMenu.length > 0) {
              htmlNew =
                htmlNew +
                '<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="' +
                config.url +
                '" id="navbarDropdownMenuLink' +
                config.id +
                '" role="button" aria-haspopup="true" aria-expanded="false">';
              if (config.icon != null) {
                htmlNew = htmlNew + '<i class="' + config.cssIcon + '"></i>';
              }
              htmlNew = htmlNew + "<span>" + config.title + "</span></a>";
              htmlNew =
                htmlNew +
                '<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink' +
                config.id +
                '">';
              $.each(config.subMenu, function(j, configSub) {
                if (configSub.subMenu.length > 0) {
                  htmlNew =
                  htmlNew +
                  '<a class="nav-link dropdown-toggle" href="' +
                  configSub.url +
                  '" class="dropdown-item" role="button" aria-haspopup="true" aria-expanded="false"><i class="' +
                  configSub.cssIcon +
                  '"></i><span>' +
                  configSub.title +
                  "</span></a>";
                  
                  htmlNew =
                    htmlNew +
                    '<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink' +
                    configSub.id +
                    '">';
                  $.each(configSub.subMenu, function(j, configSubSub) {
                    htmlNew =
                      htmlNew +
                      '<a href="' +
                      configSubSub.url +
                      '" class="dropdown-item "><i class="' +
                      configSubSub.cssIcon +
                      '"></i><span>' +
                      configSubSub.title +
                      "</span></a>";
                      
                  });
                  htmlNew = htmlNew + "</div>";
                  //htmlNew = htmlNew + "</li>";

                } else {
                  htmlNew =
                    htmlNew +
                    '<a class="nav-link" href="' +
                    configSub.url +
                    '">';
                  if (configSub.icon != null) {
                    htmlNew = htmlNew + '<i class="' + configSub.cssIcon + '"></i>';
                  }
                  htmlNew = htmlNew + "<span>" + configSub.title + "</span></a>";
                  
                }
              });
              //htmlNew = htmlNew + "</div>";
              //htmlNew = htmlNew + "</li>";
            } else {
              htmlNew =
                htmlNew +
                '<li class="nav-item"><a class="nav-link" href="' +
                config.url +
                '">';
              if (config.icon != null) {
                htmlNew = htmlNew + '<i class="' + config.cssIcon + '"></i>';
              }
              htmlNew = htmlNew + "<span>" + config.title + "</span></a>";
              htmlNew = htmlNew + "</li>";
            }
          }
        });
        if (htmlNew != "") {
          htmlNew =
            '<nav class="navbar navbar-expand-lg navbar-light bg-light"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse" id="navbarNav"><ul class="navbar-nav">' +
            htmlNew +
            "</ul></div></nav>";
          html = html.replace("#menu#", htmlNew);
        }
        header.msg = html;
      });
    },
    renderMenuBurger(html) {
      var header = this,
        idLang = storageData.sIdLanguage(),
        pageTypeList = "Page",
        htmlNew = "",
        html = header.msg;
      pageServices.getMenuList(idLang, pageTypeList, function(result) {
        
        $.each(result.data.menuList, function(i, config) {
          if (config.online) {
            if (config.subMenu.length > 0) {
              htmlNew =
                htmlNew + '<a class="dropdown-item" href="' + config.url + '">';
              if (config.icon != null) {
                htmlNew = htmlNew + '<i class="' + config.cssIcon + '"></i>';
              }
              htmlNew = htmlNew + "<span>" + config.title + "</span>";
              htmlNew =
                htmlNew +
                '<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink' +
                config.id +
                '">';
              $.each(config.subMenu, function(j, configSub) {
                htmlNew =
                  htmlNew +
                  '<a href="' +
                  configSub.url +
                  '" class="dropdown-item"><i class="' +
                  configSub.cssIcon +
                  '"></i><span>' +
                  configSub.title +
                  "</span></a>";
              });
              htmlNew = htmlNew + "</div>";
              htmlNew = htmlNew + "</a>";
            } else {
              htmlNew =
                htmlNew + '<a class="dropdown-item" href="' + config.url + '">';
              if (config.icon != null) {
                htmlNew = htmlNew + '<i class="' + config.cssIcon + '"></i>';
              }
              htmlNew = htmlNew + "<span>" + config.title + "</span>";
              htmlNew = htmlNew + "</a>";
            }
          }
        });
        if (htmlNew != "") {
          htmlNew =
            '<div class="d-flex"><div class="dropdown mr-1"><button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" aria-haspopup="true" aria-expanded="false" data-offset="10,20"><i class="fa fa-bars" aria-hidden="true"></i></button><div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">' +
            htmlNew +
            "</div></div></div>";
          html = html.replace("#menu#", htmlNew);
        }
        header.msg = html;
      });
    }
  }
};
</script>
