<template>
  <div class="mainPages" v-html="content"></div>
</template>

<script>
export default {
  name: "HomePage",
  props: {
    content: String
  },
  updated() {
    /*if ($("#contactRequest").length == 1) {
      validationHelpers.validateBase("#contactRequest");
      $("#contactRequest #email").rules("add", { email: true });
      $("#contactRequest #btnSend").on("click", function() {
        if (validationHelpers.isValid("#contactRequest")) {
          contactHelpers.insertRequest();
        }
      });
    }*/
  }
};
</script>
