<template>
  <div id="pageDetail" style="width:100%;">
    <form :id="idForm" :name="idForm" action="#">
      <div v-for="row in getRow()" v-bind:key="row.field">
        <div class="row form-group">
          <div
            :class="
              configuration.colspan
                ? 'field col-' + configuration.colspan
                : 'field col'
            "
            v-for="configuration in getColumn(row.posY)"
            v-bind:key="configuration.field"
          >
            <input
              v-if="
                (configuration.inputType == 'Input' ||
                  configuration.inputType == 'Numeric' ||
                  configuration.inputType == 'PhoneText' ||
                  configuration.inputType == 'EmailText') &&
                  configuration.field.toString().split('.').length == 1
              "
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              type="text"
              :placeholder="configuration.label"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              :ref="configuration.field"
              v-model="jsonValue[configuration.field]"
              @change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
              v-on:keyup="
                onKeyUp(
                  configuration.onKeyUp,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
              :required="configuration.required"
            />
            <input
              v-if="
                (configuration.inputType == 'Input' ||
                  configuration.inputType == 'Numeric' ||
                  configuration.inputType == 'PhoneText' ||
                  configuration.inputType == 'EmailText') &&
                  configuration.field.toString().split('.').length > 1
              "
              type="text"
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              :placeholder="configuration.label"
              :disabled="configuration.isDisabled"
              :id="configuration.field.toString().replace('.', '_')"
              :name="configuration.field.toString().replace('.', '_')"
              :required="configuration.required"
              v-model="
                jsonValue[configuration.field.toString().split('.')[0]][
                  configuration.field.toString().split('.')[1]
                ]
              "
              @change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
              v-on:keyup="
                onKeyUp(
                  configuration.onKeyUp,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
            />
            <input
              v-if="
                configuration.inputType == 'Password' &&
                  configuration.field.toString().split('.').length == 1
              "
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              type="password"
              :placeholder="configuration.label"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              :ref="configuration.field"
              v-model="jsonValue[configuration.field]"
              @change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
              v-on:keyup="
                onKeyUp(
                  configuration.onKeyUp,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
              :required="configuration.required"
            />
            <input
              v-if="
                configuration.inputType == 'Password' &&
                  configuration.field.toString().split('.').length > 1
              "
              type="password"
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              :placeholder="configuration.label"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              :required="configuration.required"
              v-model="
                jsonValue[configuration.field.toString().split('.')[0]][
                  configuration.field.toString().split('.')[1]
                ]
              "
              @change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
              v-on:keyup="
                onKeyUp(
                  configuration.onKeyUp,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
            />
            <!--   SELECT2   -->
            <select2
              v-if="
                configuration.inputType == 'Select' &&
                  configuration.field.toString().split('.').length == 1
              "
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              v-model="jsonValue[configuration.field]"
              :service="configuration.service"
              :change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
            />
            <select2
              v-if="
                configuration.inputType == 'Select' &&
                  configuration.field.toString().split('.').length > 1
              "
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              v-model="
                jsonValue[configuration.field.toString().split('.')[0]][
                  configuration.field.toString().split('.')[1]
                ]
              "
              :service="configuration.service"
              :change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
            />
            <!--   END SELECT2   -->

            <!--   DATE PICKER   -->
            <date-picker
              v-if="
                configuration.inputType == 'DatePicker' &&
                  configuration.field.toString().split('.').length == 1
              "
              style="width: 180px;"
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              :placeholder="configuration.label"
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              v-model="jsonValue[configuration.field]"
              :config="configDate"
              @change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
            ></date-picker>
            <date-picker
              v-if="
                configuration.inputType == 'DatePicker' &&
                  configuration.field.toString().split('.').length > 1
              "
              style="width: 180px;"
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              :placeholder="configuration.label"
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              v-model="
                jsonValue[configuration.field.toString().split('.')[0]][
                  configuration.field.toString().split('.')[1]
                ]
              "
              :config="configDate"
              @change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
            ></date-picker>
            <!--   END DATE PICKER   -->
            <!--   DATE TIME PICKER   -->
            <date-picker
              v-if="
                configuration.inputType == 'DateTimePicker' &&
                  configuration.field.toString().split('.').length == 1
              "
              style="width: 180px;"
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              :placeholder="configuration.label"
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              v-model="jsonValue[configuration.field]"
              :config="configDateTime"
              :change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
            ></date-picker>
            <date-picker
              v-if="
                configuration.inputType == 'DateTimePicker' &&
                  configuration.field.toString().split('.').length > 1
              "
              style="width: 180px;"
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              :placeholder="configuration.label"
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              v-model="
                jsonValue[configuration.field.toString().split('.')[0]][
                  configuration.field.toString().split('.')[1]
                ]
              "
              :config="configDateTime"
              :change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
            ></date-picker>
            <!--   END DATE TIME PICKER   -->
            <!-- LABEL -->
            <label
              v-if="configuration.inputType == 'CheckBox'"
              class="col col-form-label nopadding label-effect label-checkbox"
              :for="configuration.field"
              >{{ configuration.label }}</label
            >

            <label
              v-else-if="configuration.inputType == 'Editor'"
              class="col col-form-label nopadding label-effect label-editor"
              :for="configuration.field"
              >{{ configuration.label }}</label
            >

             <label
              v-else-if="configuration.inputType == 'TextArea'"
              class="col col-form-label nopadding label-effect label-textarea"
              :for="configuration.field"
              >{{ configuration.label }}</label
>

            <label
              v-else-if="configuration.inputType == 'Select'"
              class="col col-form-label nopadding label-effect label-select"
              :for="configuration.field"
              >{{ configuration.label }}</label
            >

            <label
              v-else-if="configuration.inputType == 'Image'"
              class="col col-form-label nopadding label-effect label-image"
              :for="configuration.field"
              >{{ configuration.label }}</label
            >
            <label
              v-else-if="configuration.inputType == 'Radio'"
              class="col col-form-label nopadding label-effect label-radiobutton"
              :for="configuration.field"
              >{{ configuration.label }}</label
            >
            <label
              v-else
              class="col col-form-label nopadding label-effect"
              :for="configuration.field"
              :class="configuration.class ? configuration.class : ''"
              >{{ configuration.label }}</label
            >
            <!-- END LABEL -->

            <!--   CHECKBOX   -->
            <div
              v-if="
                configuration.inputType == 'CheckBox' &&
                  configuration.field.toString().split('.').length == 1
              "
              class="align-self-center"
            >
              <label
                class="switch switch-pill switch-primary"
                style="margin:2px; vertical-align:bottom;"
              >
                <input
                  type="checkbox"
                  class="switch-input"
                  :required="configuration.required"
                  :disabled="configuration.isDisabled"
                  :id="configuration.field"
                  :name="configuration.field"
                  v-model="jsonValue[configuration.field]"
                  @change="
                    onChange(
                      configuration.onChange,
                      configuration.field,
                      jsonValue[configuration.field]
                    )
                  "
                />
                <span class="switch-slider" data-on data-off></span>
              </label>
            </div>
            <div
              v-if="
                configuration.inputType == 'CheckBox' &&
                  configuration.field.toString().split('.').length > 1
              "
              class="align-self-center"
            >
              <label
                class="switch switch-pill switch-primary"
                style="margin:2px; vertical-align:bottom;"
              >
                <input
                  type="checkbox"
                  class="switch-input"
                  :required="configuration.required"
                  :disabled="configuration.isDisabled"
                  :id="configuration.field"
                  :name="configuration.field"
                  v-model="
                    jsonValue[configuration.field.toString().split('.')[0]][
                      configuration.field.toString().split('.')[1]
                    ]
                  "
                  @change="
                    onChange(
                      configuration.onChange,
                      configuration.field,
                      jsonValue[configuration.field]
                    )
                  "
                />
                <span class="switch-slider" data-on data-off></span>
              </label>
            </div>
            <!--   END CHECKBOX   -->
            <!--   TEXTAREA   -->
            <textarea
              v-if="
                configuration.inputType == 'TextArea' &&
                  configuration.field.toString().split('.').length == 1
              "
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              v-model="jsonValue[configuration.field]"
              @change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
              v-on:keyup="
                onKeyUp(
                  configuration.onKeyUp,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
            ></textarea>
            <textarea
              v-if="
                configuration.inputType == 'TextArea' &&
                  configuration.field.toString().split('.').length > 1
              "
              :class="
                configuration.class
                  ? 'form-control inputForm ' + configuration.class
                  : 'form-control inputForm'
              "
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              v-model="
                jsonValue[configuration.field.toString().split('.')[0]][
                  configuration.field.toString().split('.')[1]
                ]
              "
              @change="
                onChange(
                  configuration.onChange,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
              v-on:keyup="
                onKeyUp(
                  configuration.onKeyUp,
                  configuration.field,
                  jsonValue[configuration.field]
                )
              "
            ></textarea>
            <!--   END TEXTAREA   -->
            <!--   EDITOR   -->
            <FroalaEditor
              v-if="
                configuration.inputType == 'Editor' &&
                  configuration.field.toString().split('.').length == 1
              "
              :content="jsonValue[configuration.field]"
              :class="configuration.class ? configuration.class : ''"
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              v-on:updateContenuto="updateContenuto"
              :tipoTemplate="tipoTemplate"
            ></FroalaEditor>
            <FroalaEditor
              v-if="
                configuration.inputType == 'Editor' &&
                  configuration.field.toString().split('.').length > 1
              "
              :content="
                jsonValue[configuration.field.toString().split('.')[0]][
                  configuration.field.toString().split('.')[1]
                ]
              "
              :class="configuration.class ? configuration.class : ''"
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              v-on:updateContenuto="updateContenuto"
              :tipoTemplate="tipoTemplate"
            ></FroalaEditor>
            <!--   END EDITOR   -->
            <!--   IMAGE   -->
            <input
              v-if="
                configuration.inputType == 'Image' &&
                  configuration.field.toString().split('.').length == 1
              "
              style="margin-top: 10px;padding-top: 12px;"
              :class="configuration.class ? configuration.class : ''"
              type="file"
              accept="image/jpeg, image/jpg, image/png, image/gif"
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              @change="onChangeImage"
            />
            <img
              v-if="
                configuration.inputType == 'Image' &&
                  configuration.field.toString().split('.').length == 1 &&
                  jsonValue[configuration.field]
              "
              :src="jsonValue[configuration.field]"
            />
            <input
              v-if="
                configuration.inputType == 'Image' &&
                  configuration.field.toString().split('.').length > 1
              "
              style="margin-top: 10px;padding-top: 12px;"
              :class="configuration.class ? configuration.class : ''"
              type="file"
              accept="image/jpeg, image/jpg, image/png, image/gif"
              :required="configuration.required"
              :disabled="configuration.isDisabled"
              :id="configuration.field"
              :name="configuration.field"
              @change="onChangeImage"
            />
            <img
              v-if="
                configuration.inputType == 'Image' &&
                  configuration.field.toString().split('.').length > 1 &&
                  jsonValue[configuration.field.toString().split('.')[0]][
                    configuration.field.toString().split('.')[1]
                  ]
              "
              :src="
                jsonValue[configuration.field.toString().split('.')[0]][
                  configuration.field.toString().split('.')[1]
                ]
              "
            />
            <!--   END IMAGE   -->
            <!--   LABEL   -->
            <label :class="configuration.class ? configuration.class : ''"
            v-if="configuration.inputType == 'Label'">{{
              jsonValue[configuration.field]
            }}</label>
            <!--   END LABEL   -->

            <!-- RADIO BUTTON -->
            <div
              v-if="configuration.inputType == 'Radio'"
              style="margin-top:10px"
            >
              <label
                v-for="singleRadioButton in getArrayValoriRadioButton(
                  configuration.arrayRadioButton,
                  jsonValue[configuration.field]
                )"
                v-bind:key="singleRadioButton.id"
                style="display: inline; margin-right:20px"
              >
                <input
                  type="radio"
                  style="display: inline; height: 20px; width: 20px; vertical-align: middle;"
                  :name="'radio' + singleRadioButton.name"
                  :value="singleRadioButton.value"
                  :checked="singleRadioButton.checked"
                  v-model="jsonValue[configuration.field]"
                  @click="
                    onClickRadioButton(
                      singleRadioButton.value,
                      singleRadioButton.name
                    )
                  "
                />
                {{ singleRadioButton.text }}
              </label>
              <!-- END RADIO BUTTON -->
            </div>
          </div>
        </div>
      </div>
      <div
        v-for="configuration in getHidden()"
        v-bind:key="configuration.field"
      ></div>
    </form>
  </div>
</template>

<script>
import Select2 from "@/components/Select2.vue";
import FroalaEditor from "@/components/FroalaEditor.vue";



export default {
  name: "pageDetail",
  inheritAttrs: false,
  components: {
    Select2,
    FroalaEditor
  },
  props: {
    functions: String,
    configurations: Array,
    jsonValue: Object
  },
  data() {
    return {
      configDate: {
        format: storageData.sDatePickerFormat(),
        useCurrent: true,
        showClear: true,
        showClose: true
      },
      configDateTime: {
        format: storageData.sDateTimePickerFormat(),
        useCurrent: true,
        showClear: true,
        showClose: true
      },
      tipoTemplate: "Pages",
    };
  },
  computed: {
    idForm: function() {
      return "frm" + this.functions;
    }
  },
  updated() {
    var pageDetail = this;
    var rules = {};
    validationHelpers.validateBase("#" + pageDetail.idForm);
    $.each(pageDetail.configurations, function(i, configuration) {
      switch (configuration.inputType) {
        case "Numeric":
          $("#" + configuration.field).rules("add", { number: true });
          break;
        case "PhoneText":
          $("#" + configuration.field).rules("add", { digits: true });
          break;
        case "EmailText":
          $("#" + configuration.field).rules("add", { email: true });
          break;
      }
    });
  },
  methods: {
    getRow: function() {
      var pageDetail = this;
      pageDetail.lastRow = "";

      return pageDetail.configurations.filter(function(configuration) {
        if (
          functionHelpers.isValued(configuration.posY) &&
          pageDetail.lastRow != configuration.posY &&
          configuration.inputType != "Hidden" &&
          configuration.inputType != "NoRender"
        ) {
          pageDetail.lastRow = configuration.posY;
          return configuration;
        }
      });
    },
    getColumn: function(posY) {
      return this.configurations.filter(function(configuration) {
        if (
          functionHelpers.isValued(configuration.posY) &&
          posY == configuration.posY &&
          configuration.inputType != "Hidden" &&
          configuration.inputType != "NoRender"
        ) {
          return configuration;
        }
      });
    },
    getHidden: function() {
      return this.configurations.filter(function(configuration) {
        if (configuration.inputType == "Hidden") {
          return configuration;
        }
      });
    },

    getArrayValoriRadioButton: function(stringa) {
      return JSON.parse(stringa);
      //console.log(JSON.parse("[{\"id\":1, \"text\":\"%\",\"name\":\"applicaSconto\", \"value\" : \"1\"}, {\"id\":2, \"text\":\"Importo\",\"name\":\"applicaSconto\", \"value\" : \"2\"}, {\"id\":0, \"text\":\"No\",\"name\":\"applicaSconto\", \"value\" : \"0\"}  ]"));
    },

    onChange(configuration, field, value) {
    
      if (field.split(".").length == 2) {
        field = field.replace(".", "_");
      }

      if (functionHelpers.isValued(configuration)) {
        if (configuration.split(".").length == 2) {
          window[configuration.split(".")[0]][configuration.split(".")[1]](
            field,
            value
          );
        } else {
          this.$parent[configuration](field, value);
        }
      }
    },

    onKeyUp(configuration, field, value) {
      if (field.split(".").length == 2) {
        field = field.replace(".", "_");
      }

      if (functionHelpers.isValued(configuration)) {
        if (configuration.split(".").length == 2) {
          window[configuration.split(".")[0]][configuration.split(".")[1]](
            field,
            value
          );
        } else {
          this.$parent[configuration](field, value);
        }
      }
    },

    onClickRadioButton(id, name) {
      this.$parent.onClickRadioButton(id, name);
    },

    updateContenuto(value, id) {
      if (id.toString().split(".").length == 1) {
        this.jsonValue[id] = value;
      } else {
        this.jsonValue[id.toString().split(".")[0]][
          id.toString().split(".")[1]
        ] = value;
      }
    },
    onChangeImage(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(e.target.id, files[0].name, files[0]);
    },
    createImage(id, name, file) {
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.jsonValue[id] = e.target.result;
        vm.jsonValue[id + "Name"] = name;
      };

      reader.readAsDataURL(file);
    }
  }
};
</script>
<style scoped>
img {
  max-width: 150px;
}

#DetailSale input {
  /*width: 60px;*/
}
.img_digital {
  width: 229px !important;
}
#DetailSale .sell_if_not_available {
  margin-left: 161px !important;
}
.col-form-label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: -15px;
  min-height: 15px;
  max-height: 15px;
}
input {
  min-height: 56px;
  font-size: 16px;
}


.durationLabel {
  margin-bottom: 30px;
}
.slot_steplabel {
  margin-bottom: 30px;
}
.block_firstlabel {
  margin-bottom: 30px;
}
.block_afterlabel {
  margin-bottom: 30px;
}

.minutes_before_the_event {
  margin-bottom: 25px;
}

.label-checkbox {
  top: -43px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: -2px;
  margin-top: 39px;
  white-space: nowrap;
}



/*groupSms+.select2, #select_AdminPagesView_IdLanguage+.select2, #user_id+.select2 {
    height: calc(1.5em + 0.75rem + 2px);
    float: left;
    padding-top: 10px;
}*/


#frmadminCrmBookingSettings .col-3{
  padding-top:20px;
}

#frmadminCrmExceptions .col-6 {
  padding-top:20px;
}

#frmadminCrmBookingSettings .col-12{
  padding-top:20px;
}

#frmadminCrmConnections .col-4 {
  padding-top:20px;
}
#frmadminCrmConnections .col-12 {
  padding-top:20px;
}

.label-editor {
  top: -7px;
  z-index: 10;
  left: 23px;
  width: fit-content;
  background: #fff;
  padding: 0px 10px 0 4px !important;
  color: rgba(0, 0, 0, 0.87);
  position: absolute;
  border-radius: 1rem;
  border: 1px solid #cccccc;
  line-height: 13px;
}

.label-textarea {
  top: -7px;
  z-index: 10;
/*left: 23px; */
  width: fit-content;
  padding: 0px 10px 0 4px !important;
  color: rgba(0, 0, 0, 0.87);
  position: absolute;
  line-height: 13px;
}


.label-select {
  top: -9px;
  left: 10px;
  color: rgba(0, 0, 0, 0.87);
  width: fit-content;
  background: #fff;
  padding: 0 2px 0 2px !important;
}

.label-radiobutton{
  top: -60px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: -2px;
  left: 0;
}

.switch-pill .switch-slider {
    margin-top: 45px;
    border-radius: 50em;
}

.label-image {
  top: 0px;
  position: absolute;
}
#frmAdminPages .field.col-12{
  padding:0px;
}

#frmadminCrmBookingSettings .col-3{
  padding-top:20px;
}

label[for=meta_tag_characteristic]{
  margin-top:15px;
}
label[for=characteristic]{
  margin-top:15px;
}
label[for=html]{
  margin-top:15px;
}
#html{
  margin-top: 15px;
}
label[for=content]{
  margin-top:15px;
}
#content{
  margin-top: 15px;
}

#frmAdminNewsletterCampaign1 label[for=html]{
  margin-top:15px;
  display:none;
}
#frmAdminNewsletterCampaign1 #html{
  margin-top: 0px; 
}

#frmadminCrmBookingSettings .col-3{
  padding-top:20px;
}

 #frmadminSettingNews .col-12{
 /*margin-top: -10px;*/
}


#adminSettingNews textarea{
    height: 100px!important;
    margin-top: 14px;
    font-size: 16px;
}

#adminSettingNews .label-textarea {
    top: 8px!important;
    transform: translate(9px,5px) scale(1);
    cursor: pointer;
    background: #fff;
    padding: 0 2px 0 2px!important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: rgba(0,0,0,.87);
    font-size: 12px;
    margin-bottom: 0;
    pointer-events: none;
}

  #frmadminSettingNews{ 
    margin-top: -9px
  }
    
#frmadminSettingNews textarea {
    height: 100px!important;
    margin-top: 14px;
    font-size: 16px;
    margin-bottom: 14px;
}

#frmadminSettingNews .label-textarea {
    top: 8px!important;
    transform: translate(9px,5px) scale(1);
    cursor: pointer;
    background: #fff;
    padding: 0 2px 0 2px!important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: rgba(0,0,0,.87);
    font-size: 12px;
    margin-bottom: 0;
    pointer-events: none;
}

#adminCrmItems textarea{
    height: 100px!important;
    margin-top: 14px;
    font-size: 16px;
}

#adminCrmItems .label-textarea {
    top: 8px!important;
    transform: translate(9px,5px) scale(1);
    cursor: pointer;
    background: #fff;
    padding: 0 2px 0 2px!important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: rgba(0,0,0,.87);
    font-size: 12px;
    margin-bottom: 0;
    pointer-events: none;
}

#adminCrmCategories textarea{
    height: 100px!important;
    margin-top: 14px;
    font-size: 16px;
}

#frmAdminSettingImage textarea {
  margin-top: 14px;
  height: 150px;
  font-size: 16px;
} 
#frmAdminSettingImage .label-textarea {
   top: 0px!important;
    transform: translate(9px,5px) scale(1);
    cursor: pointer;
    background: #fff;
    padding: 0 2px 0 2px!important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: rgba(0,0,0,.87);
    font-size: 12px;
    margin-bottom: 0;
    pointer-events: none;
} 


#adminCrmCategories .label-textarea {
    top: 8px!important;
    transform: translate(9px,5px) scale(1);
    cursor: pointer;
    background: #fff;
    padding: 0 2px 0 2px!important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: rgba(0,0,0,.87);
    font-size: 12px;
    margin-bottom: 0;
    pointer-events: none;
}






</style>
