<template>
  <select
    class="custom-select form-control service-areas"
    :id="id"
    :name="name"
  >
    <slot></slot>
  </select>
</template>

<script>
export default {
  name: "select2",
  props: [
    "change",
    "default",
    "id",
    "name",
    "options",
    "service_areas",
    "service",
    "param",
    "value",
    "minimumInputLength",
  ],
  data() {
    return {
      _minimumInputLength: 3,
      msg: "",
      services: "",
      servicesOption: "",
      oldValue: 999999999999999,
    };
  },
  mounted() {
    if (!functionHelpers.isValued(this.minimumInputLength)) {
      this._minimumInputLength = 3;
    }
    this.create();
  },
  destroyed: function () {
    this.destroy();
  },
  watch: {
    value: function (value) {
      if (
        functionHelpers.isValued(this.value) &&
        !functionHelpers.isValued(this.$el[0])
      ) {
        configurationHelpers.getValueForSelect(this);
      }
      $(this.$el).val(value).trigger("change");
    },
    options: function () {
      this.setData(this.options);
    },
    service_areas: function (value) {},
    default() {
      if (!functionHelpers.isValued(this.options)) {
        this.destroy();
        this.create();
      }
      if (functionHelpers.isValued(this.default)) {
        if (functionHelpers.isValued(this.default.id)) {
          if ($(this.$el).val() != this.default.id) {
            $(this.$el)
              .append(
                new Option(this.default.text, this.default.id, false, false)
              )
              .trigger("change");
          }
          $(this.$el).val(this.default.id).trigger("change");
        } else {
          $(this.$el).val(this.default).trigger("change");
        }
      } else {
        $(this.$el).val(null).trigger("change");
      }
    },
    minimumInputLength() {
      this._minimumInputLength = this.minimumInputLength;
    },
  },
  methods: {
    create() {
      let vm = this;

      switch (this.service) {
        case "nations":
          this.services = "nationServices";
          break;
        case "regions":
          this.services = "regionsServices";
          break;
        case "provinces":
          this.services = "provincesServices";
          break;
        case "carriages":
          this.services = "carriageServices";
          break;

        case "carriers":
          this.services = "carrierServices";
          break;

        case "customerBeforeDDTSixten":
          this.services = "customerServices";
          this.urlOservicesOptionption = "selectBeforeDDTSixten";
          break;

        case "groupSms":
          this.services = "groupSmsServices";
          break;

        case "querygroupnewsletter":
        this.services = "QueryGroupNewsletterServices";
        break;

        case "icons":
          this.services = "iconServices";
          break;

        case "languages":
          this.services = "languageServices";
          break;

           case "category_page":
          this.services = "CategoriesPagesServices";
          break;

        case "languagestranslate":
          this.services = "languageServices";
          this.servicesOption = "selectlanguagestranslate";
          break;
        
        case "languagescategoriestranslate":
          this.services = "languageServices";
          this.servicesOption = "selectlanguagescategoriestranslate";
          break;

        case "packageByErp":
          this.services = "packageServices";
          this.servicesOption = "selectByErp";
          break;

        case "packagingTypeSixten":
          this.services = "packagingTypeSixtenServices";
          break;

        case "pageShareType":
          this.services = "pageShareTypeServices";
          break;

        case "pageCategory":
          this.services = "pageCategoryServices";
          break;

        case "postalCode":
          this.services = "postalCodeServices";
          break;

        case "shipmentCodeSixten":
          this.services = "shipmentCodeSixtenServices";
          break;

        case "templateEditorGroup":
          this.services = "templateEditorGroupServices";
          break;

        case "templateEditorGroupByType":
          this.services = "templateEditorGroupServices";
          this.servicesOption = "selectGroupTemplate";
          break;

        case "templateEditorType":
          this.services = "templateEditorTypeServices";
          break;

        case "users":
          this.services = "userServices";
          this.servicesOption = "getSelectUserPages";
          break;
        
        case "itemAttachmentFatherType":
          this.services = "itemAttachmentTypeServices";
          break;

        case "messages":
          this.services = "messageServices";
          break;

        case "vatType":
          this.services = "vatTypeServices";
          break;

        case "categoryType":
          this.services = "categoryTypeServices";
          break;

        case "unitMeasure":
          this.services = "unitMeasuresServices";
          break;

        case "category":
          this.services = "categoriesServices";
          break;

        case "categoryItemAttachment":
            this.services = "categoriesServices";
            this.servicesOption = "getSelectCategoryItemAttachment";
          break;

        case "groupnewsletter":
          this.services = "groupNewsletterServices";
          break;

       case "cities":
          this.services = "citiesServices";
          break; 

        case "codeProduct":
          this.services = "itemServices";
          break;

        case "customer":
          this.services = "customerServices";
          break;

        case "states":
          this.services = "statesServices";
          break;

        case "producer":
          this.services = "producerServices";
          break;

        case "people":
          this.services = "peopleServices";
          break;

        case "messagetype":
          this.services = "messageTypeServices";
          break;

        case "formBuilderFieldType":
          this.services = "formBuilderServices";
          break;

        case "formBuilderFieldCategoryType":
          this.services = "formBuilderTypeServices";
          break;

        case "vouchertype":
          this.services = "voucherTypeServices";
          break;
          break;

        case "typeOptional":
          this.services = "typeOptionalServices";
          break;

           case "payments":
          this.services = "paymenttypeServices";
          break;

        case "list":
          this.services = "listServices";
          break;
          
          case "carrierstype":
          this.services = "carrierstypeServices";
          break;
          

        case "relatedItem":
          this.services = "itemServices";
          break;

        case "advertisingarea":
          this.services = "advertisingAreaServices";
          break;

         case "bookingplace":
          this.services = "placesServices";
          break;

        case "bookingservices":
          this.services = "BookingServiceServices";
          break;

        case "bookingemployee":
          this.services = "employeesServices";
          break;

        case "bookingstates":
          this.services = "bookingStatesServices";
          break;

        case "communityImageCategory":
          this.services = "communityImageCategoryServices";
        break;
          
        /* scheduler page */
        case "typeScheduler":
          this.services = "schedulerServices";
          this.servicesOption = "typeScheduler";
        break;
        
        case "repeatHourScheduler":
          this.services = "schedulerServices";
          this.servicesOption = "repeatHourScheduler";
        break;

        case "repeatMinutesScheduler":
          this.services = "schedulerServices";
          this.servicesOption = "repeatMinutesScheduler";
        break;
        /* end scheduler page */

        /* typology keywords */
        case "typologyKeywords":
          this.services = "typologyKeywordsServices";
          this.servicesOption = "getAllSelect";
        break;
        /* end typology keywords */

        default:
          this.services = "";
          break;
      }

      if (functionHelpers.isValued(this.services)) {
        if (functionHelpers.isValued(this.servicesOption)) {
          switch (vm.service) {
            case "templateEditorGroupByType":
              window[this.services][this.servicesOption](
                "*",
                vm.param.type,
                function (result) {
                  if (functionHelpers.isValued(result.data)) {
                    result.data.push({ id: 0, text: "Tutte" });
                    vm.setData(result.data);
                  }
                },
                function () {}
              );
              break;

            default:
              window[this.services][this.servicesOption](
                "*",
                function (result) {
                  if (functionHelpers.isValued(result.data)) {
                    vm.setData(result.data);
                  }
                },
                function () {}
              );
              break;
          }
        } else {
          window[this.services].select(
            "*",
            function (result) {
              if (functionHelpers.isValued(result.data)) {
                vm.setData(result.data);
              }
            },
            function () {}
          );
        }
      }

      $(this.$el)
        .select2({
          placeholder: dictionaryHelpers.getDictionary("Select2Empty"),
          minimumInputLength: vm._minimumInputLength,
          language: {
            // inputTooShort(args) {
            //   var remainingChars = args.minimum - args.input.length;
            //   return dictionaryHelpers
            //     .getDictionary("PleaseEnterXorMoreCharacters")
            //     .replace("{0}", remainingChars);
            // },
            noResults() {
              return dictionaryHelpers.getDictionary("NoResultsFound");
            },
            searching() {
              return dictionaryHelpers.getDictionary("Searching");
            },
            errorLoading() {
              return dictionaryHelpers.getDictionary("ErrorLoading");
            },
          },
          templateResult: function (d) {
            if (d.html != "") {
              return '<i class="' + d.html + '"></i> - ' + d.text;
            } else {
              return d.text;
            }
          },
          templateSelection: function (d) {
            return d.text;
          },
          escapeMarkup: function (markup) {
            return markup;
          },
        })
        .val(this.value)
        .trigger("change")
        .on("select2:open", function (e) {
          if (vm.service == "customerBeforeDDTSixten") {
            var $search =
              $("#" + this.id).data("select2").dropdown.$search ||
              $("#" + this.id).data("select2").selection.$search;
            $search.val("C");
            $search.trigger("keyup");
          }
        })
        .on("change", function () {
          if (
            functionHelpers.isValued(vm.change) &&
            functionHelpers.isFunction(vm.change) &&
            vm.oldValue != this.value
          ) {
            vm.change(this.value);
            vm.oldValue = this.value;
          }
          vm.$emit("input", this.value);
        });

      if (
        functionHelpers.isValued(this.options) &&
        functionHelpers.isValued(this.options.id) &&
        functionHelpers.isValued(this.options.text)
      ) {
        $(this.$el)
          .append(new Option(this.options.text, this.options.id, false, false))
          .trigger("change");
      }

      if (this.service == "months") {
        this.options = calendarHelpers.selectMonth();
      }
    },
    destroy() {
      $(this.$el).off().select2("destroy");
    },
    setData(data) {
      $(this.$el).empty();
      $(this.$el).select2({ data: data });

      if (functionHelpers.isValued(this.default)) {
        if (functionHelpers.isValued(this.default.id)) {
          // $(this.$el)
          //   .append(
          //     new Option(this.default.text, this.default.id, false, false)
          //   )
          //   .trigger("change");
          $(this.$el).val(this.default.id).trigger("change");
        } else {
          $(this.$el).val(this.default).trigger("change");
        }
      } else {
        if (this.service == "templateEditorGroupByType") {
          var id = 0;
          $.each(data, function (i, value) {
            if (value.text == "Base") {
              id = value.id;
            }
          });

          if (id > 0) {
            $(this.$el).val(id).trigger("change");
          }
        } else {
          $(this.$el).val(null).trigger("change");
        }
      }
    },
  },
};
</script>
<style>
.select2 {
  display: block;
  width: 100%;
  height: 52px;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 15px;
  color: #5c6873;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  padding-top:15px;
}
.select2-container--default .select2-selection--single {
  border: 0px;
  background: transparent;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  margin-top:3px;
  height: 35px;
}



.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #5c6873;
    line-height: 15px;
    font-size:16px;
}

#select_AdminPagesView_IdLanguage + .select2, #user_id + .select2, #groupSms + .select2 {
  height: calc(1.5em + 0.75rem + 2px);
  float:left;
  padding-top: 10px;
}
#id_starting_price_list + .select2 {
height: calc(1.5em + 0.75rem + 2px);
   margin-top: -26px;
    margin-left: 46px;
}
#id_destination_price_list + .select2 {
height: calc(1.5em + 0.75rem + 2px);
    margin-top: -28px;
    margin-left: 48px;
}

.userid + .select2{
  height: 56px!important; 
}

.umSupportItem + .select2{
    height: 35px;
    padding-top: 3px;
}
.select2-container--default .select2-selection--single{
  border:0px solid #fff;
}



</style>