<template>
  <select class="custom-select form-control service-areas" :id="id" :name="name">
    <slot></slot>
  </select>
</template>

<script>
export default {
  name: "select2Ajax",
  props: [
    "change",
    "default",
    "id",
    "name",
    "options",
    "service_areas",
    "service",
    "param",
    "value",
    "minimumInputLength"
  ],
  data() {
    return {
      _minimumInputLength: 2,
      msg: "",
      url: "",
      urlOption: "",
      oldValue: 999999999999999
    };
  },
  mounted() {
    if (!functionHelpers.isValued(this.minimumInputLength)) {
      this._minimumInputLength = 3;
    }
    this.create();
  },
  destroyed: function() {
    this.destroy();
  },
  watch: {
    value: function(value) {
      if (
        functionHelpers.isValued(this.value) &&
        !functionHelpers.isValued(this.$el[0])
      ) {
        configurationHelpers.getValueForSelect(this);
      }
      $(this.$el)
        .val(value)
        .trigger("change");
    },
    options: function() {
      $(this.$el).empty();
      $(this.$el).select2({ data: this.options });

      if (functionHelpers.isValued(this.default)) {
        if (functionHelpers.isValued(this.default.id)) {
          // $(this.$el)
          //   .append(
          //     new Option(this.default.text, this.default.id, false, false)
          //   )
          //   .trigger("change");
          $(this.$el)
            .val(this.default.id)
            .trigger("change");
        } else {
          $(this.$el)
            .val(this.default)
            .trigger("change");
        }
      } else {
        $(this.$el)
          .val(null)
          .trigger("change");
      }
    },
    service_areas: function(value) {},
    default() {
      if (!functionHelpers.isValued(this.options)) {
        this.destroy();
        this.create();
      }
      if (functionHelpers.isValued(this.default)) {
        if (functionHelpers.isValued(this.default.id)) {
          if ($(this.$el).val() != this.default.id) {
            $(this.$el)
              .append(
                new Option(this.default.text, this.default.id, false, false)
              )
              .trigger("change");
          }
          $(this.$el)
            .val(this.default.id)
            .trigger("change");
        } else {
          $(this.$el)
            .val(this.default)
            .trigger("change");
        }
      } else {
        $(this.$el)
          .val(null)
          .trigger("change");
      }
    },
    minimumInputLength() {
      this._minimumInputLength = this.minimumInputLength;
    }
  },
  methods: {
    create() {
      let vm = this;

      switch (this.service) {
        case "carriages":
          this.url = "carriage";
          break;

        case "carriers":
          this.url = "carrier";
          break;

        case "customerBeforeDDTSixten":
          this.url = "customer";
          this.urlOption = "BeforeDDTSixten";
          break;

        case "icons":
          this.url = "icon";
          break;

        case "languages":
          this.url = "language";
          break;

        case "packageByErp":
          this.url = "package";
          this.urlOption = "ByErp";
          break;

        case "packagingTypeSixten":
          this.url = "packagingTypeSixten";
          break;

        case "pageShareType":
          this.url = "pageShareType";
          break;

        case "pageCategory":
          this.url = "pageCategory";
          break;

        case "shipmentCodeSixten":
          this.url = "shipmentCodeSixten";
          break;

        case "templateEditorGroup":
          this.url = "templateeditorgroup";
          break;

        case "templateEditorGroupByType":
          this.url = "templateeditorgroup";
          this.urlOption = "GroupTemplate";
          break;

        case "templateEditorType":
          this.url = "templateeditortype";
          break;

        case "users":
          this.url = "user";
          break;

        default:
          this.url = "";
          break;
      }

      $(this.$el)
        .select2({
          placeholder: dictionaryHelpers.getDictionary("Select2Empty"),
          minimumInputLength: vm._minimumInputLength,
          language: {
            inputTooShort(args) {
              var remainingChars = args.minimum - args.input.length;
              return dictionaryHelpers
                .getDictionary("PleaseEnterXorMoreCharacters")
                .replace("{0}", remainingChars);
            },
            noResults() {
              return dictionaryHelpers.getDictionary("NoResultsFound");
            },
            searching() {
              return dictionaryHelpers.getDictionary("Searching");
            },
            errorLoading() {
              return dictionaryHelpers.getDictionary("ErrorLoading");
            }
          },
          templateResult: function(d) {
            if (d.html != "") {
              return '<i class="' + d.html + '"></i> - ' + d.text;
            } else {
              return d.text;
            }
          },
          templateSelection: function(d) {
            return d.text;
          },
          escapeMarkup: function(markup) {
            return markup;
          },
          ajax: {
            url:
              configData.wsRootServicesUrl +
              "/api/v1/" +
              this.url +
              "/select" +
              this.urlOption,
            dataType: "json",
            headers: {
              Accept: "application/json",
              Authorization: storageData.sTokenKey()
            },
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: function(params) {
              switch (vm.service) {
                // case "customerBeforeDDTSixten":
                //   return {
                //     idFunctionality: menuHelpers.getIdFunctionByAdminUrl(
                //       vm.$route.params
                //     ),
                //     search: $.trim(params.term)
                //   };

                case "packageByErp":
                  return {
                    idErp: vm.$route.params.id,
                    idFunctionality: menuHelpers.getIdFunctionByAdminUrl(
                      vm.$route.params
                    ),
                    search: $.trim(params.term)
                  };

                case "templateEditorGroupByType":
                  return {
                    type: vm.param.type,
                    idFunctionality: menuHelpers.getIdFunctionByAdminUrl(),
                    search: $.trim(params.term)
                  };

                default:
                  return {
                    idFunctionality: menuHelpers.getIdFunctionByAdminUrl(
                      vm.$route.params
                    ),
                    search: $.trim(params.term)
                  };
              }
            },
            processResults: function(data) {
              return {
                results: data.data
              };
            },
            cache: true
          }
        })
        .val(this.value)
        .trigger("change")
        .on("select2:open", function(e) {
          if (vm.service == "customerBeforeDDTSixten") {
            // $("#" + this.id).select2("search", "C");
            var $search =
              $("#" + this.id).data("select2").dropdown.$search ||
              $("#" + this.id).data("select2").selection.$search;
            $search.val("C");
            $search.trigger("keyup");
          }
        })
        .on("change", function() {
          if (
            functionHelpers.isValued(vm.change) &&
            functionHelpers.isFunction(vm.change) &&
            vm.oldValue != this.value
          ) {
            vm.change(this.value);
            vm.oldValue = this.value;
          }
          vm.$emit("input", this.value);
        });

      if (
        functionHelpers.isValued(this.options) &&
        functionHelpers.isValued(this.options.id) &&
        functionHelpers.isValued(this.options.text)
      ) {
        $(this.$el)
          .append(new Option(this.options.text, this.options.id, false, false))
          .trigger("change");
      }

      if (this.service == "months") {
        this.options = calendarHelpers.selectMonth();
      }
    },
    destroy() {
      $(this.$el)
        .off()
        .select2("destroy");
    }
  }
};
</script>
