<template>
  <div id="adminCrmImageCategory">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ crm }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Categorie immagini</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>Categorie immagini</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
                  <div class="row align-btns" style="width:85%;">
                    <div class="col-lg-6">
                      <button id="btnAdd" type="button" class="btn btn-primary" @click="onClickNew">
                        <i class="fa fa-plus"></i>
                        <span>{{ add }}</span>
                      </button>
                    </div>
                    <div class="col-3 text-left">
                      <select2
                        id="select_AdminPagesView_IdLanguage"
                        ref="select_AdminPagesView_IdLanguage"
                        class="form-control nopadding"
                        style="width:75%"
                        :filterable="false"
                        service="languages"
                        v-model="
                    pageValueSelected.languagePageSetting.idLanguage
                  "
                        :default="defaultLanguageOptions"
                        :change="languageChange"
                      />
                      <span style="margin-left:10px;">{{ language }}</span>
                    </div>
                  </div>
              <div class="card-body" style="padding:0px;">
              <bootstrapTable
                :configurations="tableConfiguration"
                :datas="tableData"
                id="tableImageCategory"
                :onCheck="onTableCheckImageCategory"
                :onCheckAll="onTableCheckImageCategory"
                :onUncheck="onTableCheckImageCategory"
                :onUncheckAll="onTableCheckImageCategory"
                ref="tableImageCategory"
                :results="tableimageCategoryResult"
              ></bootstrapTable>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabimageCategoryDetail" role="tabpanel">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="AdminSettingimageCategory"
                  :configurations="detailimageCategoryConfiguration"
                  :jsonValue="detailimageCategoryData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="cancelNewimageCategory"
                  ><i class="fa fa-times"></i>&nbsp; {{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="saveNewimageCategory"
                  ><i class="fa fa-floppy-o"></i>&nbsp; {{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import Select2 from "@/components/Select2.vue";
import PageDetail from "@/components/PageDetail.vue";
export default {
  name: "adminCrmImageCategory",
  components: {
    BootstrapTable,
    Select2,
    PageDetail,
  },
  data: function () {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      save: dictionaryHelpers.getDictionary("Save"),
      crm: dictionaryHelpers.getDictionary("CRM"),
      imageCategory: dictionaryHelpers.getDictionary("imageCategory"),
      language: dictionaryHelpers.getDictionary("Language"),
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      defaultLanguageOptions: [],
      detailimageCategoryConfiguration: [],
      tableimageCategoryResult: [],
      detailimageCategoryData: {},
      tableConfiguration: [],
      rowIdSelected:0,
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
      },
      tableData: [],
      disableButton: true,
      url: window.location.pathname,
    };
  },
  created() {
    var adminCrmImageCategory = this;

    spinnerHelpers.show();
    adminCrmImageCategory.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage(),
    };

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function (result) {
      adminCrmImageCategory.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;;
      adminCrmImageCategory.detailimageCategoryConfiguration = result.data.tabsConfigurations[0].pageConfigurations;

      adminCrmImageCategory.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminCrmImageCategory = this;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      }

      communityImageCategoryServices.getAll(ln, function (result) {
        adminCrmImageCategory.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    onTableCheckImageCategory() {
      var countRowSelected = this.$refs.tableImageCategory.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminCrmImageCategory = this;
      adminCrmImageCategory.loadTable(value);
      spinnerHelpers.hide();
    },
    CommunityImagesCategoriesFormatter(value, row, index, field) {
      var adminCrmImageCategory = this;
      var html = "";
      html +=
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<button class="btn btn-success" onclick="adminCrmImageCategory.__vue__.viewDatailInfo(' +
        row.id +
        ')"><i class="fa fa-pencil"/></button>';
      html +=
        '<button class="btn btn-danger" onclick="adminCrmImageCategory.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';

      html += "</div>";
      return html;
    },
    viewDatailInfo(id) {
      spinnerHelpers.show();
      var adminCrmImageCategory = this;
      this.rowIdSelected = id;

      $.each(this.tableData, function (i, row) {
        if (adminCrmImageCategory.rowIdSelected == row.id) {
          adminCrmImageCategory.detailimageCategoryData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabimageCategoryDetail").addClass("active");
      spinnerHelpers.hide();
    },
    delete(id) {
      var adminCrmImageCategory = this;
      spinnerHelpers.show();
      communityImageCategoryServices.del(id, function () {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("DeleteCompleted")
        );
        var ln =
          adminCrmImageCategory.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminCrmImageCategory.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },
    onClickNew() {
       var adminCrmImageCategory = this;
      spinnerHelpers.show();
      adminCrmImageCategory.rowIdSelected = 0;
      
      this.detailimageCategoryData = {};
      $("#tabTable").removeClass("active");
      $("#tabimageCategoryDetail").addClass("active");
      spinnerHelpers.hide();
    },
    cancelNewimageCategory() {
      spinnerHelpers.show();
      this.detailimageCategoryData = {};
      $("#tabTable").addClass("active");
      $("#tabimageCategoryDetail").removeClass("active");
      spinnerHelpers.hide();
    },
    saveNewimageCategory() {
      spinnerHelpers.show();
      var adminCrmImageCategory = this;
      this.detailimageCategoryData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailimageCategoryData.id = this.rowIdSelected;

        communityImageCategoryServices.update(this.detailimageCategoryData, function (
          result
        ) {
          notificationHelpers.success(adminCrmImageCategory.updateCompleted);
          adminCrmImageCategory.loadTable();
          $("#tabTable").addClass("active");
          $("#tabimageCategoryDetail").removeClass("active");
        });
      } else {
        communityImageCategoryServices.insert(this.detailimageCategoryData, function (
          result
        ) {
          notificationHelpers.success(adminCrmImageCategory.insertCompleted);
          adminCrmImageCategory.loadTable();
          $("#tabTable").addClass("active");
          $("#tabimageCategoryDetail").removeClass("active");
        });
      }
    },
  },
};
</script>
<style scoped>
.card-title-admin .card {
  background: transparent;
  border: 0px;
}
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}

.align-btns {
 position: absolute;
    z-index: 1;
    margin-top: 10px;
}
.span {
  position: absolute;
  margin-top: 75px;
}
</style>
