<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon favicon" href="<%= BASE_URL %>icon.png">
  <title>Bormac</title>
</head>

<body id="bodyMain" class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  <noscript>
    <strong>We're sorry but Bormac doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>

  <div class="modal" id="spinnerView" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
       data-keyboard="false" style="z-index:10000 !important;">
    <div class="modal-dialog modal-dialog-centered" role="document" style="z-index:10000 !important;">
      <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
    </div>
  </div>
  <!-- built files will be auto injected -->
</body>

</html>