<template>
  <VCard class="card block" width="450">
    <!--Toolbar-->
    <VToolbar dark :style="{ 'background-color': color }">
      <VAppBarNavIcon>
        <VIcon>{{ icon }}</VIcon>
        <!-- <flowy-drag-handle>
          <VIcon>{{ icon }}</VIcon>
        </flowy-drag-handle> -->
      </VAppBarNavIcon>
      <VToolbarTitle>{{ title }}</VToolbarTitle>
      <VSpacer></VSpacer>

      <!--Edit-->
      <VBtn icon @click="expanded = !expanded" v-if="!expanded">
        <VIcon>{{ expanded ? "mdi-chevron-up" : "mdi-pencil" }}</VIcon>
      </VBtn>
    </VToolbar>

    <!--Summary-->
    <VCardSubtitle v-html="summary"> </VCardSubtitle>

    <!--Configs-->
    <v-expand-transition>
      <div v-show="expanded">
        <v-divider></v-divider>

        <!--Custom configuration based on the node type-->
        <v-card-text class="configuration">
          <!--Trigger-->
          <div v-if="form.type === $k.ENUMS.NODE_TYPES.TRIGGER">
            <VSelect
              v-model="form.trigger.type"
              :items="triggerTypes"
              label="Tipologia trigger"
              item-text="human"
              item-value="value"
              outlined
            ></VSelect>

            <VDivider
              class="mb-6"
              v-if="form.trigger.type === $k.ENUMS.TRIGGER_TYPES.DB_WATCHER"
            ></VDivider>

            <!--DB Watcher-->
            <div v-if="form.trigger.type === $k.ENUMS.TRIGGER_TYPES.DB_WATCHER">
              <!--Table name-->
              <VSelect
                v-model="form.trigger.db_watcher.table_name"
                :items="sqlTables"
                label="Nome tabella"
                outlined
              ></VSelect>

              <!--Column name-->
              <VSelect
                v-model="form.trigger.db_watcher.column_name"
                :items="availableColumns_dbWatcher"
                label="Nome colonna"
                outlined
              ></VSelect>

              <!--Change from/to-->
              <v-row>
                <v-col>
                  <VTextField
                    label="Cambiamento da"
                    outlined
                    v-model="form.trigger.db_watcher.from_value"
                  ></VTextField>
                </v-col>

                <span style="padding-top: 20px"
                  ><VIcon>mdi-arrow-right</VIcon></span
                >

                <v-col>
                  <VTextField
                    label="a"
                    outlined
                    v-model="form.trigger.db_watcher.to_value"
                  ></VTextField>
                </v-col>
              </v-row>

              <!--Contitions-->
              <div class="conditions-header">
                <span>Condizioni</span
                ><VBtn icon @click="addCondition('db_watcher')">
                  <v-icon>mdi-plus</v-icon>
                </VBtn>
              </div>
              <v-row
                class="conditions"
                v-for="(condition, idx) in form.trigger.db_watcher.conditions"
                :key="idx"
              >
                <v-col
                  cols="2"
                  class="uc"
                  :class="{ clickable: idx !== 0 }"
                  @click="toggleOperand(condition)"
                >
                  {{ idx === 0 ? "WHERE" : condition.operand }}
                </v-col>
                <v-col cols="3">
                  <VTextField
                    label="Chiave"
                    outlined
                    v-model="condition.table_key"
                  ></VTextField>
                </v-col>
                <v-col
                  cols="1"
                  class="clickable"
                  @click="toggleComparer(condition)"
                >
                  <span
                    ><VIcon v-text="comparerIcon(condition.comparer)"></VIcon
                  ></span>
                </v-col>
                <v-col cols="5">
                  <VTextField
                    label="Valore"
                    outlined
                    v-model="condition.key"
                  ></VTextField>
                </v-col>
                <v-col cols="1" class="del">
                  <VBtn
                    icon
                    :disabled="idx === 0"
                    @click="form.trigger.db_watcher.conditions.splice(idx, 1)"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </VBtn>
                </v-col>
              </v-row>
            </div>
          </div>

          <!--Operation-->
          <div v-else-if="form.type === $k.ENUMS.NODE_TYPES.OPERATION">
            <!--Type-->
            <VSelect
              v-model="form.operation.type"
              :items="operationTypes"
              label="Tipologia operazione"
              item-text="human"
              item-value="value"
              outlined
            ></VSelect>

            <VDivider
              class="mb-6"
              v-if="
                form.operation.type !==
                $k.ENUMS.OPERATION_TYPES.NEWSLETTER_SUBSCRIPTION
              "
            ></VDivider>

            <!--Email-->
            <div v-if="form.operation.type === $k.ENUMS.OPERATION_TYPES.EMAIL">
              <VTextField
                v-if="false"
                label="Destinatario"
                outlined
                v-model="form.operation.email.recipient"
              ></VTextField>

              <VSelect
                :disabled="!canSelectRecipientsGroups"
                v-model="form.operation.email.group_id"
                :items="emailGroups"
                label="Gruppo destinatari"
                item-text="human"
                item-value="value"
                outlined
              ></VSelect>

              <VSelect
                v-model="form.operation.email.template_id"
                :items="emailTemplates"
                label="Modello E-Mail"
                item-text="human"
                item-value="value"
                outlined
              ></VSelect>
            </div>

            <!--Database-->
            <div v-else>
              <VSelect
                v-model="form.operation.db.table_name"
                :items="sqlTables"
                label="Nome tabella"
                outlined
              ></VSelect>

              <VSelect
                v-model="form.operation.db.column_name"
                :items="availableColumns_dbOperation"
                label="Nome colonna"
                outlined
              ></VSelect>

              <VTextField
                label="Valore da aggiornare"
                outlined
                v-model="form.operation.db.value"
              ></VTextField>

              <!--Contitions-->
              <div class="conditions-header">
                <span>Condizioni</span
                ><VBtn icon @click="addCondition('db_operation')">
                  <v-icon>mdi-plus</v-icon>
                </VBtn>
              </div>
              <v-row
                class="conditions"
                v-for="(condition, idx) in form.operation.db.conditions"
                :key="idx"
              >
                <v-col
                  cols="2"
                  class="uc"
                  :class="{ clickable: idx !== 0 }"
                  @click="toggleOperand(condition)"
                >
                  {{ idx === 0 ? "WHERE" : condition.operand }}
                </v-col>
                <v-col cols="3">
                  <VTextField
                    label="Chiave"
                    outlined
                    v-model="condition.table_key"
                  ></VTextField>
                </v-col>
                <v-col
                  cols="1"
                  class="clickable"
                  @click="toggleComparer(condition)"
                >
                  <span
                    ><VIcon v-text="comparerIcon(condition.comparer)"></VIcon
                  ></span>
                </v-col>
                <v-col cols="5">
                  <VTextField
                    label="Valore"
                    outlined
                    v-model="condition.key"
                  ></VTextField>
                </v-col>
                <v-col cols="1" class="del">
                  <VBtn
                    icon
                    :disabled="idx === 0"
                    @click="form.operation.db.conditions.splice(idx, 1)"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </VBtn>
                </v-col>
              </v-row>
            </div>
          </div>

          <!--Delay-->
          <div v-else-if="form.type === $k.ENUMS.NODE_TYPES.DELAY">
            <v-row>
              <v-col cols="12">
                <v-slider
                  v-model="models.delay.interval.days"
                  :max="100"
                  class="align-center"
                >
                  <template v-slot:append>
                    <v-text-field
                      v-model="models.delay.interval.days"
                      label="Giorni"
                      class="mt-0 pt-0"
                      outlined
                      type="number"
                      style="width: 120px"
                    ></v-text-field>
                  </template>
                </v-slider>
              </v-col>

              <v-col cols="12">
                <v-slider
                  v-model="models.delay.interval.hours"
                  :max="23"
                  class="align-center"
                >
                  <template v-slot:append>
                    <v-text-field
                      v-model="models.delay.interval.hours"
                      class="mt-0 pt-0"
                      outlined
                      label="Ore"
                      type="number"
                      style="width: 120px"
                    ></v-text-field>
                  </template>
                </v-slider>
              </v-col>

              <v-col cols="12">
                <v-slider
                  v-model="models.delay.interval.minutes"
                  :max="59"
                  class="align-center"
                >
                  <template v-slot:append>
                    <v-text-field
                      v-model="models.delay.interval.minutes"
                      class="mt-0 pt-0"
                      outlined
                      label="Minuti"
                      type="number"
                      style="width: 120px"
                    ></v-text-field>
                  </template>
                </v-slider>
              </v-col>
            </v-row>
          </div>

          <!--Time dispatcher-->
          <div v-else-if="form.type === $k.ENUMS.NODE_TYPES.TIME_DISPATCHER">
            <!--Days of week-->
            <v-row class="days">
              <v-col v-for="(dow, idx) in $k.ENUMS.DAYS_OF_WEEK" :key="idx">
                <v-chip
                  class="clickable"
                  @click="
                    form.time_dispatcher.repeat_on.indexOf(dow.value) === -1
                      ? form.time_dispatcher.repeat_on.push(dow.value)
                      : form.time_dispatcher.repeat_on.splice(
                          form.time_dispatcher.repeat_on.indexOf(dow.value),
                          1
                        )
                  "
                  :color="
                    form.time_dispatcher.repeat_on.indexOf(dow.value) !== -1
                      ? '#6c5ce7'
                      : '#CFD8DC'
                  "
                  :text-color="
                    form.time_dispatcher.repeat_on.indexOf(dow.value) !== -1
                      ? '#FFF'
                      : '#000'
                  "
                  >{{ dow.short }}</v-chip
                >
              </v-col>
            </v-row>

            <!--Period-->
            <v-row class="period">
              <v-col>
                <VSelect
                  v-model="form.time_dispatcher.repeat_each"
                  :items="periodTypes"
                  label="Ripeti ogni"
                  item-text="human"
                  item-value="value"
                  outlined
                ></VSelect>
              </v-col>
            </v-row>

            <!--Time of day-->
            <v-row>
              <v-col>
                <v-dialog
                  ref="dialogTimePicker"
                  v-model="models.time_dispatcher.time_of_day_picker_open"
                  :return-value.sync="form.time_dispatcher.time_of_day"
                  persistent
                  width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="form.time_dispatcher.time_of_day"
                      outlined
                      label="Alle ore"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    color="#6c5ce7"
                    :format="options.timePicker12Hr ? 'ampm' : '24hr'"
                    v-if="models.time_dispatcher.time_of_day_picker_open"
                    v-model="form.time_dispatcher.time_of_day"
                    full-width
                  >
                    <v-spacer></v-spacer>
                    <v-btn
                      text
                      color="primary"
                      @click="
                        models.time_dispatcher.time_of_day_picker_open = false
                      "
                    >
                      Annulla
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="
                        $refs.dialogTimePicker.save(
                          form.time_dispatcher.time_of_day
                        )
                      "
                    >
                      OK
                    </v-btn>
                  </v-time-picker>
                </v-dialog>
              </v-col>
            </v-row>

            <!--Time or occurrencies?-->
            <v-row style="margin-top: -36px">
              <v-col style="display: flex; justify-content: center">
                <v-radio-group
                  v-model="form.time_dispatcher.limit_occurrencies"
                  row
                >
                  <v-radio label="Limite eventi" :value="true"></v-radio>
                  <v-radio label="Limite temporale" :value="false"></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>

            <!--Max occurrencies-->
            <v-row v-if="form.time_dispatcher.limit_occurrencies">
              <v-col>
                <VTextField
                  label="Numero massimo di eventi"
                  type="number"
                  outlined
                  v-model="form.time_dispatcher.max_occurrencies"
                ></VTextField>
              </v-col>
            </v-row>

            <!--Max date-->
            <v-row v-else>
              <v-col>
                <v-dialog
                  ref="dialogDatePicker"
                  v-model="models.time_dispatcher.repeat_until_picker_open"
                  :return-value.sync="form.time_dispatcher.repeat_until"
                  persistent
                  width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="form.time_dispatcher.repeat_until"
                      outlined
                      label="Ripeti fino al"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    color="#6c5ce7"
                    v-if="models.time_dispatcher.repeat_until_picker_open"
                    v-model="form.time_dispatcher.repeat_until"
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn
                      text
                      color="primary"
                      @click="
                        models.time_dispatcher.repeat_until_picker_open = false
                      "
                    >
                      Annulla
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="
                        $refs.dialogDatePicker.save(
                          form.time_dispatcher.repeat_until
                        )
                      "
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-col>
            </v-row>
          </div>
        </v-card-text>

        <v-divider></v-divider>

        <!--Actions-->
        <VCardActions>
          <!--Delete-->
          <VBtn icon @click="remove()">
            <v-icon>mdi-delete</v-icon>
          </VBtn>

          <VSpacer></VSpacer>

          <!--Save-->
          <VBtn icon color="success" @click="save">
            <v-icon>mdi-check</v-icon>
          </VBtn>
        </VCardActions>
      </div>
    </v-expand-transition>
  </VCard>
</template>

<script>
import EventBus from "../event-bus";
import constants from "../utils/constants.js";
import ui from "../utils/ui.js";
export default {
  data() {
    return {
      expanded: false,
      models: {
        delay: {
          interval: {
            days: 0,
            hours: 0,
            minutes: 0,
          },
        },
        time_dispatcher: {
          time_of_day_picker_open: false,
          repeat_until_picker_open: false,
          time_of_day: {
            days: 0,
            hours: 0,
            minutes: 0,
          },
        },
      },
      form: { ...constants.STRUCTURES.DEFAULT_NODE },

      /**
       * An instance of the Root component
       */
      root: {},
      availableColumns_dbWatcher: [],
      availableColumns_dbOperation: [],
    };
  },
  props: ["remove", "node"],
  computed: {
    /**
     * Module options, accessible from the template
     */
    options() {
      return this.$automations;
    },

    /**
     * Determines whether this node is the Root of the tree
     */
    isRoot() {
      return +this.form.parent_node_id <= 0;
    },

    /**
     * Gets the icon that represents a node
     */
    icon() {
      // Override
      if (
        this.form.type === this.$k.ENUMS.NODE_TYPES.OPERATION &&
        this.form.operation.type === this.$k.ENUMS.OPERATION_TYPES.DB
      )
        return "mdi-database";

      return ui.ICONS[this.form.type];
    },

    /**
     * Gets the title of a node
     */
    title() {
      return ui.TEXTS.NODE_TYPES[this.form.type];
    },

    /**
     * Gets the color of the toolbar of a node
     */
    color() {
      return ui.COLORS[this.form.type];
    },

    /**
     * Enumerates the available trigger types
     */
    triggerTypes() {
      const source = Object.keys(this.$k.ENUMS.TRIGGER_TYPES)
        .map((k) => ({
          value: this.$k.ENUMS.TRIGGER_TYPES[k],
          human: this.$ui.TEXTS.TR(k),
        }))
        .filter((x) => {
          // The root can't be of type read_receipt
          if (x.value === this.$k.ENUMS.TRIGGER_TYPES.READ_RECEIPT)
            return !this.isRoot;

          // The newsletter subscription can be added ONLY as root node
          if (x.value === this.$k.ENUMS.TRIGGER_TYPES.NEWSLETTER_SUBSCRIPTION)
            return this.isRoot;

          return true;
        });

      return source;
    },

    /**
     * Enumerates the available operation types
     */
    operationTypes() {
      const source = Object.keys(this.$k.ENUMS.OPERATION_TYPES)
        .map((k) => ({
          value: this.$k.ENUMS.OPERATION_TYPES[k],
          human: this.$ui.TEXTS.TR(k),
        }))
        .filter(() => {
          return true;
        });

      return source;
    },

    /**
     * Enumerates the available periods
     */
    periodTypes() {
      const source = Object.keys(this.$k.ENUMS.PERIODS)
        .map((k) => ({
          value: this.$k.ENUMS.PERIODS[k],
          human: this.$ui.TEXTS.TR(k),
        }))
        .filter(() => {
          return true;
        });

      return source;
    },

    /**
     * Enumerates the available E-Mail templates
     */
    emailTemplates() {
      return this.root.availableTemplates.map((x) => ({
        value: x.id,
        human: x.name,
      }));
    },

    /**
     * Gets the summary of a block, based on its configuration
     */
    summary() {
      if (this.form.type === this.$k.ENUMS.NODE_TYPES.TRIGGER) {
        // Trigger
        switch (this.form.trigger.type) {
          case this.$k.ENUMS.TRIGGER_TYPES.READ_RECEIPT:
            return `Trigger che scatta quando l'E-Mail precedente viene aperta`;
          case this.$k.ENUMS.TRIGGER_TYPES.NEWSLETTER_SUBSCRIPTION:
            return `Trigger che scatta l'utente si iscrive alla newsletter`;
          case this.$k.ENUMS.TRIGGER_TYPES.DB_WATCHER: {
            if (
              !this.form.trigger.db_watcher.table_name ||
              !this.form.trigger.db_watcher.column_name
            )
              return `<span>Questo blocco richiede una configurazione</span>`;
            const from =
              this.form.trigger.db_watcher.from_value === "*"
                ? "qualsiasi valore"
                : this.form.trigger.db_watcher.from_value;
            const to =
              this.form.trigger.db_watcher.to_value === "*"
                ? "qualsiasi valore"
                : this.form.trigger.db_watcher.to_value;

            return `Trigger che scatta quando il valore della colonna <b>${
              this.form.trigger.db_watcher.column_name
            }</b> sulla tabella <b>${
              this.form.trigger.db_watcher.table_name
            }</b> cambia da [<b>${from}</b>] a [<b>${to}</b>] in corrispondenza della condizione <code>${this.getSummaryConditions(
              this.form.trigger.db_watcher.conditions
            )}</code>`;
          }
          default:
            return "Configura il trigger";
        }
      } else if (this.form.type === this.$k.ENUMS.NODE_TYPES.OPERATION) {
        // Operation
        switch (this.form.operation.type) {
          case this.$k.ENUMS.OPERATION_TYPES.EMAIL: {
            if (
              !this.form.operation.email.recipient &&
              !this.form.operation.email.group_id &&
              this.canSelectRecipientsGroups
            )
              return `<span>Questo blocco richiede una configurazione</span>`;
            const template = this.root.availableTemplates.find(
              (x) => x.id === this.form.operation.email.template_id
            );
            const group = this.root.availableGroups.find(
              (x) => x.id === this.form.operation.email.group_id
            );
            let humanRecipient =
              this.form.operation.email.recipient ||
              (group ? group.name : "Gruppo sconosciuto");

            if (!this.canSelectRecipientsGroups)
              humanRecipient = "chi supera il trigger precedente";

            return `Invio di una E-Mail a <b>${humanRecipient}</b> con il modello <code>${
              template ? template.name : "Sconosciuto"
            }</code>`;
          }
          case this.$k.ENUMS.OPERATION_TYPES.DB:
            if (
              !this.form.operation.db.value ||
              !this.form.operation.db.table_name ||
              !this.form.operation.db.column_name
            )
              return `<span>Questo blocco richiede una configurazione</span>`;
            return `Aggiornamento del valore <b>${
              this.form.operation.db.value
            }</b> sulla tabella <b>${
              this.form.operation.db.table_name
            }</b> in corrispondenza della condizione <code>${this.getSummaryConditions(
              this.form.operation.db.conditions
            )}</code>`;
          default:
            return "Configura l'operazione";
        }
      } else if (this.form.type === this.$k.ENUMS.NODE_TYPES.DELAY) {
        // Delay
        const d = this.models.delay.interval.days
          ? `${this.models.delay.interval.days} giorni`
          : "";
        const h = this.models.delay.interval.hours
          ? `${this.models.delay.interval.hours} ore`
          : "";
        const m = this.models.delay.interval.minutes
          ? `${this.models.delay.interval.minutes} minuti`
          : "";

        const times = [d, h, m].filter(function (el) {
          return el;
        });

        if (!times.length)
          return "<span>Questo blocco richiede una configurazione</span>";

        if (times.length >= 2) {
          const last = times.pop();
          return `Ritardo di ${times.join(", ")} e ${last}`;
        } else {
          return `Ritardo di ${times.join(", ")}`;
        }
      } else if (this.form.type === this.$k.ENUMS.NODE_TYPES.TIME_DISPATCHER) {
        let days = [];
        this.form.time_dispatcher.repeat_on.forEach((d) => {
          const humanDay = constants.ENUMS.DAYS_OF_WEEK.find(
            (x) => x.value === d
          );
          if (humanDay) days.push(humanDay.human);
        });

        if (!days.length)
          return "<span>Questo blocco richiede una configurazione</span>";

        let readableDays = "";
        if (days.length === 7) readableDays = "tutti i giorni";
        else if (days.length >= 2) {
          const last = days.pop();
          readableDays = `${days.join(", ")} e ${last}`;
        } else {
          readableDays = `${days.join(", ")}`;
        }

        const each = this.$ui.TEXTS.TR(this.form.time_dispatcher.repeat_each);

        const head = `Ripetizione ogni ${each}<br/> ${readableDays} alle ore <b>${this.form.time_dispatcher.time_of_day}</b>`;
        let tail = ``;
        if (this.form.time_dispatcher.limit_occurrencies)
          tail = `per un massimo di <b>${this.form.time_dispatcher.max_occurrencies}</b> eventi`;
        else tail = `fino al <b>${this.form.time_dispatcher.repeat_until}</b>`;

        return head + "<br/>" + tail;
      }

      return "Descrizione non disponibile";
    },

    /**
     * Returns the comparer icon given its identifier
     */
    comparerIcon() {
      return (comparer) => {
        if (comparer === "=") return "mdi-equal";
        if (comparer === "<>") return "mdi-not-equal-variant";
        if (comparer === ">") return "mdi-greater-than";
        if (comparer === "<") return "mdi-less-than";
      };
    },

    /**
     * The list of SQL available tables
     */
    sqlTables() {
      return this.root.availableTables;
    },

    /**
     * The list of available email groups
     */
    emailGroups() {
      return this.root.availableGroups.map((x) => ({
        value: x.id,
        human: x.name,
      }));
    },

    /**
     * A watchable instance of this.form.trigger.db_watcher.table_name;
     */
    currentDbWatcherTable() {
      return this.form.trigger.db_watcher.table_name;
    },

    /**
     * A watchable instance of this.form.operation.db.table_name;
     */
    currentDbOperationTable() {
      return this.form.operation.db.table_name;
    },

    /**
     * A flag that indicates whether is possible to select a group
     * to which send the email to.
     * When this is false, it means that this operation descends from
     * a "read receipt" trigger, hence the recipients will be the ones
     * who fullfill that trigger.
     */
    canSelectRecipientsGroups() {
      if (this.root) {
        const parent = this.root.getNode(this.form.parent_node_id);
        if (parent) {
          if (
            parent.data.type === this.$k.ENUMS.NODE_TYPES.TRIGGER &&
            parent.data.trigger.type ===
              this.$k.ENUMS.TRIGGER_TYPES.READ_RECEIPT
          )
            return false;
        }
      }

      return true;
    },
  },
  watch: {
    /**
     * Updates the form values
     */
    models: {
      deep: true,
      handler() {
        // When the model chanegs, let's put the corresponding values into form
        this.form.delay.interval = this.timeSpanObj2Str(
          this.models.delay.interval
        );
        // this.form.time_dispatcher.time_of_day = this.timeSpanObj2Str(
        //   this.models.time_dispatcher.time_of_day
        // );
      },
    },

    /**
     * The current table of the DbWatcher changed,
     * it is necessary to retrieve the new list of columns
     */
    currentDbWatcherTable(value) {
      const opt = this.$automations;
      this.$http
        .get(`${opt.endpoint}/api/services/db/columns/${value}`)
        .then((d) => {
          this.availableColumns_dbWatcher = d.data.columns;
        })
        .catch((e) => {
          console.warn(e);
        });
    },

    /**
     * The current table of the DbOperation changed,
     * it is necessary to retrieve the new list of columns
     */
    currentDbOperationTable(value) {
      const opt = this.$automations;
      this.$http
        .get(`${opt.endpoint}/api/services/db/columns/${value}`)
        .then((d) => {
          this.availableColumns_dbOperation = d.data.columns;
        })
        .catch((e) => {
          console.warn(e);
        });
    },
  },
  methods: {
    /**
     * A methods that recursively parses the parents
     * until it finds the instance of the root,
     * where some shared data is stored
     */
    getRootRef(component) {
      if (component.rootRef) {
        return component;
      }

      return this.getRootRef(component.$parent);
    },

    /**
     * Emits the event `on-save` listened by Root
     */
    save() {
      this.expanded = false;

      if (JSON.stringify(this.form) !== JSON.stringify(this.node.data)) {
        EventBus.$emit("on-save", this.form);
      } else {
        console.debug("Nothing needs saving");
      }

      delete this.form.needsSaving;
    },

    /**
     * Converts a TimeSpan from string to an object
     */
    timeSpanStr2Obj(timeSpanStringed) {
      if (timeSpanStringed.indexOf(".") !== -1) {
        const dPieces = timeSpanStringed.split(".");
        if (dPieces.length === 2) {
          const tPieces = dPieces[1].split(":");
          if (tPieces.length === 3)
            return {
              days: parseInt(dPieces[0]),
              hours: parseInt(tPieces[0]),
              minutes: parseInt(tPieces[1]),
            };
        }
      } else {
        const tPieces = timeSpanStringed.split(":");
        if (tPieces.length === 3)
          return {
            days: 0,
            hours: parseInt(tPieces[0]),
            minutes: parseInt(tPieces[1]),
          };
      }
      return {
        days: 0,
        hours: 0,
        minutes: 0,
      };
    },

    /**
     * Converts a TimeSpan to its string representation
     */
    timeSpanObj2Str(timeSpanObj) {
      return `${timeSpanObj.days || "0"}.${this.pad2(
        timeSpanObj.hours || "0"
      )}:${this.pad2(timeSpanObj.minutes || "0")}:00`;
    },

    /**
     * Pads number (left)
     */
    pad2(n) {
      return n > 9 ? "" + n : "0" + n;
    },

    /**
     * Adds a SQL condition
     */
    addCondition(type) {
      const condition = {
        operand: "and",
        table_key: "Id",
        comparer: "=",
        key: "",
      };

      if (type === "db_watcher")
        this.form.trigger.db_watcher.conditions.push(condition);
      if (type === "db_operation")
        this.form.operation.db.conditions.push(condition);
    },

    /**
     * Toggle the operand of a SQL condition
     */
    toggleOperand(condition) {
      if (condition.operand === "and") condition.operand = "or";
      else condition.operand = "and";
    },

    /**
     * Toggle the comparer of a SQL condition
     */
    toggleComparer(condition) {
      if (condition.comparer === "=") condition.comparer = "<>";
      else if (condition.comparer === "<>") condition.comparer = ">";
      else if (condition.comparer === ">") condition.comparer = "<";
      else if (condition.comparer === "<") condition.comparer = "=";
    },

    /**
     * Builds the summary of a SQL condition
     */
    getSummaryConditions(conditions) {
      let ans = "";
      conditions.forEach((condition, idx) => {
        const operand = idx === 0 ? "" : condition.operand;
        ans += `${operand} ${condition.table_key} ${condition.comparer} ${condition.key} `;
      });
      return ans;
    },
  },
  mounted() {
    this.root = this.getRootRef(this.$parent);

    this.form = JSON.parse(JSON.stringify(this.node.data));

    // Set models
    this.models.delay.interval = this.timeSpanStr2Obj(this.form.delay.interval);
    this.models.time_dispatcher.time_of_day = this.timeSpanStr2Obj(
      this.form.time_dispatcher.time_of_day
    );
  },
};
</script>

<style scoped>
.card{
  margin-bottom:0px;
}
</style>