<template>
  <flowy-drag-handle class="handle" style="margin: 0 !important">
    <v-badge overlap style="width: 100%" :color="color">
      <div class="peek" @click="$emit('peek-clicked', type)">
        <div class="peek__wrapper">
          <div class="peek__wrapper__icon">
            <v-icon v-text="icon"></v-icon>
          </div>
          <div class="peek__wrapper__text" v-text="title"></div>
        </div>
      </div>
    </v-badge>
  </flowy-drag-handle>
</template>

<script>
import ui from "../utils/ui.js";
export default {
  data() {
    return {
      text: "This is component A",
    };
  },
  computed: {
    icon() {
      return ui.ICONS[this.type];
    },
    title() {
      return ui.TEXTS.NODE_TYPES[this.type];
    },
    color() {
      return ui.COLORS[this.type];
    },
  },
  props: ["type"],
  methods: {
    handleClick() {
      this.$emit("peek-clicked", this.type);
    },
  },
};
</script>

<style scoped lang="scss">
@import "../styles/base.scss";

.peek {
  border: 1px solid #444;
  border-radius: 10px;
  margin-bottom: 16px;
  overflow: hidden;

  :hover {
    background-color: #eee;
  }

  &__wrapper {
    padding: 6px 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__text {
      margin-right: 8px;
      margin-left: 8px;
    }
  }
}
</style>