<template>
  <div id="Automationa">
     
    <AutomationsModuleRoot></AutomationsModuleRoot>
  </div>
</template>

<script>
export default {
  name: "Automation",
  data() {
    return {
      url: window.location.pathname,
    };
  },
  beforeCreate() {
    window.location.reload()
  },
};
</script>
<style>
</style>
