<template>
  <div id="adminCrmCarriage">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ crm }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Porti</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>Porti</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content">
          <div class="tab-pane active" id="tabTableCarriage" role="tabpanel">
            <div class="row align-btns" style="width:85%;">
              <div class="col-lg-6">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onNewCarriage"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
                <button
                  id="btnSave"
                  type="button"
                  class="btn btn-success"
                  @click="confirmSaveCarriage"
                  :disabled="disableButton"
                >
                  <i class="fa fa-floppy-o"></i>
                  <span>{{ save }}</span>
                </button>
                <button
                  id="btnDelete"
                  type="button"
                  class="btn btn-danger"
                  @click="confirmDeleteCarriage"
                  :disabled="disableButton"
                >
                  <i class="fa fa-trash"></i>
                  <span>{{ del }}</span>
                </button>
              </div>
              <div class="col-3 text-left">
                <select2
                  id="select_AdminPagesView_IdLanguage"
                  ref="select_AdminPagesView_IdLanguage"
                  class="form-control nopadding"
                  style="width:75%"
                  :filterable="false"
                  service="languages"
                  v-model="pageValueSelected.languagePageSetting.idLanguage"
                  :default="defaultLanguageOptions"
                  :change="languageChange"
                />
                <span style="margin-left:10px;">{{ language }}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="TableCarriageConfiguration"
                  :datas="tableData"
                  id="tableCarriage"
                  :onCheck="onTableCheckCarriage"
                  :onCheckAll="onTableCheckCarriage"
                  :onUncheck="onTableCheckCarriage"
                  :onUncheckAll="onTableCheckCarriage"
                  ref="tableCarriage"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabDetailCarriage" role="tabpanel">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="adminCrmCarriage"
                  :configurations="DetailCarriageConfiguration"
                  :jsonValue="detailData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="confirmCancelNewCarriage"
                  >	<i class="fa fa-times"></i>&nbsp;
                    {{ cancel }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="confirmSaveNewCarriage"
                  ><i class="fa fa-floppy-o"></i>&nbsp; 
                    {{ save }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from '@/components/BootstrapTable.vue';
import PageDetail from '@/components/PageDetail.vue';
import Select2 from '@/components/Select2.vue';

export default {
  name: 'adminCrmCarriage',
  components: {
    BootstrapTable,
    Select2,
    PageDetail
  },
  data: function() {
    return {
      add: dictionaryHelpers.getDictionary('Add'),
      language: dictionaryHelpers.getDictionary('Language'),
      admin: dictionaryHelpers.getDictionary('Admin'),
      cancel: dictionaryHelpers.getDictionary('Cancel'),
      crm: dictionaryHelpers.getDictionary('CRM'),
      Carriage: dictionaryHelpers.getDictionary('Carriage'),
      del: dictionaryHelpers.getDictionary('Delete'),
      deleteCompleted: dictionaryHelpers.getDictionary('DeleteCompleted'),
      DetailCarriageConfiguration: [],
      detailData: {},
      languages: 0,
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary('InsertCompleted'),
      newCustomer: dictionaryHelpers.getDictionary('NewCustomer'),
      openDetail: dictionaryHelpers.getDictionary('OpenDetail'),
      save: dictionaryHelpers.getDictionary('Save'),
      defaultLanguageOptions: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null }
      },
      TableCarriageConfiguration: [],
      tableCustomerResult: [],
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary('UpdateCompleted'),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0
    };
  },
  created() {
    var adminCrmCarriage = this;
    spinnerHelpers.show();
    this.languages = storageData.sIdLanguage();
    adminCrmCarriage.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };
    adminConfigurationServices.getFunctionality(function(result) {
      adminCrmCarriage.TableCarriageConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
      adminCrmCarriage.DetailCarriageConfiguration = result.data.tabsConfigurations[0].pageConfigurations;

      adminCrmCarriage.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminCrmCarriage = this;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      } else {
        ln = this.languages;
      }
      carriageServices.getAll(ln, function(result) {
        adminCrmCarriage.tableData = result.data;
        spinnerHelpers.hide();
        $('#tabTableCarriage').addClass('active');
        $('#tabDetailCarriage').removeClass('active');

      });
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminCrmCarriage = this;
      this.languages = value;
      adminCrmCarriage.loadTable(value);
      spinnerHelpers.hide();
    },
    CarriageFormatter(value, row, index, field) {
      var adminCrmCarriage = this;
      var html =
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
        html +=
        '<button class="btn btn-success" onclick="adminCrmCarriage.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button>';
        html +=
        '<button class="btn btn-danger" onclick="adminCrmCarriage.__vue__.DeleteCarriage(' +
        row.id +
        ')"><i class="fa fa-trash" title="' +
        this.openDetail +
        '" /></button>';       

      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function(i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += adminCrmCarriage.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += '</div></div>';
      return html;
    },
    executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminCrmCarriage = this;
      this.rowIdSelected = id;
      this.titleDetail = this.customer;

       carriageServices.getById(adminCrmCarriage.rowIdSelected, function (result) {      
            adminCrmCarriage.detailData = result.data;
            spinnerHelpers.hide();
        }
        );
      $('#tabTableCarriage').removeClass('active');
      $('#tabDetailCarriage').addClass('active');
      spinnerHelpers.hide();
    },


      DeleteCarriage(id){
            var adminCrmCarriage = this;
            if (confirm("Sei sicuro di voler eliminare?")) {
              adminCrmCarriage.executeDelete(id);
            }
          },
          executeDelete(id) {
            var adminCrmCarriage = this;
            spinnerHelpers.show();
            carriageServices.del(id, function() {
            notificationHelpers.success("Cancellazione avvenuta con successo");
            adminCrmCarriage.loadTable();
            window.scrollTo(0, 0);
            });
          },

    onNewCarriage() {
      spinnerHelpers.show();

      this.detailData = {};
      this.titleDetail = this.newCustomer;
      this.rowIdSelected = 0;
      $('#tabTableCarriage').removeClass('active');
      $('#tabDetailCarriage').addClass('active');
      spinnerHelpers.hide();
    },

    confirmSaveCarriage() {
      if (confirm("Sei sicuro di voler eseguire il salvataggio?")) {
        this.executeSaveCarriage();
      }
    },

    executeSaveCarriage() {
      spinnerHelpers.show();
      var adminCrmCarriage = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCarriage.getRowSelected(), function(i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminCrmCarriage.rowsSelected = adminCrmCarriage.rowsSelected + 1;
         rowToSave.idLanguage=adminCrmCarriage.languages;

        carriageServices.updateCheck(
          rowToSave,
          function() {
            adminCrmCarriage.checkAllIsSaved();
            adminCrmCarriage.tableResult.push({
              id: rowToSave.id,
              success: true
            });
            notificationHelpers.success(adminCrmCarriage.updateCompleted);
          },
          function(response) {
            adminCrmCarriage.checkAllIsSaved();
            adminCrmCarriage.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    confirmDeleteCarriage() {
      if (confirm("Sei sicuro di voler eliminare?")) {
        this.executeDeleteCarriage();
      }
    },
    executeDeleteCarriage() {
      spinnerHelpers.show();
      var adminCrmCarriage = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCarriage.getRowSelected(), function(i, row) {
        adminCrmCarriage.rowsSelected = adminCrmCarriage.rowsSelected + 1;

        carriageServices.del(
          row.id,
          function() {
            adminCrmCarriage.checkAllIsSaved();
            notificationHelpers.success(adminCrmCarriage.deleteCompleted);
          },
          function(response) {
            adminCrmCarriage.checkAllIsSaved();
            adminCrmCarriage.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },
    onTableCheckCarriage() {
      var countRowSelected = this.$refs.tableCarriage.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    confirmCancelNewCarriage() {
      if (confirm(dictionaryHelpers.getDictionary('ConfirmCancel'))) {
        this.executeCancelCarriage();
      }
    },
    executeCancelCarriage() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $('#tabTableCarriage').addClass('active');
      $('#tabDetailCarriage').removeClass('active');
      spinnerHelpers.hide();
    },
    confirmSaveNewCarriage() {
      if (confirm(dictionaryHelpers.getDictionary('ConfirmSave'))) {
        this.executeSaveNewCarriage();
      }
    },
    executeSaveNewCarriage() {
      spinnerHelpers.show();
      var adminCrmCarriage = this;
      this.detailData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailData.code)) {
        this.detailData.code = false;
      }

      if (!functionHelpers.isValued(this.detailData.description)) {
        this.detailData.description = false;
      }

      if (!functionHelpers.isValued(this.languages)) {
        this.detailData.idLanguage = storageData.sIdLanguage();
      } else {
        this.detailData.idLanguage = this.languages;
      }

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailData.id = this.rowIdSelected;

        carriageServices.update(this.detailData, function(result) {
          adminCrmCarriage.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmCarriage.updateCompleted
          });
          notificationHelpers.success(adminCrmCarriage.updateCompleted);
          adminCrmCarriage.loadTable(adminCrmCarriage.languages);
          $('#tabTableCarriage').addClass('active');
          $('#tabDetailCarriage').removeClass('active');
        });
      } else {
        carriageServices.insert(this.detailData, function(result) {
          adminCrmCarriage.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmCarriage.insertCompleted
          });
          notificationHelpers.success(adminCrmCarriage.insertCompleted);
          adminCrmCarriage.loadTable(adminCrmCarriage.languages);
          $('#tabTableCarriage').addClass('active');
          $('#tabDetailCarriage').removeClass('active');
        });
      }
    },

    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable(this.languages);
      }
    }
  }
};
</script>
<style scoped>
.card-title-admin .card {
  background: transparent;
  border: 0px;
}
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}
.align-btns {
 position: absolute;
    z-index: 1;
    margin-top: 10px;
}
</style>
