<template>
  <div id="adminCrmCategoryType">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ crm }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">{{ category }}</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>{{ CategoryType }}</h1>
    </div>

    <div class="container-fluid">
      <div class="card">
        <div class="tab-content">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
            <div class="row align-btns" style="width:85%;">
              <div class="col-lg-6">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onNewCategoryType"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
                <button
                  id="btnSave"
                  type="button"
                  class="btn btn-success"
                  @click="confirmSaveCategoryType"
                  :disabled="disableButton"
                >
                  <i class="fa fa-floppy-o"></i>
                  <span>{{ save }}</span>
                </button>
                <button
                  id="btnDelete"
                  type="button"
                  class="btn btn-danger"
                  @click="confirmDeleteCategoryType"
                  :disabled="disableButton"
                >
                  <i class="fa fa-trash"></i>
                  <span>{{ del }}</span>
                </button>
              </div>
              <div class="col-3 text-left">
                <select2
                  id="select_AdminPagesView_IdLanguage"
                  ref="select_AdminPagesView_IdLanguage"
                  class="form-control nopadding"
                  style="width:75%"
                  :filterable="false"
                  service="languages"
                  v-model="pageValueSelected.languagePageSetting.idLanguage"
                  :default="defaultLanguageOptions"
                  :change="languageChange"
                />
                <span style="margin-left:10px;">{{ language }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="tableConfiguration"
                  :datas="tableData"
                  id="tableCategoryType"
                  :onCheck="onTableCheckCategoryType"
                  :onCheckAll="onTableCheckCategoryType"
                  :onUncheck="onTableCheckCategoryType"
                  :onUncheckAll="onTableCheckCategoryType"
                  ref="tableCategoryType"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabDetail" role="tabpanel">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="adminCrmCategoryType"
                  :configurations="detailConfiguration"
                  :jsonValue="detailData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="confirmCancelNewCategoryType"
                  ><i class="fa fa-times"></i>&nbsp; {{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="confirmSaveNewCategoryType"
                  ><i class="fa fa-floppy-o"></i>&nbsp; {{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";

export default {
  name: "adminCrmCategoryType",
  components: {
    BootstrapTable,
    Select2,
    PageDetail,
  },
  data: function () {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      language: dictionaryHelpers.getDictionary("Language"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      crm: dictionaryHelpers.getDictionary("CRM"),
      category: dictionaryHelpers.getDictionary("Category"),
      CategoryType: dictionaryHelpers.getDictionary("CategoryType"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      detailConfiguration: [],
      detailData: {},
      languages: 0,
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newCategoryType: dictionaryHelpers.getDictionary("newCategoryType"),
      newTitleCategories: dictionaryHelpers.getDictionary("newTitleCategories"),
      openDetail: dictionaryHelpers.getDictionary("OpenDetail"),
      save: dictionaryHelpers.getDictionary("Save"),
      defaultLanguageOptions: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
      },
      tableConfiguration: [],
      tableCustomerResult: [],
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0,
    };
  },
  created() {
    var adminCrmCategoryType = this;
    spinnerHelpers.show();

    this.languages = storageData.sIdLanguage();

    adminCrmCategoryType.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage(),
    };

    adminConfigurationServices.getFunctionality(function (result) {
      adminCrmCategoryType.tableConfiguration =
        result.data.tablesConfigurations[0].tablesConfigurations;
      adminCrmCategoryType.detailConfiguration =
        result.data.tabsConfigurations[0].pageConfigurations;

      adminCrmCategoryType.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminCrmCategoryType = this;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      } else {
        ln = this.languages;
      }
      categoryTypeServices.getAll(ln, function (result) {
        adminCrmCategoryType.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminCrmCategoryType = this;
      this.languages = value;
      adminCrmCategoryType.loadTable(value);
      spinnerHelpers.hide();
    },
    CategoryFormatter(value, row, index, field) {
      var adminCrmCategoryType = this;
      var html =
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<div class="col-1"><button class="btn btn-success" onclick="adminCrmCategoryType.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button></div>';

      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function (i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += adminCrmCategoryType.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div></div>";
      return html;
    },

    executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminCrmCategoryType = this;
      this.rowIdSelected = id;
      this.titleDetail = this.customer;

      $.each(this.tableData, function (i, row) {
        if (adminCrmCategoryType.rowIdSelected == row.id) {
          adminCrmCategoryType.detailData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    onNewCategoryType() {
      spinnerHelpers.show();

      this.detailData = {};
      this.titleDetail = this.newCategoryType;
      this.rowIdSelected = 0;
      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveCategoryType() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveCategorySave();
      }
    },

    executeSaveCategorySave() {
      spinnerHelpers.show();
      var adminCrmCategoryType = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCategoryType.getRowSelected(), function (i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminCrmCategoryType.rowsSelected =
          adminCrmCategoryType.rowsSelected + 1;
        // rowToSave.idlanguage=adminCrmCategoryType.languages;

        categoryTypeServices.update(
          rowToSave,
          function () {
            adminCrmCategoryType.checkAllIsSaved();
            adminCrmCategoryType.tableResult.push({
              id: rowToSave.id,
              success: true,
            });
            notificationHelpers.success(adminCrmCategoryType.updateCompleted);
          },
          function (response) {
            adminCrmCategoryType.checkAllIsSaved();
            adminCrmCategoryType.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response,
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    confirmDeleteCategoryType() {
      if (confirm(this.confirmDelete)) {
        this.executeDeleteCategoryType();
      }
    },
    executeDeleteCategoryType() {
      spinnerHelpers.show();
      var adminCrmCategoryType = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCategoryType.getRowSelected(), function (i, row) {
        adminCrmCategoryType.rowsSelected =
          adminCrmCategoryType.rowsSelected + 1;

        categoryTypeServices.del(
          row.id,
          function () {
            adminCrmCategoryType.checkAllIsSaved();
            notificationHelpers.success(adminCrmCategoryType.deleteCompleted);
          },
          function (response) {
            adminCrmCategoryType.checkAllIsSaved();
            adminCrmCategoryType.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response,
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    onTableCheckCategoryType() {
      var countRowSelected = this.$refs.tableCategoryType.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },

    confirmCancelNewCategoryType() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmCancel"))) {
        this.executeCancelCategoryType();
      }
    },

    executeCancelCategoryType() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $("#tabTable").addClass("active");
      $("#tabDetail").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveNewCategoryType() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveNewCategoryType();
      }
    },

    executeSaveNewCategoryType() {
      spinnerHelpers.show();
      var adminCrmCategoryType = this;
      this.detailData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailData.code)) {
        this.detailData.code = false;
      }

      if (!functionHelpers.isValued(this.detailData.description)) {
        this.detailData.description = false;
      }

      if (!functionHelpers.isValued(this.languages)) {
        this.detailData.idLanguage = storageData.sIdLanguage();
      } else {
        this.detailData.idLanguage = this.languages;
      }

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailData.id = this.rowIdSelected;

        categoryTypeServices.update(this.detailData, function (result) {
          adminCrmCategoryType.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmCategoryType.updateCompleted,
          });
          notificationHelpers.success(adminCrmCategoryType.updateCompleted);
          adminCrmCategoryType.loadTable(adminCrmCategoryType.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      } else {
        categoryTypeServices.insert(this.detailData, function (result) {
          adminCrmCategoryType.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmCategoryType.insertCompleted,
          });
          notificationHelpers.success(adminCrmCategoryType.insertCompleted);
          adminCrmCategoryType.loadTable(adminCrmCategoryType.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      }
    },

    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable(this.languages);
      }
    },
  },
};
</script>

<style scoped>
.card-title-admin .card {
  background: transparent;
  border: 0px;
}
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}
.align-btns {
 position: absolute;
    z-index: 1;
    margin-top: 10px;
}
</style>
