<template>
  <div id="adminSelenaViews">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ setting }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">File Allegati</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <div class="row">
        <div class="col-8 align-self-center">
          <h1>Allegati</h1>
        </div>
        <div class="col-4 align-self-center">
          <div class="row" v-if="viewBtn">
            <div class="col-12 align-self-center text-right">
              <button
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                @click="cancelNewNation"
              ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
              <button
                type="button"
                class="btn btn-success"
                @click="saveNewNation"
              ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane nopadding active" id="tabTable" role="tabpanel">
            <div class="row align-btn">
              <div class="col-lg-12 text-left">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onClickNew"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
              </div>
            </div>
            <div class="card-body">
              <bootstrapTable
                :configurations="tableConfiguration"
                :datas="tableData"
                id="tableContents"
                ref="tableContents"
                :onCheck="onTableCheckCustomer"
                :results="tableNationResult"
              ></bootstrapTable>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabNationDetail" role="tabpanel">
            <div class="card-body" style="padding: 30px;">
              <div class="row" style="margin-bottom:10px;">
                <div class="col-6 align-self-center text-right">
                  <h6>Tipologia</h6>
                </div>
                <div class="col-4  align-self-center">
                  <select2
                    :id="'typeAttachmentId' + detailTypeTranslate.typeAttachmentId"
                    :ref="'typeAttachmentId' + detailTypeTranslate.typeAttachmentId"
                    class="form-control nopadding"
                    :filterable="true"
                    service="itemAttachmentFatherType"
                    v-model="detailTypeTranslate.typeAttachmentId"
                    :default="{id: detailTypeTranslate.typeAttachmentId,text: detailTypeTranslate.typeAttachmentDescription}"
                  />
                </div>
                <div class="col-2 align-self-center text-right">
                  <button
                    id="btnAddTranslate"
                    type="button"
                    class="btn btn-primary"
                    @click="onClickNewTranslate"
                  >
                    <i class="fa fa-plus"></i>
                    <span>Aggiungi traduzione</span>
                  </button>
                </div>
              </div>
              <!-- principal area -->
              <div class="row" v-for="detailTypeTranslates in detailTypeTranslate.translateAttachment" v-bind:key="detailTypeTranslates.id">
                <div class="col-4">
                  <!-- upload area -->
                  <div class="row" style="margin-bottom:15px;">
                    <div class="col-4 align-self-center">
                      
                      <button class="btn btn-primary" @click="getImageShare(detailTypeTranslates.id, pageImageShare)">
                        Seleziona
                      </button>
                    </div>
                    <div class="col-7 align-self-center">
                      {{detailTypeTranslates.file}}
                    </div>
                    <div class="col-1 align-self-center">
                      <i class="fa fa-times fa-lg" style="color:red"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label id="move-file" v-cloak @drop.prevent="handleFileInput" @dragover.prevent class="custom-file-upload" style="padding: 43px;">
                        <input type="hidden" :id="'file' + detailTypeTranslates.id" :name="'file' + detailTypeTranslates.id" v-model="detailTypeTranslates.file">
                        <input type="hidden" :id="'fileBase64' + detailTypeTranslates.id" :name="'fileBase64' + detailTypeTranslates.id" v-model="detailTypeTranslates.fileBase64">
                        <input class="imgAttachmentAgg" :data-id="detailTypeTranslates.id" :id="'imgAttachmentAgg' + detailTypeTranslates.id" type="file"  name="file-input" multiple="True" @change="handleFileInput" />
                        SFOGLIA/UPLOAD AREA
                      </label>
                    </div>
                  </div>
                  <!-- end upload area -->
                </div>
                <div class="col-8">
                  <!-- detail area -->
                  <div class="row">
                    <div class="col-12 text-right">
                      <button class="btn btn-danger" v-if="detailTypeTranslate.translateAttachment.length>1" @click="deleteTranslate(detailTypeTranslates.id)">
                        Elimina traduzione
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label>Url</label>
                      <input type="text" :id="'url' + detailTypeTranslates.id" :name="'url' + detailTypeTranslates.id"  class="form-controls" v-model="detailTypeTranslates.url">
                    </div>
                  </div>
                  <div class="row" style="margin-top: 5px;">
                    <div class="col-6 align-self-center">
                      <label>Descrizione</label>
                      <input type="text" :id="'description' + detailTypeTranslates.id" :name="'description' + detailTypeTranslates.id"  class="form-controls" v-model="detailTypeTranslates.description">
                    </div>
                    <div class="col-6 align-self-center">
                      <label>Lingua</label>
                      <select2
                        :id="'language_id' + detailTypeTranslates.id"
                        :ref="'language_id' + detailTypeTranslates.id"
                        class="form-control nopadding"
                        :filterable="true"
                        service="languages"
                        v-model="detailTypeTranslates.language_id"
                        :default="{id: detailTypeTranslates.language_id,text: detailTypeTranslates.language_description}"
                      />
                    </div>
                  </div>
                  <!-- end detail area -->
                </div>
                <div class="col-12">
                  <hr>
                </div>
              </div>  
              <!-- end principal area -->
              
              <!-- item area -->
              <div class="row">
                <div class="col-4">
                  <!-- prodotti associati area -->
                  <div class="row">
                    <div class="col-8 align-self-center">
                      <h3>Prodotti associati</h3> 
                    </div>
                  </div>
                  <div class="row no-gutters" v-if="detailTypeTranslate.itemIncluded.length>0">
                    <div class="col-3">
                      <h6>Codice</h6> 
                    </div>
                    <div class="col-7">
                      <h6>Descrizione</h6> 
                    </div>
                    <div class="col-2 ">
                      
                    </div>
                  </div>
                  <div v-if="detailTypeTranslate.itemIncluded.length>0" style="overflow-y: auto;margin:auto;min-height:200px;max-height:200px;margin-top:15px;">
                    <div class="row no-gutters div-row-items" v-for="itemIncludeds in detailTypeTranslate.itemIncluded" v-bind:key="itemIncludeds.id" style="padding-bottom:.3rem;">
                      <div class="col-3 aling-self-center">
                        <p>{{itemIncludeds.code}}</p> 
                      </div>
                      <div class="col-7 aling-self-center">
                        <p>{{itemIncludeds.description}}</p> 
                      </div>
                      <div class="col-2 aling-self-center text-right">
                        <i class="fa fa-times fa-lg" :data-id="itemIncludeds.id" @click="removeItemIncluded(itemIncludeds.id)" style="color:red;cursor:pointer;font-size:14px;margin-right:15px;"></i>
                      </div>
                    </div>
                  </div>
                  <div class="row" v-else>
                    <div class="col-12 text-align:center;">
                      Seleziona uno o più articoli
                    </div>
                  </div>
                  <!-- end prodotti associati area -->
                </div>
                <div class="col-8">
                  <!-- prodotti generali area -->
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <label>Cerca</label>
                      <input type="text" class="form-controls" id="item-code" name="item-code" placeholder="Cerca" @change="loadItemExcluded()">
                    </div>
                    <div class="col-3 align-self-center">
                      <label>Produttore</label>
                      <select2 id="producer" ref="producer" style="width:100%" class="form-control nopadding" :filterable="true" service="producer" :change="producerChange" />
                    </div>
                    <div class="col-3 align-self-center">
                      <label>Categoria</label>
                      <select2 id="category" ref="category" style="width:100%" class="form-control nopadding" :filterable="true" service="category" :change="categoryChange" />
                    </div>
                    <div class="col-3 align-self-center text-center">
                      <label class="label-name" style="margin-bottom: 0px">Solo Online</label><br>
                      <label
                        class="switch switch-pill switch-primary"
                        style="margin: 2px; margin-bottom: -2px; vertical-align: bottom"
                      >
                        <input type="checkbox" class="switch-input" id="onlineCheck" @change="loadItemExcluded" />
                        <span class="switch-slider" data-on data-off></span>
                      </label>
                    </div>
                  </div>
                  <div v-if="itemExcluded.length>0" style="overflow-y: auto;margin:auto;min-height:200px;max-height:200px;margin-top:15px;">
                    <div class="row no-gutters " style="margin-top:20px margin-bottom:10px;">
                      <div class="col-1 align-self-center">
                        <h6 style="font-size:11px;"></h6>
                      </div>
                      <div class="col-2 align-self-center">
                        <h6 style="font-size:11px;"></h6>
                      </div>
                      <div class="col-3 align-self-center">
                        <h6 style="font-size:11px;"></h6>
                      </div>
                      <div class="col-4 align-self-center">
                        <h6 style="font-size:11px;"></h6>
                      </div>
                    </div>
                    <div class="row no-gutters div-row-items" v-for="itemExcludeds in itemExcluded" v-bind:key="itemExcludeds.id">
                      <div class="col-1 align-self-center">
                        <p>{{itemExcludeds.code}}</p>
                      </div>
                      <div class="col-2 align-self-center">
                        <p>{{itemExcludeds.description}}</p>
                      </div>
                      <div class="col-3 align-self-center">
                        <p>{{itemExcludeds.producer}}</p>
                      </div>
                      <div class="col-3 align-self-center">
                        <p>{{itemExcludeds.category}}</p>
                      </div>
                      <div class="col-3 align-self-center text-right">
                          <i class="fa fa-plus fa-lg" :data-id="itemExcludeds.id" @click="addItemExcludedToIncluded(itemExcludeds.id)" style="color:green;cursor:pointer; font-size:14px;margin-right:15px;"></i>
                      </div>
                    </div>
                  </div>
                  <div v-else style="overflow-y: auto;margin:auto;min-height:300px;max-height:300px;">
                    <div class="row no-gutters" style="padding-top:15px;margin-top:20px margin-bottom:10px;">
                      <div class="col-12 align-self-center text-center">

                        <h6><i class="fa fa-cog fa-spin"></i></h6>
                      </div>
                    </div>
                  </div>
                  <!-- end prodotti generali area -->
                </div>
              </div> 
              <div class="row" style="margin-top:15px;">
                <div class="col-4 text-right">
                  <button type="button" class="btn btn-danger" data-dismiss="modal" @click="removeAllItemIncluded" v-if="detailTypeTranslate.itemIncluded.length>0">
                  <i class="fa fa-times"></i>&nbsp;Rimuovi tutti</button>
                </div>
                <div class="col-8 text-right">
                  <button
                    id="btnAddAllExcluded"
                    type="button"
                    class="btn btn-primary"
                    @click="addAllItemExcluded"
                  >
                    <i class="fa fa-plus"></i>
                    <span>Aggiungi tutti</span>
                  </button>
                </div>
              </div>
              <!-- end item area -->
              <div class="row">
                <div class="col-12">
                  <hr>
                </div>
              </div>
              <!-- categorie area -->
              <div class="row">
                <div class="col-4">
                  <!-- categorie associati area -->
                  <div class="row">
                    <div class="col-8 align-self-center">
                      <h3>Categorie associate</h3> 
                    </div>
                  </div>
                  <div v-if="detailTypeTranslate.categoryIncluded.length>0" style="overflow-y: auto;margin:auto;min-height:150px;max-height:150px;">
                    <div class="row no-gutters div-row-items" v-for="categoryIncludeds in detailTypeTranslate.categoryIncluded" v-bind:key="categoryIncludeds.id" style="padding-bottom:.3rem;">
                      <div class="col-8 aling-self-center">
                        <p>{{categoryIncludeds.description}}</p> 
                      </div>
                      <div class="col-4 aling-self-center text-right">
                        <i class="fa fa-times fa-lg" :data-id="categoryIncludeds.id" @click="removeCategoryIncluded(categoryIncludeds.id)" style="color:red;cursor:pointer;font-size:14px;margin-right:15px;"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <!-- prodotti generali area -->
                  <div class="row">
                    <div class="col-6">
                      <label>Allega a tutti i prodotti della categoria</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 align-self-center">
                      <select2
                        id="categoryExcluded"
                        ref="categoryExcluded"
                        style="width:100%"
                        class="form-control nopadding"
                        :filterable="true"
                        service="categoryItemAttachment"
                      />
                    </div>
                    <div class="col-6 align-self-center">
                      <button id="btnAddCategoryExcluded" type="button" class="btn btn-primary" @click="addAllCategoryExcluded">
                        <i class="fa fa-plus"></i>
                        <span>Aggiungi</span>
                      </button>
                    </div>
                  </div>
                  <!-- end prodotti generali area -->
                </div>
              </div>

              <!-- groupnewsletters -->
              <div class="row">
                <div class="col-4">
                <!-- groups newsletters -->
                  <div class="row">
                    <div class="col-8 align-self-center">
                      <h3>Gruppi associati</h3> 
                    </div>
                  </div>
                  <div v-if="detailTypeTranslate.groupNewsletter.length>0" style="overflow-y: auto;margin:auto;min-height:150px;max-height:150px;">
                    <div class="row no-gutters div-row-items" v-for="groupNewsletters in detailTypeTranslate.groupNewsletter" v-bind:key="groupNewsletters.id" style="padding-bottom:.3rem;">
                      <div class="col-8 aling-self-center">
                        <p>{{groupNewsletters.description}}</p> 
                      </div>
                      <div class="col-4 aling-self-center text-right">
                        <i class="fa fa-times fa-lg" :data-id="groupNewsletters.id" @click="removeGroupNewsletter(groupNewsletters.id)" style="color:sred;cursor:pointer;font-size:14px;margin-right:15px;"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                <!-- group newsletters -->
                  <div class="row">
                    <div class="col-6">
                      <label>Associa ai seguenti gruppi di utenti</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 align-self-center">
                       <select2
                        id="customergroup"
                        ref="customergroup"
                        style="width:100%"
                        class="form-control nopadding"
                        :filterable="true"
                        service="groupnewsletter"
                      />
                    </div>
                    <div class="col-6 align-self-center">
                      <button id="btnAddGroupNewsletter" type="button" class="btn btn-primary" @click="addAllbtnAddGroupNewsletter" >
                        <i class="fa fa-plus"></i>
                        <span>Aggiungi</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- groups newsletters -->

              <!-- all users  -->
              <div class="row">
                <div class="col-4">
                  <div class="row">
                    <div class="col-8 align-self-center">
                      <h3>Utenti associati</h3> 
                    </div>
                  </div>
                  <div v-if="detailTypeTranslate.userIncluded.length>0" style="overflow-y: auto;margin:auto;min-height:150px;max-height:150px;">
                    <div class="row no-gutters div-row-items" v-for="userIncludeds in detailTypeTranslate.userIncluded" v-bind:key="userIncludeds.id" style="padding-bottom:.3rem;">
                      <div class="col-8 aling-self-center">
                        <p>{{userIncludeds.description}}</p> 
                      </div>
                      <div class="col-4 aling-self-center text-right">
                        <i class="fa fa-times fa-lg" :data-id="userIncludeds.id" @click="removeUser(userIncludeds.id)" style="color:sred;cursor:pointer;font-size:14px;margin-right:15px;"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="row">
                    <div class="col-6">
                      <label>Associa al seguente utenti</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 align-self-center">
                       <select2
                        id="user"
                        ref="user"
                        style="width:100%"
                        class="form-control nopadding"
                        :filterable="true"
                        service="users"
                      />
                    </div>
                    <div class="col-6 align-self-center">
                      <button id="btnAddUser" type="button" class="btn btn-primary" @click="addAllbtnAddUser" >
                        <i class="fa fa-plus"></i>
                        <span>Aggiungi</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end all users -->

              <div class="col-12 align-self-center text-right">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="modal"
                  @click="cancelNewNation"
                ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                <button
                  type="button"
                  class="btn btn-success"
                  @click="saveNewNation"
                ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal immagini share -->
    <div class="modal" id="modalImgBlogFormShare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialo popup" role="document">
        <div class="modal-content modal">
          <div class="modal-header text-center">
            <div class="row" style="width:100%;">
              <div class="col-8 text-left"> 
                <h2 style="color:#303C53;font-weight:bold;text-transform:uppercase;">Elenco Files</h2>
              </div>
              <div class="col-4"> 
                <input type="text" class="form-controls" id="searchShare" required="required" name="searchShare" placeholder="Cerca" @keyup="SearchFiles()"/> 
              </div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <div class="row">
                <ul class="list-group" id="ul-image-share" @scroll="handleScrollShare">
                  <li class="listLi" v-for="resultFilePopup in resultFilePopupsShare" v-bind:key="resultFilePopup.id" @click="selectImgShare(resultFilePopup.img, resultFilePopup.imgName)" >
                  <div class="list-group-item" v-if="resultFilePopup.visible" :style="'cursor:pointer;position: relative;min-width:110px;min-height:110px;min-width:110px;max-width:110px;background-size:cover;background-image:url(\'' + resultFilePopup.img + '\')'">
                    <div v-if="resultFilePopup.ext!=''" class="div-extension-img">
                      <label>{{ resultFilePopup.ext }}</label>
                    </div>
                    <label class="labelListImage">{{ resultFilePopup.imgName }}</label>
                  </div>
                  </li> 
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal immagini share -->
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";
export default {
  name: "adminSelenaViews",
  components: {
    BootstrapTable,
    PageDetail,
    Select2
  },
  data: function() {
    return {
      rowIdSelected: 0,
      cont: 0,
      viewBtn: false,
      checkOnlineItem: true,
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      save: dictionaryHelpers.getDictionary("Save"),
      setting: dictionaryHelpers.getDictionary("Setting"),
      language: dictionaryHelpers.getDictionary("Language"),
      updateCompleted: dictionaryHelpers.getDictionary('UpdateCompleted'),
      insertCompleted: dictionaryHelpers.getDictionary('InsertCompleted'),
      defaultLanguageOptions: [],
      detailNationConfiguration: [],
      tableNationResult: [],
      detailNationData: {},
      tableConfiguration: [],
      resultFilePopupsShare: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null }
      },
      tableData: [],
      disableButton: true,
      pageImageShare: 1,
      idSelectedImageFiles: 0,
      url: window.location.pathname,
      itemExcluded: [],
      detailTypeTranslate: {
        id:'',
        typeAttachmentId:'',
        typeAttachmentDescription:'',
        translateAttachment : [{
          id:'',
          file:'',
          fileBase64: '',
          url:'',
          language_id: '',
          language_description: '',
          description:''
        }],
        itemIncluded: [],
        categoryIncluded: [],
        groupNewsletter: [],
        userIncluded: [],
      }
    };
  },
  created() {
    var adminSelenaViews = this;

    spinnerHelpers.show();
    adminSelenaViews.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function(result) {
      adminSelenaViews.tableConfiguration = result.data.tablesConfigurations;
      adminSelenaViews.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminSelenaViews = this;
      if(!functionHelpers.isValued(ln)){
        ln = storageData.sIdLanguage();
      }
      
      itemAttachmentFileServices.getAll(ln,function(result) {
        
        adminSelenaViews.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    onTableCheckCustomer() {
      var countRowSelected = this.$refs.tableContents.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    ItemAttachmentFileFormatter(value, row, index, field) {
      var adminSelenaViews = this;
      var html = "";
      '<div class="container-fluid" style="min-width:80px;"><div class="row">';
      html +=
         '<button class="btn btn-success" onclick="adminSelenaViews.__vue__.viewDatailInfo(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button>';
          html +=
         '<button class="btn btn-danger" onclick="adminSelenaViews.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';
      return html;
    },

    viewDatailInfo(id){
      spinnerHelpers.show();
      var adminSelenaViews = this;
      this.rowIdSelected = id;
      this.viewBtn = true;
      var ln = storageData.sIdLanguage();
      

      itemAttachmentFileServices.getDetail(id, ln,  function(result) {
        console.log(result.data[0]);
        adminSelenaViews.detailTypeTranslate = result.data[0];

      });  

      /*$.each(this.tableData, function(i, row) {
        if (adminSelenaViews.rowIdSelected == row.id) {
          adminSelenaViews.detailTypeTranslate = row;
        }
      });
*/

      adminSelenaViews.loadItemExcluded();
      
      $("#tabTable").removeClass("active");
      $("#tabNationDetail").addClass("active");
      spinnerHelpers.hide();

    },
    producerChange(value){
      var adminSelenaViews = this;
      var online = false;
      if($('#onlineCheck').is(':checked')){
        online = true;
      }

      var data = {
        id: adminSelenaViews.rowIdSelected,
        description: $('#item-code').val(),
        category_id: $('#category').val(),
        producer_id: value,
        online: online
      };

      itemAttachmentFileServices.getItemByIdAttachment(data, function (result) {
        adminSelenaViews.itemExcluded = result.data;
      })
    },
    categoryChange(value){
      var adminSelenaViews = this;
      var online = false;
      if($('#onlineCheck').is(':checked')){
        online = true;
      }

      var data = {
        id: adminSelenaViews.rowIdSelected,
        description: $('#item-code').val(),
        category_id: value,
        producer_id: $('#producer').val(),
        online: online
      };

      itemAttachmentFileServices.getItemByIdAttachment(data, function (result) {
        adminSelenaViews.itemExcluded = result.data;
      })
    },
    loadItemExcluded(){
      var adminSelenaViews = this;
      var online = false;
      if($('#onlineCheck').is(':checked')){
        online = true;
      }

      var data = {
        id: adminSelenaViews.rowIdSelected,
        description: $('#item-code').val(),
        category_id: $('#category').val(),
        producer_id: $('#producer').val(),
        online: online
      };

      itemAttachmentFileServices.getItemByIdAttachment(data, function (result) {
        adminSelenaViews.itemExcluded = result.data;
      })
    },
    addItemExcludedToIncluded(id){
      var adminItemAttachmentFile = this;
      for(var i = 0; i< adminItemAttachmentFile.itemExcluded.length;i++){
        if(adminItemAttachmentFile.itemExcluded[i].id == id){
          adminItemAttachmentFile.detailTypeTranslate.itemIncluded.push(adminItemAttachmentFile.itemExcluded[i]);
        }
      }
    },
    addAllItemExcluded(){
      var adminItemAttachmentFile = this;
      for(var i = 0; i< adminItemAttachmentFile.itemExcluded.length;i++){
        adminItemAttachmentFile.detailTypeTranslate.itemIncluded.push(adminItemAttachmentFile.itemExcluded[i]);
      }
    },

    addAllbtnAddGroupNewsletter(){
      var adminItemAttachmentFile = this;

      var categoryPushs = {
        customergroup: $('#customergroup').val(),
        description: $('#select2-customergroup-container').text(),
      }
      adminItemAttachmentFile.detailTypeTranslate.groupNewsletter.push(categoryPushs);
    },

    addAllbtnAddUser(){
      var adminItemAttachmentFile = this;

      var categoryPushs = {
        userid: $('#user').val(),
        description: $('#select2-user-container').text(),
      }
      adminItemAttachmentFile.detailTypeTranslate.userIncluded.push(categoryPushs);
    },

      removeGroupNewsletter(id){
      var adminItemAttachmentFile = this;
      var categoryIncludedTmp = [];
      for(var i = 0; i< adminItemAttachmentFile.detailTypeTranslate.groupNewsletter.length;i++){
        if(adminItemAttachmentFile.detailTypeTranslate.groupNewsletter[i].id != id){
          categoryIncludedTmp.push(adminItemAttachmentFile.detailTypeTranslate.groupNewsletter[i]);
        }
      }
          adminItemAttachmentFile.detailTypeTranslate.groupNewsletter = categoryIncludedTmp;
    },

    removeUser(id){
      var adminItemAttachmentFile = this;
      var categoryIncludedTmp = [];
      for(var i = 0; i< adminItemAttachmentFile.detailTypeTranslate.userIncluded.length;i++){
        if(adminItemAttachmentFile.detailTypeTranslate.userIncluded[i].id != id){
          categoryIncludedTmp.push(adminItemAttachmentFile.detailTypeTranslate.userIncluded[i]);
        }
      }
          adminItemAttachmentFile.detailTypeTranslate.userIncluded = categoryIncludedTmp;
    },


      addAllCategoryExcluded(){
      var adminItemAttachmentFile = this;
      var categoryPush = {
        id: $('#categoryExcluded').val(),
        description: $('#select2-categoryExcluded-container').text(),
      }
      adminItemAttachmentFile.detailTypeTranslate.categoryIncluded.push(categoryPush);

    },

    removeItemIncluded(id){
      var adminItemAttachmentFile = this;
      var itemIncludedTmp = [];
      for(var i = 0; i< adminItemAttachmentFile.detailTypeTranslate.itemIncluded.length;i++){
        if(adminItemAttachmentFile.detailTypeTranslate.itemIncluded[i].id != id){
          itemIncludedTmp.push(adminItemAttachmentFile.detailTypeTranslate.itemIncluded[i]);
        }
      }
      adminItemAttachmentFile.detailTypeTranslate.itemIncluded = itemIncludedTmp;
    },
    removeCategoryIncluded(id){
      var adminItemAttachmentFile = this;
      var categoryIncludedTmp = [];
      for(var i = 0; i< adminItemAttachmentFile.detailTypeTranslate.categoryIncluded.length;i++){
        if(adminItemAttachmentFile.detailTypeTranslate.categoryIncluded[i].id != id){
          categoryIncludedTmp.push(adminItemAttachmentFile.detailTypeTranslate.categoryIncluded[i]);
        }
      }
      adminItemAttachmentFile.detailTypeTranslate.categoryIncluded = categoryIncludedTmp;
    },
    removeAllItemIncluded(){
      var adminItemAttachmentFile = this;
      if(confirm('Sei sicuro di rimuovere tutti gli articoli?')){
        adminItemAttachmentFile.detailTypeTranslate.itemIncluded = [];
      }
    },
    
    handleFileInput(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = 0; i < files.length; i++) {
        this.createAttachmentAgg(e.target.id, files[i].name, files[i]);
      }
    },
    createAttachmentAgg(id, name, file) {
      var idEl = id;
      var adminItemAttachmentFile = this;
      var idNum = idEl.replace("imgAttachmentAgg", "");
      var reader = new FileReader();
      reader.onload = (e) => {
        for(var i = 0; i< adminItemAttachmentFile.detailTypeTranslate.translateAttachment.length;i++){
          if(adminItemAttachmentFile.detailTypeTranslate.translateAttachment[i].id == idNum){
            adminItemAttachmentFile.detailTypeTranslate.translateAttachment[i].file = name;
            adminItemAttachmentFile.detailTypeTranslate.translateAttachment[i].fileBase64 = e.target.result;
            adminItemAttachmentFile.detailTypeTranslate.translateAttachment[i].description = name;
            adminItemAttachmentFile.detailTypeTranslate.translateAttachment[i].url = '/storage/files/' + name;
          }
        }
      };
      reader.readAsDataURL(file);
    },
    deleteTranslate(id){
      var adminSelenaViews = this;
      if(id != ''){
        if(confirm("Sei sicuro di voler eliminare la traduzione del file?")){
          itemAttachmentFileServices.delTranslation(id, function(result) {
            if(result.data>0){
              var idResult = result.data;
              var ln = storageData.sIdLanguage();

              itemAttachmentFileServices.getAll(ln,function(resultGet) {
                adminSelenaViews.tableData = resultGet.data;
                adminSelenaViews.viewDatailInfo(idResult);
                notificationHelpers.success(dictionaryHelpers.getDictionary("DeleteCompleted"));
              });
            }else{
              notificationHelpers.error('Ops, qualcosa è andato storto.');
            }
          });
        }
      }else{

        var translateAttachmentTmp = [];
        for(var i = 0; i< adminSelenaViews.detailTypeTranslate.translateAttachment.length;i++){
          if(adminSelenaViews.detailTypeTranslate.translateAttachment[i].id != ''){
            translateAttachmentTmp.push(adminSelenaViews.detailTypeTranslate.translateAttachment[i]);
          }
        }

        adminSelenaViews.detailTypeTranslate.translateAttachment = translateAttachmentTmp;
       
      }
    },
    delete(id) {
      var adminSelenaViews = this;
      this.viewBtn = false;
      spinnerHelpers.show();
      itemAttachmentFileServices.del(id, function() {
        notificationHelpers.success(dictionaryHelpers.getDictionary("DeleteCompleted"));
        var ln = adminSelenaViews.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminSelenaViews.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },
    onClickNewTranslate(){
      this.detailTypeTranslate.translateAttachment.push({
        id:'',
        file:'',
        fileBase64:'',
        url:'',
        language_id: '',
        language_description: '',
        description:''
      })
    },
    onClickNew() {
      spinnerHelpers.show();
      var adminSelenaViews = this;
      this.viewBtn = true;
      adminSelenaViews.loadItemExcluded();
      adminSelenaViews.rowIdSelected = '';

      adminSelenaViews.detailTypeTranslate = {
        id:'',
        typeAttachmentId:'',
        typeAttachmentDescription:'',
        translateAttachment : [{
          id:'',
          file:'',
          fileBase64: '',
          url:'',
          language_id: '',
          language_description: '',
          description:''
        }],
        itemIncluded: [],
        categoryIncluded: [],
        groupNewsletter: [],
        userIncluded: []
      };


      $("#tabTable").removeClass("active");
      $("#tabNationDetail").addClass("active");
      spinnerHelpers.hide();
    },
    cancelNewNation(){
      spinnerHelpers.show();
      this.detailNationData = {};
      this.rowIdSelected = 0;
      this.viewBtn = false;
      $("#tabTable").addClass("active");
      $("#tabNationDetail").removeClass("active");
      spinnerHelpers.hide();
    },
    saveNewNation(){
      spinnerHelpers.show();
      var adminSelenaViews = this;
      adminSelenaViews.detailTypeTranslate.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (functionHelpers.isValued(this.rowIdSelected) && this.rowIdSelected > 0) {
        adminSelenaViews.detailTypeTranslate.id = this.rowIdSelected;
    
        itemAttachmentFileServices.update(adminSelenaViews.detailTypeTranslate, function (result) {
          notificationHelpers.success(adminSelenaViews.updateCompleted);
          adminSelenaViews.loadTable();
          adminSelenaViews.rowIdSelected = 0;
          adminSelenaViews.viewBtn = false;
          $('#tabTable').addClass('active');
          $('#tabNationDetail').removeClass('active');
        })
      } else {
        itemAttachmentFileServices.insert(adminSelenaViews.detailTypeTranslate, function (result) {
          notificationHelpers.success(adminSelenaViews.insertCompleted);
          adminSelenaViews.loadTable();
          adminSelenaViews.rowIdSelected = 0;
          adminSelenaViews.viewBtn = false;
          $('#tabTable').addClass('active');
          $('#tabNationDetail').removeClass('active');
        })
      }
    },
    /* popup files */
    getImageShare(id, page) {
      $("#modalImgBlogFormShare").modal("show"); 
      var adminSettingNews = this; 
      var data = {
        page : page,
        search : $('#modalImgBlogFormShare #searchShare').val(),
        month : '',
        year : '',
      };

      adminSettingNews.idSelectedImageFiles = id; 

      itemAttachmentFileServices.getByFile(data, function (result) {
        if(adminSettingNews.resultFilePopupsShare.length == 0 || page == 1){
          adminSettingNews.resultFilePopupsShare = result.data;
          $('#ul-image-share').css('max-height', window.innerHeight - 200);
        }else{
          var array1 = adminSettingNews.resultFilePopupsShare;
          var array2 = result.data;
          var newArray = array1.concat(array2);
          adminSettingNews.resultFilePopupsShare = newArray;
        }
      }); 
    },
    handleScrollShare(){
      if($('#ul-image-share').scrollTop() + $('#ul-image-share').innerHeight() >= $('#ul-image-share')[0].scrollHeight) {
        this.getImageShare(this.idSelectedImageFiles, this.pageImageShare + 1);
        this.pageImageShare = this.pageImageShare + 1;
      }
    },
    SearchShare() { 
      var adminSettingNews = this;
      adminSettingNews.getImageShare(adminSettingNews.idSelectedImageFiles ,1);
    },
    selectImgShare(img,imgName) {
      var adminItemAttachmentFile = this; 
      $("#modalImgBlogFormShare").modal("hide");
      for(var i = 0; i< adminItemAttachmentFile.detailTypeTranslate.translateAttachment.length;i++){
          if(adminItemAttachmentFile.detailTypeTranslate.translateAttachment[i].id == adminItemAttachmentFile.idSelectedImageFiles){
            adminItemAttachmentFile.detailTypeTranslate.translateAttachment[i].file = imgName;
            adminItemAttachmentFile.detailTypeTranslate.translateAttachment[i].fileBase64 = '';
            adminItemAttachmentFile.detailTypeTranslate.translateAttachment[i].description = imgName;
            adminItemAttachmentFile.detailTypeTranslate.translateAttachment[i].url = img;
          }
        }
    },
    /* end popup files */
  }
};
</script>
<style>

.card-title-admin h1{
  font-size:40px;
  font-weight: lighter;
  color:#303C54;
}
.align-btn {
  position: absolute;
  margin-top: 30px;
  margin-left: 5px;
  z-index: 1;
}

.labelclass {
    color: rgba(0,0,0,.87);
    font-size: 12px;
    padding: 0 2px;
    margin: 0 0 -2px;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    background: #fff;
}

.custom-file-upload {
  padding: 20px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: lighter;
  border: 3px dashed #ededed;
  border-radius: 10px;
  color: slategrey;
}
.imgAttachmentAgg[type="file"] {
  display: none;
}
.div-row-items{
  border-bottom:1px solid #ededed;
  margin-bottom:10px;
  padding-bottom:10px;
}
.div-row-items p{
  margin-bottom:0px;
}

/* popup files */
.list-group-item{
  margin-bottom: 5px;
  height: 105px;
  padding: 0px;
  background: #ededed;
  border-radius: 0px;
}

#ul-image{
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  max-height: 50px;
  overflow:auto;
}
#ul-image-share{
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  max-height: 50px;
  overflow:auto;
}
.listLi {
  list-style: none;
  text-align: center;
  margin-top: 5px;
}
.labelListImage {
  cursor: pointer;
  font-size: 12px;
  padding: 2px;
  position: absolute;
  left: 0;
  top: 0px !important;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(255,255,255,0.7);
}
.modal-dialo{
  /*margin-left: calc(1vw);*/
  padding: 7px;
  width: calc(98vw);
  height: calc(99vh);
}

.div-extension-img{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #238AE6;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 7px -2px rgb(0 0 0 / 30%);
}

.div-extension-img label {
    font-size: 10px;
    margin: 0px !important;
    display: block;
    color: #fff;
    font-weight: bold;
}

.form-controls {
    display: block;
    width: 100%;
    padding: 28px px;
    height: 52px;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
}



</style>
