<template>
  <div id="adminCrmCustomer">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ crm }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">{{ postalcode }}</router-link>
      </li>
    </ol>
      <div class="container-fluid card-title-admin">
        <h1>{{ postalcode }}</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
            <div class="row align-btns" style="width:85%;">
              <div class="col-lg-12">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onNewCustomer"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
                <button
                  id="btnSave"
                  type="button"
                  class="btn btn-success"
                  @click="confirmSaveCustomer"
                  :disabled="disableButton"
                >
                  <i class="fa fa-floppy-o"></i>
                  <span>{{ save }}</span>
                </button>
                <button
                  id="btnDelete"
                  type="button"
                  class="btn btn-danger"
                  @click="confirmDeleteCustomer"
                  :disabled="disableButton"
                >
                  <i class="fa fa-trash"></i>
                  <span>{{ del }}</span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="tableConfiguration"
                  :datas="tableData"
                  id="tableCustomer"
                  :onCheck="onTableCheckCustomer"
                  :onCheckAll="onTableCheckCustomer"
                  :onUncheck="onTableCheckCustomer"
                  :onUncheckAll="onTableCheckCustomer"
                  ref="tableCustomer"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabDetail" role="tabpanel">
            <div class="card-header">{{titleDetail}}</div>
            <div class="card-body">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="AdminCrmCustomer"
                  :configurations="detailConfiguration"
                  :jsonValue="detailData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="confirmCancelNewCustomer"
                  ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="confirmSaveNewCustomer"
                  >	<i class="fa fa-floppy-o"></i>	&nbsp;{{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";

export default {
  name: "adminCrmCustomer",
  components: {
    BootstrapTable,
    PageDetail
  },
  data: function() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      crm: dictionaryHelpers.getDictionary("CRM"),
      postalcode: dictionaryHelpers.getDictionary("PostalCode"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      detailConfiguration: [],
      detailData: {},
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newCustomer: dictionaryHelpers.getDictionary("NewCustomer"),
      openDetail: dictionaryHelpers.getDictionary("OpenDetail"),
      save: dictionaryHelpers.getDictionary("Save"),
      tableConfiguration: [],
      tableCustomerResult: [],
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0
    };
  },
  created() {
    var adminCrmCustomer = this;

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function(result) {
      if (functionHelpers.isValued(result) && functionHelpers.isValued(result.data)) {
        adminCrmCustomer.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
        adminCrmCustomer.detailConfiguration = result.data.tabsConfigurations[0].pageConfigurations;
      }

      adminCrmCustomer.loadTable();
    });
  },
  methods: {
    loadTable() {
      var adminCrmCustomer = this;

      postalCodeServices.getAll(function(result) {
        adminCrmCustomer.tableData = result.data;
        spinnerHelpers.hide();
      });
    },

    postalCodeFormatter(value, row, index, field) {
      var adminCrmCustomer = this;
      var html =
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
       '<button class="btn btn-success" onclick="adminCrmCustomer.__vue__.executeOpenDetail(' +
       row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
         '" /></button></div>';

    
      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function(i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += adminCrmCustomer.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div></div>";
      return html;
    },

    executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminCrmCustomer = this;
      this.rowIdSelected = id;
      this.titleDetail = this.customer;

      $.each(this.tableData, function(i, row) {
        if (adminCrmCustomer.rowIdSelected == row.id) {
          adminCrmCustomer.detailData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    onNewCustomer() {
      spinnerHelpers.show();
      this.detailData = {};
      this.titleDetail = this.newCustomer;
      this.rowIdSelected = 0;
      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveCustomer() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveCustomer();
      }
    },

    executeSaveCustomer() {
      spinnerHelpers.show();
      var adminCrmCustomer = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCustomer.getRowSelected(), function(i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminCrmCustomer.rowsSelected = adminCrmCustomer.rowsSelected + 1;

        postalCodeServices.update(
          rowToSave,
          function() {
            adminCrmCustomer.checkAllIsSaved();
            adminCrmCustomer.tableResult.push({
              id: rowToSave.id,
              success: true
            });
            notificationHelpers.success(adminCrmCustomer.updateCompleted);
          },
          function(response) {
            adminCrmCustomer.checkAllIsSaved();
            adminCrmCustomer.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    confirmDeleteCustomer() {
      if (confirm(this.confirmDelete)) {
        this.executeDeleteCustomer();
      }
    },
    executeDeleteCustomer() {
      spinnerHelpers.show();
      var adminCrmCustomer = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCustomer.getRowSelected(), function(i, row) {
        adminCrmCustomer.rowsSelected = adminCrmCustomer.rowsSelected + 1;

        postalCodeServices.del(
          row.id,
          function() {
            adminCrmCustomer.checkAllIsSaved();
            notificationHelpers.success(adminCrmCustomer.deleteCompleted);
          },
          function(response) {
            adminCrmCustomer.checkAllIsSaved();
            adminCrmCustomer.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    onTableCheckCustomer() {
      var countRowSelected = this.$refs.tableCustomer.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },

    confirmCancelNewCustomer() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmCancel"))) {
        this.executeCancelCustomer();
      }
    },

    executeCancelCustomer() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $("#tabTable").addClass("active");
      $("#tabDetail").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveNewCustomer() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveNewCustomer();
      }
    },

    executeSaveNewCustomer() {
      spinnerHelpers.show();
      var adminCrmCustomer = this;
      this.detailData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailData.company)) {
        this.detailData.company = false;
      }

      if (!functionHelpers.isValued(this.detailData.sendNewsletter)) {
        this.detailData.sendNewsletter = false;
      }

      if (!functionHelpers.isValued(this.detailData.errorNewsletter)) {
        this.detailData.errorNewsletter = false;
      }

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailData.id = this.rowIdSelected;

        postalCodeServices.update(this.detailData, function(result) {
          adminCrmCustomer.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmCustomer.updateCompleted
          });
          notificationHelpers.success(adminCrmCustomer.updateCompleted);
          adminCrmCustomer.loadTable();
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      } else {
        postalCodeServices.insert(this.detailData, function(result) {
          adminCrmCustomer.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmCustomer.insertCompleted
          });
          notificationHelpers.success(adminCrmCustomer.insertCompleted);
          adminCrmCustomer.loadTable();
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      }
    },

    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable();
      }
    }
  }
};
</script>
<style>
.card-title-admin h1{
  font-size:40px;
  font-weight: lighter;
  color:#303C54;
}
.align-btns {
 position: absolute;
    z-index: 1;
    margin-top: 10px;
}

</style>