<template>
  <div id="adminCrmRegions">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ crm }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">{{ region }}</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>Regioni</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
                  <div class="row align-btns" style="width:85%;">
                    <div class="col-lg-6">
                      <button id="btnAdd" type="button" class="btn btn-primary" @click="onClickNew">
                        <i class="fa fa-plus"></i>
                        <span>{{ add }}</span>
                      </button>
                    </div>
                    <div class="col-3 text-left">
                      <select2
                        id="select_AdminPagesView_IdLanguage"
                        ref="select_AdminPagesView_IdLanguage"
                        class="form-control nopadding"
                        style="width:75%"
                        :filterable="false"
                        service="languages"
                        v-model="
                    pageValueSelected.languagePageSetting.idLanguage
                  "
                        :default="defaultLanguageOptions"
                        :change="languageChange"
                      />
                      <span style="margin-left:10px;">{{ language }}</span>
                    </div>
                  </div>
                <div class="card-body" style="padding:0px;">
              <bootstrapTable
                :configurations="TableRegionsConfiguration"
                :datas="tableData"
                id="tableRegions"
                ref="tableRegions"
                :onCheck="onTableCheck"
                :results="tableRegionsResult"
              ></bootstrapTable>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabRegionDetail" role="tabpanel">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="AdminSettingRegion"
                  :configurations="DetailRegionsConfiguration"
                  :jsonValue="detailRegionData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="cancelNewRegion"
                  >	<i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                  <button type="button" class="btn btn-success" @click="saveNewRegion">	<i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import Select2 from "@/components/Select2.vue";
import PageDetail from "@/components/PageDetail.vue";
export default {
  name: "adminCrmRegions",
  components: {
    BootstrapTable,
    Select2,
    PageDetail,
  },
  data: function () {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      save: dictionaryHelpers.getDictionary("Save"),
      crm: dictionaryHelpers.getDictionary("CRM"),
      region: dictionaryHelpers.getDictionary("Region"),
      language: dictionaryHelpers.getDictionary("Language"),
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      defaultLanguageOptions: [],
      tableRegionsResult: [],
      rowIdSelected:0,
      TableRegionsConfiguration: [],
      DetailRegionsConfiguration: [],
      detailRegionData: {},
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
      },
      tableData: [],
      disableButton: true,
      url: window.location.pathname,
    };
  },
  created() {
    var adminCrmRegions = this;

    spinnerHelpers.show();
    adminCrmRegions.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage(),
    };

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function (result) {
      adminCrmRegions.TableRegionsConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
           adminCrmRegions.DetailRegionsConfiguration =
        result.data.tabsConfigurations[0].pageConfigurations;

      adminCrmRegions.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminCrmRegions = this;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      }

      regionsServices.getAll(ln, function (result) {
        adminCrmRegions.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    onTableCheck() {
      var countRowSelected = this.$refs.tableRegions.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminCrmRegions = this;
      adminCrmRegions.loadTable(value);
      spinnerHelpers.hide();
    },
    RegionFormatter(value, row, index, field) {
      var adminCrmRegions = this;
      var html = "";
      html +=
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<button class="btn btn-success" onclick="adminCrmRegions.__vue__.viewDatailInfo(' +
        row.id +
        ')"><i class="fa fa-pencil"/></button>';
      html +=
        '<button class="btn btn-danger" onclick="adminCrmRegions.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';

      html += "</div>";
      return html;
    },
    viewDatailInfo(id) {
      spinnerHelpers.show();
      var adminCrmRegions = this;
      this.rowIdSelected = id; 

      $.each(this.tableData, function (i, row) {
        if (adminCrmRegions.rowIdSelected == row.id) {
          adminCrmRegions.detailRegionData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabRegionDetail").addClass("active");
      spinnerHelpers.hide();
    },
    delete(id) {
      var adminCrmRegions = this;
      spinnerHelpers.show();
      regionsServices.del(id, function () {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("DeleteCompleted")
        );
        var ln =
          adminCrmRegions.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminCrmRegions.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },
    onClickNew() {
      spinnerHelpers.show();
      this.detailRegionData = {};
      this.rowIdSelected="";
      $("#tabTable").removeClass("active");
      $("#tabRegionDetail").addClass("active");
      spinnerHelpers.hide();
    },
    cancelNewRegion() {
      spinnerHelpers.show();
      this.detailRegionData = {};
      $("#tabTable").addClass("active");
      $("#tabRegionDetail").removeClass("active");
      spinnerHelpers.hide();
    },
    saveNewRegion() {
      spinnerHelpers.show();
      var adminCrmRegions = this;
      this.detailRegionData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailRegionData.id = this.rowIdSelected;

        regionsServices.update(this.detailRegionData, function (result) {
          notificationHelpers.success(adminCrmRegions.updateCompleted);
          adminCrmRegions.loadTable();
          $("#tabTable").addClass("active");
          $("#tabRegionDetail").removeClass("active");
        });
      } else {
        regionsServices.insert(this.detailRegionData, function (result) {
          notificationHelpers.success(adminCrmRegions.insertCompleted);
          adminCrmRegions.loadTable();
          $("#tabTable").addClass("active");
          $("#tabRegionDetail").removeClass("active");
        });
      }
    },
  },
};
</script>
<style scoped>
.card-title-admin .card {
  background: transparent;
  border: 0px;
}
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}

.align-btns {
    position: absolute;
    z-index: 1;
    margin-top: 10px;
}
.span {
  position: absolute;
  margin-top: 75px;
}
</style>
