<template>
  <div id="adminSelenaViews">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ setting }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Agenti</router-link>
      </li>
    </ol>
      <div class="container-fluid card-title-admin">
        <h1>Agenti</h1>
    </div>
     <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane nopadding active" id="tabTable" role="tabpanel">
            <div class="row align-btn">
              <div class="col-lg-12 text-left">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onClickNew"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
              </div>
            </div>
            <div class="card-body">
              <bootstrapTable
                :configurations="tableConfiguration"
                :datas="tableData"
                id="tableContents"
                ref="tableContents"
                :onCheck="onTableCheckCustomer"
                :results="tableNationResult"
              ></bootstrapTable>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabNationDetail" role="tabpanel">
            <div class="row">
              <div class="col-sm-12"> 
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <button
                      id="tabAdminDataSalesman"
                      class="nav-link active"
                      type="button"
                      data-toggle="tab"
                      href="#tabAdminDataSalesman"
                      role="tab"
                      aria-controls="tabAdminDataSalesman"
                      v-on:click="onTabAdminDataSalesman"
                    >
                      <span>Dati</span>
                    </button>
                  </li>
                  <li class="nav-item" v-if="rowIdSelected > 0">
                    <button
                      id="tabAdminDataSalesmanUsers"
                      class="nav-link"
                      type="button"
                      data-toggle="tab"
                      href="#tabAdminDataSalesmanUsers"
                      role="tab"
                      aria-controls="tabAdminDataSalesmanUsers"
                      v-on:click="onTabAdminDataSalesmanUsers"
                    >
                      <span>Clienti</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-content">
              <div class="card-body active tab-pane" id="adminDataSalesman" role="tabpanel" style="padding: 30px;">
                <div class="row">
                  <div v-if="rowIdSelected > 0">
                    <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                  </div>
                  <div v-else>
                    <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                  </div>
                  <pageDetail
                    functions="AdminSettingNation"
                    :configurations="detailNationConfiguration"
                    :jsonValue="detailNationData"
                  ></pageDetail>
                </div>
                <div class="row">
                  <div class="col-12 text-right">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                      @click="cancelNewNation"
                    ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                    <button
                      type="button"
                      class="btn btn-success"
                      @click="saveNewNation"
                    ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                  </div>
                </div>
              </div>
              <div class="card-body tab-pane" id="adminDataSalesmanUsers" v-if="rowIdSelected > 0" role="tabpanel" style="padding: 30px;">
                <div class="row">
                  <div class="col-6 text-left">
                    <h1>Clienti associati</h1>
                    <div v-if="detailNationData.salesmanUsersIncluded.length > 0">
                      <div class="row no-gutters div-row-items" v-for="salesmanUsersIncludeds in detailNationData.salesmanUsersIncluded" v-bind:key="salesmanUsersIncludeds.user_id" style="padding-bottom:.3rem;">
                        <div class="col-10 aling-self-center">
                          <p>{{salesmanUsersIncludeds.description}}</p> 
                        </div>
                        <div class="col-2 aling-self-center text-right">
                          <i class="fa fa-times fa-lg" :data-id="salesmanUsersIncludeds.user_id" @click="removeSalesmanUserIncluded(salesmanUsersIncludeds.user_id, salesmanUsersIncludeds.salesman_id)" style="color:red;cursor:pointer;font-size:14px;margin-right:15px;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 text-left">
                    <h1>Clienti non associati</h1>
                    <div v-if="detailNationData.salesmanUsersExcluded.length > 0">
                      <div class="row no-gutters div-row-items" v-for="salesmanUsersExcludeds in detailNationData.salesmanUsersExcluded" v-bind:key="salesmanUsersExcludeds.user_id" style="padding-bottom:.3rem;">
                        <div class="col-10 aling-self-center">
                          <p>{{salesmanUsersExcludeds.description}}</p> 
                        </div>
                        <div class="col-2 aling-self-center text-right">
                          <i class="fa fa-plus fa-lg" :data-id="salesmanUsersExcludeds.user_id" @click="addSalesmanUserExcluded(salesmanUsersExcludeds.user_id, salesmanUsersExcludeds.salesman_id)" style="color:green;cursor:pointer;font-size:14px;margin-right:15px;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-right">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                      @click="cancelNewNation"
                    ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                    <button
                      type="button"
                      class="btn btn-success"
                      @click="saveNewNation"
                    ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
export default {
  name: "adminSelenaViews",
  components: {
    BootstrapTable,
    PageDetail
  },
  data: function() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      save: dictionaryHelpers.getDictionary("Save"),
      setting: dictionaryHelpers.getDictionary("Setting"),
      language: dictionaryHelpers.getDictionary("Language"),
      updateCompleted: dictionaryHelpers.getDictionary('UpdateCompleted'),
      insertCompleted: dictionaryHelpers.getDictionary('InsertCompleted'),
      defaultLanguageOptions: [],
      detailNationConfiguration: [],
      tableNationResult: [],
      detailNationData: {},
      tableConfiguration: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null }
      },
      tableData: [],
      rowIdSelected: 0,
      disableButton: true,
      url: window.location.pathname
    };
  },
  created() {
    var adminSelenaViews = this;

    spinnerHelpers.show();
    adminSelenaViews.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function(result) {
      
      adminSelenaViews.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
      adminSelenaViews.detailNationConfiguration = result.data.tabsConfigurations[0].pageConfigurations;

      adminSelenaViews.loadTable();
    });
  },
  methods: {
    onTabAdminDataSalesman(){
      $("#adminDataSalesman").addClass("active");
      $("#adminDataSalesmanUsers").removeClass("active");
    },
    onTabAdminDataSalesmanUsers(){
      $("#adminDataSalesman").removeClass("active");
      $("#adminDataSalesmanUsers").addClass("active");
    },
    loadTable(ln) {
      var adminSelenaViews = this;
      if(!functionHelpers.isValued(ln)){
        ln = storageData.sIdLanguage();
      }
      
      salesmanServices.getAll(ln,function(result) {
        adminSelenaViews.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    onTableCheckCustomer() {
      var countRowSelected = this.$refs.tableContents.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminSelenaViews = this;
      adminSelenaViews.loadTable(value);
      spinnerHelpers.hide();

    },
    SalesmanFormatter(value, row, index, field) {
      var adminSelenaViews = this;
      var html = "";
      '<div class="container-fluid" style="min-width:80px;"><div class="row">';
      html +=
         '<button class="btn btn-success" onclick="adminSelenaViews.__vue__.viewDatailInfo(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button>';
          html +=
         '<button class="btn btn-danger" onclick="adminSelenaViews.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';
      return html;
    },

    viewDatailInfo(id){
      spinnerHelpers.show();
      var adminSelenaViews = this;
      this.rowIdSelected = id;

      adminSelenaViews.viewDatailInfoFunction(id);

      adminSelenaViews.changeViewDetailInfo();
      

    },
    viewDatailInfoFunction(id){
      var adminSelenaViews = this;
      this.rowIdSelected = id;
      $.each(this.tableData, function(i, row) {
        if (adminSelenaViews.rowIdSelected == row.id) {
          adminSelenaViews.detailNationData = row;
        }
      });
    },
    changeViewDetailInfo(){
      $("#tabTable").removeClass("active");
      $("#tabNationDetail").addClass("active");
      $("#adminDataSalesman").addClass("active");
      $("#adminDataSalesmanUsers").removeClass("active");
      spinnerHelpers.hide();
    },
    delete(id) {
      var adminSelenaViews = this;
      spinnerHelpers.show();
      salesmanServices.del(id, function() {
        notificationHelpers.success(dictionaryHelpers.getDictionary("DeleteCompleted"));
        var ln = adminSelenaViews.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminSelenaViews.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },
    onClickNew() {
      spinnerHelpers.show();
      var adminSelenaViews = this;
      adminSelenaViews.rowIdSelected = 0;
      adminSelenaViews.detailNationData.description = '';
      adminSelenaViews.detailNationData.id= '';
      adminSelenaViews.detailNationData.idFunctionality= '';
      adminSelenaViews.detailNationData.order= '';
      adminSelenaViews.detailNationData.typeOptional= '';
      adminSelenaViews.detailNationData.typeOptionalId= '';

     // this.detailNationData = {};
      $("#tabTable").removeClass("active");
      $("#tabNationDetail").addClass("active");
      $("#adminDataSalesman").addClass("active");
      $("#adminDataSalesmanUsers").removeClass("active");
      spinnerHelpers.hide();
    },
    cancelNewNation(){
      spinnerHelpers.show();
      this.detailNationData = {};
      $("#tabTable").addClass("active");
      $("#tabNationDetail").removeClass("active");
      $("#adminDataSalesman").addClass("active");
      $("#adminDataSalesmanUsers").removeClass("active");
      spinnerHelpers.hide();
    },
    saveNewNation(){
      spinnerHelpers.show();
      var adminSelenaViews = this;
      this.detailNationData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (functionHelpers.isValued(this.rowIdSelected) && this.rowIdSelected > 0) {
        this.detailNationData.id = this.rowIdSelected;
    
        salesmanServices.update(this.detailNationData, function (result) {
          notificationHelpers.success(adminSelenaViews.updateCompleted);
          adminSelenaViews.loadTable();
          $('#tabTable').addClass('active');
          $('#tabNationDetail').removeClass('active');
          $("#adminDataSalesman").addClass("active");
          $("#adminDataSalesmanUsers").removeClass("active");
        })
      } else {
        salesmanServices.insert(this.detailNationData, function (result) {
          notificationHelpers.success(adminSelenaViews.insertCompleted);
          adminSelenaViews.loadTable();
          $('#tabTable').addClass('active');
          $('#tabNationDetail').removeClass('active');
          $("#adminDataSalesman").addClass("active");
          $("#adminDataSalesmanUsers").removeClass("active");
        })
      }
    },

    removeSalesmanUserIncluded(userId, salesmanId){
      //funzione di rimozione clienti - agenti
      //funzione di associazione clienti - agenti
      var adminSelenaViews = this;
      var data = {
        'user_id': userId,
        'salesman_id': salesmanId
      };

      salesmanServices.removeSalesmanUsers(data, function (result) {
        var ln = storageData.sIdLanguage();
       
        salesmanServices.getAll(ln,function(result) {
          adminSelenaViews.tableData = result.data;
          $.each(adminSelenaViews.tableData, function(i, row) {
            if (adminSelenaViews.rowIdSelected == row.id) {
              adminSelenaViews.detailNationData = row;
              notificationHelpers.success(adminSelenaViews.insertCompleted);
            }
          });
        });
      })
    },
    addSalesmanUserExcluded(userId, salesmanId){
      //funzione di associazione clienti - agenti
      var adminSelenaViews = this;
      var data = {
        'user_id': userId,
        'salesman_id': salesmanId
      };

      salesmanServices.insertSalesmanUsers(data, function (result) {
        //adminSelenaViews.loadTable();
        var ln = storageData.sIdLanguage();
        
        salesmanServices.getAll(ln,function(result) {
          adminSelenaViews.tableData = result.data;
          $.each(adminSelenaViews.tableData, function(i, row) {
            if (adminSelenaViews.rowIdSelected == row.id) {
              adminSelenaViews.detailNationData = row;

              notificationHelpers.success(adminSelenaViews.insertCompleted);
            }
          });
        });
      })
    },
  }
};
</script>
<style>

.card-title-admin h1{
  font-size:40px;
  font-weight: lighter;
  color:#303C54;
}
.align-btn {
  position: absolute;
  margin-top: 30px;
  margin-left: 5px;
  z-index: 1;
}

.nav-tabs .nav-item {
  width: 50%;
}
.nav-tabs .nav-link {
  width: 100%;
  border-radius: 0;
  color: #fff;
  background: #3c4b64;
  border-bottom: 3px solid #f45f00 !important;
  border: 0px;
}
.nav-tabs .nav-link.active {
  background: #2a3545 !important;
}
.nav-tabs > .nav-item > .nav-link:not(.active) {
  background: #3c4b64 !important;
}

</style>
