<template>
  <div id="adminSelenaViews">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ setting }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Supporti</router-link>
      </li>
    </ol>
      <div class="container-fluid card-title-admin">
        <div class="row">
          <div class="col-6">
            <h1>Supporti</h1>
          </div>
          <div class="col-6">
            <div class="row" v-if="rowIdSelected>0 || checkInsert">
              <div class="col-12 text-right">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="modal"
                  @click="cancelNewNation"
                ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                <button
                  type="button"
                  class="btn btn-success"
                  @click="saveNewNation"
                ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
     <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane nopadding active" id="tabTable" role="tabpanel">
            <div class="row align-btn" style="width:85%;">
              <div class="col-12 text-left">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onClickNew"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
              </div>
            </div>
            <div class="card-body">
              <bootstrapTable
                :configurations="tableConfiguration"
                :datas="tableData"
                id="tableContents"
                ref="tableContents"
                :onCheck="onTableCheckCustomer"
                :results="tableNationResult"
              ></bootstrapTable>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabNationDetail" role="tabpanel">
            <div class="row">
              <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <button
                      id="tabAdminDetailSupports"
                      class="nav-link active"
                      type="button"
                      data-toggle="tab"
                      href="#tabAdminDetailSupportsTab"
                      role="tab"
                      aria-controls="tabAdminDetailSupportsTab"
                      v-on:click="onDetailSupportsTab"
                    >
                      <span>Dettagli</span>
                    </button>
                  </li>

                  <li class="nav-item" v-if="rowIdSelected>0">
                    <button
                      id="tabAdminPriceSupports"
                      class="nav-link"
                      type="button"
                      data-toggle="tab"
                      href="#tabAdminPriceSupportsTab"
                      role="tab"
                      aria-controls="tabAdminPriceSupportsTab"
                      v-on:click="onItemPriceSupportsTab"
                    >
                      <span>Prezzi</span>
                    </button>
                  </li>
                </ul>
                <div class="tab-content">
                  <!-- TAB DETTAGLI -->
                  <div class="card-body active tab-pane" role="tabpanel" id="tabContentAdminDetailSupports">
                    <div class="row" style="padding: 15px;">
                     <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                      <pageDetail
                        functions="AdminSettingNation"
                        :configurations="detailNationConfiguration"
                        :jsonValue="detailNationData"
                      ></pageDetail>
                    </div>
                  </div>
                  <!-- END TAB DETTAGLI -->
                   <!-- TAB PREZZI -->
                  <div class="card-body tab-pane" role="tabpanel" id="tabContentAdminPriceSupports">
                    <div class="row" style="padding-bottom:15px;margin-bottom:30px;border-bottom:3px dashed #ededed;">
                      <div class="col-4 align-self-center">
                        <h6>Unità di misura per calcolo scaglioni prezzo</h6>
                        <select id="um_prices_id" ref="um_prices_id" class="form-control nopadding" style="width:75%"></select>
                      </div>
                      <div class="col-8 text-right align-self-center">
                        <button class="btn btn-primary" @click="addNewDetailSupportPrice()">AGGIUNGI RANGE</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div v-if="listSupportsPrices.length > 0">
                          <div class="row div-row-detail-carrier-area" v-for="listSupportsPrice in listSupportsPrices" v-bind:key="listSupportsPrice.id">
                            <div class="col-1 align-self-center">
                              <label>Da<br> <font style="font-size:10px;">(maggiore o uguale)</font></label>
                            </div>
                            <div class="col-2 align-self-center">
                              <input type="number" @change="updateDetailSupportsPrice(listSupportsPrice.id)" class="form-control" :id="'from-' + listSupportsPrice.id" :name="'from-' + listSupportsPrice.id" :value="listSupportsPrice.from">
                            </div>
                            <div class="col-1 align-self-center">
                              <label>A <br><font style="font-size:10px;">(minore)</font></label>
                            </div>
                            <div class="col-2 align-self-center">
                              <input type="number" @change="updateDetailSupportsPrice(listSupportsPrice.id)" class="form-control" :id="'to-' + listSupportsPrice.id" :name="'to-' + listSupportsPrice.id" :value="listSupportsPrice.to">
                            </div>
                            <div class="col-1 align-self-center">
                              <label>Importo</label>
                            </div>
                            <div class="col-2 align-self-center">
                              <input type="number" @change="updateDetailSupportsPrice(listSupportsPrice.id)" class="form-control" :id="'price-' + listSupportsPrice.id" :name="'price-' + listSupportsPrice.id" :value="listSupportsPrice.price">
                            </div>
                            <div class="col-3 align-self-center">
                              <button class="btn btn-danger" @click="deleteRangeDetailSupportsPrice(listSupportsPrice.id)"><i class="fa fa-trash"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="text-center" v-else>
                          <h3>Nessun prezzo presente</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END TAB PREZZI -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
export default {
  name: "adminSelenaViews",
  components: {
    BootstrapTable,
    PageDetail
  },
  data: function() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      save: dictionaryHelpers.getDictionary("Save"),
      setting: dictionaryHelpers.getDictionary("Setting"),
      language: dictionaryHelpers.getDictionary("Language"),
      updateCompleted: dictionaryHelpers.getDictionary('UpdateCompleted'),
      insertCompleted: dictionaryHelpers.getDictionary('InsertCompleted'),
      defaultLanguageOptions: [],
      detailNationConfiguration: [],
      tableNationResult: [],
      listSupportsPrices: [],
      detailNationData: {},
      tableConfiguration: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null }
      },
      tableData: [],
      disableButton: true,
      checkInsert: false,
      rowIdSelected: 0,
      url: window.location.pathname
    };
  },
  created() {
    var adminSelenaViews = this;

    spinnerHelpers.show();
    adminSelenaViews.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function(result) {
      
      adminSelenaViews.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
      adminSelenaViews.detailNationConfiguration = result.data.tabsConfigurations[0].pageConfigurations;

      adminSelenaViews.loadTable();
    });
  },
  methods: {
    onDetailSupportsTab(){
      //detail support tab click
      $("#tabContentAdminPriceSupports").removeClass("active");
      $("#tabContentAdminDetailSupports").addClass("active");
    },
    onItemPriceSupportsTab(){
      //price support tab click
      this.loadPriceSupports();

      $("#tabContentAdminPriceSupports").addClass("active");
      $("#tabContentAdminDetailSupports").removeClass("active");
    },
    updateDetailSupportsPrice(id){
      //update range support price by id rowidselected
      var adminSelenaViews = this;
      var data = {
        'id': id,
        'from' : $('#from-' + id).val(),
        'to': $('#to-' + id).val(),
        'price': $('#price-' + id).val()
      };

      supportsServices.updateSupportPrice(data, function(result){
        adminSelenaViews.loadPriceSupports();
        notificationHelpers.success("Range aggiornato correttamente");
      });
    },
    deleteRangeDetailSupportsPrice(id){
      //delete range support price by id rowidselected
      var adminSelenaViews = this;

      supportsServices.deleteRangeDetailSupportsPrice(id, function(result){
        adminSelenaViews.loadPriceSupports();
        notificationHelpers.success("Range eliminato correttamente");
      });
    },
    addNewDetailSupportPrice(){
      //add support price by id rowidselected
      var adminSelenaViews = this;
      var data = {
        'id': adminSelenaViews.rowIdSelected,
        'from' : '',
        'to': '',
        'price': ''
      };

      supportsServices.insertSupportPrice(data, function(result){
        adminSelenaViews.loadPriceSupports();
        notificationHelpers.success("Range aggiunto correttamente");
      });
    },
    loadPriceSupports(){
      var adminSelenaViews = this;
      var id = adminSelenaViews.rowIdSelected;
      var url = configData.wsRootServicesUrl + '/api/v1/UnitMeasure/select';
      var searchParam = "";
      var initials = [];
      if(adminSelenaViews.detailNationData.um_prices_id != '' && adminSelenaViews.detailNationData.um_prices_id != null){
        initials.push({
          id: adminSelenaViews.detailNationData.um_prices_id,
          text: adminSelenaViews.detailNationData.um_description_prices
        });
      }else{
        initials.push({
          id: '',
          text: '- Seleziona -'
        });
      }
      
      $('#um_prices_id').select2({
        data: initials,
        ajax: {
          url: url,
          data: function (params) {
            if(params.term==''){
              searchParam = '*';
            }else{
              searchParam = params.term;
            }
            var query = {
            search: searchParam
            }
            return query;
          },
          processResults: function (data) {
            var dataParse = JSON.parse(data);
            return {
              results: dataParse.data
            };
          }
        }
      }).on('change', function (e) {
        var data = {
          id: id,
          idUm: $('#um_prices_id').val()
        };
        supportsServices.updateUmSupportPrices(data, function (result) {
          notificationHelpers.success("Unità di misura salvata correttamente");
        })
        
      });

      supportsServices.getAllPricesSupports(id, function(result){
        adminSelenaViews.listSupportsPrices = result.data;
      });
    },
    loadTable(ln) {
      var adminSelenaViews = this;
      if(!functionHelpers.isValued(ln)){
        ln = storageData.sIdLanguage();
      }
      
      supportsServices.getAll(ln,function(result) {
        adminSelenaViews.checkInsert = false;
        adminSelenaViews.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    onTableCheckCustomer() {
      var countRowSelected = this.$refs.tableContents.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminSelenaViews = this;
      adminSelenaViews.loadTable(value);
      spinnerHelpers.hide();

    },
    SupportsFormatter(value, row, index, field) {
      var adminSelenaViews = this;
      var html = "";
      '<div class="container-fluid" style="min-width:80px;"><div class="row">';
      html +=
         '<button class="btn btn-success" onclick="adminSelenaViews.__vue__.viewDatailInfo(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button>';
          html +=
         '<button class="btn btn-danger" onclick="adminSelenaViews.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';
      return html;
    },

    viewDatailInfo(id){
      spinnerHelpers.show();
      var adminSelenaViews = this;
      this.rowIdSelected = id;

      $.each(this.tableData, function(i, row) {
        if (adminSelenaViews.rowIdSelected == row.id) {
          adminSelenaViews.detailNationData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabNationDetail").addClass("active");
      spinnerHelpers.hide();

    },
    delete(id) {
      var adminSelenaViews = this;
      spinnerHelpers.show();
      supportsServices.del(id, function() {
        notificationHelpers.success(dictionaryHelpers.getDictionary("DeleteCompleted"));
        var ln = adminSelenaViews.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminSelenaViews.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },
    onClickNew() {
      spinnerHelpers.show();
      this.detailNationData = {};
      this.checkInsert = true;
      $("#tabTable").removeClass("active");
      $("#tabNationDetail").addClass("active");
      spinnerHelpers.hide();
    },
    cancelNewNation(){
      spinnerHelpers.show();
      this.detailNationData = {};
      this.rowIdSelected = 0;
      this.checkInsert = false;
      $("#tabTable").addClass("active");
      $("#tabNationDetail").removeClass("active");
      
      spinnerHelpers.hide();
    },
    saveNewNation(){
      spinnerHelpers.show();
      var adminSelenaViews = this;
      this.detailNationData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (functionHelpers.isValued(this.rowIdSelected) && this.rowIdSelected > 0) {
        this.detailNationData.id = this.rowIdSelected;

        supportsServices.update(this.detailNationData, function (result) {
          notificationHelpers.success(adminSelenaViews.updateCompleted);
          adminSelenaViews.checkInsert = false;
          adminSelenaViews.rowIdSelected = 0;
          adminSelenaViews.loadTable();
          $('#tabTable').addClass('active');
          $('#tabNationDetail').removeClass('active');
        })
      } else {
        supportsServices.insert(this.detailNationData, function (result) {
          notificationHelpers.success(adminSelenaViews.insertCompleted);
          adminSelenaViews.checkInsert = false;
          adminSelenaViews.rowIdSelected = 0;
          adminSelenaViews.loadTable();
          $('#tabTable').addClass('active');
          $('#tabNationDetail').removeClass('active');
        })
      }
    }
  }
};
</script>
<style scoped>

.card-title-admin h1{
  font-size:40px;
  font-weight: lighter;
  color:#303C54;
}
.align-btn {
  position: absolute;
  margin-top: 30px;
  margin-left: 5px;
  z-index: 1;
}

.nav-tabs .nav-item {
  width: 50%;
}
.nav-tabs .nav-link {
  width: 100%;
  border-radius: 0;
  color: #fff;
  background: #3c4b64;
  border-bottom: 3px solid #f45f00 !important;
  border: 0px;
}
.nav-tabs .nav-link.active {
  background: #2a3545 !important;
}
.nav-tabs > .nav-item > .nav-link:not(.active) {
  background: #3c4b64 !important;
}

.div-row-detail-carrier-area{
  margin-bottom: 5px;
}
</style>
