<template>
  <div id="AdminCrmZone">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ crm }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">zone</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>Zone</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content">
          <div class="tab-pane active" id="tabZoneTable" role="tabpanel"> 
                  <div class="row align-btns" style="width:85%;">
                    <div class="col-lg-6">
                      <button id="btnAdd" type="button" class="btn btn-primary" @click="onClickNew">
                        <i class="fa fa-plus"></i>
                        <span>{{ add }}</span>
                      </button>
                    </div>
                  </div>
            <div class="card-body" style="padding:0px;">
              <bootstrapTable
                :configurations="TableZoneConfiguration"
                :datas="tableData"
                id="tableZone"
                ref="tableZone"
                :onCheck="onTableCheck"
                :results="tableZoneResult"
              ></bootstrapTable>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabZoneDetail" role="tabpanel">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="AdminSettingZone"
                  :configurations="DetailZoneConfiguration"
                  :jsonValue="detailZoneData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="cancelNewZone"
                  ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                  <button type="button" class="btn btn-success" @click="saveNewZone"><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import Select2 from "@/components/Select2.vue";
import PageDetail from "@/components/PageDetail.vue";
export default {
  name: "AdminCrmZone",
  components: {
    BootstrapTable,
    Select2,
    PageDetail,
  },
  data: function () {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      save: dictionaryHelpers.getDictionary("Save"),
      crm: dictionaryHelpers.getDictionary("CRM"),
      language: dictionaryHelpers.getDictionary("Language"),
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      defaultLanguageOptions: [],
      tableZoneResult: [],
      TableZoneConfiguration: [],
      DetailZoneConfiguration: [],
      detailZoneData: {},
      rowIdSelected:0,
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
      },
      tableData: [],
      disableButton: true,
      url: window.location.pathname,
    };
  },
  created() {
    var AdminCrmZone = this;

    spinnerHelpers.show();
    AdminCrmZone.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage(),
    };

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function (result) {
      AdminCrmZone.TableZoneConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
      AdminCrmZone.DetailZoneConfiguration = result.data.tabsConfigurations[0].pageConfigurations;

      AdminCrmZone.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var AdminCrmZone = this;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      }

      zoneServices.getAll(ln, function (result) {
        AdminCrmZone.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    onTableCheck() {
      var countRowSelected = this.$refs.tableZone.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    languageChange(value) {
      spinnerHelpers.show();
      var AdminCrmZone = this;
      AdminCrmZone.loadTable(value);
      spinnerHelpers.hide();
    },
    ZoneFormatter(value, row, index, field) {
      var AdminCrmZone = this;
      var html = "";
      html +=
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<button class="btn btn-success" onclick="AdminCrmZone.__vue__.viewDatailInfo(' +
        row.id +
        ')"><i class="fa fa-pencil"/></button>';
      html +=
        '<button class="btn btn-danger" onclick="AdminCrmZone.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';

      html += "</div>";
      return html;
    },
    viewDatailInfo(id) {
      spinnerHelpers.show();
      var AdminCrmZone = this;
      this.rowIdSelected = id; 

      $.each(this.tableData, function (i, row) {
        if (AdminCrmZone.rowIdSelected == row.id) {
          AdminCrmZone.detailZoneData = row;
        }
      });

      $("#tabZoneTable").removeClass("active");
      $("#tabZoneDetail").addClass("active");
      spinnerHelpers.hide();
    },
    delete(id) {
      var AdminCrmZone = this;
      spinnerHelpers.show();
      zoneServices.del(id, function () {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("DeleteCompleted")
        );
        var ln =
          AdminCrmZone.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        AdminCrmZone.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },
    onClickNew() {
      spinnerHelpers.show();
      this.detailZoneData = {};
      this.rowIdSelected="";
      $("#tabZoneTable").removeClass("active");
      $("#tabZoneDetail").addClass("active");
      spinnerHelpers.hide();
    },
    cancelNewZone() {
      spinnerHelpers.show();
      this.detailZoneData = {};
      $("#tabZoneTable").addClass("active");
      $("#tabZoneDetail").removeClass("active");
      spinnerHelpers.hide();
    },
    saveNewZone() {
      spinnerHelpers.show();
      var AdminCrmZone = this;
      this.detailZoneData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailZoneData.id = this.rowIdSelected;

        zoneServices.update(this.detailZoneData, function (result) {
          notificationHelpers.success(AdminCrmZone.updateCompleted);
          AdminCrmZone.loadTable();
          $("#tabZoneTable").addClass("active");
          $("#tabZoneDetail").removeClass("active");
        });
      } else {
        zoneServices.insert(this.detailZoneData, function (result) {
          notificationHelpers.success(AdminCrmZone.insertCompleted);
          AdminCrmZone.loadTable();
          $("#tabZoneTable").addClass("active");
          $("#tabZoneDetail").removeClass("active");
        });
      }
    },
  },
};
</script>
<style scoped>
.card-title-admin .card {
  background: transparent;
  border: 0px;
}
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}

.align-btns {
    position: absolute;
    z-index: 1;
    margin-top: 10px;
}
.span {
  position: absolute;
  margin-top: 75px;
}

#id_nations + .select2, #id_regions + .select2, #id_regions + .select2, #id_cities + .select2 {
    height:56px!important;
    float: left!important;
    padding-top: 10px!important;
}
#id_postalcodes + .select2 {
    height:56px!important;
    float: left!important;
    padding-top: 10px!important;
    margin-top:20px!important;
    
}



</style>
