<template>
  <div id="adminShipmentSentSixten">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ shipments }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">{{ sent }}</router-link>
      </li>
    </ol>
    <form id="frmAdminShipmentSentSixten" action="#">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body" style="padding: 1.25rem">
            <div class="row form-group">
              <div class="col">
                <label class="col-form-label">{{ customer }}</label>
              </div>
              <div class="col">
                <select2
                  id="sCustomer"
                  class="form-control"
                  name="sCustomer"
                  service="customerBeforeDDTSixten"
                  style="width:100%"
                  :change="changeCustomer"
                  required
                  data-rule-minlength="1"
                ></select2>
              </div>
            </div>
            <div class="row form-group">
              <div class="col">
                <label class="col-form-label">{{ month }}</label>
              </div>
              <div class="col">
                <select2
                  id="sMonth"
                  class="form-control"
                  :change="changeMonth"
                  :default="monthsCustomerBeforeDDTSixtenDefault"
                  name="sMonth"
                  :options="monthsCustomerBeforeDDTSixtenOptions"
                  style="width:100%"
                  required
                  data-rule-minlength="1"
                ></select2>
              </div>
            </div>
            <div class="row form-group">
              <div class="col">
                <label class="col-form-label">{{ packagingTypeSixten }}</label>
              </div>
              <div class="col">
                <select2
                  id="sPackagingTypeSixten"
                  class="form-control"
                  name="sPackagingTypeSixten"
                  :options="sPackagingTypeSixtenOptions"
                  style="width:100%"
                  required
                  data-rule-minlength="1"
                ></select2>
              </div>
            </div>
            <div class="row form-group">
              <div class="col">
                <label class="col-form-label">{{ shipmentCodeSixten }}</label>
              </div>
              <div class="col">
                <select2
                  id="sShipmentCodeSixten"
                  class="form-control"
                  :default="sShipmentCodeSixtenDefault"
                  name="sShipmentCodeSixten"
                  :options="sShipmentCodeSixtenOptions"
                  style="width:100%"
                  required
                  data-rule-minlength="1"
                ></select2>
              </div>
            </div>
            <div class="row form-group">
              <div class="col">
                <label class="col-form-label">{{ weight }}</label>
              </div>
              <div class="col">
                <input
                  type="text"
                  id="txtWeight"
                  class="form-control"
                  name="txtWeight"
                  required
                  data-rule-number
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col">
                <label class="col-form-label">{{ label_package }}</label>
              </div>
              <div class="col">
                <input
                  type="text"
                  id="txtPackage"
                  class="form-control"
                  name="txtPackage"
                  v-model="packageValue"
                  required
                  data-rule-number
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col">
                <label class="col-form-label">{{ carrier }}</label>
                &nbsp;
                <i
                  class="fa fa-exclamation-triangle warning"
                  v-if="warningCarrier"
                ></i>
              </div>
              <div class="col">
                <select2
                  id="sCarrier"
                  class="form-control"
                  :default="carrierDefault"
                  name="sCarrier"
                  :options="carrierOptions"
                  style="width:100%"
                  :change="changeCarrier"
                  required
                  data-rule-minlength="1"
                ></select2>
              </div>
            </div>
            <div class="row form-group">
              <div class="col">
                <label class="col-form-label">{{ carriage }}</label>
                &nbsp;
                <i
                  class="fa fa-exclamation-triangle warning"
                  v-if="warningCarriage"
                ></i>
              </div>
              <div class="col">
                <select2
                  id="sCarriage"
                  class="form-control"
                  :default="carriageDefault"
                  name="sCarriage"
                  :options="carriageOptions"
                  style="width:100%"
                  :change="changeCarriage"
                  required
                  data-rule-minlength="1"
                ></select2>
              </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
              <div class="col text-right">
                <button type="button" class="btn btn-block btn-danger" @click="confirmCancel">
                  <i class="fa fa-times"></i>
                  <span>{{ cancel }}</span>
                </button>
                <button type="button" class="btn btn-block btn-success" @click="confirmSave">
                  <i class="fa fa-floppy-o"></i>
                  <span>{{ save }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Select2 from "@/components/Select2.vue";

export default {
  name: "adminShipmentSentSixten",
  components: {
    Select2
  },
  data() {
    return {
      admin: dictionaryHelpers.getDictionary("Admin"),
      ajaxCall: 0,
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      carrier: dictionaryHelpers.getDictionary("Carrier"),
      carrierDefault: {},
      carrierOptions: [],
      carriage: dictionaryHelpers.getDictionary("Carriage"),
      carriageDefault: {},
      carriageOptions: [],
      label_confirmCancel: dictionaryHelpers.getDictionary("ConfirmCancel"),
      label_confirmSave: dictionaryHelpers.getDictionary("ConfirmSave"),
      customer: dictionaryHelpers.getDictionary("Customer"),
      idFrmAdminShipmentSentSixten: "frmAdminShipmentSentSixten",
      label_package: dictionaryHelpers.getDictionary("Package"),
      month: dictionaryHelpers.getDictionary("Month"),
      monthsCustomerBeforeDDTSixtenDefault: {},
      monthsCustomerBeforeDDTSixtenOptions: [],
      packageValue: "",
      packagingTypeSixten: dictionaryHelpers.getDictionary(
        "PackagingTypeSixten"
      ),
      save: dictionaryHelpers.getDictionary("Save"),
      sent: dictionaryHelpers.getDictionary("Sent"),
      shipments: dictionaryHelpers.getDictionary("Shipments"),
      shipmentCodeSixten: dictionaryHelpers.getDictionary("ShipmentCodeSixten"),
      sPackagingTypeSixtenOptions: [],
      sShipmentCodeSixtenDefault: {},
      sShipmentCodeSixtenOptions: [],
      url: window.location.pathname,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      warningCarrier: false,
      warningCarrierChangeSixten: dictionaryHelpers.getDictionary(
        "WarningCarrierChangeSixten"
      ),
      warningCarriage: false,
      warningCarriageChangeSixten: dictionaryHelpers.getDictionary(
        "WarningCarriageChangeSixten"
      ),
      weight: dictionaryHelpers.getDictionary("Weight")
    };
  },
  mounted() {
    validationHelpers.validateBase($("#" + this.idFrmAdminShipmentSentSixten));
  },
  methods: {
    changeCustomer() {
      var adminShipmentSentSixten = this;
      this.monthsCustomerBeforeDDTSixtenOptions = [];
      var idCustomer = $("#sCustomer").val();
      this.ajaxCall = 8;
      if (functionHelpers.isValued(idCustomer)) {
        spinnerHelpers.show();
        documentHeadServices.getSelectMonthBeforeDDTSixten(idCustomer, function(
          result
        ) {
          if (functionHelpers.isValued(result.data)) {
            adminShipmentSentSixten.monthsCustomerBeforeDDTSixtenOptions =
              result.data;
            if (result.data.length == 1) {
              adminShipmentSentSixten.monthsCustomerBeforeDDTSixtenDefault =
                result.data[0];
            }
          }
          adminShipmentSentSixten.ajaxCall =
            adminShipmentSentSixten.ajaxCall - 1;
          adminShipmentSentSixten.allAjaxResponse();
        });

        packagingTypeSixtenServices.getSelect(
          adminShipmentSentSixten.$route.id,
          adminShipmentSentSixten.$route.params,
          function(result) {
            adminShipmentSentSixten.sPackagingTypeSixtenOptions = result.data;
            adminShipmentSentSixten.ajaxCall =
              adminShipmentSentSixten.ajaxCall - 1;
            adminShipmentSentSixten.allAjaxResponse();
          }
        );

        shipmentCodeSixtenServices.getSelect(
          adminShipmentSentSixten.$route.params,
          function(result) {
            adminShipmentSentSixten.sShipmentCodeSixtenOptions = result.data;
            adminShipmentSentSixten.ajaxCall =
              adminShipmentSentSixten.ajaxCall - 1;
            adminShipmentSentSixten.allAjaxResponse();
          }
        );

        shipmentCodeSixtenServices.getByCustomerSixten(
          idCustomer,
          adminShipmentSentSixten.$route.params,
          function(result) {
            adminShipmentSentSixten.sShipmentCodeSixtenDefault = result.data;
            adminShipmentSentSixten.ajaxCall =
              adminShipmentSentSixten.ajaxCall - 1;
            adminShipmentSentSixten.allAjaxResponse();
          }
        );

        carrierServices.getSelect(
          adminShipmentSentSixten.$route.params,
          function(result) {
            adminShipmentSentSixten.carrierOptions = [{ id: 0, text: "-" }];
            if (functionHelpers.isValued(result.data)) {
              $.each(result.data, function(i, value) {
                adminShipmentSentSixten.carrierOptions.push(value);
              });
            }
            adminShipmentSentSixten.ajaxCall =
              adminShipmentSentSixten.ajaxCall - 1;
            adminShipmentSentSixten.allAjaxResponse();
          }
        );

        carrierServices.getByCustomer(idCustomer, function(result) {
          if (functionHelpers.isValued(result.data)) {
            adminShipmentSentSixten.carrierDefault = {
              id: result.data.id,
              text: result.data.description
            };
          }
          adminShipmentSentSixten.ajaxCall =
            adminShipmentSentSixten.ajaxCall - 1;
          adminShipmentSentSixten.allAjaxResponse();
        });

        carriageServices.getSelect(
          adminShipmentSentSixten.$route.params,
          function(result) {
            adminShipmentSentSixten.carriageOptions = [{ id: 0, text: "-" }];
            if (functionHelpers.isValued(result.data)) {
              $.each(result.data, function(i, value) {
                adminShipmentSentSixten.carriageOptions.push(value);
              });
            }
            adminShipmentSentSixten.ajaxCall =
              adminShipmentSentSixten.ajaxCall - 1;
            adminShipmentSentSixten.allAjaxResponse();
          }
        );

        carriageServices.getByCustomer(idCustomer, function(result) {
          if (functionHelpers.isValued(result.data)) {
            adminShipmentSentSixten.carriageDefault = {
              id: result.data.id,
              text: result.data.description
            };
          }
          adminShipmentSentSixten.ajaxCall =
            adminShipmentSentSixten.ajaxCall - 1;
          adminShipmentSentSixten.allAjaxResponse();
        });
      }
    },
    allAjaxResponse() {
      if (this.ajaxCall == 0) {
        spinnerHelpers.hide();
      }
    },
    changeMonth(val) {
      var adminShipmentSentSixten = this;
      if (
        functionHelpers.isValued(val) &&
        !functionHelpers.isValued(adminShipmentSentSixten.packageValue)
      ) {
        if (this.ajaxCall == 0) {
          spinnerHelpers.show();
        }
        documentRowServices.getNumberPackageDDT(
          $("#sCustomer").val(),
          val,
          function(result) {
            adminShipmentSentSixten.packageValue = result.data;
            $("#sMonth").valid();
            if (adminShipmentSentSixten.ajaxCall == 0) {
              spinnerHelpers.hide();
            }
          }
        );
      }
    },
    changeCarrier() {
      if (
        functionHelpers.isValued(this.carrierDefault) &&
        $("#sCarrier").val() != this.carrierDefault.id
      ) {
        this.warningCarrier = true;
        notificationHelpers.warning(this.warningCarrierChangeSixten);
      } else {
        this.warningCarrier = false;
      }
    },
    changeCarriage() {
      if (
        functionHelpers.isValued(this.carriageDefault) &&
        $("#sCarriage").val() != this.carriageDefault.id
      ) {
        this.warningCarriage = true;
        notificationHelpers.warning(this.warningCarriageChangeSixten);
      } else {
        this.warningCarriage = false;
      }
    },
    confirmCancel() {
      if (confirm(this.label_confirmCancel)) {
        this.executeCancel();
      }
    },
    executeCancel() {
      $("#sCustomer")
        .val("")
        .trigger("change");
      this.monthsCustomerBeforeDDTSixtenDefault = {};
      this.monthsCustomerBeforeDDTSixtenOptions = [];
      $("#sPackagingTypeSixten")
        .val("")
        .trigger("change");
      $("#sShipmentCodeSixten")
        .val("")
        .trigger("change");
      $("#txtWeight").val("");
      this.packageValue = "";
      this.carrierDefault = {};
      this.carriageDefault = {};
    },
    confirmSave() {
      if (
        validationHelpers.isValid($("#" + this.idFrmAdminShipmentSentSixten))
      ) {
        if (confirm(this.label_confirmSave)) {
          spinnerHelpers.show();
          var adminShipmentSentSixten = this;
          var idCarriage = $("#sCarriage").val();
          var idCarrier = $("#sCarrier").val();

          if (idCarriage == 0) {
            idCarriage = null;
          }

          if (idCarrier == 0) {
            idCarrier = null;
          }

          documentHeadServices.confirmBeforeDDTSixten(
            $("#sCustomer").val(),
            $("#sMonth").val(),
            idCarriage,
            idCarrier,
            $("#sPackagingTypeSixten").val(),
            $("#sShipmentCodeSixten").val(),
            $("#txtWeight").val(),
            this.packageValue,
            this.$route.params,
            function(result) {
              notificationHelpers.success(
                adminShipmentSentSixten.updateCompleted
              );
              adminShipmentSentSixten.executeCancel();
              window.scrollTo(0, 0);
              spinnerHelpers.hide();
            }
          );
        }
      }
    }
  }
};
</script>
