<template>
  <div id="managementsTechinicalsSpecificationsAdmin">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">{{ label }}</router-link>
      </li>
    </ol>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div
            class="tab-pane nopadding active"
            id="tabManagementsTechinicalsSpecificationsAdminTable"
            role="tabpanel"
          >
            <div class="card-body card-body-table">
              <div class="row">
                <div class="col-sm-8">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <button
                        id="tabTechnicalSpecification"
                        type="button"
                        class="nav-link active"
                        data-toggle="tab"
                        href="#tabTechnicalSpecificationBody"
                        role="tab"
                        aria-controls="tabTechnicalSpecificationBody"
                        v-on:click="onTechnicalSpecificationTab"
                      >
                        <i class="fa fa-bars"></i>
                        <span>{{ technicalSpecification }}</span>
                      </button>
                    </li>
                    <li class="nav-item">
                      <button
                        id="tabGroup"
                        class="nav-link"
                        type="button"
                        data-toggle="tab"
                        href="#tabGroupBody"
                        role="tab"
                        aria-controls="tabGroupBody"
                        v-on:click="onGroupTechnicalSpecificationTab"
                        :disabled="disableTab"
                      >
                        <i class="fa fa-object-group"></i>
                        <span>{{ groups }}</span>
                      </button>
                    </li>
                    <li class="nav-item">
                      <button
                        id="tabGroupDisplay"
                        class="nav-link"
                        type="button"
                        data-toggle="tab"
                        href="#tabGroupDisplayBody"
                        role="tab"
                        aria-controls="tabGroupDisplayBody"
                        v-on:click="onGroupDisplayTechnicalSpecificationTab"
                        :disabled="disableTab"
                      >
                        <i class="fa fa-object-group"></i>
                        <span>{{ groupsDisplay }}</span>
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-4 text-right">
                  <span v-if="spanRowSelected != ''"
                    >{{ technicalSpecification }}:
                    <b>{{ spanRowSelected }}</b></span
                  >
                </div>
              </div>
              <div class="tab-content">
                <div
                  class="tab-pane active"
                  id="tabTechnicalSpecificationBody"
                  role="tabpanel"
                >
                  <div class="row">
                    <div class="col-lg-6">
                      <button
                        id="btnManagementsTechinicalsSpecificationsAdminAdd"
                        type="button"
                        class="btn btn-sm btn-primary"
                        @click="addTechinicalsSpecifications"
                      >
                        <i class="fa fa-plus"></i>
                        <span>{{ add }}</span>
                      </button>
                      <button
                        id="btnManagementsTechinicalsSpecificationsAdminSave"
                        type="button"
                        class="btn btn-sm btn-success"
                        @click="confirmSaveTechinicalsSpecifications"
                        :disabled="disableButton"
                      >
                        <i class="fa fa-floppy-o"></i>
                        <span>{{ save }}</span>
                      </button>
                      <button
                        id="btnManagementsTechinicalsSpecificationsAdminCancel"
                        type="button"
                        class="btn btn-sm btn-danger"
                        @click="confirmDeleteTechinicalsSpecifications"
                        :disabled="disableButton"
                      >
                        <i class="fa fa-trash"></i>
                        <span>{{ del }}</span>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <bootstrapTable
                        :configurations="tableConfigurations"
                        :datas="tableData"
                        id="tableManagementsTechinicalsSpecificationsAdmin"
                        :onCheck="onTableCheck"
                        :onCheckAll="onTableCheck"
                        :onUncheck="onTableCheck"
                        :onUncheckAll="onTableCheck"
                        ref="tableManagementsTechinicalsSpecificationsAdmin"
                        :results="tableResult"
                      ></bootstrapTable>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tabGroupBody" role="tabpanel">
                  <div class="row">
                    <div class="col-sm-5">
                      <bootstrapTable
                        addInput="false"
                        :configurations="
                          tableGroupTechnicalSpecificationIncludedConfiguration
                        "
                        :datas="tableGroupTechnicalSpecificationIncludedData"
                        id="tableGroupsTechnicalsSpecificationsIncluded"
                        :onCheck="onTableIncludedCheck"
                        :onCheckAll="onTableIncludedCheck"
                        :onUncheck="onTableIncludedCheck"
                        :onUncheckAll="onTableIncludedCheck"
                        ref="tableGroupsTechnicalsSpecificationsIncluded"
                        :results="
                          tableGroupTechnicalSpecificationIncludedResult
                        "
                      ></bootstrapTable>
                    </div>
                    <div class="col-sm-2 vertical-center">
                      <div class="container-fluid">
                        <div class="row">
                          <button
                            type="button"
                            class="btn btn-block btn-primary"
                            @click="addGroupTechnicalSpecification"
                            :disabled="
                              disableAddGroupTechnicalSpecificationButton
                            "
                          >
                            <i class="fa fa-arrow-left"></i>
                            <span>{{ add }}</span>
                          </button>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                          <button
                            type="button"
                            class="btn btn-block btn-secondary"
                            @click="removeGroupTechnicalSpecification"
                            :disabled="
                              disableRemoveGroupTechnicalSpecificationButton
                            "
                          >
                            <i class="fa fa-arrow-right"></i>
                            <span>{{ remove }}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <bootstrapTable
                        addInput="false"
                        :configurations="
                          tableGroupTechnicalSpecificationExcludedConfiguration
                        "
                        :datas="tableGroupTechnicalSpecificationExcludedData"
                        id="tableGroupsTechnicalsSpecificationsExcluded"
                        :onCheck="onTableExcludedCheck"
                        :onCheckAll="onTableExcludedCheck"
                        :onUncheck="onTableExcludedCheck"
                        :onUncheckAll="onTableExcludedCheck"
                        ref="tableGroupsTechnicalsSpecificationsExcluded"
                        :results="
                          tableGroupTechnicalSpecificationExcludedResult
                        "
                      ></bootstrapTable>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tabGroupDisplayBody" role="tabpanel">
                  <div class="row">
                    <div class="col-sm-5">
                      <bootstrapTable
                        addInput="false"
                        :configurations="
                          tableGroupDisplayTechnicalSpecificationIncludedConfiguration
                        "
                        :datas="
                          tableGroupDisplayTechnicalSpecificationIncludedData
                        "
                        id="tableGroupsDisplayTechnicalsSpecificationsIncluded"
                        :onCheck="onTableGroupDisplayIncludedCheck"
                        :onCheckAll="onTableGroupDisplayIncludedCheck"
                        :onUncheck="onTableGroupDisplayIncludedCheck"
                        :onUncheckAll="onTableGroupDisplayIncludedCheck"
                        ref="tableGroupsDisplayTechnicalsSpecificationsIncluded"
                        :results="
                          tableGroupDisplayTechnicalSpecificationIncludedResult
                        "
                      ></bootstrapTable>
                    </div>
                    <div class="col-sm-2 vertical-center">
                      <div class="container-fluid">
                        <div class="row">
                          <button
                            type="button"
                            class="btn btn-block btn-primary"
                            @click="addGroupDisplayTechnicalSpecification"
                            :disabled="
                              disableAddGroupDisplayTechnicalSpecificationButton
                            "
                          >
                            <i class="fa fa-arrow-left"></i>
                            <span>{{ add }}</span>
                          </button>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                          <button
                            type="button"
                            class="btn btn-block btn-secondary"
                            @click="removeGroupDisplayTechnicalSpecification"
                            :disabled="
                              disableRemoveGroupDisplayTechnicalSpecificationButton
                            "
                          >
                            <i class="fa fa-arrow-right"></i>
                            <span>{{ remove }}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <bootstrapTable
                        addInput="false"
                        :configurations="
                          tableGroupDisplayTechnicalSpecificationExcludedConfiguration
                        "
                        :datas="
                          tableGroupDisplayTechnicalSpecificationExcludedData
                        "
                        id="tableGroupsDisplayTechnicalsSpecificationsExcluded"
                        :onCheck="onTableGroupDisplayExcludedCheck"
                        :onCheckAll="onTableGroupDisplayExcludedCheck"
                        :onUncheck="onTableGroupDisplayExcludedCheck"
                        :onUncheckAll="onTableGroupDisplayExcludedCheck"
                        ref="tableGroupsDisplayTechnicalsSpecificationsExcluded"
                        :results="
                          tableGroupDisplayTechnicalSpecificationExcludedResult
                        "
                      ></bootstrapTable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane nopadding"
            id="tabManagementsTechinicalsSpecificationsAdminDetail"
            role="tabpanel"
          >
            <div class="card-header">
              <div class="row">
                <div class="col-sm-12">
                  <strong>{{ newTechnicalSpecification }}</strong>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="managementsTechinicalsSpecificationsAdmin"
                  :configurations="detailConfigurations"
                  :jsonValue="detailValues"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-lg-12 text-right">
                  <button
                    id="btnManagementsTechinicalsSpecificationsAdminCancelAdd"
                    type="button"
                    class="btn btn-danger"
                    @click="cancelNewTechinicalsSpecifications"
                  >
                    <i class="fa fa-times"></i>
                    <span>{{ cancel }}</span>
                  </button>
                  <button
                    id="btnManagementsTechinicalsSpecificationsAdminSaveAdd"
                    type="button"
                    class="btn btn-success"
                    @click="saveNewTechinicalsSpecifications"
                  >
                    <i class="fa fa-floppy-o"></i>
                    <span>{{ save }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";

export default {
  name: "managementsTechinicalsSpecificationsAdmin",
  components: {
    BootstrapTable,
    PageDetail
  },
  data() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      confirmDeleteRowSelected: dictionaryHelpers.getDictionary("ConfirmDeleteRowSelected"),
      confirmSaveRowSelected: dictionaryHelpers.getDictionary("ConfirmSaveRowSelected"),
      configurations: [],
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      detailConfigurations: [],
      detailValues: {},
      disableAddGroupDisplayTechnicalSpecificationButton: true,
      disableAddGroupTechnicalSpecificationButton: true,
      disableButton: true,
      disableTab: true,
      disableRemoveGroupDisplayTechnicalSpecificationButton: true,
      disableRemoveGroupTechnicalSpecificationButton: true,
      excluded: dictionaryHelpers.getDictionary("Excluded"),
      frmManagementsTechinicalsSpecificationsAdmin: 'frmmanagementsTechinicalsSpecificationsAdmin',
      groups: dictionaryHelpers.getDictionary("Groups"),
      groupsDisplay: dictionaryHelpers.getDictionary("GroupsDisplay"),
      idTabDetail: 'tabManagementsTechinicalsSpecificationsAdminDetail',
      idTabTable: 'tabManagementsTechinicalsSpecificationsAdminTable',
      included: dictionaryHelpers.getDictionary("Included"),
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      label: dictionaryHelpers.getDictionary("Label"),
      newTechnicalSpecification: dictionaryHelpers.getDictionary("NewTechnicalSpecification"),
      noRowSelected: dictionaryHelpers.getDictionary("NoRowSelected"),
      moreRowSelected: dictionaryHelpers.getDictionary("MoreRowSelected"),
      save: dictionaryHelpers.getDictionary("Save"),
      spanRowSelected: '',
      tableConfigurations: [],
      tableData: [],
      tableGroupDisplayTechnicalSpecificationIncludedConfiguration: [],
      tableGroupDisplayTechnicalSpecificationIncludedData: [],
      tableGroupDisplayTechnicalSpecificationIncludedResult: [],
      tableGroupDisplayTechnicalSpecificationExcludedConfiguration: [],
      tableGroupDisplayTechnicalSpecificationExcludedData: [],
      tableGroupDisplayTechnicalSpecificationExcludedResult: [],
      tableGroupTechnicalSpecificationIncludedConfiguration: [],
      tableGroupTechnicalSpecificationIncludedData: [],
      tableGroupTechnicalSpecificationIncludedResult: [],
      tableGroupTechnicalSpecificationExcludedConfiguration: [],
      tableGroupTechnicalSpecificationExcludedData: [],
      tableGroupTechnicalSpecificationExcludedResult: [],
      tableResult: [],
      technicalSpecification: dictionaryHelpers.getDictionary("TechnicalSpecification"),
      technicalSpecificationAlreadyExists: dictionaryHelpers.getDictionary("TechnicalSpecificationAlreadyExists"),
      remove: dictionaryHelpers.getDictionary("Remove"),
      rowsSelected: 0,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname
    };
  },
  mounted() {
    var managementsTechinicalsSpecificationsAdmin = this;

    languageServices.getConfiguration(function (result) {
      managementsTechinicalsSpecificationsAdmin.configurations = result.data;
      managementsTechinicalsSpecificationsAdmin.tableConfigurations = managementsTechinicalsSpecificationsAdmin.configurations.tablesConfigurations;
      managementsTechinicalsSpecificationsAdmin.detailConfigurations = managementsTechinicalsSpecificationsAdmin.configurations.tabsConfigurations[0].pageConfigurations;
      managementsTechinicalsSpecificationsAdmin.loadTableData();
    });

    managementsTechinicalsSpecificationsAdmin.tableGroupDisplayTechnicalSpecificationIncludedConfiguration = [{
      'inputType': 'TableCheckbox',
      'visibleOnTable': true
    },
    {
      'field': 'description',
      'inputType': 'Input',
      'visibleOnTable': true,
      'filterType': 'Input',
      'title': managementsTechinicalsSpecificationsAdmin.included
    }];

    managementsTechinicalsSpecificationsAdmin.tableGroupTechnicalSpecificationIncludedConfiguration = managementsTechinicalsSpecificationsAdmin.tableGroupDisplayTechnicalSpecificationIncludedConfiguration;

    managementsTechinicalsSpecificationsAdmin.tableGroupDisplayTechnicalSpecificationExcludedConfiguration = [{
      'inputType': 'TableCheckbox',
      'visibleOnTable': true
    },
    {
      'field': 'description',
      'inputType': 'Input',
      'visibleOnTable': true,
      'filterType': 'Input',
      'title': managementsTechinicalsSpecificationsAdmin.excluded
    }];

    managementsTechinicalsSpecificationsAdmin.tableGroupTechnicalSpecificationExcludedConfiguration = managementsTechinicalsSpecificationsAdmin.tableGroupDisplayTechnicalSpecificationExcludedConfiguration;
  },
  methods: {
    /***   TECHNICAL SPECIFICATION   ***/

    loadTableData() {
      var managementsTechinicalsSpecificationsAdmin = this;
      technicalSpecificationServices.getDtoTable(function (result) {
        managementsTechinicalsSpecificationsAdmin.tableData = result.data;
      });
      managementsTechinicalsSpecificationsAdmin.disableButton = true;
      managementsTechinicalsSpecificationsAdmin.disableTab = true;
      managementsTechinicalsSpecificationsAdmin.spanRowSelected = '';
      spinnerHelpers.hide();
    },
    addTechinicalsSpecifications() {
      spinnerHelpers.show();
      var managementsTechinicalsSpecificationsAdmin = this;
      managementsTechinicalsSpecificationsAdmin.detailValues = {};
      $('#' + managementsTechinicalsSpecificationsAdmin.idTabTable).removeClass('active');
      $('#' + managementsTechinicalsSpecificationsAdmin.idTabDetail).addClass('active');
      spinnerHelpers.hide();
    },
    confirmSaveTechinicalsSpecifications() {
      var managementsTechinicalsSpecificationsAdmin = this;
      if (managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.haveRowSelected()) {
        if (confirm(managementsTechinicalsSpecificationsAdmin.confirmSaveRowSelected)) {
          spinnerHelpers.show();
          managementsTechinicalsSpecificationsAdmin.saveTechinicalsSpecifications();
        }
      }
    },
    saveTechinicalsSpecifications() {
      var managementsTechinicalsSpecificationsAdmin = this;
      managementsTechinicalsSpecificationsAdmin.tableResult = [];

      $.each(managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.getRowSelected(),function (i,row) {
        var rowToSave = {};
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        rowToSave.languageTechnicalSpecification = [];

        $.each(row,function (field,value) {
          if (field == 'id') {
            rowToSave.id = value;
          }
          else {
            if (field != 0) {
              var languageTechnicalSpecification = {};
              languageTechnicalSpecification.idLanguage = field;
              languageTechnicalSpecification.description = value;
              rowToSave.languageTechnicalSpecification.push(languageTechnicalSpecification);
            }
          }
        });

        managementsTechinicalsSpecificationsAdmin.rowsSelected = managementsTechinicalsSpecificationsAdmin.rowsSelected + 1;
        technicalSpecificationServices.update(rowToSave,
          function () {
            managementsTechinicalsSpecificationsAdmin.checkAllIsSaved();
            managementsTechinicalsSpecificationsAdmin.tableResult.push({ id: rowToSave.id,success: true });
            notificationHelpers.success(managementsTechinicalsSpecificationsAdmin.updateCompleted);
          },
          function (response) {
            managementsTechinicalsSpecificationsAdmin.checkAllIsSaved();
            managementsTechinicalsSpecificationsAdmin.tableResult.push({ id: rowToSave.id,success: false,message: response });
            notificationHelpers.error(response);
          });
      });
    },
    confirmDeleteTechinicalsSpecifications() {
      var managementsTechinicalsSpecificationsAdmin = this;
      if (managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.haveRowSelected()) {
        if (confirm(managementsTechinicalsSpecificationsAdmin.confirmDeleteRowSelected)) {
          spinnerHelpers.show();
          managementsTechinicalsSpecificationsAdmin.deleteTechinicalsSpecifications();
        }
      }
    },
    deleteTechinicalsSpecifications() {
      var managementsTechinicalsSpecificationsAdmin = this;
      managementsTechinicalsSpecificationsAdmin.tableResult = [];

      $.each(managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.getRowSelected(),function (i,row) {
        managementsTechinicalsSpecificationsAdmin.rowsSelected = managementsTechinicalsSpecificationsAdmin.rowsSelected + 1;
        technicalSpecificationServices.del(row.id,
          function (id) {
            managementsTechinicalsSpecificationsAdmin.checkAllIsSaved();
            managementsTechinicalsSpecificationsAdmin.tableResult.push({ id: id,success: true });
            notificationHelpers.success(managementsTechinicalsSpecificationsAdmin.deleteCompleted);
          },
          function (response,id) {
            managementsTechinicalsSpecificationsAdmin.checkAllIsSaved();
            managementsTechinicalsSpecificationsAdmin.tableResult.push({ id: id,success: false,message: response });
            notificationHelpers.error(response);
          });
      });
    },
    checkAllIsSaved() {
      var managementsTechinicalsSpecificationsAdmin = this;
      managementsTechinicalsSpecificationsAdmin.rowsSelected = managementsTechinicalsSpecificationsAdmin.rowsSelected - 1;
      if (managementsTechinicalsSpecificationsAdmin.rowsSelected == 0) {
        managementsTechinicalsSpecificationsAdmin.loadTableData();
      }
    },
    cancelNewTechinicalsSpecifications() {
      var managementsTechinicalsSpecificationsAdmin = this;
      spinnerHelpers.show();
      $('#' + managementsTechinicalsSpecificationsAdmin.idTabTable).addClass('active');
      $('#' + managementsTechinicalsSpecificationsAdmin.idTabDetail).removeClass('active');
      spinnerHelpers.hide();
    },
    saveNewTechinicalsSpecifications() {
      spinnerHelpers.show();
      if ($('.error').length) {
        notificationHelpers.error(dictionaryHelpers.getDictionary('RequiredFieldsNotCompleted'));
        validationHelpers.moveToInvalid();
        spinnerHelpers.hide();
      }
      else {
        var managementsTechinicalsSpecificationsAdmin = this;
        if (validationHelpers.isValid('#' + managementsTechinicalsSpecificationsAdmin.frmManagementsTechinicalsSpecificationsAdmin)) {
          managementsTechinicalsSpecificationsAdmin.tableResult = [];
          technicalSpecificationServices.insert(managementsTechinicalsSpecificationsAdmin.convertDetailDataToSave(),function (result) {
            managementsTechinicalsSpecificationsAdmin.loadTableData();
            $('#' + managementsTechinicalsSpecificationsAdmin.idTabTable).addClass('active');
            $('#' + managementsTechinicalsSpecificationsAdmin.idTabDetail).removeClass('active');
            managementsTechinicalsSpecificationsAdmin.tableResult.push({ id: result.data,success: true,message: managementsTechinicalsSpecificationsAdmin.insertCompleted });
            notificationHelpers.success(managementsTechinicalsSpecificationsAdmin.insertCompleted);
          });
        }
      }
    },
    convertDetailDataToSave() {
      var managementsTechinicalsSpecificationsAdmin = this;
      var dataToSave = {};

      dataToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
      dataToSave.languageTechnicalSpecification = [];

      $.each(managementsTechinicalsSpecificationsAdmin.detailValues,function (field,value) {
        var languageTechnicalSpecification = {};
        languageTechnicalSpecification.idLanguage = field;
        languageTechnicalSpecification.description = value;
        dataToSave.languageTechnicalSpecification.push(languageTechnicalSpecification);
      });

      return dataToSave;
    },
    onChangeDetail(field,value) {
      var managementsTechinicalsSpecificationsAdmin = this;
      var _field = dataHelpers.unbind(field);
      if (functionHelpers.isValued(value)) {
        technicalSpecificationServices.checkExists(value,field,null,function (result) {
          if (result.data) {
            if (!$('#' + field).hasClass('error')) {
              $('#' + field).addClass('error');
            }
            notificationHelpers.error(managementsTechinicalsSpecificationsAdmin.technicalSpecificationAlreadyExists);
          }
          else {
            if ($('#' + field).hasClass('error')) {
              $('#' + field).removeClass('error');
            }
          }
        });
      }
      else {
        if ($('#' + field).hasClass('error')) {
          $('#' + field).removeClass('error');
        }
      }
    },
    onTableCheck() {
      var managementsTechinicalsSpecificationsAdmin = this;
      var countRowSelected = managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.countRowSelected();

      if (countRowSelected == 0) {
        managementsTechinicalsSpecificationsAdmin.disableButton = true;
        managementsTechinicalsSpecificationsAdmin.disableTab = true;
      } else {
        if (countRowSelected == 1) {
          managementsTechinicalsSpecificationsAdmin.disableTab = false;
        }
        else {
          managementsTechinicalsSpecificationsAdmin.disableTab = true;
        }
        managementsTechinicalsSpecificationsAdmin.disableButton = false;
      }

    },
    onTechnicalSpecificationTab() {
      this.spanRowSelected = '';
    },

    /***   END TECHNICAL SPECIFICATION   ***/

    /***  GROUP TECHNICAL SPECIFICATION   ***/

    onGroupTechnicalSpecificationTab() {
      var managementsTechinicalsSpecificationsAdmin = this;
      var countRowSelected = managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.countRowSelected();
      if (countRowSelected == 0) {
        notificationHelpers.error(managementsTechinicalsSpecificationsAdmin.noRowSelected);
      }
      else {
        if (countRowSelected != 1) {
          notificationHelpers.error(managementsTechinicalsSpecificationsAdmin.moreRowSelected);
        }
        else {
          spinnerHelpers.show();
          managementsTechinicalsSpecificationsAdmin.spanRowSelected = managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.getRowSelected()[0][storageData.sIdLanguage()];
          managementsTechinicalsSpecificationsAdmin.disableAddGroupTechnicalSpecificationButton = true;
          managementsTechinicalsSpecificationsAdmin.disableRemoveGroupTechnicalSpecificationButton = true;
          technicalSpecificationServices.getGroupTechnicalSpecification(managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.getRowSelected()[0].id,
            function (result) {
              if (functionHelpers.isValued(result.data)) {
                managementsTechinicalsSpecificationsAdmin.tableGroupTechnicalSpecificationIncludedData = result.data.included;
                managementsTechinicalsSpecificationsAdmin.tableGroupTechnicalSpecificationExcludedData = result.data.excluded;
              }
              spinnerHelpers.hide();
            });
        }
      }
    },
    onTableIncludedCheck() {
      var managementsTechinicalsSpecificationsAdmin = this;
      if (managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsTechnicalsSpecificationsIncluded.haveRowSelected()) {
        managementsTechinicalsSpecificationsAdmin.disableRemoveGroupTechnicalSpecificationButton = false;
      } else {
        managementsTechinicalsSpecificationsAdmin.disableRemoveGroupTechnicalSpecificationButton = true;
      }
    },
    onTableExcludedCheck() {
      var managementsTechinicalsSpecificationsAdmin = this;
      if (managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsTechnicalsSpecificationsExcluded.haveRowSelected()) {
        managementsTechinicalsSpecificationsAdmin.disableAddGroupTechnicalSpecificationButton = false;
      } else {
        managementsTechinicalsSpecificationsAdmin.disableAddGroupTechnicalSpecificationButton = true;
      }
    },
    addGroupTechnicalSpecification() {
      var managementsTechinicalsSpecificationsAdmin = this;
      managementsTechinicalsSpecificationsAdmin.rowsSelected = 0;
      if (managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsTechnicalsSpecificationsExcluded.haveRowSelected(true)) {
        spinnerHelpers.show();
        $.each(managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsTechnicalsSpecificationsExcluded.getRowSelected(),function (i,row) {
          managementsTechinicalsSpecificationsAdmin.rowsSelected = managementsTechinicalsSpecificationsAdmin.rowsSelected + 1;
          technicalSpecificationServices.addGroupTechnicalSpecification(managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.getRowSelected()[0].id,
            row.id,function (result) {
              managementsTechinicalsSpecificationsAdmin.checkAllGroupTechnicalSpecificationIsSaved();
              notificationHelpers.success(managementsTechinicalsSpecificationsAdmin.updateCompleted);
            });
        });
      }
    },
    removeGroupTechnicalSpecification() {
      var managementsTechinicalsSpecificationsAdmin = this;
      managementsTechinicalsSpecificationsAdmin.rowsSelected = 0;
      if (managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsTechnicalsSpecificationsIncluded.haveRowSelected(true)) {
        spinnerHelpers.show();
        $.each(managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsTechnicalsSpecificationsIncluded.getRowSelected(),function (i,row) {
          managementsTechinicalsSpecificationsAdmin.rowsSelected = managementsTechinicalsSpecificationsAdmin.rowsSelected + 1;
          groupTechnicalSpecificationServices.deleteGroupTechnicalSpecificationTechnicalSpecification(row.id,function (result) {
            managementsTechinicalsSpecificationsAdmin.checkAllGroupTechnicalSpecificationIsSaved();
            notificationHelpers.success(managementsTechinicalsSpecificationsAdmin.updateCompleted);
          });
        });
      }
    },
    checkAllGroupTechnicalSpecificationIsSaved() {
      var managementsTechinicalsSpecificationsAdmin = this;
      managementsTechinicalsSpecificationsAdmin.rowsSelected = managementsTechinicalsSpecificationsAdmin.rowsSelected - 1;
      if (managementsTechinicalsSpecificationsAdmin.rowsSelected == 0) {
        managementsTechinicalsSpecificationsAdmin.onGroupTechnicalSpecificationTab();
      }
    },

    /***   END GROUP TECHNICAL SPECIFICATION   ***/

    /***  GROUP DISPLAY TECHNICAL SPECIFICATION   ***/

    onGroupDisplayTechnicalSpecificationTab() {
      var managementsTechinicalsSpecificationsAdmin = this;
      var countRowSelected = managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.countRowSelected();
      if (countRowSelected == 0) {
        notificationHelpers.error(managementsTechinicalsSpecificationsAdmin.noRowSelected);
      }
      else {
        if (countRowSelected != 1) {
          notificationHelpers.error(managementsTechinicalsSpecificationsAdmin.moreRowSelected);
        }
        else {
          spinnerHelpers.show();
          managementsTechinicalsSpecificationsAdmin.spanRowSelected = managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.getRowSelected()[0][storageData.sIdLanguage()];
          managementsTechinicalsSpecificationsAdmin.disableAddGroupDisplayTechnicalSpecificationButton = true;
          managementsTechinicalsSpecificationsAdmin.disableRemoveGroupDisplayTechnicalSpecificationButton = true;
          technicalSpecificationServices.getGroupDisplayTechnicalSpecification(managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.getRowSelected()[0].id,
            function (result) {
              if (functionHelpers.isValued(result.data)) {
                managementsTechinicalsSpecificationsAdmin.tableGroupDisplayTechnicalSpecificationIncludedData = result.data.included;
                managementsTechinicalsSpecificationsAdmin.tableGroupDisplayTechnicalSpecificationExcludedData = result.data.excluded;
              }
              spinnerHelpers.hide();
            });
        }
      }
    },
    onTableGroupDisplayIncludedCheck() {
      var managementsTechinicalsSpecificationsAdmin = this;
      if (managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsDisplayTechnicalsSpecificationsIncluded.haveRowSelected()) {
        managementsTechinicalsSpecificationsAdmin.disableRemoveGroupDisplayTechnicalSpecificationButton = false;
      } else {
        managementsTechinicalsSpecificationsAdmin.disableRemoveGroupDisplayTechnicalSpecificationButton = true;
      }
    },
    onTableGroupDisplayExcludedCheck() {
      var managementsTechinicalsSpecificationsAdmin = this;
      if (managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsDisplayTechnicalsSpecificationsExcluded.haveRowSelected()) {
        managementsTechinicalsSpecificationsAdmin.disableAddGroupDisplayTechnicalSpecificationButton = false;
      } else {
        managementsTechinicalsSpecificationsAdmin.disableAddGroupDisplayTechnicalSpecificationButton = true;
      }
    },
    addGroupDisplayTechnicalSpecification() {
      var managementsTechinicalsSpecificationsAdmin = this;
      managementsTechinicalsSpecificationsAdmin.rowsSelected = 0;
      if (managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsDisplayTechnicalsSpecificationsExcluded.haveRowSelected(true)) {
        spinnerHelpers.show();
        $.each(managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsDisplayTechnicalsSpecificationsExcluded.getRowSelected(),function (i,row) {
          managementsTechinicalsSpecificationsAdmin.rowsSelected = managementsTechinicalsSpecificationsAdmin.rowsSelected + 1;
          technicalSpecificationServices.addGroupDisplayTechnicalSpecification(managementsTechinicalsSpecificationsAdmin.$refs.tableManagementsTechinicalsSpecificationsAdmin.getRowSelected()[0].id,
            row.id,function (result) {
              managementsTechinicalsSpecificationsAdmin.checkAllGroupDisplayTechnicalSpecificationIsSaved();
              notificationHelpers.success(managementsTechinicalsSpecificationsAdmin.updateCompleted);
            });
        });
      }
    },
    removeGroupDisplayTechnicalSpecification() {
      var managementsTechinicalsSpecificationsAdmin = this;
      managementsTechinicalsSpecificationsAdmin.rowsSelected = 0;
      if (managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsDisplayTechnicalsSpecificationsIncluded.haveRowSelected(true)) {
        spinnerHelpers.show();
        $.each(managementsTechinicalsSpecificationsAdmin.$refs.tableGroupsDisplayTechnicalsSpecificationsIncluded.getRowSelected(),function (i,row) {
          managementsTechinicalsSpecificationsAdmin.rowsSelected = managementsTechinicalsSpecificationsAdmin.rowsSelected + 1;
          groupDisplayTechnicalSpecificationServices.deleteGroupDisplayTechnicalSpecificationTechnicalSpecification(row.id,function (result) {
            managementsTechinicalsSpecificationsAdmin.checkAllGroupDisplayTechnicalSpecificationIsSaved();
            notificationHelpers.success(managementsTechinicalsSpecificationsAdmin.updateCompleted);
          });
        });
      }
    },
    checkAllGroupDisplayTechnicalSpecificationIsSaved() {
      var managementsTechinicalsSpecificationsAdmin = this;
      managementsTechinicalsSpecificationsAdmin.rowsSelected = managementsTechinicalsSpecificationsAdmin.rowsSelected - 1;
      if (managementsTechinicalsSpecificationsAdmin.rowsSelected == 0) {
        managementsTechinicalsSpecificationsAdmin.onGroupDisplayTechnicalSpecificationTab();
      }
    }

    /***   END GROUP DISPLAY TECHNICAL SPECIFICATION   ***/
  }
}
</script>
