.handle {
  cursor: pointer;
}
.uc {
  text-transform: uppercase;
}
.clickable {
  cursor: pointer;
}

.node-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.configuration {
}

.conditions {
  //background-color: #eee;

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
  }
  .del {
    margin-left: -3px;
  }
}

.conditions-header {
  background-color: #eee;
  height: 30px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px -16px;
  padding-right: 8px;
  padding-left: 16px;
}

.days {
  display: flex;
  justify-content: center;

  .col {
    padding: 6px;
    flex-grow: 0;
  }
}

.period {
  margin-bottom: -20px;
}
