$innerPadding: 16px;

.wrapper {
  display: flex;
  height: 100%;
  padding: 20px;
}

.left {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  flex-grow: 4;
}

.peeks-card {
  padding: 30px 10px 0px 30px !important;
  max-width: 400px;
  min-width: 400px;
}

.tree-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 100px;
  padding-top: 40px;
}

.submit-button {
  background-color: #000 !important;
  color: #fff !important;
}

.actions {
  padding: 16px;
}

.v-input__slot {
  margin-bottom: 0 !important;
}
