/** MODIFICHE OTTOBRE 2020 **/
.bootstrap-table .fixed-table-container .table thead th  {
	background: #303C54;
}


/** END MODIFICHE OTTOBRE 2020 **/

/***   REWRITE STYLE.CSS   ***/

@media(min-width:992px) {
  .app-body {
    margin-top: 0px !important;
    padding-top: 55px;
    margin-bottom: 50px;
  }

  .onlyMobile {
    display: none;
  }
}

@media(max-width:991.98px) {
  .app-body {
    margin-top: 0px !important;
    padding-top: 55px;
    margin-bottom: 50px;
  }

  .main .container-fluid {
    padding: 0 15px;
  }
}

/***   LOGHI   ***/

.logo {
  background-color: #3a4149;
  padding: 10px;
  border-radius: 4px;
  background-size: contain;
  background-image: url("../../assets/image/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
}

.app-header.navbar .navbar-brand {
  display: inline-block;
  width: 200px;
  height: 55px;
  padding: 0.5rem 1rem;
  margin-right: 0;
  background-color: #3a4149;
  background-image: url("../../assets/image/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110px auto;
  border-bottom: 1px solid #23282c;
}

@media (min-width: 992px) {
  .brand-minimized .app-header.navbar .navbar-brand {
    width: 50px;
    background-color: #3a4149;
    background-image: url("../../assets/image/icon.png");
    background-size: 50px;
    border-bottom: 1px solid #23282c;
  }
}

/***   END LOGHI   ***/

/***   MENU   ***/

.sidebar {
  background:#3c4b64;
}
.sidebar .nav-link .nav-icon{
  color:#8a93a2;
  font-size:1.09375rem;
}
.sidebar .nav-link.active{
  color:#fff;
  background: rgba(255,255,255,.05);
}
.sidebar .nav-link.active .nav-icon{
  color:#fff;
}
.sidebar .nav-link{
  color:rgba(255,255,255,.8);
  padding: .8445rem 1rem;
  font-size: 14px;
  tansition: all ease-in-out 0.25s;
}
.sidebar .nav-link:hover{
  color:#fff;
  background:#321fdb;
}
.app-header.navbar .navbar-brand{
  background-color:#303C54;
  border-bottom:1px solid #303C54;
}
@media (min-width: 992px){
  .brand-minimized .app-header.navbar .navbar-brand {
    background-color:#303C54;
    border-bottom:1px solid #303C54;
  }
  .sidebar-minimized .sidebar .sidebar-minimizer{
    background-color:#303C54;
  }
}

@media (min-width: 992px) {
  html:not([dir="rtl"]) .sidebar-minimized .sidebar {
    margin-left: 0px;
  }

  html:not([dir="rtl"]) .sidebar {
    margin-left: 0px;
  }
}


/***   LOADER   ***/
#spinnerView {
  z-index: 30000;
}

/***   END LOADER   ***/

html:not([dir=rtl]) .sidebar-show .sidebar,
html:not([dir=rtl]) .sidebar-mobile-show .sidebar {
  margin-left: 0;
}

.icon-eye-menu-online,
.icon-eye-menu-offline {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.icon-trash-menu {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.fa-window-restore {
  color: #1B8EB7;
}

.icon-eye-menu-online {
  color: #1EA076;
}

.icon-eye-menu-offline {
  color: #D44950;
}

/***   END MENU   ***/

.card-body-table {
  padding: 1rem !important;
}

/***   END REWRITE STYLE.CSS   ***/

.success {
  border-color: #4dbd74 !important;
  color: #4dbd74 !important;
}

.warning {
  border-color: #ffc107 !important;
  color: #ffc107 !important;
}

.error,
.is-invalid {
  border-color: #f86c6b !important;
  color: #f86c6b !important;
}

.nopadding {
  padding: 0px !important;
}

.nomargin {
  margin: 0px !important;
}

.col-xs-1 {
  flex: 0 0 54px;
  width: 54px;
}

ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.noborder {
  border: 0px !important;
}

/***   TAB   ***/

.nav-tabs>.nav-item>.nav-link>i {
  padding: 0rem 0.25rem 0rem 0rem;
}

.nav-tabs>.nav-item>.nav-link:not(.active) {
  background-color: rgb(228, 229, 230) !important;
}

button.nav-link:disabled {
  opacity: 0.65;
}

/***   END TAB   ***/

/***   BUTTON   ***/

button span {
  padding: 0rem 0.25rem 0rem 0.2rem;
  display: inline-block;
  white-space: normal;
  text-align: left;
}

.btn-outline-dark-bk-white {
  color: #2f353a;
  background-color: white;
  background-image: none;
  border-color: #2f353a;
}

.btn-outline-dark-bk-white:hover {
  color: #fff;
  background-color: #2f353a;
  border-color: #2f353a
}

.btn-outline-dark-bk-white:focus,
.btn-outline-dark-bk-white .focus {
  box-shadow: 0 0 0 .2rem rgba(47, 53, 58, .5)
}

.btn-outline-dark-bk-white.disabled,
.btn-outline-dark-bk-white:disabled {
  color: #2f353a;
  background-color: transparent
}

.btn-outline-dark-bk-white:not(:disabled):not(.disabled):active,
.btn-outline-dark-bk-white:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark-bk-white.dropdown-toggle {
  color: #fff;
  background-color: #2f353a;
  border-color: #2f353a
}

.btn-outline-dark-bk-white:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark-bk-white:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-dark-bk-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(47, 53, 58, .5)
}

/***   END BUTTON   ***/

/***   SELECT2   ***/

.select2-container--bootstrap {
  display: inline-block;
}

.form-group.row .select2-container {
  width: 100% !important;
}

/***   END SELECT2   ***/

/***   EDITOR   ***/

#divContentAdminPagesView .card {
  min-height: 250px
}

.second-toolbar #logo {
  display: none;
}

/* .card-body {
  padding: 1rem 3.5rem;
} */

@media(max-width:991.98px) {
  .card-body {
    padding: 0rem;
  }
}

.is-section-tool {
  width: 40px !important;
  right: 0 !important;
  left: auto !important;
  top: 10px !important;
}

#divRteTool {
  top: 72px !important
}

#divSidebarSource div:first-child div:first-child {
  top: 54px !important;
  right: 72px !important
}

#divSidebarSource div div:nth-child(2) {
  border-top: #f3f3f3 35px solid !important;
}

.edit-html-larger .icon-flex {
  /* Icona full screen editor html */
  margin-top: 26px;
}

#inpViewHtml2 {
  padding: 50px 30px 30px 30px !important;
}

/**   END EDITOR   **/

/***   DRAGGABLE   ***/

.draggable {
  min-height: 10px;
  list-style-type: none;
  padding-inline-start: 10px;
}

.draggable .ghost {
  opacity: 0;
  background: #c8ebfb;
  height: 0;
}

/***   END DRAGGABLE   ***/

/***   TABLE   ***/

.page-item.active .page-link {
  z-index: 0;
}

/***   END TABLE   ***/

/***   TOAST   ***/

#toast-container {
  z-index: 2147483640
}

/***   END TOAST   ***/
