.logo{
    background-color: white;
    background-size: contain;
    background-image: url("../../assets/image/Bormac/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}
.contentLogo::after{
    content: 'Gestione schede tecniche';
    text-align: center;
}
.app-header.navbar .navbar-brand {
    background-color: #fff; 
    background-image: url("../../assets/image/Bormac/logo.png");
    background-size: 140px auto; 
}

@media (min-width: 992px) {
    .brand-minimized .app-header.navbar .navbar-brand {
      background-color: #fff; 
      background-image: url("../../assets/image/Bormac/icon.png");
    }
  }