.logo {
  background-color: transparent;
  background-size: contain;
  background-image: url("../../assets/image/Sixten/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
}

.contentLogo::after {
  content: 'Gestione magazzino';
  text-align: center;
}

.app-header.navbar .navbar-brand {
  background-color: transparent;
  background-image: url("../../assets/image/Sixten/logo.png");
  background-size: 140px auto;
  border-bottom: 0px;
}

@media (min-width: 992px) {
  .brand-minimized .app-header.navbar .navbar-brand {
    background-color: transparent;
    background-image: url("../../assets/image/Sixten/icon.png");
    border-bottom: 0px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1.3rem;
  }
}


@media only screen and (max-width: 600px) {
  .adminSixtenDashborad h1 {
    font-size: 1.5rem;
    margin-top: 15px;

  }
}

.app-header.navbar .navbar-brand {

  background-color:

    transparent;
  background-image: url(/img/logo.cde84052.png);
  background-size: 140px auto;
  border-bottom: 0px;
  background-position-x: 0px;

}


@media only screen and (max-width: 600px) {
  .btn-block {

    display: block;
    width: 100%;
    height: 5rem;
    font-size: 1.5rem
  }
}

@media (min-width: 992px) {
  .btn-block {
    display: inline-block;
    width: auto;
    margin-top: 0rem !important;
  }
}

@media only screen and (max-width: 600px) {

  .bootstrap-table .fixed-table-pagination>.pagination-detail,
  .bootstrap-table .fixed-table-pagination>.pagination {

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;

  }

}

@media only screen and (max-width: 600px) {
  #btnLogin {

    float: right;
    margin-right: -30px;
    width: 60%;
    height: 3rem;
    font-size: 1.1rem;

  }
}