<template>
  <div class="adminMdMicrodetectorsDashborad">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="row text-center">
            <div class="col">
              <H1>Gestione Spedizioni</H1>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="col text-center">
              <router-link to="/admin/picking/shipping">
                <button class="btn btn-success btn-block">
                  <i class="nav-icon fa fa-file-image-o"></i> Lista Consegne
                </button>
              </router-link>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="col text-center">
              <router-link to="/admin/picking/shipping">
                <button class="btn btn-primary btn-block">
                  <i class="fa fa-barcode"></i> Nuovo
                </button>
              </router-link>
            </div>
          </div>
          <div class="row">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "adminMdMicrodetectorsDashborad"
};
</script>

<style>

.app-footer, .breadcrumb {
  display:none;
}
.main .container-fluid {
  padding:0px;
}
.app-header.navbar .navbar-brand {
  background-color:#fff;
  border-bottom:0px;
}
.app-header.navbar .navbar-brand {
    background-image: url(https://www.microdetectors.com/media/image/logo.png);
    background-size: contain;
    width: 150px;
    height: 100%;
}
.app-header .navbar-toggler {
  display:none;
}
@media (min-width: 992px) {
  .btn-block {
    display: inline-block;
    width: auto;
    margin-top: 0rem !important;
  }
}
</style>
