<template>
  <div id="adminCrmPeople">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item"> registries</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">{{ People  }}</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin"> 
        <h1>{{ People }}</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
            <div class="row align-btns">
              <div class="col-lg-12">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onNewCategories"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
                <!--
                <button
                  id="btnSave"
                  type="button"
                  class="btn btn-sm btn-success"
                  @click="confirmSaveCategories"
                  :disabled="disableButton"
                >
                  <i class="fa fa-floppy-o"></i>
                  <span>{{ save }}</span>
                </button>
                <button
                  id="btnDelete"
                  type="button"
                  class="btn btn-sm btn-danger"
                  @click="confirmDeleteCustomer"
                  :disabled="disableButton"
                >
                  <i class="fa fa-trash"></i>
                  <span>{{ del }}</span>
                </button>-->
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="TablePeopleConfiguration"
                  :datas="tableData"
                  id="tableCategories"
                  :onCheck="onTableCheckCategories"
                  :onCheckAll="onTableCheckCategories"
                  :onUncheck="onTableCheckCategories"
                  :onUncheckAll="onTableCheckCategories"
                  ref="tableCategories"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabDetail" role="tabpanel">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="adminCrmPeople"
                  :configurations="DetailPeopleConfiguration"
                  :jsonValue="detailData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="confirmCancelNewCategories"
                  ><i class="fa fa-times"></i>&nbsp; {{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                   @click="confirmSaveNewCategories"
                  >	<i class="fa fa-floppy-o"></i>&nbsp; {{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";

export default {
  name: "adminCrmPeople",
  components: {
    BootstrapTable,
    Select2,
    PageDetail
  },

  data: function() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      language: dictionaryHelpers.getDictionary("Language"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      registries: dictionaryHelpers.getDictionary("registries"),
      People: dictionaryHelpers.getDictionary("People"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      DetailPeopleConfiguration: [],
      detailData: {},
      languages: 0,
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newTitlePeople: dictionaryHelpers.getDictionary("newTitlePeople"),
      openDetail: dictionaryHelpers.getDictionary("OpenDetail"),
      save: dictionaryHelpers.getDictionary("Save"),
      defaultLanguageOptions: [],
      pageValueSelected: {
      id: 0,
      languagePageSetting: { content: null }
      },
      TablePeopleConfiguration: [],
      tableCustomerResult: [],
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0
    };
  },
  created() {
    var adminCrmPeople = this;
    
    spinnerHelpers.show();
    
    this.languages = storageData.sIdLanguage();

    adminCrmPeople.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };

        adminConfigurationServices.getFunctionality(function(result) {
        adminCrmPeople.TablePeopleConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
        adminCrmPeople.DetailPeopleConfiguration = result.data.tabsConfigurations[0].pageConfigurations;
        
      adminCrmPeople.loadTable();
    });
  },


  methods: {
    loadTable(ln) {
      var adminCrmPeople = this;
      if(!functionHelpers.isValued(ln)){
        ln = storageData.sIdLanguage();
      }else{
        ln = this.languages;
      }
      peopleServices.getAll(ln,function(result) {
        adminCrmPeople.tableData = result.data;
        spinnerHelpers.hide();
      });
    },

     languageChange(value) {
      spinnerHelpers.show();
      var adminCrmPeople = this;
      this.languages = value;
      adminCrmPeople.loadTable(value);
      spinnerHelpers.hide();
    },

   
  PeopleFormatter(value, row, index, field) {
      var adminCrmPeople = this;
      var html =
        '<div class="container-fluid nopadding" style="min-width:80px;">';
      html +=
        '<button class="btn btn-success" onclick="adminCrmPeople.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button>';
         html +=
        '<button class="btn btn-info" onclick="adminCrmPeople.__vue__.clone(' +
        row.id +
        ')"><i class="fa fa-files-o" style="color:#fff!important;"/></button>';
          html +=
        '<button class="btn btn-danger" onclick="adminCrmPeople.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';

      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function(i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += adminCrmInterventions.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div>";
      return html;
    },

     executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminCrmPeople = this;
      this.rowIdSelected = id;
      this.titleDetail = this.customer;

      $.each(this.tableData, function(i, row) {
        if (adminCrmPeople.rowIdSelected == row.id) {
          adminCrmPeople.detailData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    clone(id) {
      var adminCrmPeople = this;
      var ln = adminCrmPeople.languages;
      spinnerHelpers.show();
      peopleServices.clone(id, function() {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("CloneCompleted")
        );
        
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminCrmPeople.loadTable(ln);
      });
    },

    delete(id) {
      var adminCrmPeople = this;
      var ln = adminCrmPeople.languages;
      spinnerHelpers.show();
      peopleServices.del(id, function() {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("DeleteCompleted")
        );
        
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminCrmPeople.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },

      onNewCategories() {
      spinnerHelpers.show();
      var adminCrmPeople=this;
      adminCrmPeople.rowIdSelected = 0;
      this.detailData = {};
      
      this.detailData.captures = [];
      this.titleDetail = this.newCategories;
      this.rowIdSelected = 0;


      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveCategories() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveCategoriesSave();
      }
    },

    executeSaveCategoriesSave() {
      spinnerHelpers.show();
      var adminCrmPeople = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCategories.getRowSelected(), function(i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminCrmPeople.rowsSelected = adminCrmPeople.rowsSelected + 1;

        peopleServices.update(
          rowToSave,
          function() {
            adminCrmPeople.checkAllIsSaved();
            adminCrmPeople.tableResult.push({
              id: rowToSave.id,
              success: true
            });
            notificationHelpers.success(adminCrmPeople.updateCompleted);
          },
          function(response) {
            adminCrmPeople.checkAllIsSaved();
            adminCrmPeople.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    confirmDeleteCategories() {
      if (confirm(this.confirmDelete)) {
        this.executeDeleteCategories();
      }
    },
    executeDeleteCategories() {
      spinnerHelpers.show();
      var adminCrmPeople = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCategories.getRowSelected(), function(i, row) {
        adminCrmPeople.rowsSelected = adminCrmPeople.rowsSelected + 1;

        peopleServices.del(
          row.id,
          function() {
            adminCrmPeople.checkAllIsSaved();
            notificationHelpers.success(adminCrmPeople.deleteCompleted);
            
          },
          function(response) {
            adminCrmPeople.checkAllIsSaved();
            adminCrmPeople.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    onTableCheckCategories() {
      var countRowSelected = this.$refs.tableCategories.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },

    confirmCancelNewCategories() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmCancel"))) {
        this.executeCancelCategories();
      }
    },

    executeCancelCategories() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $("#tabTable").addClass("active");
      $("#tabDetail").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveNewCategories() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveNewCategories();
      }
    },

    executeSaveNewCategories() {
      spinnerHelpers.show();
      var adminCrmPeople = this;
      this.detailData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailData.code)) {
        this.detailData.code = false;
      }

      if (!functionHelpers.isValued(this.detailData.description)) {
        this.detailData.description = false;
      }

      if (!functionHelpers.isValued(this.languages)) {
        this.detailData.idLanguage = storageData.sIdLanguage();
      } else {
        this.detailData.idLanguage = this.languages;
      }

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailData.id = this.rowIdSelected;

        peopleServices.update(this.detailData, function(result) {
          adminCrmPeople.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmPeople.updateCompleted
          });
          notificationHelpers.success(adminCrmPeople.updateCompleted);
          adminCrmPeople.loadTable(adminCrmPeople.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      } else {
        
        peopleServices.insert(this.detailData, function(result) {
          adminCrmPeople.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmPeople.insertCompleted
          });
          notificationHelpers.success(adminCrmPeople.insertCompleted);
          adminCrmPeople.loadTable(adminCrmPeople.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      }
    },
    changeTitle(field, value) {
      var adminPages = this;
      var titleToUrl = $("#description").val(),
        cleanUrl = "";
      cleanUrl =
        "/" +
        titleToUrl
          .replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&\s])/g, "-")
          .toLowerCase();
      if (
        adminPages.pageValueSelected.id == null ||
        $("#link").val() == ""
      ) {
        $("#link").val(cleanUrl);
        /*adminPages.pageValueSelected.languagePageSetting.url = dataHelpers.unbind(
          cleanUrl
        );*/
      }
      this.checkUrl(cleanUrl);
    },
    checkUrl(url) {
      if (url == "link") {
        url = $("#" + url).val();
      }
      var adminPages = this;

      if (adminPages.rowIdSelected == null) {
        pageServices.checkExistUrl(url, function(result) {
          if (result.data) {
            validationHelpers.setDetailError(
              "link",
              dictionaryHelpers.getDictionary("UrlAlreadyExist")
            );
          } else {
            $("#link").removeClass("error");
            validationHelpers.clear("#frmadminCrmCategories");
          }
        });
      } else {
        pageServices.checkExistUrlNotForThisPage(
          url,
          adminPages.rowIdSelected,
          function(result) {
            if (result.data) {
              validationHelpers.setDetailError(
                "link",
                dictionaryHelpers.getDictionary("UrlAlreadyExist")
              );
            } else {
              $("#link").removeClass("error");
              validationHelpers.clear("#frmadminCrmCategories");
            }
          }
        );
      }
    },
    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable(this.languages);
      }
    }
  }

};
</script>
<style>
.card-title-admin h1{
  font-size:40px;
  font-weight: lighter;
  color:#303C54;
}

.align-btns {
 position: absolute;
    z-index: 1;
    margin-top: 10px;
}


</style>