<template>
  <div id="adminCrmProducer">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item"> CRM</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Produttori</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>Produttori</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
            <div class="row align-btns" style="width:85%;">
              <div class="col-lg-6">
                <button id="btnAdd" type="button" class="btn btn-primary" @click="onNewCategories">
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
                <button
                  id="btnSave"
                  type="button"
                  class="btn btn-success"
                  @click="confirmSaveCategories"
                  :disabled="disableButton"
                >
                  <i class="fa fa-floppy-o"></i>
                  <span>{{ save }}</span>
                </button>
              </div>
              <div class="col-3 text-left">
                <select2
                  id="select_AdminPagesView_IdLanguage"
                  ref="select_AdminPagesView_IdLanguage"
                  class="form-control nopadding"
                  style="width:75%"
                  :filterable="false"
                  service="languages"
                  v-model="pageValueSelected.languagePageSetting.idLanguage"
                  :default="defaultLanguageOptions"
                  :change="languageChange"
                />
                <span style="margin-left:10px;">{{ language }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="tableConfiguration"
                  :datas="tableData"
                  id="tableCategories"
                  :onCheck="onTableCheckCategories"
                  :onCheckAll="onTableCheckCategories"
                  :onUncheck="onTableCheckCategories"
                  :onUncheckAll="onTableCheckCategories"
                  ref="tableCategories"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>

          <div class="tab-pane nopadding" id="tabDetail" role="tabpanel">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="adminCrmProducer"
                  :configurations="DetailProducersConfiguration"
                  :jsonValue="detailData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="confirmCancelNewCategories"
                  ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="confirmSaveNewCategories"
                  ><i class="fa fa-floppy-o"></i>	&nbsp; {{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";

export default {
  name: "adminCrmProducer",
  components: {
    BootstrapTable,
    Select2,
    PageDetail,
  },
  data: function () {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      language: dictionaryHelpers.getDictionary("Language"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      registries: dictionaryHelpers.getDictionary("registries"),
      producer: dictionaryHelpers.getDictionary("Producer"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      detailConfiguration: [],
      DetailProducersConfiguration: [],
      detailOptionsData: {},
      detailData: {},
      languages: 0,
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newCategories: dictionaryHelpers.getDictionary("newCategories"),
      newTitleProducer: dictionaryHelpers.getDictionary("newTitleProducer"),
      openDetail: dictionaryHelpers.getDictionary("OpenDetail"),
      save: dictionaryHelpers.getDictionary("Save"),
      defaultLanguageOptions: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
      },
      tableConfiguration: [],
      tableCustomerResult: [],
      tableGroupDisabledConfiguration: [],
      detailEnabledConfiguration: [],
      tableGroupDisabledData: [],
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0,
    };
  },

  created() {
    var adminCrmProducer = this;
    spinnerHelpers.show();

    this.languages = storageData.sIdLanguage();

    adminCrmProducer.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage(),
    };

    adminConfigurationServices.getFunctionality(function (result) {
      adminCrmProducer.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
      adminCrmProducer.DetailProducersConfiguration = result.data.tabsConfigurations[0].pageConfigurations;
      adminCrmProducer.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminCrmProducer = this;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      } else {
        ln = this.languages;
      }
      producerServices.getAll(ln, function (result) {
        adminCrmProducer.tableData = result.data;
        spinnerHelpers.hide();
      });
    },

    languageChange(value) {
      spinnerHelpers.show();
      var adminCrmProducer = this;
      this.languages = value;
      adminCrmProducer.loadTable(value);
      spinnerHelpers.hide();
    },

    ProducersFormatter(value, row, index, field) {
      var adminCrmProducer = this;
      var html =
        '<div class="container-fluid nopadding" style="min-width:80px;"><div class="row">';
      html +=
        '<button class="btn btn-success" onclick="adminCrmProducer.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button>';
      html +=
        '<button class="btn btn-info" onclick="adminCrmProducer.__vue__.clone(' +
        row.id +
        ')"><i class="fa fa-files-o" style="color:#fff!important;"/></button>';
      html +=
        '<button class="btn btn-danger" onclick="adminCrmProducer.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';

      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function (i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += adminCrmProducer.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div>";
      return html;
    },

    executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminCrmProducer = this;
      this.rowIdSelected = id;
      this.titleDetail = this.customer;
      //adminCrmProducer.detailData.meta_tag_characteristic = "";

      $.each(this.tableData, function (i, row) {
        if (adminCrmProducer.rowIdSelected == row.id) {
          adminCrmProducer.detailData = row;
        }
      });
      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    clone(id) {
      var adminCrmProducer = this;
      var ln = adminCrmProducer.languages;
      spinnerHelpers.show();
      producerServices.clone(id, function () {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("CloneCompleted")
        );

        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminCrmProducer.loadTable(ln);
      });
    },

    delete(id) {
      var adminCrmProducer = this;
      var ln = adminCrmProducer.languages;
      spinnerHelpers.show();
      producerServices.del(id, function () {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("DeleteCompleted")
        );

        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminCrmProducer.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },

    onNewCategories() {
      spinnerHelpers.show();
      this.detailData = {};
      languagePageSetting: {
        content: null;
      }
      this.titleDetail = this.newCategories;
      this.rowIdSelected = 0;
      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveCategories() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveCategoriesSave();
      }
    },

    executeSaveCategoriesSave() {
      spinnerHelpers.show();
      var adminCrmProducer = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCategories.getRowSelected(), function (i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminCrmProducer.rowsSelected = adminCrmProducer.rowsSelected + 1;
        // rowToSave.idlanguage=adminCrmProducer.languages;

        producerServices.update(
          rowToSave,
          function () {
            adminCrmProducer.checkAllIsSaved();
            adminCrmProducer.tableResult.push({
              id: rowToSave.id,
              success: true,
            });
            notificationHelpers.success(adminCrmProducer.updateCompleted);
          },
          function (response) {
            adminCrmProducer.checkAllIsSaved();
            adminCrmProducer.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response,
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    confirmDeleteCategories() {
      if (confirm(this.confirmDelete)) {
        this.executeDeleteCategories();
      }
    },
    executeDeleteCategories() {
      spinnerHelpers.show();
      var adminCrmProducer = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCategories.getRowSelected(), function (i, row) {
        adminCrmProducer.rowsSelected = adminCrmProducer.rowsSelected + 1;

        producerServices.del(
          row.id,
          function () {
            adminCrmProducer.checkAllIsSaved();
            notificationHelpers.success(adminCrmProducer.deleteCompleted);
          },
          function (response) {
            adminCrmProducer.checkAllIsSaved();
            adminCrmProducer.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response,
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    onTableCheckCategories() {
      var countRowSelected = this.$refs.tableCategories.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },

    confirmCancelNewCategories() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmCancel"))) {
        this.executeCancelCategories();
      }
    },

    executeCancelCategories() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $("#tabTable").addClass("active");
      $("#tabDetail").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveNewCategories() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveNewCategories();
      }
    },

    executeSaveNewCategories() {
      spinnerHelpers.show();
      var adminCrmProducer = this;
      this.detailData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailData.code)) {
        this.detailData.code = false;
      }

      if (!functionHelpers.isValued(this.detailData.description)) {
        this.detailData.description = false;
      }

      if (!functionHelpers.isValued(this.languages)) {
        this.detailData.idLanguage = storageData.sIdLanguage();
      } else {
        this.detailData.idLanguage = this.languages;
      }

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailData.id = this.rowIdSelected;

        producerServices.update(this.detailData, function (result) {
          adminCrmProducer.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmProducer.updateCompleted,
          });
          notificationHelpers.success(adminCrmProducer.updateCompleted);
          adminCrmProducer.loadTable(adminCrmProducer.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      } else {
        producerServices.insert(this.detailData, function (result) {
          adminCrmProducer.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmProducer.insertCompleted,
          });
          notificationHelpers.success(adminCrmProducer.insertCompleted);
          adminCrmProducer.loadTable(adminCrmProducer.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      }
    },

    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable(this.languages);
      }
    },
  },
};
</script>

<style>
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}

.align-btns {
 position: absolute;
    z-index: 1;
    margin-top: 10px;
}
</style>
