<template>
  <router-view />
</template>

<script>
export default {
  // mounted() {
  //   $("head").append(
  //     '<link rel="stylesheet" href="' +
  //       configData.wsRootServicesUrl +
  //       '/storage/css/web.css" type="text/css" />'
  //   );
  // }
};
</script>