<template>
<div id="AdminAutomation">
 <header class="app-header navbar">
      <button
        class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto disableHide"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <router-link to="/admin" class="navbar-brand" />
      <button class="navbar-toggler sidebar-minimizer d-md-down-none disableHide" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown d-md-down-none">
          <a
            class="nav-link"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            onclick="javascript:notificationHelpers.readAll();"
          >
            <i class="icon-bell"></i>
            <span id="lblNumberNotification" class="badge badge-pill badge-danger"></span>
          </a>
          <div id="divNotification" class="dropdown-menu dropdown-menu-right"></div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="icon-user icons"></i>
            <span id="navbarUsername"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>{{ account }}</strong>
            </div>
            <a class="dropdown-item" href="/admin/logout">
              <i class="icon-logout icons"></i>&nbsp;
              <label>{{ logout }}</label>
            </a>
          </div>
        </li>
        <div style="width:15px"></div>
      </ul>
    </header>

    <div class="app-body">
      <div class="sidebar" style="z-index:4;">
        <nav class="sidebar-nav">
          <ul class="nav" id="menu">
            <div v-for="menu in menus" :key="menu.id">
              <li v-if="menu.nextLevel.length == 0" class="nav-item">
                <router-link :to="menu.url" class="nav-link" @click.native="clickMenu">
                  <i v-if="menu.cssIcon" class="nav-icon" :class="menu.cssIcon"></i>
                  {{ menu.label }}
                </router-link>
              </li>
              <li v-else class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                  <i v-if="menu.cssIcon" class="nav-icon" :class="menu.cssIcon"></i>
                  {{ menu.label }}
                </a>
                <ul class="nav-dropdown-items">
                  <div v-for="menuChildren in menu.nextLevel" :key="menuChildren.id">
                    <li v-if="menuChildren.nextLevel.length == 0" class="nav-item">
                      <router-link
                        :to="menuChildren.url"
                        @click.native="clickMenu"
                        class="nav-link"
                      >
                        <i
                          v-if="menuChildren.cssIcon"
                          class="nav-icon"
                          :class="menuChildren.cssIcon"
                        ></i>
                        {{ menuChildren.label }}
                      </router-link>
                    </li>
                    <li v-else class="nav-item nav-dropdown">
                      <a class="nav-link nav-dropdown-toggle nav-father" href="#">
                        <i
                          v-if="menuChildren.cssIcon"
                          class="nav-icon"
                          :class="menuChildren.cssIcon"
                        ></i>
                        {{ menuChildren.label }}
                      </a>
                      <ul class="nav-dropdown-items nav-children">
                        <li
                          v-for="menuChildrenChildren in menuChildren.nextLevel"
                          :key="menuChildrenChildren.id"
                          class="nav-item"
                        >
                          <router-link
                            :to="menuChildrenChildren.url"
                            @click.native="clickMenu"
                            class="nav-link"
                          >
                            <i
                              v-if="menuChildrenChildren.cssIcon"
                              class="nav-icon"
                              :class="menuChildrenChildren.cssIcon"
                            ></i>
                            {{ menuChildrenChildren.label }}
                          </router-link>
                        </li>
                      </ul>
                    </li>
                  </div>
                </ul>
              </li>
            </div>
          </ul>
        </nav>
        <button id="btnMenu" class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
    <div>
        
    </div>
      <!-- Main content -->
      <main id="main" class="main">
        <ol class="breadcrumb" style="margin-bottom: 0px">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item active">
          Automation
        </li>
      </ol>
      <div class="container-fluid card-title-admin" style="padding: 10px 30px;background: #E4E5E6;">
        <div class="row">
            <div class="col-6 align-self-center">
              <h1>Automation</h1>
            </div>
          </div>
      </div>
        <div class="container-fluid">
          <div class="">
            <div class="tab-content">
              <div class="tab-pane active" id="tabTable" role="tabpanel" style="padding-top: 0px;padding-bottom: 0px;">
                <div class="row align-btn">
                  <div class="col-lg-12">
                    <button
                      id="btnAdd"
                      type="button"
                      class="btn btn-primary"
                      @click="onNewAutomation"
                    >
                      <i class="fa fa-plus"></i>
                      <span>Aggiungi</span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <bootstrapTable
                      :configurations="TableAutomationConfiguration"
                      :datas="tableData"
                      id="tableAutomation"
                      ref="tableAutomation"
                      :results="tableResult"
                    ></bootstrapTable>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tabNewAutomation" role="tabpanel" style="padding:0px;">
                <div class="row">
                  <div class="col-sm-12" style="padding-top:0px;">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <button
                          id="tabAutomationDetailCampaign"
                          class="nav-link active nav-link-aut"
                          type="button"
                          data-toggle="tab"
                          href="#tabAutomationDetailCampaign"
                          role="tab"
                          aria-controls="tabAutomationDetailCampaign"
                          v-on:click="onAutomationDetailTab"
                        >
                          <span>Dettaglio</span>
                        </button>
                      </li>

                      <li class="nav-item" v-if="rowIdSelected>0">
                        <button
                          id="tabAutomationDetailRules"
                          class="nav-link nav-link-aut"
                          type="button"
                          data-toggle="tab"
                          href="#tabAutomationDetailRules"
                          role="tab"
                          aria-controls="tabAutomationDetailRules"
                          v-on:click="onAutomationDetailRules"
                        >
                          <span>Regole</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tab-content" style="border:0px solid #dedede">
                  <div class="tab-pane active" id="tabDetailAutomation" role="tabpanel" style="box-shadow: none !important;border:0px solid #dedede"> 
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          <pageDetail
                            functions="adminAutomation"
                            :configurations="detailConfiguration"
                            :jsonValue="detailData"
                          ></pageDetail>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 text-right">
                          <button
                            type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                            @click="confirmCancelNewAutomation"
                          ><i class="fa fa-times"></i>&nbsp;Annulla</button>
                          <button
                            type="button"
                            class="btn btn-success"
                            @click="confirmSaveNewAutomation"
                          ><i class="fa fa-floppy-o"></i>&nbsp;Salva</button>  
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tabDetailAutomationRules" role="tabpanel" style="box-shadow: none !important;border:0px solid #dedede">
                    <div class="row">
                        <div class="col-12 text-right">
                          <button
                            type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                            @click="confirmBackNewAutomation"
                          ><i class="fa fa-chevron-left"></i>&nbsp;Indietro</button>
                        </div>
                      </div>
                    <AutomationsModuleRoot :id="idTree"></AutomationsModuleRoot>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <footer class="app-footer" style="z-index:0;">
      <span class="ml-auto">
        <a
          href="https://tecnotrade.com"
          title="Realizzazione siti internet Modena e Bologna"
          style="font-size: .9rem;color:#000;"
        >
          <span style="color:#009246;">Made</span> in
          <span style="color:#CE2B37;">Italy</span> with
          <i class="fa fa-heart" aria-hidden="true" style="color:#C72123"></i>
          by Tecnotrade
        </a>
      </span>
    </footer>
</div>
  
</template>

<script>
import BootstrapTable from "@/components/BootstrapTableAutomation.vue";
import PageDetail from "@/components/PageDetail.vue";

export default {
  name: "AdminAutomation",
  components: {
    BootstrapTable,
    PageDetail
  },
  data: function() {
    return {
      TableAutomationConfiguration: [],
      tableData: [],
      tableResult: [],
      detailConfiguration: [],
      detailData: {},
      idTree: 0,
      rowIdSelected: 0,
    }
  },
  computed: {
    menus: function() {
      return storageData.sMenu();
    },
    account: function() {
      return dictionaryHelpers.getDictionary("Account");
    },
    logout: function() {
      return dictionaryHelpers.getDictionary("Logout");
    }
  },
  created: function() {
    if (functionHelpers.isValued(storageData.sTokenKey())) {
      loginHelpers.refreshToken();
      if (functionHelpers.isValued(storageData.sUserName())) {
        userServices.checkGroupUser(storageData.sUserName(),function(result) {
          //se l'utente che naviga non è admin allora redirect
          if(!result.data){
            window.location = '/';
          }
        });
      }
    } else {
      loginHelpers.disconnect();
    }
  },
  created() {
    var AdminAutomation = this;
    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function(result) {
      if (functionHelpers.isValued(result) && functionHelpers.isValued(result.data)) {
        AdminAutomation.TableAutomationConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
        AdminAutomation.detailConfiguration = result.data.tabsConfigurations[0].pageConfigurations;
      }
      AdminAutomation.loadTable();
    });
  },
  mounted() {
    window.mainHelpers = require("@/helpers/main.js");
    $("#bodyMain").attr("style", "background-color: #e4e5e6");
    $("#navbarUsername").text(" " + storageData.sUserName());
    // menuHelpers.showAdmin();
    // Minimized menu on click
    if (!$("body").hasClass("sidebar-minimized")) {
      $("#btnMenu").trigger("click");
    }
  },
  methods: {
    loadTable() {
      var AdminAutomation = this;
      automationServices.getAll(function(result) {
        AdminAutomation.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    AutomationOnlineFormatter(value, row, index, field){
      if(row.online){
      var newList = '<div class="container-fluid nopadding" style="min-width:80px;"><label class="switch switch-pill switch-primary" style="margin: 2px; margin-bottom: -2px; vertical-align: bottom" ><input type="checkbox"  id="form-control" class="switch-input" checked="checked" onclick="AdminAutomation.__vue__.onChangeCheckOnlineAutomationList(' + row.id + ')"><span class="switch-slider" data-on data-off></span></label></div>'; 
      }else{
        var newList = '<div class="container-fluid nopadding" style="min-width:80px;"><label class="switch switch-pill switch-primary" style="margin: 2px; margin-bottom: -2px; vertical-align: bottom" ><input type="checkbox"  id="form-control" class="switch-input" onclick="AdminAutomation.__vue__.onChangeCheckOnlineAutomationList(' + row.id + ')"><span class="switch-slider" data-on data-off></span></label></div>'; 
      }
      return newList;
    },
    AutomationFormatter(value, row, index, field) {
      var AdminAutomation = this;
      var html =
        '<div class="container-fluid nopadding" style="min-width:80px;"><div class="row">';
      html +=
        '<button class="btn btn-success" onclick="AdminAutomation.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="Apri dettaglio automation" /></button>';

      html += "</div>";
      html += "</div>";
      return html;
    },
    onChangeCheckOnlineAutomationList(){
      //api to set online the automation directly fron the table
    },
    executeOpenDetail(id){
      var AdminAutomation = this;
      AdminAutomation.rowIdSelected = id;
      AdminAutomation.idTree = id;

      $.each(this.tableData, function(i, row) {
        if (AdminAutomation.rowIdSelected == row.id) {
          AdminAutomation.detailData = row;
        }
      });
      $("#tabTable").removeClass("active");
      $("#tabDetailAutomationRules").removeClass("active");
      $("#tabDetailAutomation").addClass("active");
      $("#tabNewAutomation").addClass("active");
    },
    clickMenu: function() {
      // Minimized menu on click
      if (!$("body").hasClass("sidebar-minimized")) {
        $("#btnMenu").trigger("click");
      }
      // Close menù from mobile
      $(".navbar-toggler.mobile-sidebar-toggler.d-lg-none.mr-auto").click();
    },
    getWithoutChildren: function() {},
    initializeEnvironment:  function() {
      $('#modalSettingEnvironment').modal('show');
      $('#modalSettingEnvironment').css('background','rgba(0,0,0,0.5)');
      $('header').css('filter', 'blur(2px)');
      $('.app-body').css('filter', 'blur(2px)');
      $('footer').css('filter', 'blur(2px)');
    },
    onNewAutomation: function(){
      this.detailData = {};
      this.rowIdSelected = 0;
      this.idTree = 0;
      $("#tabTable").removeClass("active");
      $("#tabDetailAutomation").addClass("active");
      $("#tabNewAutomation").addClass("active");
      $("#tabDetailAutomationRules").removeClass("active");
    },
    confirmCancelNewAutomation: function(){
      if (confirm('Sei sicuro di voler annullare l\'inserimento?')) {
        this.executeCancelAutomation();
      }
    },
    executeCancelAutomation() {
      this.detailData = {};
      this.rowIdSelected = 0;
      this.idTree = 0;
      $("#tabTable").addClass("active");
      $("#tabDetailAutomation").removeClass("active");
      $("#tabNewAutomation").removeClass("active");
      $("#tabDetailAutomationRules").removeClass("active");
    },
    confirmSaveNewAutomation: function(){
      if (confirm("Sei sicuro di vole salvare?")) {
        this.executeSaveAutomation();
      }
    },
    executeSaveAutomation: function(){
      spinnerHelpers.show();
      var AdminAutomation = this;
      this.detailData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (functionHelpers.isValued(this.rowIdSelected) && this.rowIdSelected > 0 ) {
        this.detailData.id = this.rowIdSelected;

        automationServices.update(this.detailData, function(result) {
          notificationHelpers.success("Automation salvata con successo!");
          AdminAutomation.loadTable();
          $("#tabTable").addClass("active");
          $("#tabDetailAutomation").removeClass("active");
          $("#tabNewAutomation").removeClass("active");
          $("#tabDetailAutomationRules").removeClass("active");
        });
      } else {
        
        automationServices.insert(this.detailData, function(result) {
          notificationHelpers.success("Nuova automation creata con successo!");
          AdminAutomation.loadTable();
          $("#tabTable").addClass("active");
        $("#tabDetailAutomation").removeClass("active");
        $("#tabNewAutomation").removeClass("active");
        $("#tabDetailAutomationRules").removeClass("active");
        });
      }
    },
    confirmBackNewAutomation:function(){
      var AdminAutomation = this;
      AdminAutomation.idTree = 0;
      $("#tabTable").addClass("active");
      $("#tabDetailAutomation").removeClass("active");
      $("#tabNewAutomation").removeClass("active");
      $("#tabDetailAutomationRules").removeClass("active");
    },
    onAutomationDetailTab: function(){
      $("#tabDetailAutomation").addClass("active");
      $("#tabDetailAutomationRules").removeClass("active");
    },
    onAutomationDetailRules: function(){
      $("#tabDetailAutomation").removeClass("active");
      $("#tabDetailAutomationRules").addClass("active");
    },
  }
};
</script>

<style>
.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  margin-left: 0px !important;
}

.sidebar-minimized .nav-father:hover ~ .nav-children {
  position: fixed !important;
  width: 200px;
  margin-left: 200px;
  margin-top: -48px;
}

.sidebar-minimized .nav-children {
  position: fixed !important;
  transition: 5s all;
}

.sidebar-minimized .nav-children:hover {
  position: fixed !important;
  width: 200px;
  margin-left: 200px;
  margin-top: -48px;
}

.box-environment {
    border: 3px solid #ededed;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.2);
}
#modalSettingEnvironment .modal-lg {
    max-width: 900px;
}
.box-environment button{
  background:#000;
}

.sidebar-minimized .sidebar .nav-dropdown-items .nav-item{
  width:200px;
}
.sidebar-minimized .sidebar .nav-children .nav-item,
.sidebar-minimized .nav-father ~ .nav-children a {
  padding-left:0px !important;
}
.nav-dropdown .nav-dropdown .nav-dropdown-items a {
  padding-left:30px;
}
.align-btn{
  margin-top: 10px;
  z-index: 1;
  position: absolute;
}
.table-bordered{
  border:0px solid #c8ced3 !important;
}

.nav-tabs .nav-item {
  width: 50%;
}
.nav-tabs .nav-link {
  width: 100%;
  border-radius: 0;
  color: #fff !important;
  background: #3c4b64 !important;
  border-top:0px solid #ededed !important;
  border-right:0px solid #ededed !important;
  border-left:0px solid #ededed !important;
  border-bottom: 3px solid #f45f00 !important;
  border: 0px;
}
.nav-tabs > .nav-item > #tabAutomationDetailRules:not(.active),  .nav-tabs > .nav-item > #tabAutomationDetailCampaign:not(.active){
  background: #3c4b64 !important;
}
.nav-tabs .nav-link.active {
  background: #2a3545 !important;
}
.nav-tabs>.nav-item>.nav-link-aut:not(.active){
  background: #3c4b64 !important;
}

.nav-tabs .nav-link{
  border-radius: 0px !important;
}
</style>
