<template>
  <div id="adminCrmAdvertisingBanner">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ crm }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Banner pubblicitari</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>Banner pubblicitari</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
                  <div class="row align-btns" style="width: 85%;">
                    <div class="col-lg-12">
                      <button id="btnAdd" type="button" class="btn btn-primary" @click="onClickNew">
                        <i class="fa fa-plus"></i>
                        <span>{{ add }}</span>
                      </button>
                  </div>           
              </div>
            <div class="card-body nopadding">
              <bootstrapTable
                :configurations="tableConfiguration"
                :datas="tableData"
                id="tableAdvertisingBanner"
                :onCheck="onTableCheckAdvertisingBanner"
                :onCheckAll="onTableCheckAdvertisingBanner"
                :onUncheck="onTableCheckAdvertisingBanner"
                :onUncheckAll="onTableCheckAdvertisingBanner"
                ref="tableAdvertisingBanner"
                :results="tableadvertisingBannerResult"
              ></bootstrapTable>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabadvertisingBannerDetail" role="tabpanel" style="box-shadow:none;">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="AdminSettingadvertisingBanner"
                  :configurations="detailadvertisingBannerConfiguration"
                  :jsonValue="detailadvertisingBannerData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="cancelNewadvertisingBanner"
                  ><i class="fa fa-times"></i>&nbsp; {{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="saveNewadvertisingBanner"
                  ><i class="fa fa-floppy-o"></i>&nbsp; {{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import Select2 from "@/components/Select2.vue";
import PageDetail from "@/components/PageDetail.vue";
export default {
  name: "adminCrmAdvertisingBanner",
  components: {
    BootstrapTable,
    Select2,
    PageDetail,
  },
  data: function () {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      save: dictionaryHelpers.getDictionary("Save"),
      crm: dictionaryHelpers.getDictionary("CRM"),
      advertisingBanner: dictionaryHelpers.getDictionary("advertisingBanner"),
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      detailadvertisingBannerConfiguration: [],
      tableadvertisingBannerResult: [],
      detailadvertisingBannerData: {},
      tableConfiguration: [],
      rowIdSelected:0,
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
      },
      tableData: [],
      disableButton: true,
      url: window.location.pathname,
    };
  },
  created() {
    var adminCrmAdvertisingBanner = this;

    spinnerHelpers.show();
    adminCrmAdvertisingBanner.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage(),
    };

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function (result) {
      adminCrmAdvertisingBanner.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;;
      adminCrmAdvertisingBanner.detailadvertisingBannerConfiguration = result.data.tabsConfigurations[0].pageConfigurations;

      adminCrmAdvertisingBanner.loadTable();
      
    });
  },
  methods: {
    loadTable() {
      var adminCrmAdvertisingBanner = this;

        advertisingBannerServices.getAll(function (result) {
          
        adminCrmAdvertisingBanner.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    onTableCheckAdvertisingBanner() {
      var countRowSelected = this.$refs.tableAdvertisingBanner.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    AdvertisingBannerFormatter(value, row, index, field) {
      var adminCrmAdvertisingBanner = this;
      var html = "";
      html +=
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<button class="btn btn-success" onclick="adminCrmAdvertisingBanner.__vue__.viewDatailInfo(' +
        row.id +
        ')"><i class="fa fa-pencil"/></button>';
      html +=
        '<button class="btn btn-danger" onclick="adminCrmAdvertisingBanner.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';

      html += "</div>";
      return html;
    },
    viewDatailInfo(id) {
      spinnerHelpers.show();
      var adminCrmAdvertisingBanner = this;
      this.rowIdSelected = id;

      $.each(this.tableData, function (i, row) {
        if (adminCrmAdvertisingBanner.rowIdSelected == row.id) {
          adminCrmAdvertisingBanner.detailadvertisingBannerData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabadvertisingBannerDetail").addClass("active");
      spinnerHelpers.hide();
    },
    delete(id) {
      var adminCrmAdvertisingBanner = this;
      spinnerHelpers.show();
      advertisingBannerServices.del(id, function () {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("DeleteCompleted")
        );

        adminCrmAdvertisingBanner.loadTable();
        window.scrollTo(0, 0);
      });
    },
    onClickNew() {
      spinnerHelpers.show();
      this.detailadvertisingBannerData = {};
      $("#tabTable").removeClass("active");
      $("#tabadvertisingBannerDetail").addClass("active");
      spinnerHelpers.hide();
    },
    cancelNewadvertisingBanner() {
      spinnerHelpers.show();
      this.detailadvertisingBannerData = {};
      $("#tabTable").addClass("active");
      $("#tabadvertisingBannerDetail").removeClass("active");
      spinnerHelpers.hide();
    },
    saveNewadvertisingBanner() {
      spinnerHelpers.show();
      var adminCrmAdvertisingBanner = this;
      this.detailadvertisingBannerData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailadvertisingBannerData.id = this.rowIdSelected;

        advertisingBannerServices.update(this.detailadvertisingBannerData, function (
          result
        ) {
          notificationHelpers.success(adminCrmAdvertisingBanner.updateCompleted);
          adminCrmAdvertisingBanner.loadTable();
          $("#tabTable").addClass("active");
          $("#tabadvertisingBannerDetail").removeClass("active");
        });
      } else {
        advertisingBannerServices.insert(this.detailadvertisingBannerData, function (
          result
        ) {
          notificationHelpers.success(adminCrmAdvertisingBanner.insertCompleted);
          adminCrmAdvertisingBanner.loadTable();
          $("#tabTable").addClass("active");
          $("#tabadvertisingBannerDetail").removeClass("active");
        });
      }
    },
  },
};
</script>
<style scoped>
.card-title-admin .card {
  background: transparent;
  border: 0px;
}
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}

/*.align-btn {
  position: absolute;
  margin-top: 45px;
  z-index: 1000000;
}*/

.align-btns {
 position: absolute;
    z-index: 10000;
    margin-top: 10px;
}

.span {
  position: absolute;
  margin-top: 75px;
}
</style>
