<template>
  <div id="adminCrmAdvertisingArea">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ crm }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">{{ advertisingArea }}</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>Aree dedicate ai banner pubblicitari</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane nopadding active" id="tabTable" role="tabpanel">
            <div class>
              <div class="tab-content noborder">
                <div class="card-body card-body-table">
                  <div class="row align-btns" style="width:85%;">
                    <div class="col-lg-6">
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body">
              <bootstrapTable
                :configurations="tableConfiguration"
                :datas="tableData"
                id="tableAdvertisingArea"
                :onCheck="onTableCheckAdvertisingArea"
                :onCheckAll="onTableCheckAdvertisingArea"
                :onUncheck="onTableCheckAdvertisingArea"
                :onUncheckAll="onTableCheckAdvertisingArea"
                ref="tableAdvertisingArea"
                :results="tableadvertisingAreaResult"
              ></bootstrapTable>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabadvertisingAreaDetail" role="tabpanel">
            <div class="card-header">Nuova area</div>
            <div class="card-body">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="AdminSettingadvertisingArea"
                  :configurations="detailadvertisingAreaConfiguration"
                  :jsonValue="detailadvertisingAreaData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="cancelNewadvertisingArea"
                  >	<i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="saveNewadvertisingArea"
                  ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import Select2 from "@/components/Select2.vue";
import PageDetail from "@/components/PageDetail.vue";
export default {
  name: "adminCrmAdvertisingArea",
  components: {
    BootstrapTable,
    Select2,
    PageDetail,
  },
  data: function () {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      save: dictionaryHelpers.getDictionary("Save"),
      crm: dictionaryHelpers.getDictionary("CRM"),
      advertisingArea: dictionaryHelpers.getDictionary("advertisingArea"),
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      detailadvertisingAreaConfiguration: [],
      tableadvertisingAreaResult: [],
      detailadvertisingAreaData: {},
      tableConfiguration: [],
      rowIdSelected: 0,
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
      },
      tableData: [],
      disableButton: true,
      url: window.location.pathname,
    };
  },
  created() {
    var adminCrmAdvertisingArea = this;

    spinnerHelpers.show();
    adminCrmAdvertisingArea.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage(),
    };

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function (result) {
      adminCrmAdvertisingArea.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;;
      adminCrmAdvertisingArea.detailadvertisingAreaConfiguration = result.data.tabsConfigurations[0].pageConfigurations;

      adminCrmAdvertisingArea.loadTable();
      
    });
  },
  methods: {
    loadTable() {
      var adminCrmAdvertisingArea = this;

        advertisingAreaServices.getAll(function (result) {
          
        adminCrmAdvertisingArea.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    onTableCheckAdvertisingArea() {
      var countRowSelected = this.$refs.tableAdvertisingArea.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    AdvertisingAreaFormatter(value, row, index, field) {
      var adminCrmAdvertisingArea = this;
      var html = "";
      html +=
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<button class="btn btn-success" onclick="adminCrmAdvertisingArea.__vue__.viewDatailInfo(' +
        row.id +
        ')"><i class="fa fa-pencil"/></button>';


      html += "</div>";
      return html;
    },
    viewDatailInfo(id) {
      spinnerHelpers.show();
      var adminCrmAdvertisingArea = this;
      this.rowIdSelected = id;

      $.each(this.tableData, function (i, row) {
        if (adminCrmAdvertisingArea.rowIdSelected == row.id) {
          adminCrmAdvertisingArea.detailadvertisingAreaData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabadvertisingAreaDetail").addClass("active");
      spinnerHelpers.hide();
    },
   
    onClickNew() {
      spinnerHelpers.show();
      this.detailadvertisingAreaData = {};
      $("#tabTable").removeClass("active");
      $("#tabadvertisingAreaDetail").addClass("active");
      spinnerHelpers.hide();
    },
    cancelNewadvertisingArea() {
      spinnerHelpers.show();
      this.detailadvertisingAreaData = {};
      $("#tabTable").addClass("active");
      $("#tabadvertisingAreaDetail").removeClass("active");
      spinnerHelpers.hide();
    },
    saveNewadvertisingArea() {
      spinnerHelpers.show();
      var adminCrmAdvertisingArea = this;
      this.detailadvertisingAreaData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailadvertisingAreaData.id = this.rowIdSelected;

        advertisingAreaServices.update(this.detailadvertisingAreaData, function (
          result
        ) {
          notificationHelpers.success(adminCrmAdvertisingArea.updateCompleted);
          adminCrmAdvertisingArea.loadTable();
          $("#tabTable").addClass("active");
          $("#tabadvertisingAreaDetail").removeClass("active");
        });
      } else {
        advertisingAreaServices.insert(this.detailadvertisingAreaData, function (
          result
        ) {
          notificationHelpers.success(adminCrmAdvertisingArea.insertCompleted);
          adminCrmAdvertisingArea.loadTable();
          $("#tabTable").addClass("active");
          $("#tabadvertisingAreaDetail").removeClass("active");
        });
      }
    },
  },
};
</script>
<style scoped>
.card-title-admin .card {
  background: transparent;
  border: 0px;
}
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}


.align-btns {
 position: absolute;
    z-index: 10000;
    margin-top: 10px;
}

.span {
  position: absolute;
  margin-top: 75px;
}
</style>
