<template>
  <div id="adminAmazonTemplate">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ crm }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Template Amazon</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>Template Amazon</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
                  <div class="row align-btns" style="width: 85%;">
                     <div class="col-lg-12">
                      <button id="btnAdd" type="button" class="btn btn-primary" @click="onClickNew">
                        <i class="fa fa-plus"></i>
                        <span>{{ add }}</span>
                      </button>
                     </div>   
                  </div>   
            <div class="card-body nopadding">
              <bootstrapTable
                :configurations="tableConfiguration"
                :datas="tableData"
                id="tableAmazonTemplate"
                :onCheck="onTableCheckAmazonTemplate"
                :onCheckAll="onTableCheckAmazonTemplate"
                :onUncheck="onTableCheckAmazonTemplate"
                :onUncheckAll="onTableCheckAmazonTemplate"
                ref="tableAmazonTemplate"
                :results="tableamazonTemplateResult"
              ></bootstrapTable>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabamazonTemplateDetail" role="tabpanel">
            <div class="card-body" style="padding: 30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="AdminSettingamazonTemplate"
                  :configurations="detailamazonTemplateConfiguration"
                  :jsonValue="detailamazonTemplateData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="cancelNewamazonTemplate"
                  ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="saveNewamazonTemplate"
                  ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import Select2 from "@/components/Select2.vue";
import PageDetail from "@/components/PageDetail.vue";
export default {
  name: "adminAmazonTemplate",
  components: {
    BootstrapTable,
    Select2,
    PageDetail,
  },
  data: function () {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      save: dictionaryHelpers.getDictionary("Save"),
      crm: dictionaryHelpers.getDictionary("CRM"),
      amazonTemplate: dictionaryHelpers.getDictionary("amazonTemplate"),
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      detailamazonTemplateConfiguration: [],
      tableamazonTemplateResult: [],
      detailamazonTemplateData: {},
      tableConfiguration: [],
      rowIdSelected:0,
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
      },
      tableData: [],
      disableButton: true,
      url: window.location.pathname,
    };
  },
  created() {
    var adminAmazonTemplate = this;

    spinnerHelpers.show();
    adminAmazonTemplate.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage(),
    };

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function (result) {
      adminAmazonTemplate.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;;
      adminAmazonTemplate.detailamazonTemplateConfiguration = result.data.tabsConfigurations[0].pageConfigurations;

      adminAmazonTemplate.loadTable();
      
    });
  },
  methods: {
    loadTable() {
      var adminAmazonTemplate = this;

        amazonTemplateServices.getAll(function (result) {
          
        adminAmazonTemplate.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    onTableCheckAmazonTemplate() {
      var countRowSelected = this.$refs.tableAmazonTemplate.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    AmazonTemplateFormatter(value, row, index, field) {
      var adminAmazonTemplate = this;
      var html = "";
      html +=
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<button class="btn btn-success" onclick="adminAmazonTemplate.__vue__.viewDatailInfo(' +
        row.id +
        ')"><i class="fa fa-pencil"/></button>';

      html += "</div>";
      return html;
    },
    viewDatailInfo(id) {
      spinnerHelpers.show();
      var adminAmazonTemplate = this;
      this.rowIdSelected = id;

      $.each(this.tableData, function (i, row) {
        if (adminAmazonTemplate.rowIdSelected == row.id) {
          adminAmazonTemplate.detailamazonTemplateData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabamazonTemplateDetail").addClass("active");
      spinnerHelpers.hide();
    },
  
    onClickNew() {
      spinnerHelpers.show();
      this.detailamazonTemplateData = {};
      $("#tabTable").removeClass("active");
      $("#tabamazonTemplateDetail").addClass("active");
      spinnerHelpers.hide();
    },
    cancelNewamazonTemplate() {
      spinnerHelpers.show();
      this.detailamazonTemplateData = {};
      $("#tabTable").addClass("active");
      $("#tabamazonTemplateDetail").removeClass("active");
      spinnerHelpers.hide();
    },
    saveNewamazonTemplate() {
      spinnerHelpers.show();
      var adminAmazonTemplate = this;
      this.detailamazonTemplateData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailamazonTemplateData.id = this.rowIdSelected;

        amazonTemplateServices.update(this.detailamazonTemplateData, function (
          result
        ) {
          notificationHelpers.success(adminAmazonTemplate.updateCompleted);
          adminAmazonTemplate.loadTable();
          $("#tabTable").addClass("active");
          $("#tabamazonTemplateDetail").removeClass("active");
        });
      } else {
        amazonTemplateServices.insert(this.detailamazonTemplateData, function (
          result
        ) {
          notificationHelpers.success(adminAmazonTemplate.insertCompleted);
          adminAmazonTemplate.loadTable();
          $("#tabTable").addClass("active");
          $("#tabamazonTemplateDetail").removeClass("active");
        });
      }
    },
  },
};
</script>
<style scoped>
.card-title-admin .card {
  background: transparent;
  border: 0px;
}
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}
.align-btns {
 position: absolute;
    z-index: 1;
    margin-top: 10px;
}

/*.align-btn {
  position: absolute;
  margin-top: 45px;
  z-index: 1000000;
}*/

.span {
  position: absolute;
  margin-top: 75px;
}
</style>
