<template>
  <v-app>
    <div class="wrapper">
      <div class="left">
        <!--Loader while fetching the first time-->
        <VProgressCircular
          v-if="fetching && !anythingOnRemote"
          indeterminate
          color="primary"
        ></VProgressCircular>

        <!--Available nodes to be dragged-->
        <v-card class="peeks-card" v-else>
          <VCardSubtitle
            v-text="
              `${
                nodes.length
                  ? 'Trascina un blocco sul diagramma'
                  : 'Per iniziare, clicca su blocco'
              }`
            "
          ></VCardSubtitle>

          <v-card-text>
            <flowy-new-block
              style="margin: 0 important; padding: 0 !important"
              v-for="(type, index) in nodeTypes"
              :key="index"
              @drag-start="onDragStartNewBlock"
              @drag-stop="onDragStopNewBlock"
            >
              <template v-slot:preview="{}">
                <NodePeek :type="type" @peek-clicked="peekClicked" />
              </template>
              <template v-slot:node="{}">
                <NodeBlock :default-node-type="type" />
              </template>
            </flowy-new-block>
          </v-card-text>

          <v-divider v-if="isDirty"></v-divider>

          <v-card-actions class="actions">
            <VSpacer></VSpacer>
            <VBtn
              v-show="isDirty && anythingOnRemote"
              @click="restoreBackup"
              text
              class="mt-2"
              >ANNULLA</VBtn
            >
            <VBtn
              v-if="isDirty"
              @click="submit"
              class="submit-button"
              :loading="busy"
              >SALVA</VBtn
            >
          </v-card-actions>
        </v-card>
      </div>

      <!--Tree-->
      <div class="right" v-if="nodes.length">
        <div class="tree-container">
          <flowy
            :nodes="nodes"
            :beforeMove="beforeMove"
            :beforeAdd="beforeAdd"
            @add="add"
            @move="move"
            @remove="remove"
            @drag-start="onDragStart"
          ></flowy>
        </div>
      </div>
    </div>
  </v-app>
</template>

<script>
import EventBus from "./event-bus";
import _ from "lodash";
import constants from "./utils/constants.js";
export default {
  props: {
    id: {
      type: Number
    }
  },
  data: () => ({
    rootRef: "tecnotrade",

    nodes: [],
    backup: [],
    fetching: false,
    busy: false,
    anythingOnRemote: false,
    movementAllowed: true,

    // Store holders
    availableTables: [],
    availableTemplates: [],
    availableGroups: [],
  }),
  watch: {
    id(val) {
      if (val > 0) {
        this.init();
      }
    }
  },
  mounted() {
    this.getSqlTables();
    this.getEmailTemplates();
    this.getEmailGroups();

    EventBus.$on("on-save", this.handleSaveNode);
  },
  computed: {
    nodeTypes() {
      // NB: The root node can only be of certain types
      const anyNode = this.nodes.length;
      return Object.values(constants.ENUMS.NODE_TYPES).filter((x) => {
        return (
          anyNode ||
          (!anyNode &&
            [
              this.$k.ENUMS.NODE_TYPES.TRIGGER,
              this.$k.ENUMS.NODE_TYPES.TIME_DISPATCHER,
            ].indexOf(x) !== -1)
        );
      });
    },
    baseNodeOfType() {
      return (type) => {
        return { ...this.$k.STRUCTURES.DEFAULT_NODE, type: type };
      };
    },
    isDirty() {
      return JSON.stringify(this.nodes) !== JSON.stringify(this.backup);
    },
  },
  methods: {
    init() {
      this.fetchRemote();
    },
    
    /**
     * Dragging a new block
     */
    onDragStartNewBlock(event) {
      // contains all the props and attributes passed to NodeBlock
      const { props } = event;
      this.newDraggingBlock = props;
    },

    /**
     * Stop dragging new block.
     * [Not hit]
     */
    onDragStopNewBlock(event) {
      console.log("onDragStopNewBlock", event);
      this.newDraggingBlock = null;
    },

    /**
     * Check whether the node can be added.
     * This function is responsible of turing the connector
     * blue or ree
     */
    beforeMove({ to, from }) {
      // called before moving node (during drag and after drag)
      // indicator will turn red when we return false
      // from is null when we're not dragging from the current node tree
      const canAdd = this.$tree.canAdd(
        this.newDraggingBlock,
        from,
        to,
        this.nodes
      );

      this.movementAllowed = canAdd;

      return canAdd;
    },

    /**
     * Check whether the node can be added.
     * For consistency, this function uses the value computed by
     * `beforeMove()`, which is stored within `newDraggingBlock["movement-allowed"]`
     */
    beforeAdd() {
      // called before moving node (during drag and after drag)
      // indicator will turn red when we return false
      // from is null when we're not dragging from the current node tree
      return this.movementAllowed;
    },

    /**
     * Generate a random integer
     */
    randomInteger() {
      return Math.floor(Math.random() * 10000) + 1;
    },

    /**
     * Generates a new id for a node
     */
    generateId(nodes) {
      let id = this.randomInteger();
      // _.find is a lodash function
      while (_.find(nodes, { id }) !== undefined) {
        id = this.randomInteger();
      }
      return id;
    },

    /**
     * Entry point for removig a node
     */
    remove(event) {
      const { node } = event;
      this.removeNodeAndChildren(node);
    },

    /**
     * Handler called while moving a node
     */
    move(event) {
      console.log("move", event);

      // node we're dragging to and node we've just dragged
      const { dragged, to } = event;

      // change panentId to id of node we're dragging to
      dragged.parentId = to.id;
      // TODO: should i update the parentid in the payload?
    },

    /**
     * Entry point for adding a node to the hierarchy tree
     */
    add(event) {
      console.log(
        `## #Adding a node of type [${event.node.data["default-node-type"]}]`
      );

      // every node needs an ID
      const id = this.generateId();

      // The type is passed through the custom attributes
      const type = Object.keys(constants.ENUMS.NODE_TYPES).find(
        (x) =>
          constants.ENUMS.NODE_TYPES[x] === event.node.data["default-node-type"]
      );

      // Create the node to be added to the array
      const data = {
        ...constants.STRUCTURES.DEFAULT_NODE,
        id: id,
        parent_node_id: event.node.parentId,
        type: constants.ENUMS.NODE_TYPES[type],
      };
      const node = { id, ...event.node, data: data };

      // add to array of nodes
      this.nodes.push(node);

      console.log("nodes", this.nodes);
      console.log("backup", this.backup);
    },

    /**
     * ???
     */
    onDragStart(event) {
      console.log("onDragStart", event);
    },

    // ===============

    /**
     * Click on a Peek.
     * If there aren't any nodes in the tree,
     * The click triggers the creation of the root node
     */
    peekClicked(type) {
      if (!this.nodes.length) this.addRootNode(type);
    },

    /**
     * Adds the first root node
     */
    addRootNode(type) {
      const id = this.generateId();

      // By default the trigger is of type READ_RECEIPT
      // But it makes sense for the root node to be different
      // TODO: also defined some custom configuration
      // that turns the trigger into an Newsletter Subsription lookalike
      const triggerType = this.$k.ENUMS.TRIGGER_TYPES.DB_WATCHER;

      const node = {
        id: id,
        parentId: -1,
        nodeComponent: "NodeBlock",
        data: {
          ...constants.STRUCTURES.DEFAULT_NODE,
          type: type,
          id: id,
          trigger: {
            ...constants.STRUCTURES.DEFAULT_NODE.trigger,
            type: triggerType,
          },
          time_dispatcher: {
            ...constants.STRUCTURES.DEFAULT_NODE.time_dispatcher,
            repeat_until: new Date().toISOString().split("T")[0],
          },
        },
      };
      this.nodes.push(node);
    },

    /**
     * Remove a node and, recursively, all of its children
     */
    removeNodeAndChildren(node) {
      // Remove from array
      const nodeIndex = _.findIndex(this.nodes, { id: node.id });
      this.nodes.splice(nodeIndex, 1);

      // Recursively remove its children
      const children = this.nodes.filter((x) => +x.parentId === +node.id);
      if (children.length) {
        children.forEach((n) => this.removeNodeAndChildren(n));
      }
    },

    /**
     * Event emitted by a single node
     */
    handleSaveNode(data) {
      console.log("updating node", data);
      let node = this.nodes.find((x) => x.data.id === data.id);
      if (node) {
        node.data = JSON.parse(JSON.stringify(data));
      }
    },

    // ===============

    /**
     * Retrieves the nodes stored on the server.
     * Also, makes a backup copy
     */
    fetchRemote() {
      this.fetching = true;
      const opt = this.$automations;
      this.$http
        .get(`${opt.endpoint}/api/flowchart/${this.id}`)
        .then((d) => {
          // I have to convert the API Nodes into UI ones
          const apiNodes = JSON.parse(JSON.stringify(d.data.nodes));
          const uiNodes = [];

          apiNodes.forEach((node) => {
            const uiNode = {
              id: node.id,
              parentId: node.parent_node_id ? node.parent_node_id : -1,
              nodeComponent: "NodeBlock",
              data: { ...node },
            };

            // Hotfix
            if (uiNode.data.time_dispatcher.time_of_day.length === 8)
              uiNode.data.time_dispatcher.time_of_day = uiNode.data.time_dispatcher.time_of_day.substring(
                0,
                5
              );

            // Format timespan
            if (uiNode.data.delay.interval.length === 8)
              uiNode.data.delay.interval = "0." + uiNode.data.delay.interval;

            // Only date
            uiNode.data.time_dispatcher.repeat_until = uiNode.data.time_dispatcher.repeat_until.split(
              "T"
            )[0];

            uiNodes.push(uiNode);
          });

          this.nodes = JSON.parse(JSON.stringify(uiNodes));
          this.backup = JSON.parse(JSON.stringify(uiNodes));
        })
        .catch((e) => {
          console.warn(e);
        })
        .finally(() => {
          // Fetched anything at all?
          this.anythingOnRemote = this.nodes.length > 0;
          this.fetching = false;
        });
    },

    /**
     * Dismiss current configuration and apply
     * the latest fecthed one
     */
    restoreBackup() {
      this.nodes = JSON.parse(JSON.stringify(this.backup));
    },

    /**
     * Submits the current tree to the backend
     */
    submit() {
      const opt = this.$automations;

      // Clean Nodes
      const apiNodes = [];
      this.nodes.forEach((n) => {
        // Process single node and make it compliance
        // with the API structure
        console.log("parse", n);
        const raw = {
          ...n.data,
          id: n.id,
          parent_node_id: n.parentId > 0 ? parseInt(n.parentId) : null,
        };

        // Hotfixes
        raw.time_dispatcher.max_occurrencies = parseInt(
          raw.time_dispatcher.max_occurrencies
        );

        if (
          raw.time_dispatcher.repeat_until &&
          raw.time_dispatcher.repeat_until.length === 10
        ) {
          raw.time_dispatcher.repeat_until =
            raw.time_dispatcher.repeat_until + "T10:00:00Z";
        }

        apiNodes.push(raw);
      });

      // Start saving
      this.busy = true;

      this.$http
        .post(`${opt.endpoint}/api/flowchart/${this.id}`, apiNodes)
        .then(() => {
          // Eventually.
          // This call is required to get the proper Ids after
          // the database assignment
          this.fetchRemote();
        })
        .catch((e) => {
          console.warn(e);
        })
        .finally(() => (this.busy = false));
    },

    // ===============

    getSqlTables() {
      const opt = this.$automations;
      this.$http
        .get(`${opt.endpoint}/api/services/db/tables`)
        .then((d) => {
          this.availableTables = d.data.tables;
        })
        .catch((e) => {
          console.warn(e);
        });
    },

    getEmailTemplates() {
      const opt = this.$automations;
      this.$http
        .get(`${opt.endpoint}/api/services/templates`)
        .then((d) => {
          this.availableTemplates = d.data.templates;
        })
        .catch((e) => {
          console.warn(e);
        });
    },

    getEmailGroups() {
      const opt = this.$automations;
      this.$http
        .get(`${opt.endpoint}/api/services/groups`)
        .then((d) => {
          this.availableGroups = d.data.groups;
        })
        .catch((e) => {
          console.warn(e);
        });
    },

    // ================

    /**
     * Returns a node given its id.
     * It's used to check if a block has a reigger of type "read_receipt".
     * In that case, it's not possible to select the recipients groups
     */
    getNode(id) {
      return this.nodes.find((x) => x.id.toString() === id.toString());
    },
  },
};
</script>

<style lang="scss">
@import "./styles/container.scss";
@import "./styles/base.scss";
</style>