<template>
    <div class="home container-fluid nopadding">
        <div class="row">
            <div class="col-12 nopadding">
                <Header />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{$route.params.id}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 nopadding">
                <Footer />
            </div>
        </div>
    </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "home",
  components: {
    Header,
    Footer
  },
  data() {
    return {
    //  id: 0
    };
  }
}
</script>
<style>

</style>