<template>
  <div class="home container-fluid nopadding">
    <div class="row" v-if="!hideHeader">
      <div class="col-12 nopadding">
        <Header />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <HomePage :content="contentHomePage" />
      </div>
    </div>
    <div class="row" v-if="!hideFooter">
      <div class="col-12 nopadding">
        <Footer />
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import HomePage from "@/components/HomePage.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "home",
  components: {
    Header,
    HomePage,
    Footer
  },
  data() {
    return {
      contentHomePage: "",
      contentSidebar: "",
      hideHeader: false,
      hideFooter: false,
      contentPage: [],
      scriptOnload: "",
      trackId: "",
      facebookTrackId: ""
    };
  },
  metaInfo() {
    var hideSearchEngine = "index, follow";
    if (this.contentPage.hideSearchEngine) {
      hideSearchEngine = "noindex, nofollow";
    }
    return {
      //title: this.contentPage.title,
      /*meta: [
        { name: "robots", content: hideSearchEngine },
        { name: "url", content: this.$route.fullPath },
        { name: "og:url", content: this.$route.fullPath },
        { name: "description", content: this.contentPage.seoDescription },
        { name: "canonical", content: this.$route.params.pathMatch },
        {  name: "og:title", content: this.contentPage.shareTitle },
        {
          name: "og:description",
          content: this.contentPage.shareDescription
        },
        {  name: "og:image:url", content: this.contentPage.urlCoverImage },
        {
          name: "og:image:secure_url",
          content: this.contentPage.urlCoverImage
        }
      ],*/
      script: [
        {
          src: "https://www.googletagmanager.com/gtag/js?id=" + this.trackId,
          async: true,
          defer: true
        },
        {
          innerHTML:
            "window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '" +
            this.trackId +
            "');"
        }
      ]
    };
  },
  beforeCreate: function() {
    var home = this;
    var html="";
    var path = this.$route.fullPath;

    settingServices.getByCode("GoogleAnalyticsTrackId", function(result) {
      home.trackId = result.message;
    });
    settingServices.getByCode("FacebookTrackId", function(result) {
      home.facebookTrackId = result.message;

      html = html + "<script>";
      html = html + "!function(f,b,e,v,n,t,s)";
      html = html + "{if(f.fbq)return;n=f.fbq=function(){n.callMethod?";
      html = html + "n.callMethod.apply(n,arguments):n.queue.push(arguments)};";
      html = html + "if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';";
      html = html + "n.queue=[];t=b.createElement(e);t.async=!0;";
      html = html + "t.src=v;s=b.getElementsByTagName(e)[0];";
      html = html + "s.parentNode.insertBefore(t,s)}(window,document,'script',";
      html = html + "'https://connect.facebook.net/en_US/fbevents.js'); ";
      html = html + "fbq('init', '" + result.message + "');";
      html = html + "fbq('track', 'PageView');";
      html = html + "<\/script>";

      html = html + "<noscript>";
      html = html + "<img height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=" + result.message + "&ev=PageView&noscript=1'/>";
      html = html + "<\/noscript>";
      
      
      $('head').append(html);

    });
    
    
    /*window.fbAsyncInit = function() {
        FB.init({
          appId      : home.facebookTrackId,
          xfbml      : true,
          version    : 'v2.7'
        });


        FB.XFBML.parse();
    };
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));*/
 /*},
  mounted: function() {
    var home = this;*/
    var path = this.$route.params.pathMatch;
    var protectedPage = false;
    var userLogged = false;
    if (functionHelpers.isValued(storageData.sUserName())) {
      userLogged = true;
    }
    if (path == undefined) {
      pageServices.getHome(function(result) {
        if (functionHelpers.isValued(result.data)) {
          if (functionHelpers.isValued(result.data.protected)) {
            protectedPage = result.data.protected;
          }
          if(protectedPage && !userLogged){
            window.location = '/login';
          }else{
            home.contentPage = result.data;
            //home.contentHomePage = result.data.content;
            home.replaceTag(result.data);
            home.hideHeader = result.data.hideHeader;
            home.hideFooter = result.data.hideFooter;
            home.scriptOnload = result.data.js;
            
          }
        } else {
          home.contentPage = "Nessuna pagina presente";
        }
        //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
      });
    } else {
      pageServices.getRender(path, function(result) {
        if (functionHelpers.isValued(result.data.content)) {
          if (functionHelpers.isValued(result.data.protected)) {
            protectedPage = result.data.protected;
          }

          if(protectedPage && !userLogged){
            window.location = '/login';
          }else{
            home.contentPage = result.data;
            //home.contentHomePage = result.data.content;
            home.replaceTag(result.data);
            
            //home.insertAdvertising(result.data);

            home.hideHeader = result.data.hideHeader;
            home.hideFooter = result.data.hideFooter;
            home.scriptOnload = result.data.js;
            
            home.contentSidebar = '<H1>Sidebar</H1>';
            //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
          }
        } else {
          pageServices.getRender("/404", function(result) {
            if (functionHelpers.isValued(result.data.content)) {
              home.contentPage = result.data;
              home.contentHomePage = result.data.content;
              home.hideHeader = result.data.hideHeader;
              home.hideFooter = result.data.hideFooter;
              home.scriptOnload = result.data.js;
            } else {
              home.contentPage = "Nessuna pagina presente";
            }
            //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
          });
        }
      });
    }

    $("head").append(
      '<link rel="stylesheet" href="' +
        configData.wsRootServicesUrl +
        '/storage/css/main.css" type="text/css" />' +
        '<link rel="stylesheet" href="' +
        configData.wsRootServicesUrl +
        '/storage/css/web.css" type="text/css" />'
    );
  },
  updated() {
    if (functionHelpers.isValued(this.scriptOnload)) {
      eval(this.scriptOnload);
    }
  },
  methods: {

    insertAdvertising(content){
      var home = this;

      var data = {'code': 'content_top', 'url': this.$route.fullPath};

      advertisingAreaServices.getHtmlBanner(data, function(result){   
        var r = home.contentHomePage.indexOf('</p>');    
        home.contentHomePage = home.contentHomePage.substr(0, r+4) + 
        '<div class="0fa27fd7604a5c0c02fee26641695d47" data-index="2" style="float: left; margin: 10px 10px 10px 0;">' +
        result.message + '</div>' +
        home.contentHomePage.substr(r+4) ;
        
      });

      data = {'code': 'content_bottom', 'url': this.$route.fullPath};

      advertisingAreaServices.getHtmlBanner(data, function(result){       
        home.contentHomePage += result.message;
      });

    },
    replaceTag(content) {
      var home = this;
      if (content.content.indexOf("#blog#") > 0) {
        settingServices.getRenderBlog(function(resultBlog) {
          switch (resultBlog.message) {
            case "Box":
              home.renderAricoloBox(content, "#blog#");
              break;
            case "Full":
              home.renderAricoloFull(content, "#blog#");
              break;
            default:
              home.renderAricoloBox(content, "#blog#");
          }
        });
      } else {
        home.contentHomePage = content.content;
      }

      if (content.content.indexOf("#news#") > 0) {
        settingServices.getRenderNews(function(resultNews) {
          switch (resultNews.message) {
            case "Box":
              home.renderAricoloBox(content, "#news#");
              break;
            case "Full":
              home.renderAricoloFull(content, "#news#");
              break;
            default:
              home.renderAricoloBox(content, "#news#");
          }
        });
      } else {
        home.contentHomePage = content.content;
      }

      /* BREADCRUMBS */
      if (content.content.indexOf("#breadcrumbs#") > 0) {
        var data = {'ln': storageData.sIdLanguage(), 'url': this.$route.fullPath};
        
        contentServices.getBreadcrumbs(data, function(result) {
          home.contentHomePage = home.contentHomePage.replace("#breadcrumbs#", result.message);
          
        });
      }
      /* END BREADCRUMBS */
      
      /* CHECK CATALOGO */
      if (content.content.indexOf("#categorieslist#") > 0) {
        var data = {'ln': storageData.sIdLanguage(), 'url': this.$route.fullPath};
        categoriesServices.getList(data, function(result) {
          home.renderListCategories(content, result.data, "#categorieslist#");
          //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
        });
      }

      if (home.contentHomePage.indexOf("#categories#") > 0) {
        var data = {'ln':storageData.sIdLanguage(), 'code':'Categories' , 'url': this.$route.fullPath};
        contentServices.getByCodeRender(data, function(result) {
          home.contentHomePage = home.contentHomePage.replace("#categories#", result.message);
          //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
        });
      }

      if(home.contentHomePage.indexOf("#favoritesuseritems#") > 0) {
        var data = {'ln':storageData.sIdLanguage(), 'code':'FavoritesUserItems', 'url': this.$route.fullPath, 'userId' : storageData.sUserId()};
        contentServices.getByCodeRender(data, function(result) {
          home.contentHomePage = home.contentHomePage.replace("#favoritesuseritems#", result.message);
          //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
        });
      }

      if(home.contentHomePage.indexOf("#itemslist#") > 0) {
        var data = {'ln':storageData.sIdLanguage(), 'code':'Items' , 'url': this.$route.fullPath, 'userId' : storageData.sUserId()};
        contentServices.getByCodeRender(data, function(result) {
          //home.contentHomePage = home.contentHomePage.replace("#itemslist#", result.message);

          setTimeout(function(){
            var htmlPaginator = "";
            var minus10Page = 1;
            var plus10Page = 1;
            var minus1Page = 1;
            var plus1Page = 1;
            var pageSelected = parseInt(result.data.pageSelected);
            var maxPage=result.data.totalPages;
            
            /* funzione gestione paginatore */
            if(result.data.paginationActive){
              htmlPaginator += "<ul class='pagination'>";
              /* controllo freccia -10 pagine */
              if((pageSelected - 10) <= 1){
                minus10Page = 1;
              }else{
                minus10Page = pageSelected - 10;
              }

              htmlPaginator += '<li class="page-item" data-page="' + minus10Page + '"><a><i class="fa fa-angle-double-left"></i></a></li>';
              /* end controllo freccia -10 pagine */
              /* controllo freccia -1 pagine */
              if((pageSelected - 1) <= 1){
                minus1Page = 1;
              }else{
                minus1Page = pageSelected - 1;
              }
              
              htmlPaginator += '<li class="page-item" data-page="' + minus1Page + '"><a><i class="fa fa-angle-left"></i></a></li>';
              /* end controllo freccia -1 pagine */

              /* controllo per pagine intermedie */
              if(maxPage > 4){
                if(pageSelected > 1){
                  if((pageSelected + 2) > maxPage){
                    if(pageSelected == maxPage){
                      for(var j = (pageSelected - 3); j<= maxPage; j++){
                        if(pageSelected == j){
                          htmlPaginator += '<li class="page-item active" data-page="' + j + '"><a>' +  j + '</a></li>';
                        }else{
                          htmlPaginator += '<li class="page-item" data-page="' + j + '"><a>' +  j + '</a></li>';
                        }
                      }
                    }else{
                      for(var j = (pageSelected - 2); j<= maxPage; j++){
                        if(pageSelected == j){
                          htmlPaginator += '<li class="page-item active" data-page="' + j + '"><a>' +  j + '</a></li>';
                        }else{
                          htmlPaginator += '<li class="page-item" data-page="' + j + '"><a>' +  j + '</a></li>';
                        }
                      }
                    }
                  }else{
                    for(var j = (pageSelected - 1); j<= (pageSelected + 2); j++){
                      if(pageSelected == j){
                        htmlPaginator += '<li class="page-item active" data-page="' + j + '"><a>' +  j + '</a></li>';
                      }else{
                        htmlPaginator += '<li class="page-item" data-page="' + j + '"><a>' +  j + '</a></li>';
                      }
                    }
                  }
                }else{
                  for(var j = 1; j<= 4; j++){
                    if(pageSelected == j){
                      htmlPaginator += '<li class="page-item active" data-page="' + j + '"><a>' +  j + '</a></li>';
                    }else{
                      htmlPaginator += '<li class="page-item" data-page="' + j + '"><a>' +  j + '</a></li>';
                    }
                  }
                }
              }else{
                for(var j = 1; j<=maxPage;j++){
                  if(pageSelected == j){
                    htmlPaginator += '<li class="page-item active" data-page="' + j + '"><a>' +  j + '</a></li>';
                  }else{
                    htmlPaginator += '<li class="page-item" data-page="' + j + '"><a>' +  j + '</a></li>';
                  }
                }
              }
              /* end controllo per pagine intermedie */
              
              /* controllo freccia + 1 pagine */
              if(pageSelected + 1 >= maxPage){
                plus1Page = maxPage;
              }else{
                plus1Page = pageSelected + 1;
              }
              
              htmlPaginator += '<li class="page-item" data-page="' + plus1Page + '"><a><i class="fa fa-angle-right"></i></a></li>';
              /* end controllo freccia + 1 pagine */
              /* controllo freccia + 10 pagine */
              if(pageSelected+ 10 >= maxPage){
                plus10Page = maxPage;
              }else{
                plus10Page = pageSelected + 10;
              }

              htmlPaginator += '<li class="page-item" data-page="' + plus10Page + '"><a><i class="fa fa-angle-double-right"></i></a></li>';
              /* end controllo freccia + 10 pagine */

              htmlPaginator += "</ul>";
              
              $('.paginationCont').html(htmlPaginator);
              $('html,body').animate({scrollTop: $('.mainPages').offset().top},'slow');
            }else{
              $('.paginationCont').html('');
            }
            $('.totItems').html(result.data.totItems);
            /* end funzione gestione paginatore */
            if(result.data.html==''){
              $('#frmCategoriesFilter').hide();
              $('.div-paginator').hide();
              
            }
          }, 10);
          home.contentHomePage = home.contentHomePage.replace("#itemslist#", result.data.html);
          //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
        });
      }
      /* END CHECK CATALOGO */

      /* CARRELLO */
      if (home.contentHomePage.indexOf("#cart_detail_single_row#") >= 0) {
        var data = {'ln':storageData.sIdLanguage(), 'code':'Cart_Detail_Single_Row' , 'url': this.$route.fullPath, 'cart_id': storageData.sCartId()};
        contentServices.getByCodeRender(data, function(result) {
          if(result.message == ""){
            messageServices.getByCode("EMPTY_CART", function(result) {
              home.contentHomePage = result.message;
            });
          }else{
            home.contentHomePage = home.contentHomePage.replace("#cart_detail_single_row#", result.message);
          }
          //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
        });
      }

      if (home.contentHomePage.indexOf("#cart_summary#") >= 0) { 
        var data = {'ln':storageData.sIdLanguage(), 'code':'Cart_Summary' , 'url': this.$route.fullPath, 'cart_id': storageData.sCartId()};
        contentServices.getByCodeRender(data, function(result) {
          home.contentHomePage = home.contentHomePage.replace("#cart_summary#", result.message);
          //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
        });
      }

      if(home.contentHomePage.indexOf("#cart_total_amount#") >= 0) {
          cartServices.getTotalAmount(storageData.sCartId(), function(result){
            home.contentHomePage = home.contentHomePage.replace("#cart_total_amount#", result.message);  
            //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
          });
      }

      if (home.contentHomePage.indexOf("#cart_user_address#") >= 0) { 
        var data = {'ln':storageData.sIdLanguage(), 'code':'CartUsersAddresses' , 'url': this.$route.fullPath, 'cart_id': storageData.sCartId()};
        contentServices.getByCodeRender(data, function(result) {
          home.contentHomePage = home.contentHomePage.replace("#cart_user_address#", result.message);
          //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
        });
      }
            /* END CARRELLO */

      /******************************************************************************************/
      // estrazione di una galleria dalla community con uno shortcode nell'html
      //    [gallery type="popular" gallery]  per esempio deve iniziare e finire per 'gallery'
      /******************************************************************************************/
      if (home.contentHomePage.indexOf("[gallery") >= 0) { 
        var inizio = home.contentHomePage.indexOf("[gallery");
        var fine = home.contentHomePage.indexOf("gallery]");

        var stringaGallery = home.contentHomePage.substr(inizio, fine-inizio+8);
      
        var pieces = stringaGallery.split(' ');
        var tipoGalleria = '';
        
        for(var i = 0; i<pieces.length;i++){
            if (pieces[i].indexOf("type") >= 0) {
               tipoGalleria = pieces[i].slice(6,-1);
            }
        } 

        communityImageServices.getGallery(tipoGalleria, function(result){
          home.contentHomePage = home.contentHomePage.replace(stringaGallery, result.message);  
        });
      }

      /******************************************************************************************/
      // Box Affiliazione Amazon
      /******************************************************************************************/
      if (home.contentHomePage.indexOf("[amazon") >= 0) { 

          //mi memorizzo in un array tutte le posizioni dove ho un box
          var indices = [];
          for(var pos = home.contentHomePage.indexOf('[amazon'); pos !== -1; pos = home.contentHomePage.indexOf('[amazon', pos + 1)) {
              indices.push(pos);

          }
          
          
          for(var ind = indices.length-1; ind>=0;ind--){
              //se ho lo stesso shortcode riputo tante volte, dopo la prima non ne ho più e non devo più ciclare
              if (home.contentHomePage.indexOf("[amazon") < 0) break;

              var inizio = indices[ind];
              var fine = home.contentHomePage.indexOf(']', inizio);
              
              var stringaAmazon = '';

              stringaAmazon = home.contentHomePage.substr(inizio,fine-inizio+1);
              
              //se esco e stringaAmazon = "" significa che mi sono scordato di chiudere la parentesi quadra.
              //Lascio tutto così ed esco dal ciclo while...altrimenti va in loop infinito
              if (stringaAmazon == '') break;

              var data = {'shortcode':stringaAmazon};
            
              amazonServices.getHtml(data, function(result){
                home.contentHomePage = home.contentHomePage.replace(stringaAmazon, result.message);  
              });
          } 


  
      }


    },
    renderListCategories(html, content, tag){
      var home = this, htmlCategoriesList = "", classActive = "";
      htmlCategoriesList += "<ul>";

      for(var i = 0; i<content.categoriesList.length;i++){
        if(content.categoriesList[i].active == true){
          classActive = "active-categories"
        }
        htmlCategoriesList += "<li class=" + classActive + " id=" + content.categoriesList[i].id + ">";
        htmlCategoriesList += "<a class='li-categories' href='" + content.categoriesList[i].link + "'>" + content.categoriesList[i].description + "</a>";
        if (functionHelpers.isValued(content.categoriesList[i].categoriesList)) {
          htmlCategoriesList += home.renderListSubCategories(content.categoriesList[i].categoriesList);
        }
        htmlCategoriesList += "</li>";
      }
      htmlCategoriesList += "</ul>";
      home.contentHomePage = html.content.replace(tag, htmlCategoriesList);
      //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
    },
    renderListSubCategories(contentSubCategories){
      var home = this, htmlCategoriesList = "", classActive = "";
      htmlCategoriesList += "<ul>";

      for(var i = 0; i<contentSubCategories.length;i++){
        if(contentSubCategories[i].active){
          classActive = "active-categories"
        }
        htmlCategoriesList += "<li class=" + classActive + " id=" + contentSubCategories[i].id + ">";
        htmlCategoriesList += "<a class='li-categories' href='" + contentSubCategories[i].link + "'>" + contentSubCategories[i].description + "</a>";
        if (functionHelpers.isValued(contentSubCategories[i].categoriesList)) {
          htmlCategoriesList += home.renderListSubCategories(contentSubCategories[i].categoriesList);
        }
        htmlCategoriesList += "</li>";
      }
      htmlCategoriesList += "</ul>";

      return htmlCategoriesList;
    },
    renderAricoloFull(content, tag) {
      var home = this,
        htmlBlog = "";
      $.each(content.blog.data, function(i, configBlog) {
        htmlBlog =
          htmlBlog + "<div class='col-12 col-md-4'><div class='cont-full'>";
        if (functionHelpers.isValued(configBlog.urlCoverImage)) {
          htmlBlog =
            htmlBlog +
            "<img src='" +
            configBlog.urlCoverImage +
            "' style='width:100%'>";
        } else {
          htmlBlog = htmlBlog + "<i class='fa fa-ban fa-3x fa-stack'></i>";
        }
        htmlBlog = htmlBlog + "<div class='cont-full-link text-center'>";
        htmlBlog =
          htmlBlog +
          "  <a href='" +
          configBlog.url +
          "'><i class='fa fa-pencil fa-stack'></i></a>";
        htmlBlog = htmlBlog + "</div>";
        htmlBlog = htmlBlog + "<div class='row'>";
        htmlBlog = htmlBlog + "<div class='col-8'>";
        $.each(configBlog.category, function(i, category) {
          if (functionHelpers.isValued(category)) {
            htmlBlog =
              htmlBlog +
              "<label class='tag'><i class='fa fa-tag'></i>" +
              category.title +
              "</label>";
          }
        });
        htmlBlog = htmlBlog + "</div>";
        htmlBlog = htmlBlog + "<div class='col-4 text-right'>";
        if (functionHelpers.isValued(configBlog.date)) {
          var dataBlog = new Date(configBlog.date);
          dataBlog.setDate(dataBlog.getDate());
          
          var startDate = dataBlog.getDate() + "/" + (dataBlog.getMonth() + 1) + "/" + dataBlog.getFullYear();
          htmlBlog =
            htmlBlog +
            "<label class='data-article'><i class='fa fa-clock-o'></i>" +
            startDate +
            "</label>";
        }
        htmlBlog = htmlBlog + "</div>";
        htmlBlog = htmlBlog + "</div>";
        htmlBlog = htmlBlog + "</div></div>";
      });
      if (htmlBlog != "") {
        htmlBlog =
          "<div class='container'><div class='row'>" +
          htmlBlog +
          "</div></div>";
      }
      home.contentHomePage = content.content.replace(tag, htmlBlog);
      //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
    },
    renderAricoloBox(content, tag) {
      var home = this,
        htmlBlog = "";
      $.each(content.blog.data, function(i, configBlog) {
        htmlBlog = htmlBlog + "<div class='col-12 col-md-4'>";
        if (functionHelpers.isValued(configBlog.urlCoverImage)) {
          htmlBlog =
            htmlBlog +
            "<img src='" +
            configBlog.urlCoverImage +
            "' style='width:100%'>";
        }
        htmlBlog = htmlBlog + "<div class='row'>";
        htmlBlog = htmlBlog + "<div class='col-8'>";
        $.each(configBlog.category, function(i, category) {
          if (functionHelpers.isValued(category)) {
            htmlBlog =
              htmlBlog +
              "<label class='tag tag-" +
              category.description +
              "'><i class='fa fa-tag'></i>" +
              category.description +
              "</label>";
          }
        });
        htmlBlog = htmlBlog + "</div>";
        htmlBlog = htmlBlog + "<div class='col-4 text-right'>";
        if (functionHelpers.isValued(configBlog.date)) {
          var dataBlog = new Date(configBlog.date);
          dataBlog.setDate(dataBlog.getDate());
          var startDate = dataBlog.getDate() + "/" + (dataBlog.getMonth() + 1) + "/" + dataBlog.getFullYear();
          htmlBlog =
            htmlBlog +
            "<label class='data-article'><i class='fa fa-clock-o'></i>" +
            startDate +
            "</label>";
        }
        htmlBlog = htmlBlog + "</div>";
        htmlBlog = htmlBlog + "</div>";
        htmlBlog =
          htmlBlog +
          "<h3 style='font-weight:bold;'>" +
          configBlog.title +
          "</h3>";
        htmlBlog = htmlBlog + "<p>" + configBlog.text + "</p>";
        htmlBlog =
          htmlBlog +
          "<div class='text-right'><a href='" +
          configBlog.url +
          "'>Scopri di più</a></div>";
        htmlBlog = htmlBlog + "</div>";
      });
      if (htmlBlog != "") {
        htmlBlog =
          "<div class='container'><div class='row'>" +
          htmlBlog +
          "</div></div>";
      }
      home.contentHomePage = content.content.replace(tag, htmlBlog);
      //$.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
    }
  },
  mounted() {
    setTimeout(function(){
      $.getScript(configData.wsRootServicesUrl + "/storage/js/site.js");
    }, 2000);
  }
};
</script>
<style>
/*
.cont-full {
  position: relative;
}
.cont-full-link{
  background:rgba(0,0,0,0.5);
  position:absolute;
  top:0px;
  width:100%;
  height:100%;
  transition: all ease-in-out 0.25s;
  opacity: 0;
}
.cont-full-link:hover{
  opacity:1;
}
.cont-full-link a{
  width: 100%;
  height: 100%;
  display: block;
}
.cont-full-link i{
  font-size:45px;
  color:#fff;
}
.tag i,
.data-article i {
  margin-right: 5px;
}
.tag {
  padding: 2px 7px;
  background: #000;
  color: #fff;
  font-size: 11px;
  margin-right: 5px;
  border-radius: 3px;
}
.data-article {
  padding: 2px 7px;
  background: #000;
  color: #fff;
  font-size: 11px;
  margin-right: 5px;
  border-radius: 3px;
}*/
.section-header {
  background: #000;
  padding: 25px 0px;
  color: #fff;
}

</style>
