<template>
  <div class="container">
    <div class="row">
    <div class="col-sm">

		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">Checkout</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<form action="http://localhost/api/amazonGetItems" method="post">
							<input type="submit" class="btn btn-danger" value="Paga con PayPal">
						</form>
					</td>
				</tr>
				<tr>
					<td><a href="#">Carte di credito</a></td>
				</tr>
			</tbody>
		</table>
	</div>

    </div>
  </div>
</template>