<template>
  <div id="adminCrmExceptions">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">booking</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">{{ Exceptions }}</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin"> 
        <h1>{{ Exceptions }}</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
            <div class="row align-btn">
              <div class="col-lg-12">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onNewExceptions"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="TableExceptionsConfiguration"
                  :datas="tableData"
                  id="tableCategories"
                  :onCheck="onTableCheckExceptions"
                  :onCheckAll="onTableCheckExceptions"
                  :onUncheck="onTableCheckExceptions"
                  :onUncheckAll="onTableCheckExceptions"
                  ref="tableCategories"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabDetail" role="tabpanel">
            <div class="card-body" style="padding: 30px;">
              <div class="row">
                <pageDetail
                  functions="adminCrmExceptions"
                  :configurations="DetailExceptionsConfiguration"
                  :jsonValue="detailData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right alignbutton">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="confirmCancelNewExceptions"
                  ><i class="fa fa-times"></i>&nbsp; {{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                   @click="confirmSaveNewExceptions"
                  ><i class="fa fa-floppy-o"></i>&nbsp; {{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";

export default {
  name: "adminCrmExceptions",
  components: {
    BootstrapTable,
    Select2,
    PageDetail
  },

  data: function() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      language: dictionaryHelpers.getDictionary("Language"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      registries: dictionaryHelpers.getDictionary("registries"),
      Exceptions: "Eccezioni",
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      DetailExceptionsConfiguration: [],
      detailData: {},
      languages: 0,
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newTitleExceptions: "Nuovo",
      openDetail: dictionaryHelpers.getDictionary("OpenDetail"),
      save: dictionaryHelpers.getDictionary("Save"),
      defaultLanguageOptions: [],
      pageValueSelected: {
      id: 0,
      languagePageSetting: { content: null }
      },
      TableExceptionsConfiguration: [],
      tableCustomerResult: [],
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0
    };
  },
  created() {
    var adminCrmExceptions = this;
    
    spinnerHelpers.show();
    
    this.languages = storageData.sIdLanguage();

    adminCrmExceptions.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };

        adminConfigurationServices.getFunctionality(function(result) {
        adminCrmExceptions.TableExceptionsConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
        adminCrmExceptions.DetailExceptionsConfiguration = result.data.tabsConfigurations[0].pageConfigurations;
        adminCrmExceptions.loadTable();
    });
  },


  methods: {
    loadTable(ln) {
      var adminCrmExceptions = this;
      if(!functionHelpers.isValued(ln)){
        ln = storageData.sIdLanguage();
      }else{
        ln = this.languages;
      }
      ExceptionsServices.getAll(ln,function(result) {
        adminCrmExceptions.tableData = result.data;
        spinnerHelpers.hide();
      });
    },

     languageChange(value) {
      spinnerHelpers.show();
      var adminCrmExceptions = this;
      this.languages = value;
      adminCrmExceptions.loadTable(value);
      spinnerHelpers.hide();
    },

   
  ExceptionsFormatter(value, row, index, field) {
      var adminCrmExceptions = this;
      var html =
        '<div class="container-fluid nopadding" style="min-width:80px;">';
      html +=
        '<button class="btn btn-success" onclick="adminCrmExceptions.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button>';
         html +=
        '<button class="btn btn-info" onclick="adminCrmExceptions.__vue__.clone(' +
        row.id +
        ')"><i class="fa fa-files-o"/></button>';
          html +=
        '<button class="btn btn-danger" onclick="adminCrmExceptions.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';

      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function(i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += adminCrmExceptions.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div>";
      return html;
    },

     executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminCrmExceptions = this;
      this.rowIdSelected = id;
      this.titleDetail = this.customer;

      $.each(this.tableData, function(i, row) {
       if (adminCrmExceptions.rowIdSelected == row.id) {
          adminCrmExceptions.detailData = row;
        }
      });
      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    clone(id) {
      var adminCrmExceptions = this;
      var ln = adminCrmExceptions.languages;
      spinnerHelpers.show();
      ExceptionsServices.clone(id, function() {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("CloneCompleted")
        );
        
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminCrmExceptions.loadTable(ln);
      });
    },

    delete(id) {
      var adminCrmExceptions = this;
      var ln = adminCrmExceptions.languages;
      spinnerHelpers.show();
      ExceptionsServices.del(id, function() {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("DeleteCompleted")
        );
        
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminCrmExceptions.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },

      onNewExceptions() {
      spinnerHelpers.show();
      var adminCrmExceptions=this;

      this.detailData = {};
      
      this.detailData.captures = [];
      this.titleDetail = this.newCategories;
      this.rowIdSelected = 0;


      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveCategories() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveCategoriesSave();
      }
    },

    executeSaveCategoriesSave() {
      spinnerHelpers.show();
      var adminCrmExceptions = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCategories.getRowSelected(), function(i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminCrmExceptions.rowsSelected = adminCrmExceptions.rowsSelected + 1;

        ExceptionsServices.update(
          rowToSave,
          function() {
            adminCrmExceptions.checkAllIsSaved();
            adminCrmExceptions.tableResult.push({
              id: rowToSave.id,
              success: true
            });
            notificationHelpers.success(adminCrmExceptions.updateCompleted);
          },
          function(response) {
            adminCrmExceptions.checkAllIsSaved();
            adminCrmExceptions.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    confirmDeleteCategories() {
      if (confirm(this.confirmDelete)) {
        this.executeDeleteCategories();
      }
    },
    executeDeleteCategories() {
      spinnerHelpers.show();
      var adminCrmExceptions = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCategories.getRowSelected(), function(i, row) {
        adminCrmExceptions.rowsSelected = adminCrmExceptions.rowsSelected + 1;

        ExceptionsServices.del(
          row.id,
          function() {
            adminCrmExceptions.checkAllIsSaved();
            notificationHelpers.success(adminCrmExceptions.deleteCompleted);
            
          },
          function(response) {
            adminCrmExceptions.checkAllIsSaved();
            adminCrmExceptions.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    onTableCheckExceptions() {
      var countRowSelected = this.$refs.tableCategories.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },

    confirmCancelNewExceptions() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmCancel"))) {
        this.executeCancelExceptions();
      }
    },

    executeCancelExceptions() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $("#tabTable").addClass("active");
      $("#tabDetail").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveNewExceptions() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveNewExceptions();
      }
    },

    executeSaveNewExceptions() {
      spinnerHelpers.show();
      var adminCrmExceptions = this;
      this.detailData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailData.code)) {
        this.detailData.code = false;
      }

      if (!functionHelpers.isValued(this.detailData.description)) {
        this.detailData.description = false;
      }

      if (!functionHelpers.isValued(this.languages)) {
        this.detailData.idLanguage = storageData.sIdLanguage();
      } else {
        this.detailData.idLanguage = this.languages;
      }

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailData.id = this.rowIdSelected;

        ExceptionsServices.update(this.detailData, function(result) {
          adminCrmExceptions.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmExceptions.updateCompleted
          });
          notificationHelpers.success(adminCrmExceptions.updateCompleted);
          adminCrmExceptions.loadTable(adminCrmExceptions.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      } else {
        
        ExceptionsServices.insert(this.detailData, function(result) {
          adminCrmExceptions.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmExceptions.insertCompleted
          });
          notificationHelpers.success(adminCrmExceptions.insertCompleted);
          adminCrmExceptions.loadTable(adminCrmExceptions.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      }
    },
  
   
    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable(this.languages);
      }
    }
  }

};
</script>
<style>
.card-title-admin h1{
  font-size:40px;
  font-weight: lighter;
  color:#303C54;
}
.align-btn {
    position: absolute;
    margin-top: 11px;
    z-index: 1;
}
.alignbutton {
  margin-top:250px;
}

</style>