<template>
  <div id="adminSettingNews">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url" v-on:click.native="cancelNewNews">{{ news }} & {{ blog }}</router-link>
      </li>
    </ol>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div id="tabAdminSettingNews" class="tab-pane nopadding active" role="tabpanel">
            <div class="card-body card-body-table">
             <div class="row align-btn" style="width:100%;">
                <div class="col-sm-8">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <button
                        id="tabNews"
                        class="nav-link active"
                        type="button"
                        data-toggle="tab"
                        href="#tabNewsBody"
                        role="tab"
                        aria-controls="tabNewsBody"
                        v-on:click="onTabNews"
                      >
                        <i class="fa fa-paper-plane-o"></i>
                        <span>{{ news }}</span>
                      </button>
                    </li>
                    <li class="nav-item">
                      <button
                        id="tabBlog"
                        type="button"
                        class="nav-link"
                        data-toggle="tab"
                        href="#tabBlogBody"
                        role="tab"
                        aria-controls="tabBlogBody"
                        v-on:click="onTabBlog"
                      >
                        <i class="fa fa-book"></i>
                        <span>{{ blog }}</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="tabNewsBody" role="tabpanel">
                  <div class="row">
                    <div class="col-3 text-left">
                      <select2
                        id="select_AdminPagesView_IdLanguage"
                        ref="select_AdminPagesView_IdLanguage"
                        class="form-control nopadding"
                        style="width:75%"
                        :filterable="false"
                        service="languages"
                        v-model="
                          pageValueSelected.languagePageSetting.idLanguage
                        "
                        :default="defaultLanguageOptions"
                        :change="languageChange"
                      />
                      <span style="margin-left:10px;">{{ language }}</span>
                    </div>
                    <div class="col-lg-9 text-right">
                      <button
                        id="btnAdd"
                        type="button"
                        class="btn btn-primary"
                        @click="onClickNew"
                      >
                        <i class="fa fa-plus"></i>
                        <span>{{ add }}</span>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <bootstrapTable
                        :configurations="tableNewsConfiguration"
                        :datas="tableNewsData"
                        id="tableNews"
                        ref="tableNews"
                        :results="tableNewsResult"
                      ></bootstrapTable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tabNewNewsBody" role="tabpanel">
            <div class="card-header">
              <div class="row">
                <div class="col-5">
                  <strong>{{ newTitle }}</strong>
                </div>

                <!--div class="col-7 text-right" style="white-space: nowrap">
                  <button id="btnContentAdminPagesView" ref="btnContentAdminPagesView" class="btn btn-info active" @click="changeView">
                    {{ content }}
                  </button>
                  <button id="btnSettingAdminPagesView" ref="btnSettingAdminPagesView" class="btn btn-outline-dark-bk-white" @click="changeView">
                    {{ pageSetting }}
                  </button>
                </div-->
              </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
              <div
                id="divContentAdminPagesView"
                class="col-sm-12 nopadding"
                style="transition: all 0.5s ease-in-out;"
              >
                <!-- <div class="card"> -->
                <div class="card-body nopadding" style="padding: 1.25rem;">
                  <div class="container-fluid nopadding">
                    <div class="row" style="margin:0px 30px;">
                      <div class="col-9" style="transition: all 0.5s ease-in-out;">
                        <div id="pageContentAdminPagesView">
                          <div class="row" >
                            <FroalaEditor
                              :content="
                                pageValueSelected.languagePageSetting.content
                              "
                              v-on:updateContenuto="updateContenuto"
                              :tipoTemplate="tipoTemplate"
                            ></FroalaEditor>
                          </div>
                          <div class="row">&nbsp;</div>
                          <div class="row" v-if="showJS">
                            <div class="col nopadding">
                              <label>Javascript</label>
                              <codemirror
                                v-model="pageValueSelected.js"
                                :options="cmOptions"
                                style="border: solid 1px;"
                              ></codemirror>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-3" style="transition: all 0.5s ease-in-out;">
                        <div id="pageSettingAdminPagesView">
                          <!-- v-visible="pageToView == 'settings'" -->
                          <pageDetail
                            functions="adminSettingNews"
                            :configurations="detailConfigurations"
                            :jsonValue="pageValueSelected"
                          ></pageDetail>
                        </div>
                      </div>
                    </div>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-right">
                <button
                  id="btnCancelNew"
                  type="button"
                  class="btn btn-danger"
                  @click="cancelNewNews"
                >
                  <i class="fa fa-times"></i>
                  <span>{{ cancel }}</span>
                </button>
                <button id="btnAddNew" type="button" class="btn btn-success" @click="savePage()">
                  <i class="fa fa-floppy-o"></i>
                  <span>{{ save }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";
import BootstrapTable from "@/components/BootstrapTable.vue";
import FroalaEditor from "@/components/FroalaEditor.vue";
import { codemirror } from "vue-codemirror";
import "codemirror/lib/codemirror.css";

export default {
  name: "adminSettingNews",
  components: {
    codemirror,
    Select2,
    BootstrapTable,
    PageDetail,
    FroalaEditor
  },
  data() {
    return {
      cmOptions: {
        indentWithTabs: true,
        line: true,
        lineNumbers: true,
        lineWrapping: true,
        mode: "text/css",
        tabMode: "indent",
        tabSize: 4
      },
      tipoTemplate: "Blog",
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      del: dictionaryHelpers.getDictionary("Delete"),
      save: dictionaryHelpers.getDictionary("Save"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      news: dictionaryHelpers.getDictionary("News"),
      blog: dictionaryHelpers.getDictionary("Blog"),
      save: dictionaryHelpers.getDictionary("Save"),
      newTitle: dictionaryHelpers.getDictionary("NewNews"),
      newNews: dictionaryHelpers.getDictionary("NewNews"),
      newBlog: dictionaryHelpers.getDictionary("NewBlog"),
      pageSetting: dictionaryHelpers.getDictionary("PageSetting"),
      preview: dictionaryHelpers.getDictionary("Preview"),
      content: dictionaryHelpers.getDictionary("Content"),
      language: dictionaryHelpers.getDictionary("Language"),
      tableNewsConfiguration: [],
      configurationsSettings: [],
      defaultLanguageOptions: [],
      pageToView: "content",
      typePage: "",
      detailConfigurations: [],
      configurationsSelected: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
        online: true
      },
      pageValueOriginal: {},
      pageValueDataToSave: {},
      tableNewsData: [],
      tableNewsResult: [],
      idTabAdminSettingNews: "tabAdminSettingNews",
      idTabNewNewsBody: "tabNewNewsBody",
      url: window.location.pathname,
      disableButton: true,
      showJS: false
    };
  },
  mounted() {
    var adminSettingNews = this;

    languageServices.select("*", function(result) {
      if (result.data.length == 1) {
        adminSettingNews.divLanguage = false;
      } else {
        adminSettingNews.divLanguage = true;
      }
    });
  },
  created() {
    var adminSettingNews = this;
    spinnerHelpers.show();
    adminSettingNews.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };

    // adminConfigurationServices.getFunctionality(function(result) {
    //   if (
    //     functionHelpers.isValued(result) &&
    //     functionHelpers.isValued(result.data) &&
    //     functionHelpers.isValued(result.data)
    //   ) {
    //     adminSettingNews.configurations = result.data;
    //     $.each(adminSettingNews.configurations.tabsConfigurations, function(
    //       i,
    //       configuration
    //     ) {
    //       switch (configuration.code) {
    //         case "Settings":
    //           adminSettingNews.configurationsSettings =
    //             configuration.pageConfigurations;
    //           break;
    //       }
    //     });

    //     $.each(adminSettingNews.configurationsSettings, function(i, config) {
    //       if (config.field == "PageType") {
    //         adminSettingNews.pageValueSelected.pageType = "News";
    //         adminSettingNews.pageValueOriginal.pageType = "News";
    //       }
    //     });

    //     adminSettingNews.changeView("btnContentAdminPagesView");
    //   }
    // });

    this.loadConfiguration();
  },
  watch: {
    "pageValueSelected.enableJS": function(newVal, oldVal) {
      this.showJS = newVal;
    }
  },
  methods: {
    loadConfiguration() {
      var adminSettingNews = this;

      adminConfigurationServices.getFunctionality(function(result) {
        if (
          functionHelpers.isValued(result) &&
          functionHelpers.isValued(result.data) &&
          functionHelpers.isValued(result.data)
        ) {
          adminSettingNews.configurations = result.data;

          adminSettingNews.tableNewsConfiguration =
            result.data.tablesConfigurations[0].tablesConfigurations;

          $.each(adminSettingNews.configurations.tabsConfigurations, function(
            i,
            configuration
          ) {
            switch (configuration.code) {
              case "Settings":
                adminSettingNews.detailConfigurations =
                  configuration.pageConfigurations;
                break;
            }
          });

          $.each(adminSettingNews.detailConfigurations, function(
            i,
            configuration
          ) {
            if (configuration.field == "password") {
              configuration.required = true;
            }
          });
        }

        $.each(adminSettingNews.configurationsSettings, function(i, config) {
          if (config.field == "PageType") {
            adminSettingNews.pageValueSelected.pageType = "News";
            adminSettingNews.pageValueOriginal.pageType = "News";
          }
        });

        adminSettingNews.loadTableData(storageData.sIdLanguage(), "News");
        adminSettingNews.changeView("btnContentAdminPagesView");
      });
      spinnerHelpers.hide();
    },
    loadTableData(ln, pageType) {
      var adminSettingNews = this;
      var ln = ln;
      // var pageType = pageType;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      }
      adminSettingNews.typePage = pageType;
      if (!functionHelpers.isValued(pageType)) {
        pageType = "News";
        adminSettingNews.typePage = "News";
      }

      pageServices.getMenuList(ln, pageType, function(result) {
        adminSettingNews.tableNewsData = result.data.pageList;
        spinnerHelpers.hide();
      });
    },
    onTabNews() {
      var adminSettingNews = this;
      adminSettingNews.newTitle = adminSettingNews.newNews;
      var ln =
        adminSettingNews.pageValueSelected.languagePageSetting.idLanguage;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      }
      adminSettingNews.loadTableData(ln, "News");
    },
    onTabBlog() {
      var adminSettingNews = this;
      adminSettingNews.newTitle = adminSettingNews.newBlog;
      var ln =
        adminSettingNews.pageValueSelected.languagePageSetting.idLanguage;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      }
      adminSettingNews.loadTableData(ln, "Blog");
    },
    onClickNew() {
      var adminSettingNews = this;
      spinnerHelpers.show();
      var ln = this.pageValueSelected.languagePageSetting.idLanguage;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      }
      this.pageValueSelected = {
        id: 0,
        languagePageSetting: { content: null },
        online: true,
        pageType: adminSettingNews.typePage
      };
      this.pageValueSelected.languagePageSetting.idLanguage = ln;
      $("#" + this.idTabAdminSettingNews).removeClass("active");
      $("#" + this.idTabNewNewsBody).addClass("active");

      spinnerHelpers.hide();
    },
    cancelNewNews() {
      var adminSettingNews = this;
      spinnerHelpers.show();
      var ln =
        adminSettingNews.pageValueSelected.languagePageSetting.idLanguage;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      }
      this.pageValueSelected = {
        id: 0,
        languagePageSetting: { content: null },
        online: true,
        pageType: adminSettingNews.typePage
      };
      this.pageValueSelected.languagePageSetting.idLanguage = ln;
      $("#" + this.idTabAdminSettingNews).addClass("active");
      $("#" + this.idTabNewNewsBody).removeClass("active");

      spinnerHelpers.hide();
    },
    tableFormatter(value, row, index, field) {
      var adminSettingNews = this;
      var html = "";


    // var html =
      //  '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
     // html +=
        // '<button class="btn btn-success" onclick="adminSettingNews.__vue__.viewDetailInfo(' +
      //row.id +
      //')"><i class="fa fa-pencil" title="' +
       // this.openDetail +
       // '" /></button>';
     //    row.url +
     // '<button class="btn btn-info" onclick="adminSettingNews.__vue__.clone(' +
     //   row.id +
      //  ')"><i class="fa fa-files-o"/></button>';
//         html +=
     //    '<button class="btn btn-danger" onclick="adminSettingNews.__vue__.delete(' +
     //   row.id +
     //   ')"><i class="fa fa-trash"/></button>';

 // ');"></i></div>';
  //    return html;
//    },

      html +=
         '<button class="btn btn-success" onclick="adminSettingNews.__vue__.viewDetailInfo(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button>';
          html +=
         '<button class="btn btn-secondary" onclick="adminSettingNews.__vue__.previewClick(' +
        row.id +
        ')"><i class="fa fa-search"/></button>';
         html +=
        '<button class="btn btn-info" onclick="adminSettingNews.__vue__.clone(' +
        row.id +
        ')"><i class="fa fa-files-o"/></button>';
          html +=
         '<button class="btn btn-danger" onclick="adminSettingNews.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';
          ');"></i></div>';
            return html;
  },

    titleFormatter(value, row, index, field) {
      return row.title;
    },
    urlFormatter(value, row, index, field) {
      return row.url;
    },
    viewDetailInfo(id) {
      var adminSettingNews = this;
      spinnerHelpers.show();
      pageServices.getSetting(id, function(result) {
        adminSettingNews.pageValueOriginal = dataHelpers.unbind(result.data);
        adminSettingNews.pageValueDataToSave = dataHelpers.unbind(
          result.data.languagePageSetting
        );
        adminSettingNews.setDataPage(dataHelpers.unbind(result.data));
      });
      $("#" + adminSettingNews.idTabAdminSettingNews).removeClass("active");
      $("#" + adminSettingNews.idTabNewNewsBody).addClass("active");
      spinnerHelpers.hide();
    },
    setDataPage(data) {
      var adminSettingNews = this;
      adminSettingNews.pageValueSelected = data;
      $.each(
        dataHelpers.unbind(
          adminSettingNews.pageValueOriginal.languagePageSetting
        ),
        function(i, languagePageSetting) {
          if (
            languagePageSetting.idLanguage ==
            adminSettingNews.$refs.select_AdminPagesView_IdLanguage.value
          ) {
            adminSettingNews.pageValueSelected.languagePageSetting = languagePageSetting;
            return;
          }
        }
      );
    },
    previewClick(url) {
      window.open(url);
    },
    changeView: function(event) {
      var adminSettingNews = this;
      var id = event && event.target && event.target.id ? event.target.id : "";

      switch (id) {
        case "btnSettingAdminPagesView":
          adminSettingNews.pageToView = "settings";
          break;
        default:
          adminSettingNews.pageToView = "content";
          break;
      }
    },
    changeTitle(field, value) {
      var adminSettingNews = this;
      var titleToUrl = $("#languagePageSetting_title").val(),
        cleanUrl = "";
      cleanUrl =
        "/" +
        adminSettingNews.typePage.toLowerCase() +
        "/" +
        titleToUrl
          .replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&\s])/g, "-")
          .toLowerCase();
      if (
        adminSettingNews.pageValueSelected.id == null ||
        $("#languagePageSetting_url").val() == ""
      ) {
        $("#languagePageSetting_url").val(cleanUrl);
        adminSettingNews.pageValueSelected.languagePageSetting.url = dataHelpers.unbind(
          cleanUrl
        );
      }
      this.checkUrl(cleanUrl);
    },
    checkUrl(url) {
      if (url == "languagePageSetting_url") {
        url = $("#" + url).val();
      }
      var adminSettingNews = this;

      if (adminSettingNews.showBtnContentAdminPagesView) {
        if (adminSettingNews.pageValueSelected.id == null) {
          pageServices.checkExistUrl(url, function(result) {
            if (result.data) {
              notificationHelpers.error(
                dictionaryHelpers.getDictionary("UrlAlreadyExist")
              );
              validationHelpers.setDetailError(
                "languagePageSetting_url",
                dictionaryHelpers.getDictionary("UrlAlreadyExist")
              );
            } else {
              $("#languagePageSetting_url").removeClass("error");
              validationHelpers.clear("#frmAdminPages");
            }
          });
        } else {
          pageServices.checkExistUrlNotForThisPage(
            url,
            adminSettingNews.pageValueSelected.id,
            function(result) {
              if (result.data) {
                notificationHelpers.error(
                  dictionaryHelpers.getDictionary("UrlAlreadyExist")
                );
                validationHelpers.setDetailError(
                  "languagePageSetting_url",
                  dictionaryHelpers.getDictionary("UrlAlreadyExist")
                );
              } else {
                $("#languagePageSetting_url").removeClass("error");
                validationHelpers.clear("#frmAdminPages");
              }
            }
          );
        }
      }
    },
    savePage() {
      if (validationHelpers.isValid("#frmadminSettingNews")) {
        spinnerHelpers.show();
        var adminSettingNews = this;
        var dataToSave = adminSettingNews.dataToSave();

        if (
          adminSettingNews.pageValueSelected.id == 0 ||
          !functionHelpers.isValued(adminSettingNews.pageValueSelected.id)
        ) {
          pageServices.insert(dataToSave, function(result) {
            notificationHelpers.success(
              dictionaryHelpers.getDictionary("InsertCompleted")
            );
            var ln =
              adminSettingNews.pageValueSelected.languagePageSetting.idLanguage;
            if (!functionHelpers.isValued(ln)) {
              ln = storageData.sIdLanguage();
            }
            adminSettingNews.loadTableData(ln, adminSettingNews.typePage);
            $("#" + adminSettingNews.idTabAdminSettingNews).addClass("active");
            $("#" + adminSettingNews.idTabNewNewsBody).removeClass("active");
            window.scrollTo(0, 0);
          });
        } else {
          pageServices.update(dataToSave, function() {
            notificationHelpers.success(
              dictionaryHelpers.getDictionary("UpdateCompleted")
            );
            var ln =
              adminSettingNews.pageValueSelected.languagePageSetting.idLanguage;
            if (!functionHelpers.isValued(ln)) {
              ln = storageData.sIdLanguage();
            }
            adminSettingNews.loadTableData(ln, adminSettingNews.typePage);
            $("#" + adminSettingNews.idTabAdminSettingNews).addClass("active");
            $("#" + adminSettingNews.idTabNewNewsBody).removeClass("active");
            window.scrollTo(0, 0);
          });
        }
      }
    },
    dataToSave(publish) {
      var adminSettingNews = this;
      var dataToSave = {};
      var languageFound = false;
      $.each(adminSettingNews.pageValueDataToSave, function(i, dataToSave) {
        if (
          dataToSave.idLanguage ==
          adminSettingNews.pageValueSelected.languagePageSetting.idLanguage
        ) {
          adminSettingNews.pageValueDataToSave[i] = dataHelpers.unbind(
            adminSettingNews.pageValueSelected.languagePageSetting
          );
          languageFound = true;
        }
      });

      if (!languageFound) {
        var i = 0;
        if (
          functionHelpers.isValued(adminSettingNews.pageValueDataToSave.length)
        ) {
          i = adminSettingNews.pageValueDataToSave.length;
        }
        adminSettingNews.pageValueDataToSave[i] = dataHelpers.unbind(
          adminSettingNews.pageValueSelected.languagePageSetting
        );
      }
      $.each(adminSettingNews.pageValueSelected, function(field, value) {
        switch (field) {
          case "languagePageSetting":
            dataToSave[field] = adminSettingNews.pageValueDataToSave;
            break;
          default:
            dataToSave[field] = configurationHelpers.getValueToSave(
              value,
              adminSettingNews.getFieldType(field)
            );
            break;
        }
      });

      dataToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      return dataToSave;
    },
    getFieldType(field) {
      var adminSettingNews = this;
      var result;

      $.each(adminSettingNews.configurationsSelected, function(i, config) {
        if (config.field == field) {
          result = config.inputType;
          return false;
        }
      });

      return result;
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminSettingNews = this;

      if (
        functionHelpers.isValued(adminSettingNews.pageValueSelected) &&
        adminSettingNews.pageValueSelected.languagePageSetting.idLanguage !=
          value
      ) {
        // Save data
        var languageFound = false;

        $.each(adminSettingNews.pageValueDataToSave, function(i, dataToSave) {
          if (
            dataToSave.idLanguage ==
            adminSettingNews.pageValueSelected.languagePageSetting.idLanguage
          ) {
            adminSettingNews.pageValueDataToSave[i] = dataHelpers.unbind(
              adminSettingNews.pageValueSelected.languagePageSetting
            );
            languageFound = true;
          }
        });

        if (!languageFound) {
          var i = 0;
          if (
            functionHelpers.isValued(
              adminSettingNews.pageValueDataToSave.length
            )
          ) {
            i = adminSettingNews.pageValueDataToSave.length;
          }
          adminSettingNews.pageValueDataToSave[i] = dataHelpers.unbind(
            adminSettingNews.pageValueSelected.languagePageSetting
          );
        }

        languageFound = false;
        // Set data from save data
        $.each(adminSettingNews.pageValueDataToSave, function(i, dataToSave) {
          if (dataToSave.idLanguage == value) {
            adminSettingNews.pageValueSelected.languagePageSetting = dataHelpers.unbind(
              dataToSave
            );
            languageFound = true;
          }
        });

        if (!languageFound) {
          $.each(
            adminSettingNews.pageValueSelected.languagePageSetting,
            function(fieldKey, fieldValue) {
              switch (fieldKey) {
                case "idLanguage":
                  adminSettingNews.pageValueSelected.languagePageSetting[
                    fieldKey
                  ] = Number(value);
                  break;
                default:
                  adminSettingNews.pageValueSelected.languagePageSetting[
                    fieldKey
                  ] = null;
                  break;
              }
            }
          );
        }
      }
      var pageTypeList = adminSettingNews.pageValueSelected.pageType;
      adminSettingNews.loadTableData(value, pageTypeList);

      spinnerHelpers.hide();
    },

    clone(id) {
      var adminSettingNews = this;
      spinnerHelpers.show();
      pageServices.clone(id, function() {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("CloneCompleted")
        );
        var ln =
          adminSettingNews.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminSettingNews.loadTableData(ln, adminSettingNews.typePage);
      });
    },
    delete(id) {
      var adminSettingNews = this;
      spinnerHelpers.show();
      pageServices.del(id, function() {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("DeleteCompleted")
        );
        var ln =
          adminSettingNews.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminSettingNews.loadTableData(ln, adminSettingNews.typePage);
        window.scrollTo(0, 0);
      });
    },
    updateContenuto(value) {
      this.pageValueSelected.languagePageSetting.content = value;
    }
  }
};
</script>
<style scoped>
.card-title-admin .card{
  background: transparent;
  border:0px;
}
.card-title-admin h1{
  font-size:40px;
  font-weight: lighter;
  color:#303C54;
}

.align-btn {
    position: absolute;
    margin-top: 50px;
    z-index: 1;
}
</style>
