<template>
  <div id="adminCartRules">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ setting }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Regole del carrello</router-link>
      </li>
    </ol>
      <div class="container-fluid card-title-admin">
        <h1>Regole del carrello</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
            <div class="row align-btns">
              <div class="col-12">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onNewCartRules"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>

                <button
                  id="btnDelete"
                  type="button"
                  class="btn btn-danger"
                  @click="confirmDeleteCartRules"
                  :disabled="disableButton"
                >
                  <i class="fa fa-trash"></i>
                  <span>{{ del }}</span>
                </button>
              </div>
            </div>
      
            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="tableConfiguration"
                  :datas="tableData"
                  id="tableCartRules"
                  :onCheck="onTableCheckCartRules"
                  :onCheckAll="onTableCheckCartRules"
                  :onUncheck="onTableCheckCartRules"
                  :onUncheckAll="onTableCheckCartRules"
                  ref="tableCartRules"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabDetail" role="tabpanel">
            <!--div class="card-header">Inserisci nuova regola del carrello</!--div-->
              
              <div class="card-body" style="padding:0px;">
              <div class="row">
                <div class="col-12">  
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <button
                    id="tabadminSettingGeneralButton"
                    class="nav-link active"
                    type="button"
                    data-toggle="tab"
                    href="#tabadminSettingGeneralButton"
                    role="tab"
                    aria-controls="tabadminSettingGeneralButton"
                    v-on:click="ontabadminSettingGeneralButton"  
                  >
                    <i class=""></i>
                    <span>Informazioni</span>
                  </button>
                </li>
                <li class="nav-item">
                  <button
                    id="tabadminSettingCondizioniButton"
                    type="button"
                    class="nav-link"
                    data-toggle="tab"
                    href="#tabadminSettingCondizioniButton"
                    role="tab"
                    aria-controls="tabadminSettingCondizioniButton"  
                    v-on:click="ontabadminSettingCondizioniButton"          
                  >
                    <i class=""></i>
                    <span>Condizioni</span>
                  </button>
                </li> 
                      <li class="nav-item">
                  <button
                    id="tabadminSettingAzioniButton"
                    type="button"
                    class="nav-link"
                    data-toggle="tab"
                    href="#tabadminSettingAzioniButton"
                    role="tab"
                    aria-controls="tabadminSettingAzioniButton"  
                    v-on:click="ontabadminSettingAzioniButton"          
                  >
                    <i class=""></i>
                    <span>Azioni</span>
                  </button>
                </li>  
                </ul>

            <div class="tab-content">
                 <div class="tab-pane active" id="detailInformazioni" role="tabpanel" style="padding:2rem;">
                <div class="row">
                 <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                    <pageDetail
                    functions="adminCartRules"
                    :configurations="informationConfiguration"
                    :jsonValue="detailData"
                    ></pageDetail>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                    <button
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                        @click="confirmCancelNewCartRules"
                    ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                    <button
                        type="button"
                        class="btn btn-success"
                        @click="confirmSaveNewCartRules"
                    ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                    </div>
                </div>
                </div>
                <div class="tab-pane" id="detailCondizioni" role="tabpanel" style="padding:2rem;">
                   
                <div class="row">
                  <div class="col-4">
                    <pageDetail
                    functions="adminCartRulesCondition"
                    :configurations="conditionConfiguration"
                    :jsonValue="detailData"
                    ></pageDetail>
                  </div>
                  <div class="col-8">
                    <div class="row">
                      <div class="col-6" style="margin-top:10px;">
                        <button
                            type="button"
                            class="btn btn-light select"
                            id="btnselectUser"
                            data-dismiss="modal"
                            @click="SelectCartUser"
                        >Seleziona Clienti</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12" style="margin-top:45px;">
                        <button
                            type="button"
                            class="btn btn-light select"
                            id="btnselectGroup"
                            data-dismiss="modal"
                            @click="SelectCartGroup"
                        >Seleziona Gruppi</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12" style="margin-top:45px;">
                        <button type="button"
                        class="btn btn-light select"
                        id="btnselectCarriers"
                        data-dismiss="modal"
                        @click="SelectCartCarriers">Seleziona Vettori</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12" style="margin-top:45px;">
                        <button type="button"
                        class="btn btn-light select"
                        id="btnselectItems"
                        data-dismiss="modal"
                        @click="SelectCartItems">Seleziona Prodotti</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12" style="margin-top:45px;">
                        <button type="button"
                        class="btn btn-light select"
                        id="btnselectCategories"
                        data-dismiss="modal"
                        @click="SelectCartCategories">Seleziona Categorie</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12" style="margin-top:45px;">
                        <button type="button"
                        class="btn btn-light select"
                        id="btnselectProducers"
                        data-dismiss="modal"
                        @click="SelectCartProducers">Seleziona Produttori</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12" style="margin-top:45px;">
                        <button type="button"
                        class="btn btn-light select"
                        id="btnselectSuppliers"
                        data-dismiss="modal"
                        @click="SelectCartSuppliers">Seleziona Fornitori</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                    <button
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                        @click="confirmCancelNewCartRules"
                    ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                    <button
                        type="button"
                        class="btn btn-success"
                        @click="confirmSaveNewCartRules"
                    ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                    
                    </div>
                </div>
              </div>
              <!-- pannello azioni -->
              <div class="tab-pane" id="detailAzioni" role="tabpanel" style="padding:2rem;">
                <div class="row">
                    <pageDetail
                    functions="adminCartRulesAction"
                    :configurations="actionConfiguration"
                    :jsonValue="detailData"
                    ></pageDetail>
                </div>
                <div class="row" id="row-select-products" style="margin-top: 15px;">
                  <div class="col-10 align-self-center">
                    <h4>Prodotti specifici</h4>
                  </div>
                  <div class="col-2 align-self-center text-right">
                    <button class="btn btn-primary" @click="SelectSpecificProductsCartRules"><i class="fa fa-plus"></i>Aggiungi</button>
                  </div>
                  <div class="col-12" v-for="selectSpecificProductsItemExist in selectSpecificProductsItemExist" v-bind:key="selectSpecificProductsItemExist.id">
                    <div class="row div-row-selectUserExist">
                      <div class="col-12 align-self-center">
                        <div class="row">
                          <div class="col-2 align-self-center">
                            <button class="btn btn-danger" @click="onClickDeleteSpecificProducts(selectSpecificProductsItemExist.id)" ><i class="fa fa-trash"></i></button>
                          </div>
                          <div class="col-4 align-self-center">
                            <label style="margin-bottom:0px;">{{selectSpecificProductsItemExist.DescriptionCategories}}</label>
                          </div>
                          <div class="col-4 align-self-center">
                            <label>Aggiungi automaticamente al carrello</label><br>
                            <label
                              class="switch switch-pill switch-primary"
                              style="margin: 2px; margin-bottom: -2px; vertical-align: bottom"
                            >
                              <input
                                type="checkbox"
                                class="switch-input input-specific-products"
                                :id="'add_to_cart_automatically' + selectSpecificProductsItemExist.id"
                                name="add_to_cart_automatically"
                                :checked="selectSpecificProductsItemExist.add_to_cart_automatically"
                                @change="UpdateSpecificProductsParameters(selectSpecificProductsItemExist.id, 'add_to_cart_automatically')"
                              />
                              <span class="switch-slider" data-on data-off></span>
                            </label>
                          </div>
                          <div class="col-2 align-self-center div-col-quantity" v-if="selectSpecificProductsItemExist.add_to_cart_automatically">
                            <label>Quantità</label>
                            <input :id="'quantity'+ selectSpecificProductsItemExist.id" @change="UpdateSpecificProductsParameters(selectSpecificProductsItemExist.id, 'quantity')" name="quantity" class="input-specific-products form-control" :value="selectSpecificProductsItemExist.quantity">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-right">
                  <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                      @click="confirmCancelNewCartRules"
                  ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                  <button
                      type="button"
                      class="btn btn-success"
                      @click="confirmSaveNewCartRules"
                  ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                  </div>
                </div>
              </div>
              <!-- end pannello azioni -->
              </div>
            </div>
          </div>
        </div>

          </div>
        </div>
      </div>
    </div>
         <!--Modal select utenti -->
  						<div
                    class="modal"
                    id="detailSelectCartUser"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content padding">
                        <div class="modal-header text-center">
                          <h4 class="modal-title w-100 font-weight-bold">
                            Seleziona Clienti
                          </h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body mx-12">
                          <div class="md-form mb-12">
                             <div class="row">
                            <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Non Selezionati</label></div>
                             <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="UserSearch"
                            required="required"
                            name="UserSearch"
                            @keyup="SearchUser(UserSelectAll.user_id)"
                          /> </div>
                            
                        <div class="col-12"
                              v-for="UserSelectAll in UserSelectAll"
                              v-bind:key="UserSelectAll.id"
                            >
                             <div class="row div-row-UserSelectAll">
                               <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-plus"
                              @click="
                                onClickSelectedUser(UserSelectAll.user_id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{UserSelectAll.business_name}}</label>
                              <br>
                            </div>
                            </div>
                              </div>
                            </div>
                            </div>
                              <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Selezionati</label>    
                        </div>
                         <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="UserSearchBusinessNameCartRuleUser"
                            required="required"
                            name="UserSearchBusinessNameCartRuleUser"
                            @keyup="UserSearchBusinessNameCartRuleUser()"
                          /></div>
                        <div class="col-12"
                              v-for="selectUserExist in selectUserExist"
                              v-bind:key="selectUserExist.id"
                            >
                             <div class="row div-row-selectUserExist">
                                    <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-minus"
                              style="color:red"
                              @click="
                                onClickDeleteUser(selectUserExist.id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{selectUserExist.User}}</label>
                              <br>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<!--end  Modal select utenti -->

<!-- Modal Select Group-->
	<div
                    class="modal"
                    id="detailSelectCartGroup"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content padding">
                        <div class="modal-header text-center">
                          <h4 class="modal-title w-100 font-weight-bold">
                            Seleziona Gruppi
                          </h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body mx-12">
                          <div class="md-form mb-12">
                             <div class="row">
                            <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Non Selezionati</label></div>
                             <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="GroupSearch"
                            required="required"
                            name="GroupSearch"
                            @keyup="SearchGroup(SelectAllGroup.id)"
                          /></div>
                            
                        <div class="col-12"
                              v-for="SelectAllGroup in SelectAllGroup"
                              v-bind:key="SelectAllGroup.id"
                            >
                             <div class="row div-row-UserSelectAll">
                               <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-plus"
                              @click="
                                onClickSelectedGroup(SelectAllGroup.id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{SelectAllGroup.name}}</label>
                              <br>
                            </div>
                            </div>
                              </div>
                            </div>
                            </div>
                              <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Selezionati</label>    
                        </div>
                         <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="GroupSearchCartRule"
                            required="required"
                            name="GroupSearchCartRule"
                            @keyup="GroupSearchCartRuleGroupSelect()"
                          /></div>
                        <div class="col-12"
                              v-for="selectGroupExist in selectGroupExist"
                              v-bind:key="selectGroupExist.id"
                            >
                             <div class="row div-row-selectUserExist">
                                    <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-minus"
                              style="color:red"
                              @click="
                                onClickDeleteGroup(selectGroupExist.id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{selectGroupExist.NameGroup}}</label>
                              <br>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<!--end  Modal select Select Group -->

<!-- Modal Select Carriers-->
	<div
                    class="modal"
                    id="detailSelectCartCarriers"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content padding">
                        <div class="modal-header text-center">
                          <h4 class="modal-title w-100 font-weight-bold">
                            Seleziona Vettori
                          </h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body mx-12">
                          <div class="md-form mb-12">
                             <div class="row">
                            <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Non Selezionati</label></div>
                             <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="CarrierSearch"
                            required="required"
                            name="CarrierSearch"
                            @keyup="SearchCarriers(SelectAllCarriers.id)"
                          /></div>
                            
                        <div class="col-12"
                              v-for="SelectAllCarriers in SelectAllCarriers"
                              v-bind:key="SelectAllCarriers.id"
                            >
                             <div class="row div-row-UserSelectAll">
                               <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-plus"
                              @click="
                                onClickSelectedCarriers(SelectAllCarriers.id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{SelectAllCarriers.name}}</label>
                              <br>
                            </div>
                            </div>
                              </div>
                            </div>
                            </div>
                              <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Selezionati</label>    
                        </div>
                         <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="CarrierSearchCartRule"
                            required="required"
                            name="CarrierSearchCartRule"
                            @keyup="CarriersSearchCartRuleCarriersSelect()"
                          /></div>
                        <div class="col-12"
                              v-for="selectCarriersExist in selectCarriersExist"
                              v-bind:key="selectCarriersExist.id"
                            >
                             <div class="row div-row-selectUserExist">
                                    <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-minus"
                              style="color:red"
                              @click="
                                onClickDeleteCarriers(selectCarriersExist.id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{selectCarriersExist.NameCarrier}}</label>
                              <br>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<!--end  Modal Select Carriers -->

<!-- Modal Select Items-->
	<div
                    class="modal"
                    id="detailSelectCartItems"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content padding">
                        <div class="modal-header text-center">
                          <h4 class="modal-title w-100 font-weight-bold">
                            Seleziona Prodotti
                          </h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body mx-12">
                          <div class="md-form mb-12">
                             <div class="row">
                            <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Non Selezionati</label></div>
                             <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="ItemSearch"
                            required="required"
                            name="ItemSearch"
                            @keyup="SearchItems(SelectAllItems.id)"
                          /></div>
                            
                        <div class="col-12"
                              v-for="SelectAllItems in SelectAllItems"
                              v-bind:key="SelectAllItems.id"
                            >
                             <div class="row div-row-UserSelectAll">
                               <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-plus"
                              @click="
                                onClickSelectedItems(SelectAllItems.item_id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{SelectAllItems.description}}</label>
                              <br>
                            </div>
                            </div>
                              </div>
                            </div>
                            </div>
                              <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Selezionati</label>    
                        </div>
                         <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="ItemSearchCartRule"
                            required="required"
                            name="ItemSearchCartRule"
                            @keyup="ItemSearchCartRuleItemSelect()"
                          /></div>
                        <div class="col-12"
                              v-for="selectItemExist in selectItemExist"
                              v-bind:key="selectItemExist.id"
                            >
                             <div class="row div-row-selectUserExist">
                                    <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-minus"
                              style="color:red"
                              @click="
                                onClickDeleteItem(selectItemExist.id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{selectItemExist.NameItem}}</label>
                              <br>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<!--end  Modal Select Items -->

<!-- Modal Select Categories-->
	<div
                    class="modal"
                    id="detailSelectCartCategories"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content padding">
                        <div class="modal-header text-center">
                          <h4 class="modal-title w-100 font-weight-bold">
                            Seleziona Categorie
                          </h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body mx-12">
                          <div class="md-form mb-12">
                             <div class="row">
                            <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Non Selezionati</label></div>
                             <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="CategoriesSearch"
                            required="required"
                            name="CategoriesSearch"
                            @keyup="SearchCategories(SelectAllCategories.category_id)"
                          /></div>
                            
                        <div class="col-12"
                              v-for="SelectAllCategories in SelectAllCategories"
                              v-bind:key="SelectAllCategories.id"
                            >
                             <div class="row div-row-UserSelectAll">
                               <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-plus"
                              @click="
                                onClickSelectedCategories(SelectAllCategories.category_id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{SelectAllCategories.description}}</label>
                              <br>
                            </div>
                            </div>
                              </div>
                            </div>
                            </div>
                              <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Selezionati</label>    
                        </div>
                         <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="CategoriesSearchCartRule"
                            required="required"
                            name="CategoriesSearchCartRule"
                            @keyup="CategoriesSearchCartRuleCategoriesSelect()"
                          /></div>
                        <div class="col-12"
                              v-for="selectCategoriesExist in selectCategoriesExist"
                              v-bind:key="selectCategoriesExist.id"
                            >
                             <div class="row div-row-selectUserExist">
                                    <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-minus"
                              style="color:red"
                              @click="
                                onClickDeleteCategories(selectCategoriesExist.id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{selectCategoriesExist.DescriptionCategories}}</label>
                              <br>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<!--end  Modal Select Categories -->

<!-- Modal Select producers-->
	<div
                    class="modal"
                    id="detailSelectCartProducers"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content padding">
                        <div class="modal-header text-center">
                          <h4 class="modal-title w-100 font-weight-bold">
                            Seleziona Produttore
                          </h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body mx-12">
                          <div class="md-form mb-12">
                             <div class="row">
                            <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Non Selezionati</label></div>
                             <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="ProducersSearch"
                            required="required"
                            name="ProducersSearch"
                            @keyup="SearchProducers(SelectAllProducers.producer_id)"
                          /></div>
                            
                        <div class="col-12"
                              v-for="SelectAllProducers in SelectAllProducers"
                              v-bind:key="SelectAllProducers.id"
                            >
                             <div class="row div-row-UserSelectAll">
                               <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-plus"
                              @click="
                                onClickSelectedProducers(SelectAllProducers.producer_id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{SelectAllProducers.description}}</label>
                              <br>
                            </div>
                            </div>
                              </div>
                            </div>
                            </div>
                              <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Selezionati</label>    
                        </div>
                         <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="ProducersSearchCartRule"
                            required="required"
                            name="ProducersSearchCartRule"
                            @keyup="ProducersSearchCartRuleProducersSelect()"
                          /></div>
                        <div class="col-12"
                              v-for="selectProducersExist in selectProducersExist"
                              v-bind:key="selectProducersExist.id"
                            >
                             <div class="row div-row-selectUserExist">
                                    <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-minus"
                              style="color:red"
                              @click="
                                onClickDeleteProducers(selectProducersExist.id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{selectProducersExist.DescriptionProducers}}</label>
                              <br>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<!--end  Modal Select producers -->

<!-- Modal Select suppliers-->
	<div
                    class="modal"
                    id="detailSelectCartSuppliers"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content padding">
                        <div class="modal-header text-center">
                          <h4 class="modal-title w-100 font-weight-bold">
                            Seleziona Fornitore
                          </h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body mx-12">
                          <div class="md-form mb-12">
                             <div class="row">
                            <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Non Selezionati</label></div>
                             <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="SuppliersSearch"
                            required="required"
                            name="SuppliersSearch"
                            @keyup="SearchSuppliers(SelectAllSuppliers.supplier_id)"
                          /></div>
                            
                        <div class="col-12"
                              v-for="SelectAllSuppliers in SelectAllSuppliers"
                              v-bind:key="SelectAllSuppliers.id"
                            >
                             <div class="row div-row-UserSelectAll">
                               <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-plus"
                              @click="
                                onClickSelectedSuppliers(SelectAllSuppliers.supplier_id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{SelectAllSuppliers.description}}</label>
                              <br>
                            </div>
                            </div>
                              </div>
                            </div>
                            </div>
                              <div class="col-6">
                            <div class="row">
                            <div class="col-4">
                            <label>Selezionati</label>    
                        </div>
                         <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="SuppliersSearchCartRule"
                            required="required"
                            name="SuppliersSearchCartRule"
                            @keyup="SuppliersSearchCartRuleSuppliersSelect()"
                          /></div>
                        <div class="col-12"
                              v-for="selectSuppliersExist in selectSuppliersExist"
                              v-bind:key="selectSuppliersExist.id"
                            >
                             <div class="row div-row-selectUserExist">
                                    <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-minus"
                              style="color:red"
                              @click="
                                onClickDeleteSuppliers(selectSuppliersExist.id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{selectSuppliersExist.DescriptionSuppliers}}</label>
                              <br>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<!--end  Modal Select Suppliers -->

<!-- Modal specific products -->
	<div
                    class="modal"
                    id="detailSelectSpecificProducts"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content padding">
                        <div class="modal-header text-center">
                          <h4 class="modal-title w-100 font-weight-bold">
                            Seleziona Prodotti specifici
                          </h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body mx-12">
                          <div class="md-form mb-12">
                             <div class="row">
                            <div class="col-12">
                            <div class="row">
                            <div class="col-4">
                            <label>Articoli selezionabili</label></div>
                             <div class="col-4">
                               <input
                            type="text"
                            class="form-control"
                            id="SpecificProductSearch"
                            required="required"
                            name="SpecificProductSearch"
                            @keyup="SearchSpecificProductsSearch(SelectAllSpecificProductsItems.item_id)"
                          /></div>
                            
                        <div class="col-12"
                              v-for="SelectAllSpecificProductsItems in SelectAllSpecificProductsItems"
                              v-bind:key="SelectAllSpecificProductsItems.id"
                            >
                             <div class="row div-row-UserSelectAll">
                               <div class="col-2">
                               <button
                              type="button"
                              class="btn btn-link fa fa-plus"
                              @click="
                                onClickSpecificProducts(SelectAllSpecificProductsItems.item_id)
                              "
                            />
                               </div>
                            <div class="col-10">
                              <label>{{SelectAllSpecificProductsItems.description}}</label>
                              <br>
                            </div>
                            </div>
                              </div>
                            </div>
                            </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<!--end  Modal specific products  -->

  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";

export default {
  name: "adminCartRules",
  components: {
    BootstrapTable,
    Select2,
    PageDetail
  },
  data: function() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      language: dictionaryHelpers.getDictionary("Language"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      setting: dictionaryHelpers.getDictionary("Setting"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      informationConfiguration: [],
      conditionConfiguration: [],
      actionConfiguration: [],
      detailData: {},
      languages: 0,
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newCartRules: dictionaryHelpers.getDictionary("newCartRules"),
      openDetail: dictionaryHelpers.getDictionary("OpenDetail"),
      save: dictionaryHelpers.getDictionary("Save"),
      defaultLanguageOptions: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null }
      },
      tableConfiguration: [],
      tableCustomerResult: [],
      selectItemExist:[],
      SelectAllItems:[],
      SelectAllSpecificProductsItems: [],
      selectSpecificProductsItemExist:[],
      UserSelectAll:[],
      selectUserExist: [],
      SelectAllGroup: [],
      selectGroupExist: [],
      SelectAllCarriers: [],
      selectCarriersExist: [],
      SelectAllCategories: [],
      selectCategoriesExist:[],
      SelectAllProducers: [],
      selectProducersExist:[],
      SelectAllSuppliers: [],
      selectSuppliersExist:[],
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0
    };
  },
  created() {
    var adminCartRules = this;
    spinnerHelpers.show();
    
    this.languages = storageData.sIdLanguage();

    adminCartRules.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };

    adminConfigurationServices.getFunctionality(function(result) {
        adminCartRules.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;                               
        adminCartRules.informationConfiguration = result.data.tabsConfigurations[0].pageConfigurations;
        adminCartRules.conditionConfiguration = result.data.tabsConfigurations[2].pageConfigurations; 
        adminCartRules.actionConfiguration = result.data.tabsConfigurations[1].pageConfigurations;
        adminCartRules.loadTable(storageData.sIdLanguage());
    });
  },
  methods: {
    loadTable(ln) {
      var adminCartRules = this;
      if(!functionHelpers.isValued(ln)){
        ln = storageData.sIdLanguage();
      }else{
        ln = this.languages;
      }
 
      cartRulesServices.getAll(ln, function(result) {
        adminCartRules.tableData = result.data;
        spinnerHelpers.hide();

        let uri = window.location.search.substring(1); 
        let params = new URLSearchParams(uri);
        var id= params.get("id");
        console.log(id);
        if(id > 0 && id !== null){
          adminCartRules.executeOpenDetail(id);
        /*}else{
           adminCartRules.onNewCartRules();*/
        }
        
      });

    },

  onClickRadioButton(id,name){
    switch (name) {
        case 'applicaatuttiiclienti':
          if(id == 0){
            $("#btnselectUser").show();
          }else{
            $("#btnselectUser").hide();
          }
          break;
        case 'applicaatuttiigruppi':
          if(id == 0){
            $("#btnselectGroup").show();
          }else{
            $("#btnselectGroup").hide();
          }
          break;
        case 'applicaatuttiiprodotti':
          if(id == 0){
            $("#btnselectItems").show();
          }else{
            $("#btnselectItems").hide();
          }
          break;
        case 'applicaatuttiivettori':
          if(id == 0){
            $("#btnselectCarriers").show();
          }else{
            $("#btnselectCarriers").hide();
          }
          break;
        case 'applicaatuttecategorie':
          if(id == 0){
            $("#btnselectCategories").show();
          }else{
            $("#btnselectCategories").hide();
          }
          break;
        case 'applicaatuttiiproduttori':
          if(id == 0){
            $("#btnselectProducers").show();
          }else{
            $("#btnselectProducers").hide();
          }
          break;
        case 'applicaatuttiifornitori':
          if(id == 0){
            $("#btnselectSuppliers").show();
          }else{
            $("#btnselectSuppliers").hide();
          }
          break;
        case 'applicaScontoA':
          if(id == 3){
            //visualizza pulsante per scelta articoli specifici da includere nella regola
            $("label[for=add_to_cart_automatically]").parent('.field').hide();
            //visualizzazione check per inserimento automatico di questi articoli
            $("#row-select-products").show();
          }else{
            $("label[for=add_to_cart_automatically]").parent('.field').hide();
            //nascondere check per inserimento automatico di questi articoli
            $("#row-select-products").hide();
          }
          break;
      }
  },

    CartRulesFormatter(value, row, index, field) {
      var adminCartRules = this;
      var html =
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<div class="col-1"><button class="btn btn-success" onclick="adminCartRules.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button></div>';


      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function(i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.CartRules)) {
                html += result.CartRules;
              } else {
                html += adminCartRules.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.CartRules +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div></div>";
      return html;
    },

    executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminCartRules = this;
      this.rowIdSelected = id;
      //this.titleDetail = this.customer;

      $.each(this.tableData, function(i, row) {
        if (adminCartRules.rowIdSelected == row.id) {
          adminCartRules.detailData = row;
          if(adminCartRules.detailData.apply_to_all_customers == 0){
            $("#btnselectUser").show();
          }else{
            $("#btnselectUser").hide();
          }
          if(adminCartRules.detailData.apply_to_all_groups == 0){
            $("#btnselectGroup").show();
          }else{
            $("#btnselectGroup").hide();
          }
          if(adminCartRules.detailData.apply_to_all_items  == 0){
            $("#btnselectItems").show();
          }else{
            $("#btnselectItems").hide();
          }
          if(adminCartRules.detailData.apply_to_all_carriers == 0){
            $("#btnselectCarriers").show();
          }else{
            $("#btnselectCarriers").hide();
          }
          if(adminCartRules.detailData.apply_to_all_categories_items == 0){
              $("#btnselectCategories").show();
          }else{
              $("#btnselectCategories").hide();
          }

          if(adminCartRules.detailData.apply_to_all_producers == 0){
              $("#btnselectProducers").show();
          }else{
              $("#btnselectProducers").hide();
          }

          if(adminCartRules.detailData.apply_to_all_suppliers == 0){
              $("#btnselectSuppliers").show();
          }else{
              $("#btnselectSuppliers").hide();
          }

          if(adminCartRules.detailData.apply_discount_to == 3){
              $("label[for=add_to_cart_automatically]").parent('.field').hide();
              $("#row-select-products").show();
          }else{
              $("label[for=add_to_cart_automatically]").parent('.field').hide();
              $("#row-select-products").hide();
          }
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      $("#detailInformazioni").addClass("active");
      $("#detailCondizioni").removeClass("active");
      $("#detailAzioni").removeClass("active");
      spinnerHelpers.hide();
    },

    onNewCartRules() {
      spinnerHelpers.show();

      this.detailData = {};
      this.titleDetail = this.newCartRules;
      this.rowIdSelected = 0;
      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },
    executeSaveCartRulesSave() {
      spinnerHelpers.show();
      var adminCartRules = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCartRules.getRowSelected(), function(i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminCartRules.rowsSelected = adminCartRules.rowsSelected + 1;
        
        cartRulesServices.update(
          rowToSave,
          function() {
            adminCartRules.checkAllIsSaved();
            adminCartRules.tableResult.push({
              id: rowToSave.id,
              success: true
            });
            notificationHelpers.success(adminCartRules.updateCompleted);
          },
          function(response) {
            adminCartRules.checkAllIsSaved();
            adminCartRules.tableResult.push({
              id: rowToSave.id,
              success: false,
              CartRules: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },


    confirmDeleteCartRules() {
      if (confirm(this.confirmDelete)) {
        this.executeDeleteCartRules();
      }
    },
    executeDeleteCartRules() {
      spinnerHelpers.show();
      var adminCartRules = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableCartRules.getRowSelected(), function(i, row) {
        adminCartRules.rowsSelected = adminCartRules.rowsSelected + 1;

        cartRulesServices.del(
          row.id,
          function() {
            adminCartRules.checkAllIsSaved();
            notificationHelpers.success(adminCartRules.deleteCompleted);
            
          },
          function(response) {
            adminCartRules.checkAllIsSaved();
            adminCartRules.tableResult.push({
              id: rowToSave.id,
              success: false,
              CartRules: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    onTableCheckCartRules() {
      var countRowSelected = this.$refs.tableCartRules.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },

    confirmCancelNewCartRules() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmCancel"))) {
        this.executeCancelCartRules();
      }
    },

    ontabadminSettingGeneralButton() {    
        $("#detailInformazioni").addClass("active");
        $("#detailCondizioni").removeClass("active");
        $("#detailAzioni").removeClass("active");
      spinnerHelpers.hide();
    },

    ontabadminSettingCondizioniButton() {    
        $("#detailInformazioni").removeClass("active");
        $("#detailCondizioni").addClass("active");
        $("#detailAzioni").removeClass("active");
      spinnerHelpers.hide();
    },
    
    ontabadminSettingAzioniButton() {    
      this.getListSpecificProductsCartRules();
        $("#detailInformazioni").removeClass("active");
        $("#detailCondizioni").removeClass("active");
        $("#detailAzioni").addClass("active");
      spinnerHelpers.hide();
    },

// --  POPUP SECTION GROUP -- // 
SelectCartGroup() { 
      var adminCartRules = this;
     adminCartRules.getListGroupCartRules();
    $("#detailSelectCartGroup").modal("show");
    spinnerHelpers.hide();
    },

   getListGroupCartRules(){
      var adminCartRules = this;
      cartRulesServices.getGroupSelectedAndNot(adminCartRules.rowIdSelected, function (
        result      
      ) {    
        adminCartRules.SelectAllGroup = result.data;
        adminCartRules.selectGroupExist = result.data[0].selectGroupExist;
      });
    },
    
  onClickSelectedGroup(id) {
      var adminCartRules = this;
      var data = {
          id: id,
          idCartRole: adminCartRules.rowIdSelected,
        };

      cartRulesServices.insertCartRoleGroup(data, function (result) {
       adminCartRules.getListGroupCartRules(); 
      });
    },

  onClickDeleteGroup(id) {
      var adminCartRules = this;
      cartRulesServices.deleteCartRoleGroup(id, function (result) {
       adminCartRules.getListGroupCartRules(); 
      });
    },

  SearchGroup(id) {
    var adminCartRules = this;

    var data = {
        id: id,
        idCartRole: adminCartRules.rowIdSelected,
        groupsearch: $("#GroupSearch").val(),
    };

      cartRulesServices.getGroupCartRolesSearch(data, function (result) {
      adminCartRules.SelectAllGroup = result.data;
      spinnerHelpers.hide();
      });
},

  GroupSearchCartRuleGroupSelect(){
    var adminCartRules = this;
     var data = {
        idCartRole: adminCartRules.rowIdSelected,
        GroupSearchCartRule: $("#GroupSearchCartRule").val(),
    };
      cartRulesServices.getGroupSearchNameCartRuleGroup(data, function (result) {
      adminCartRules.selectGroupExist = result.data[0].selectGroupExist;
      spinnerHelpers.hide();
      });
    },
// -- END POPUP SECTION GROUP -- // 


// -- POPUP SECTION USER -- // 
    SelectCartUser() {  
    var adminCartRules = this;
     adminCartRules.getListCartRules(); 
      $("#detailSelectCartUser").modal("show");
      spinnerHelpers.hide();
    },

    onClickDeleteUser(id) {
      var adminCartRules = this;
      cartRulesServices.deleteUserCartRoleUser(id, function (result) {
       adminCartRules.getListCartRules(); 
      });
    },

    UserSearchBusinessNameCartRuleUser(){
    var adminCartRules = this;
     var data = {
        idCartRole: adminCartRules.rowIdSelected,
        UserSearchBusinessNameCartRuleUser: $("#UserSearchBusinessNameCartRuleUser").val(),
    };

      cartRulesServices.getUserSearchBusinessNameCartRuleUser(data, function (result) {
      adminCartRules.selectUserExist = result.data[0].selectUserExist;
      spinnerHelpers.hide();
      });
    },

    SearchUser(user_id) {
    var adminCartRules = this;

    var data = {
        user_id: user_id,
        idCartRole: adminCartRules.rowIdSelected,
        search: $("#UserSearch").val(),
    };

      cartRulesServices.getUserCartRolesSearch(data, function (result) {
      adminCartRules.UserSelectAll = result.data;
      spinnerHelpers.hide();
      });
},

    onClickSelectedUser(user_id) {
      var adminCartRules = this;
      var data = {
          user_id: user_id,
          idCartRole: adminCartRules.rowIdSelected,
        };

      cartRulesServices.insertUserCartRoleUser(data, function (result) {
       adminCartRules.getListCartRules(); 
      });
    },

    getListCartRules(){
      var adminCartRules = this;
      cartRulesServices.getUserSelectedAndNot(adminCartRules.rowIdSelected, function (
        result      
      ) {    
        adminCartRules.UserSelectAll = result.data;
        adminCartRules.selectUserExist = result.data[0].selectUserExist;
      });
    },
// -- END POPUP SECTION USER -- //


// -- POPUP SECTION CARRIERS -- //
//
SelectCartCarriers() { 
    var adminCartRules = this;
    adminCartRules.getListCarriersCartRules();
    $("#detailSelectCartCarriers").modal("show");
    spinnerHelpers.hide();
    },

  getListCarriersCartRules(){
      var adminCartRules = this;
      cartRulesServices.getCarriersSelectedAndNot(adminCartRules.rowIdSelected, function (
        result      
      ) {    
        adminCartRules.SelectAllCarriers = result.data;
        adminCartRules.selectCarriersExist = result.data[0].selectCarriersExist;
      });
    },


 onClickSelectedCarriers(id) {
      var adminCartRules = this;
      var data = {
          idCarrier: id,
          idCartRole: adminCartRules.rowIdSelected,
        };

      cartRulesServices.insertCarriersCartRole(data, function (result) {
       adminCartRules.getListCarriersCartRules(); 
      });
    },

onClickDeleteCarriers(id) {
      var adminCartRules = this;
      cartRulesServices.deleteCartRoleCarriers(id, function (result) {
       adminCartRules.getListCarriersCartRules(); 
      });
    },
//cerca non selezionato
  SearchCarriers(id) {
    var adminCartRules = this;

    var data = {
        id: id,
        idCartRole: adminCartRules.rowIdSelected,
        carriersearch: $("#CarrierSearch").val(),
    };

      cartRulesServices.getCarriersCartRolesSearch(data, function (result) {
      adminCartRules.SelectAllCarriers = result.data;
      spinnerHelpers.hide();
      });
},
//cerca selezionati
 CarriersSearchCartRuleCarriersSelect(){
    var adminCartRules = this;
     var data = {
        idCartRole: adminCartRules.rowIdSelected,
        CarrierSearchCartRule: $("#CarrierSearchCartRule").val(),
    };
      cartRulesServices.getCarrierSearchNameCartRuleCarriers(data, function (result) {
      adminCartRules.selectCarriersExist = result.data[0].selectCarriersExist;
      spinnerHelpers.hide();
      });
    },
// --END POPUP SECTION CARRIERS -- //

// -- POPUP SECTION ITEMS -- //
SelectCartItems() { 
    var adminCartRules = this;
    adminCartRules.getListItemsCartRules();
    $("#detailSelectCartItems").modal("show");
    spinnerHelpers.hide();
},

getListItemsCartRules(){
      var adminCartRules = this;
      cartRulesServices.getItemsSelectedAndNot(adminCartRules.rowIdSelected, function (
        result    
      ) {   
        
        adminCartRules.SelectAllItems = result.data;
        adminCartRules.selectItemExist = result.data[0].selectItemExist;
      });
    },


 onClickSelectedItems(item_id) {
      var adminCartRules = this;
      var data = {
          item_id: item_id,
          idCartRole: adminCartRules.rowIdSelected,
        };

      cartRulesServices.insertItemCartRole(data, function (result) {
       adminCartRules.getListItemsCartRules(); 
      });
    },

onClickDeleteItem(id) {
      var adminCartRules = this;
      cartRulesServices.deleteCartRoleItem(id, function (result) {
       adminCartRules.getListItemsCartRules(); 
      });
    },

SearchItems(id) {
    var adminCartRules = this;

    var data = {
        id: id,
        idCartRole: adminCartRules.rowIdSelected,
        itemSearch: $("#ItemSearch").val(),
    };

      cartRulesServices.getItemsCartRolesSearch(data, function (result) {
      adminCartRules.SelectAllItems = result.data;
      spinnerHelpers.hide();
      });
},

ItemSearchCartRuleItemSelect(){
    var adminCartRules = this;
     var data = {
        idCartRole: adminCartRules.rowIdSelected,
        ItemSearchCartRule: $("#ItemSearchCartRule").val(),
    };
      cartRulesServices.getItemsSearchDescriptionCartRuleItems(data, function (result) {
      adminCartRules.selectItemExist = result.data[0].selectItemExist;
      spinnerHelpers.hide();
      });
    },
// -- END POPUP SECTION ITEMS -- //

// --  POPUP SECTION CATEGORIES -- //
SelectCartCategories() { 
    var adminCartRules = this;
    adminCartRules.getListCategoriesCartRules();
    $("#detailSelectCartCategories").modal("show");
    spinnerHelpers.hide();
    },
getListCategoriesCartRules(){
      var adminCartRules = this;
      cartRulesServices.getCategoriesSelectedAndNot(adminCartRules.rowIdSelected, function (
        result    
      ) {  
        adminCartRules.SelectAllCategories = result.data;
        adminCartRules.selectCategoriesExist = result.data[0].selectCategoriesExist;
      });
    },

 onClickSelectedCategories(category_id) {
      var adminCartRules = this;
      var data = {
          category_id: category_id,
          idCartRole: adminCartRules.rowIdSelected,
        };

      cartRulesServices.insertCategoriesCartRoleCategories(data, function (result) {
       adminCartRules.getListCategoriesCartRules(); 
      });
    },

 onClickDeleteCategories(id) {
      var adminCartRules = this;
      cartRulesServices.deleteCategoriesCartRoleCategories(id, function (result) {
       adminCartRules.getListCategoriesCartRules(); 
      });
    },
    
    
SearchCategories(id) {
    var adminCartRules = this;

    var data = {
        id: id,
        idCartRole: adminCartRules.rowIdSelected,
        CategoriesSearch: $("#CategoriesSearch").val(),
    };

      cartRulesServices.getCategoriesCartRolesSearch(data, function (result) {
      adminCartRules.SelectAllCategories = result.data;
      spinnerHelpers.hide();
      });
 },
 
 CategoriesSearchCartRuleCategoriesSelect(){
    var adminCartRules = this;
     var data = {
        idCartRole: adminCartRules.rowIdSelected,
        CategoriesSearchCartRule: $("#CategoriesSearchCartRule").val(),
    };
      cartRulesServices.getSearchDescriptionCartRuleCategories(data, function (result) {
      adminCartRules.selectCategoriesExist = result.data[0].selectCategoriesExist;
      spinnerHelpers.hide();
      });
    },


// -- END POPUP SECTION CATEGORIES -- //
// --  POPUP SECTION PRODUCERS -- //
SelectCartProducers() { 
    var adminCartRules = this;
    adminCartRules.getListProducersCartRules();
    $("#detailSelectCartProducers").modal("show");
    spinnerHelpers.hide();
    },
getListProducersCartRules(){
      var adminCartRules = this;
      cartRulesServices.getProducersSelectedAndNot(adminCartRules.rowIdSelected, function (
        result    
      ) { 
        adminCartRules.SelectAllProducers = result.data;
        adminCartRules.selectProducersExist = result.data[0].selectProducersExist;
      });
    },

 onClickSelectedProducers(category_id) {
      var adminCartRules = this;
      var data = {
          producer_id: category_id,
          idCartRole: adminCartRules.rowIdSelected,
        };

      cartRulesServices.insertProducersCartRoleProducers(data, function (result) {
       adminCartRules.getListProducersCartRules(); 
      });
    },

 onClickDeleteProducers(id) {
      var adminCartRules = this;
      cartRulesServices.deleteProducersCartRoleProducers(id, function (result) {
       adminCartRules.getListProducersCartRules(); 
      });
    },
    
    
SearchProducers(id) {
    var adminCartRules = this;

    var data = {
        id: id,
        idCartRole: adminCartRules.rowIdSelected,
        ProducersSearch: $("#ProducersSearch").val(),
    };

      cartRulesServices.getProducersCartRolesSearch(data, function (result) {
      adminCartRules.SelectAllProducers = result.data;
      spinnerHelpers.hide();
      });
 },
 
 ProducersSearchCartRuleProducersSelect(){
    var adminCartRules = this;
     var data = {
        idCartRole: adminCartRules.rowIdSelected,
        ProducersSearchCartRule: $("#ProducersSearchCartRule").val(),
    };
     cartRulesServices.getSearchDescriptionCartRuleProducers(data, function (result) {
      adminCartRules.selectProducersExist = result.data[0].selectProducersExist;
      spinnerHelpers.hide();
      });
    },


// -- END POPUP SECTION PRODUCERS -- //

// --  POPUP SECTION SUPPLIERS -- //
SelectCartSuppliers() { 
    var adminCartRules = this;
    adminCartRules.getListSuppliersCartRules();
    $("#detailSelectCartSuppliers").modal("show");
    spinnerHelpers.hide();
    },
getListSuppliersCartRules(){
      var adminCartRules = this;
      cartRulesServices.getSuppliersSelectedAndNot(adminCartRules.rowIdSelected, function (
        result    
      ) { 
        adminCartRules.SelectAllSuppliers = result.data;
        adminCartRules.selectSuppliersExist = result.data[0].selectSuppliersExist;
      });
    },

 onClickSelectedSuppliers(category_id) {
      var adminCartRules = this;
      var data = {
          supplier_id: category_id,
          idCartRole: adminCartRules.rowIdSelected,
        };

      cartRulesServices.insertSuppliersCartRoleSuppliers(data, function (result) {
       adminCartRules.getListSuppliersCartRules(); 
      });
    },

 onClickDeleteSuppliers(id) {
      var adminCartRules = this;
      cartRulesServices.deleteSuppliersCartRoleSuppliers(id, function (result) {
       adminCartRules.getListSuppliersCartRules(); 
      });
    },
    
    
SearchSuppliers(id) {
    var adminCartRules = this;

    var data = {
        id: id,
        idCartRole: adminCartRules.rowIdSelected,
        SuppliersSearch: $("#SuppliersSearch").val(),
    };

      cartRulesServices.getSuppliersCartRolesSearch(data, function (result) {
      adminCartRules.SelectAllSuppliers = result.data;
      spinnerHelpers.hide();
      });
 },
 
 SuppliersSearchCartRuleSuppliersSelect(){
    var adminCartRules = this;
     var data = {
        idCartRole: adminCartRules.rowIdSelected,
        SuppliersSearchCartRule: $("#SuppliersSearchCartRule").val(),
    };
     cartRulesServices.getSearchDescriptionCartRuleSuppliers(data, function (result) {
      adminCartRules.selectSuppliersExist = result.data[0].selectSuppliersExist;
      spinnerHelpers.hide();
      });
    },


// -- END POPUP SECTION Suppliers -- //
// -- POPUP SECTION SPECIFIC PRODUCTS -- //
SelectSpecificProductsCartRules() { 
    var adminCartRules = this;
    adminCartRules.getListSpecificProductsCartRules();
    $("#detailSelectSpecificProducts").modal("show");
    spinnerHelpers.hide();
},
getListSpecificProductsCartRules(){
  var adminCartRules = this;
  cartRulesServices.getSpecificProductsSelectedAndNot(adminCartRules.rowIdSelected, function (result) {   
    adminCartRules.SelectAllSpecificProductsItems = result.data;
    adminCartRules.selectSpecificProductsItemExist = result.data[0].selectItemExist;
  });
},
SearchSpecificProductsSearch(id){
  var adminCartRules = this;

    var data = {
        id: id,
        idCartRole: adminCartRules.rowIdSelected,
        SpecificProductSearch: $("#SpecificProductSearch").val(),
    };

    cartRulesServices.getSpecificProductCartRolesSearch(data, function (result) {
      adminCartRules.SelectAllSpecificProductsItems = result.data;
      spinnerHelpers.hide();
    });
},
SearchSpecificProductsSelected(){
    var adminCartRules = this;
      var data = {
        idCartRole: adminCartRules.rowIdSelected,
        SpecificProductsSearchCartRule: $("#SpecificProductsSearchCartRule").val(),
    };
    cartRulesServices.getSearchSpecificProductsSelectedCartRule(data, function (result) {
      adminCartRules.selectSpecificProductsItemExist = result.data[0].selectItemExist;
      spinnerHelpers.hide();
    });
  },
onClickSpecificProducts(id){

    var adminCartRules = this;
    var data = {
        item_id: id,
        idCartRole: adminCartRules.rowIdSelected,
      };

    cartRulesServices.insertSpecificItemsCartRole(data, function (result) {
      adminCartRules.getListSpecificProductsCartRules(); 
    });
},
onClickDeleteSpecificProducts(id){
  var adminCartRules = this;
      cartRulesServices.deleteSpecificProductsCartRole(id, function (result) {
       adminCartRules.getListSpecificProductsCartRules(); 
      });
},

UpdateSpecificProductsParameters(id, field){

  var adminCartRules = this;
  var data = {
      id: id,
      field: field,
      value: $('#' + field + id).val(),
    };

  cartRulesServices.updateSpecificProductsValue(data, function (result) {
    notificationHelpers.success("Valore modificato correttamente!");
    adminCartRules.getListSpecificProductsCartRules(); 
  });

},
// -- END PUPUP SECTION SPECIFIC PRODUCTS -- //

    executeCancelCartRules() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $("#tabTable").addClass("active");
      $("#tabDetail").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveNewCartRules() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveNewCartRules();
      }
    },

    executeSaveNewCartRules() {
      spinnerHelpers.show();
      var adminCartRules = this;
      this.detailData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailData.code)) {
        this.detailData.code = false;
      }

      if ( functionHelpers.isValued(this.rowIdSelected) && this.rowIdSelected > 0 ) {
        this.detailData.id = this.rowIdSelected;

        cartRulesServices.update(this.detailData, function(result) {
          adminCartRules.tableResult.push({
            id: result.data,
            success: true,
            CartRules: adminCartRules.updateCompleted
          });
          notificationHelpers.success(adminCartRules.updateCompleted);
          adminCartRules.loadTable(adminCartRules.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      } else {
        cartRulesServices.insert(this.detailData, function(result) {
          adminCartRules.tableResult.push({
            id: result.data,
            success: true,
            CartRules: adminCartRules.insertCompleted
          });
          notificationHelpers.success(adminCartRules.insertCompleted);
          adminCartRules.loadTable(adminCartRules.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      }
    },

    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable(this.languages);
      }
    }
  }
};
</script>

<style>


.div-row-UserSelectAll,
.div-row-selectUserExist {
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ededed;
}
.div-row-UserSelectAll span {
  color: #303c54;
  font-size: 14px;
  font-weight: lighter;
}


/* TAB */
.nav-tabs .nav-item span{
  
  color: #fff;
}
.nav-tabs .nav-item {
  width: 33.33%;
}
.nav-tabs .nav-link {
  width: 100%;
  border-radius: 0;
  color: #fff;
  background: #3c4b64;
  border-bottom: 3px solid #f45f00 !important;
  border: 0px;
}
.nav-tabs .nav-link.active {
  background: #2a3545 !important;
}
.nav-tabs > .nav-item > .nav-link:not(.active) {
  background: #3c4b64 !important;
}

.align-btns {
 position: absolute;
    z-index: 1;
    margin-top: 10px;
}
/* END TAB */

</style>
