<template>
  <div id="adminCrmDocumentsStatuses">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ setting }}</li>
      <li class="breadcrumb-item active">
         <router-link :to="url">Stati Documenti</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>Stati Documenti</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
       <div class="tab-content noborder">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
            <div class="row align-btns" style="width:85%;">
              <div class="col-6 text-left">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onNewDocumentsStatuses"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>              
              </div>
              <div class="col-3 text-left">
                <select2
                  id="select_AdminPagesView_IdLanguage"
                  ref="select_AdminPagesView_IdLanguage"
                  class="form-control nopadding"
                  style="width:75%"
                  :filterable="false"
                  service="languages"
                  v-model="pageValueSelected.languagePageSetting.idLanguage"
                  :default="defaultLanguageOptions"
                  :change="languageChange"
                />
                <span style="margin-left:10px;">{{ language }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="TableDocumentsStatusesConfiguration"
                  :datas="tableData"
                  id="tableDocumentsStatuses"
                  :onCheck="onTableCheckDocumentsStatuses"
                  :onCheckAll="onTableCheckDocumentsStatuses"
                  :onUncheck="onTableCheckDocumentsStatuses"
                  :onUncheckAll="onTableCheckDocumentsStatuses"
                  ref="tableDocumentsStatuses"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabDetail" role="tabpanel" style="box-shadow:none;">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="adminCrmDocumentsStatuses"
                  :configurations="DetailDocumentsStatusesConfiguration"
                  :jsonValue="detailDocumentsStatuses"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="confirmCancelDocumentsStatuses"
                  ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="confirmSaveDocumentsStatuses"
                  ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";

export default {
  name: "adminCrmDocumentsStatuses",
  components: {
    BootstrapTable,
    Select2,
    PageDetail,
  },
  data: function () {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      language: dictionaryHelpers.getDictionary("Language"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      setting: dictionaryHelpers.getDictionary("Setting"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      tableDocumentsStatusesResult: [],
      TableDocumentsStatusesConfiguration: [],
      DetailDocumentsStatusesConfiguration: [],
      detailDocumentsStatuses: {},
      languages: 0,
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newCategoryType: dictionaryHelpers.getDictionary("newCategoryType"),
      openDetail: dictionaryHelpers.getDictionary("OpenDetail"),
      save: dictionaryHelpers.getDictionary("Save"),
      defaultLanguageOptions: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
      },
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0,
    };
  },
  created() {
    var adminCrmDocumentsStatuses = this;
    spinnerHelpers.show();

    this.languages = storageData.sIdLanguage();

    adminCrmDocumentsStatuses.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage(),
    };

    adminConfigurationServices.getFunctionality(function (result) {
          
      adminCrmDocumentsStatuses.TableDocumentsStatusesConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;
      adminCrmDocumentsStatuses.DetailDocumentsStatusesConfiguration = result.data.tabsConfigurations[0].pageConfigurations;

      adminCrmDocumentsStatuses.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminCrmDocumentsStatuses = this;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      } else {
        ln = this.languages;
      }
      DocumentStatusesServices.getAll(ln, function (result) {
        adminCrmDocumentsStatuses.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminCrmDocumentsStatuses = this;
      this.languages = value;
      adminCrmDocumentsStatuses.loadTable(value);
      spinnerHelpers.hide();
    },
    StatesOrderDocumentsFormatter(value, row, index, field) {
      var adminCrmDocumentsStatuses = this;
      var html =
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<div class="col-6"><button class="btn btn-success" onclick="adminCrmDocumentsStatuses.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button></div>';
        html +='<div class="col-6"><button class="btn btn-danger" onclick="adminCrmDocumentsStatuses.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button></div>';  
          
      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function (i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += adminCrmDocumentsStatuses.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div></div>";
      return html;
    },

      HtmlViewFormatter(value, row, index, field){
      var html ='';
      html += row.html;
      return html;
      },


    
    delete(id) {
      var adminCrmDocumentsStatuses = this;
      spinnerHelpers.show();
      DocumentStatusesServices.del(id, function () {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("DeleteCompleted")
        );

        var ln =
          adminCrmDocumentsStatuses.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminCrmDocumentsStatuses.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },

    executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminCrmDocumentsStatuses = this;
      this.rowIdSelected = id;
      this.titleDetail = this.customer;

      $.each(this.tableData, function (i, row) {
        if (adminCrmDocumentsStatuses.rowIdSelected == row.id) {
          adminCrmDocumentsStatuses.detailDocumentsStatuses = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    onNewDocumentsStatuses() {
      spinnerHelpers.show();
      var adminCrmDocumentsStatuses = this;
      console.log(adminCrmDocumentsStatuses.detailDocumentsStatuses);

      adminCrmDocumentsStatuses.detailDocumentsStatuses.code ='';
      adminCrmDocumentsStatuses.detailDocumentsStatuses.description ='';
      adminCrmDocumentsStatuses.detailDocumentsStatuses.html ='';
      adminCrmDocumentsStatuses.detailDocumentsStatuses.id ='';
      adminCrmDocumentsStatuses.detailDocumentsStatuses.language_id ='';
      /*this.detailDocumentsStatuses = {};*/
      this.titleDetail = this.newCategoryType;
      this.rowIdSelected = 0;
      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveDocumentsStatuses() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveDocumentsStatuses();
      }
    },

    executeSaveDocumentsStatuses() {
      spinnerHelpers.show();
      var adminCrmDocumentsStatuses = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableDocumentsStatuses.getRowSelected(), function (i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminCrmDocumentsStatuses.rowsSelected =
          adminCrmDocumentsStatuses.rowsSelected + 1;
        // rowToSave.idlanguage=adminCrmDocumentsStatuses.languages;

        DocumentStatusesServices.update(
          rowToSave,
          function () {
            adminCrmDocumentsStatuses.checkAllIsSaved();
            adminCrmDocumentsStatuses.tableResult.push({
              id: rowToSave.id,
              success: true,
            });
            notificationHelpers.success(adminCrmDocumentsStatuses.updateCompleted);
          },
          function (response) {
            adminCrmDocumentsStatuses.checkAllIsSaved();
            adminCrmDocumentsStatuses.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response,
            });
            notificationHelpers.error(response);
          }
        );
      });
    },


    onTableCheckDocumentsStatuses() {
      var countRowSelected = this.$refs.tableDocumentsStatuses.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },

    confirmCancelDocumentsStatuses() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmCancel"))) {
        this.executeCancelDocumentsStatuses();
      }
    },

    executeCancelDocumentsStatuses() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $("#tabTable").addClass("active");
      $("#tabDetail").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveDocumentsStatuses() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveDocumentsStatuses();
      }
    },

    executeSaveDocumentsStatuses() {
      spinnerHelpers.show();
      var adminCrmDocumentsStatuses = this;
      this.detailDocumentsStatuses.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailDocumentsStatuses.code)) {
        this.detailDocumentsStatuses.code = false;
      }

      if (!functionHelpers.isValued(this.detailDocumentsStatuses.description)) {
        this.detailDocumentsStatuses.description = false;
      }

      if (!functionHelpers.isValued(this.languages)) {
        this.detailDocumentsStatuses.idLanguage = storageData.sIdLanguage();
      } else {
        this.detailDocumentsStatuses.idLanguage = this.languages;
      }

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailDocumentsStatuses.id = this.rowIdSelected;

        DocumentStatusesServices.update(this.detailDocumentsStatuses, function (result) {
          adminCrmDocumentsStatuses.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmDocumentsStatuses.updateCompleted,
          });
          notificationHelpers.success(adminCrmDocumentsStatuses.updateCompleted);
          adminCrmDocumentsStatuses.loadTable(adminCrmDocumentsStatuses.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      } else {
        DocumentStatusesServices.insert(this.detailDocumentsStatuses, function (result) {
          adminCrmDocumentsStatuses.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmDocumentsStatuses.insertCompleted,
          });
          notificationHelpers.success(adminCrmDocumentsStatuses.insertCompleted);
          adminCrmDocumentsStatuses.loadTable(adminCrmDocumentsStatuses.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      }
    },

    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable(this.languages);
      }
    },
  },
};
</script>

<style scoped>
.card-title-admin .card {
  background: transparent;
  border: 0px;
}
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}
.align-btns {
 position: absolute;
    z-index: 1;
    margin-top: 10px;
}
</style>
