<template>
  <div id="adminCrmSalesOrders">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ setting }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Ordini di Vendita</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>Ordini di Vendita</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content">
          <div class="tab-pane active" id="tabTableSalesOrders" role="tabpanel">
            <div class="row align-btn" style="width:100%;">
              <div class="col-lg-6"></div>
              <div class="col-3 text-left"></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="TableSalesOrderConfiguration"
                  :datas="tableData"
                  id="tableSalesOrders"
                  :onCheck="onTableCheckSalesOrders"
                  :onCheckAll="onTableCheckSalesOrders"
                  :onUncheck="onTableCheckSalesOrders"
                  :onUncheckAll="onTableCheckSalesOrders"
                  ref="tableSalesOrders"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div
            class="tab-pane nopadding"
            id="tabDetailSalesOrders"
            role="tabpanel"
          >
           <div
                      v-for="SalesOrder in SalesOrder"
                      v-bind:key="SalesOrder.id"
                    >
            <div class="card-header">
              Dettaglio Ordine
              <b>{{ SalesOrder.id }}</b> ricevuto il <b>{{ SalesOrder.date_order }}</b>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div
                    style="font-size:16px; color:#515151;margin:0 0 5px 0;border-bottom:1px dashed #515151;width:100%;"
                  >
                    <b>Intestazione documento</b>
                  </div>

                  <div
                    v-for="UsersDatas in UsersDatas"
                    v-bind:key="UsersDatas.id"
                  >
                  
                      <div
                        v-for="UserAddressesGoods in UserAddressesGoods"
                        v-bind:key="UserAddressesGoods.id"
                      >
                        <div
                          v-for="UserAddressesDocuments in UserAddressesDocuments"
                          v-bind:key="UserAddressesDocuments.id"
                        >
                         
                            <div class="col-12">
                              <div class="row">
                                <div class="col-4">
                                  <label>Ragione Sociale</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UsersDatas.business_name"
                                    ><b>{{ UsersDatas.business_name }}</b></span
                                  >
                                </div>

                                <div class="col-4">
                                  <label>Nome e Cognome</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UsersDatas.name"
                                    ><b
                                      >{{ UsersDatas.name }}
                                      {{ UsersDatas.surname }}</b
                                    ></span
                                  >
                                </div>
                                 <div class="col-4">
                                  <label>Stato Ordine</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="SalesOrder.order_state_id"
                                    ><b
                                      >
                                      {{ SalesOrder.order_state_id }}</b
                                    ></span
                                  >
                                </div>
                              </div>
                            </div>
                            <br />
                            <div class="col-12">
                              <div class="row">
                                <div class="col-4">
                                  <label>Indirizzo</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UsersDatas.address"
                                    ><b>{{ UsersDatas.address }}</b></span
                                  >
                                </div>

                                <div class="col-4">
                                  <label>Email</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UsersDatas.email"
                                    ><b>{{ UsersDatas.email }}</b></span
                                  >
                                </div>

                                <div class="col-4">
                                  <label>Modalità di Pagamento</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="SalesOrder.payment_type_id"
                                    ><b>{{
                                      SalesOrder.payment_type_id
                                    }}</b></span
                                  >
                                </div>
                              </div>
                            </div>
                            <br />

                            <div class="col-12">
                              <div class="row">
                                <div class="col-4">
                                  <label>Località</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UsersDatas.country"
                                    ><b
                                      >{{ UsersDatas.postal_code }}
                                      {{ UsersDatas.country }}
                                      ({{ UsersDatas.province_id }})</b
                                    ></span
                                  >
                                </div>
                                <div class="col-4">
                                  <label>Telefono</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UsersDatas.telephone_number"
                                    ><b>{{
                                      UsersDatas.telephone_number
                                    }}</b></span
                                  >
                                </div>
                                <div class="col-4">
                                  <label>Corriere</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="SalesOrder.carrier_id"
                                    ><b>{{ SalesOrder.carrier_id }}</b></span
                                  >
                                </div>
                              </div>
                            </div>
                            <br />

                            <div class="col-12">
                              <div class="row">
                                <div class="col-4">
                                  <label>Partita IVA</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UsersDatas.vat_number"
                                    ><b>{{ UsersDatas.vat_number }}</b>
                                  </span>
                                </div>
                                <div class="col-4">
                                  <label>Fax</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UsersDatas.fax_number"
                                    ><b>{{ UsersDatas.fax_number }}</b></span
                                  >
                                </div>
                                <div class="col-4">
                                  <label>Porto</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="SalesOrder.carriage_paid_to_id"
                                    ><b>{{
                                      SalesOrder.carriage_paid_to_id
                                    }}</b></span
                                  >
                                </div>
                              </div>
                            </div>
                            <br />

                            <div class="col-12">
                              <div class="row">
                                <div class="col-12">
                                  <label>Codice Fiscale</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UsersDatas.fiscal_code"
                                    ><b>{{ UsersDatas.fiscal_code }}</b>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <br />

                            <div class="row">
                              <div class="col-6">
                                <div
                                  style=" font-size:16px; color:#515151;margin:0 0 5px 0;border-bottom:1px dashed #515151;width:100%;"
                                >
                                  <b>Destinazione Merce</b>
                                </div>
                                <div class="col-4">
                                  <label>Destinatario</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UserAddressesGoods.business_name"
                                    ><b>{{
                                      UserAddressesGoods.business_name
                                    }}</b>
                                  </span>
                                </div>
                                <div class="col-6">
                                  <label>Indirizzo</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UserAddressesGoods.address"
                                    ><b
                                      >{{ UserAddressesGoods.address }}<br />
                                      {{ UserAddressesGoods.postal_code }}
                                      {{ UserAddressesGoods.country }}({{
                                        UserAddressesGoods.province_id
                                      }})
                                    </b>
                                  </span>
                                </div>
                                <div class="col-4">
                                  <label>Telefono</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UserAddressesGoods.telephone_number"
                                    ><b>{{
                                      UserAddressesGoods.telephone_number
                                    }}</b>
                                  </span>
                                </div>
                                <div class="col-3">
                                  <label>Fax</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UserAddressesGoods.fax_number"
                                    ><b>{{ UserAddressesGoods.fax_number }}</b>
                                  </span>
                                </div>
                              </div>

                              <div class="col-6">
                                <div
                                  style=" font-size:16px; color:#515151;margin:0 0 5px 0;border-bottom:1px dashed #515151;width:100%;"
                                >
                                  <b>Dati Spedizione Documenti</b>
                                </div>
                                <div class="col-4">
                                  <label>Destinatario</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UserAddressesDocuments.business_name"
                                    ><b>{{
                                      UserAddressesDocuments.business_name
                                    }}</b>
                                  </span>
                                </div>
                                <div class="col-6">
                                  <label>Indirizzo</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UserAddressesDocuments.address"
                                    ><b
                                      >{{ UserAddressesDocuments.address
                                      }}<br />
                                      {{ UserAddressesDocuments.postal_code }}
                                      {{ UserAddressesDocuments.country }}({{
                                        UserAddressesDocuments.province_id
                                      }})
                                    </b>
                                  </span>
                                </div>
                                <div class="col-4">
                                  <label>Telefono</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="
                                      UserAddressesDocuments.telephone_number
                                    "
                                    ><b>{{
                                      UserAddressesDocuments.telephone_number
                                    }}</b>
                                  </span>
                                </div>
                                <div class="col-3">
                                  <label>Fax</label>
                                  <br />
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="UserAddressesDocuments.fax_number"
                                    ><b>{{
                                      UserAddressesDocuments.fax_number
                                    }}</b>
                                  </span>
                                </div>
                              </div>
                            </div>
                            </div>
                            </div>
                          </div>
                            <br />
                            <div
                              style="font-size:16px; color:#515151;margin:0 0 5px 0; width:100%;"
                            >
                              <b>Articoli Ordinati</b>
                            </div>
                            
                            <table class="table">
                              <tr>
                                <th scope="col-2">Codice</th>
                                <th scope="col-2">Articolo</th>
                                <th scope="col-2">UM</th>
                                <th scope="col-2">Q.ta</th>
                                <th scope="col-2">Prezzo</th>
                                <th scope="col-2">Sconto</th>
                                <th scope="col-2">Iva</th>
                                <th scope="col-2">Totale Riga</th>
                                <th scope="col-2">Stato</th>
                              </tr>
                              </table>
 <div
                            v-for="SalesOrderDetail in SalesOrderDetail"
                            v-bind:key="SalesOrderDetail.id"
                          >

                              <table class="table">
                              <tr>
                                <td :for="SalesOrderDetail.item_id">
                                  <b>{{ SalesOrderDetail.item_id }}</b>
                                </td>
                                <td
                                  :for="
                                    SalesOrderDetail.description_language_item
                                  "
                                >
                                  <b>{{
                                    SalesOrderDetail.description_language_item
                                  }}</b>
                                </td>
                                <td :for="SalesOrderDetail.unit_of_measure_id">
                                  <b>{{
                                    SalesOrderDetail.unit_of_measure_id
                                  }}</b>
                                </td>
                                <td :for="SalesOrderDetail.quantity">
                                  <b>{{ SalesOrderDetail.quantity }}</b>
                                </td>
                                <td :for="SalesOrderDetail.unit_price">
                                  <b>&euro;{{ SalesOrderDetail.unit_price }}</b>
                                </td>
                                <td :for="SalesOrderDetail.discount_percentage">
                                  <b>{{
                                    SalesOrderDetail.discount_percentage
                                  }}%</b>
                                </td>
                                <td :for="SalesOrderDetail.vat_type_id">
                                  <b>{{ SalesOrderDetail.vat_type_id }}%</b>
                                </td>
                                <td :for="SalesOrderDetail.total_amount">
                                  <b>&euro;{{ SalesOrderDetail.total_amount }}</b>
                                </td>
                                <td
                                  :for="SalesOrderDetail.order_detail_state_id"
                                >
                                  {{
                                    SalesOrderDetail.order_detail_state_id
                                  }}
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                            <div class="row">
                                  <div class="col-7">
                                  <label>Spese di Spedizione</label>
                                 </div>
                                 <div class="col-2" style="margin-left: 45px;">
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="SalesOrder.shipment_amount"
                                    ><b>&euro;{{
                                      SalesOrder.shipment_amount
                                    }}</b>
                                  </span>
                              </div>
                                 </div>
                              <br>
                            <div class="col-12 text-right">
                               <div
                                  style=" font-size:16px; color:#515151;margin:0 0 5px 0;border-bottom:1px dashed #515151;width:100%;"
                                >
                                  <b>Riepilogo</b>
                                </div>
                              <div class="row">
                                <div class="col-12">
                                  <label>Imponibile Merce&ensp;&ensp;</label>
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="SalesOrder.net_amount"
                                    ><b>&euro;{{
                                      SalesOrder.net_amount
                                    }}</b>
                                  </span></div><br></div></div>
                                  <div class="col-12 text-right">
                              <div class="row">
                                  <div class="col-12">
                                  <label>Spese Aggiuntive di Spedizione&ensp;&ensp;</label>
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="SalesOrder.shipment_amount"
                                    ><b>&euro;{{
                                      SalesOrder.shipment_amount
                                    }}</b>
                                  </span></div><br></div>
</div>


                      <div class="col-12 text-right">
                              <div class="row">
                                  <div class="col-12">
                                  <label>Spese Aggiuntive al Pagamento&ensp;&ensp;</label>
                                 
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="SalesOrder.payment_cost"
                                    ><b>&euro;{{
                                      SalesOrder.payment_cost
                                    }}</b>
                                  </span></div><br>
</div>
</div>
 <div class="col-12 text-right">
                              <div class="row">

                                  <div class="col-12">
                                  <label>Totale Imposte&ensp;&ensp;</label>
                               
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="SalesOrder.vat_amount"
                                    ><b>&euro;{{
                                      SalesOrder.vat_amount
                                    }}</b>
                                  </span></div><br>
</div>
</div>

                        <div class="col-12 text-right">
                            <div class="row">
                         <div class="col-12 text-right">
                              <div class="row">
                                    <div class="col-12">
                                    <label>Sconto&ensp;&ensp;</label>
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="SalesOrder.discount_value"
                                    ><b>&euro;{{
                                      SalesOrder.discount_value
                                    }}</b>
                                  </span></div></div>
</div>
                <br>
<div class="col-12 text-right">
                            <div class="row">
                                <div class="col-12">
                                  <label>Totale da Pagare&ensp;&ensp;</label>
                                  <span
                                    class="col- col-form-label nopadding"
                                    :if="SalesOrder.total_amount"
                                    ><b>&euro;{{
                                      SalesOrder.total_amount
                                    }}</b>
                                  </span></div></div></div>
</div>
</div>
                <div class="row">
                  <div class="col-12 text-right">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                      @click="confirmCancelSalesOrders"
                    >
                      {{ cancel }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";

export default {
  name: "adminCrmSalesOrders",
  components: {
    BootstrapTable,
    Select2,
    PageDetail
  },
  data: function() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      language: dictionaryHelpers.getDictionary("Language"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      setting: dictionaryHelpers.getDictionary("Setting"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      TableSalesOrderConfiguration: [],
      DetailSalesOrderConfiguration: [],
      detailSalesOrders: {},
      languages: 0,
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newCategoryType: dictionaryHelpers.getDictionary("newCategoryType"),
      openDetail: dictionaryHelpers.getDictionary("OpenDetail"),
      save: dictionaryHelpers.getDictionary("Save"),
      defaultLanguageOptions: [],
      UsersDatas: [],
      SalesOrder: [],
      UserAddressesGoods: [],
      UserAddressesDocuments: [],
      SalesOrderDetail: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null }
      },
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0
    };
  },
  created() {
    var adminCrmSalesOrders = this;
    spinnerHelpers.show();

    this.languages = storageData.sIdLanguage();

    adminCrmSalesOrders.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };

    adminConfigurationServices.getFunctionality(function(result) {
      adminCrmSalesOrders.TableSalesOrderConfiguration =
        result.data.tablesConfigurations[0].tablesConfigurations;
      adminCrmSalesOrders.DetailSalesOrderConfiguration =
        result.data.tabsConfigurations[0].pageConfigurations;
      adminCrmSalesOrders.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminCrmSalesOrders = this;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      } else {
        ln = this.languages;
      }

      salesOrderServices.getAllSalesOrder(ln, function(result) {
        adminCrmSalesOrders.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminCrmSalesOrders = this;
      this.languages = value;
      adminCrmSalesOrders.loadTable(value);
      spinnerHelpers.hide();
    },
    SalesOrderFormatter(value, row, index, field) {
      var adminCrmSalesOrders = this;
      var html =
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<div class="col-6"><button class="btn btn-success" onclick="adminCrmSalesOrders.__vue__.executeOpenDetail(' +
        row.code +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button></div>';
      html +=
        '<div class="col-6"><button class="btn btn-danger" onclick="adminCrmSalesOrders.__vue__.delete(' +
        row.code +
        ')"><i class="fa fa-trash"/></button></div>';

      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function(i, result) {
          if (result.code == row.code) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.message)) {
                html += result.message;
              } else {
                html += adminCrmSalesOrders.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.message +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div></div>";
      return html;
    },

    delete(id) {
      var adminCrmSalesOrders = this;
      spinnerHelpers.show();
      salesOrderServices.del(id, function() {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("DeleteCompleted")
        );

        var ln =
          adminCrmSalesOrders.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminCrmSalesOrders.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },

    executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminCrmSalesOrders = this;
      this.rowIdSelected = id;
      this.titleDetail = this.customer;

      $.each(this.tableData, function(i, row) {
        if (adminCrmSalesOrders.rowIdSelected == row.code) {
          adminCrmSalesOrders.detailSalesOrders = row;
        }
      });
      salesOrderServices.getBySalesOrder(
        adminCrmSalesOrders.rowIdSelected,
        function(result) {
          adminCrmSalesOrders.SalesOrder = result.data;
          adminCrmSalesOrders.UsersDatas = result.data[0].UsersDatas;
          adminCrmSalesOrders.UserAddressesGoods =
            result.data[0].UserAddressesGoods;
          adminCrmSalesOrders.UserAddressesDocuments =
            result.data[0].UserAddressesDocuments;
          adminCrmSalesOrders.SalesOrderDetail =
            result.data[0].SalesOrderDetail;
          spinnerHelpers.hide();
        }
      );
      $("#tabDetailSalesOrders").addClass("active");
      $("#tabTableSalesOrders").removeClass("active");

      spinnerHelpers.hide();
    },

    confirmSaveSalesOrders() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveSalesOrders();
      }
    },

    executeSaveSalesOrders() {
      spinnerHelpers.show();
      var adminCrmSalesOrders = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableSalesOrders.getRowSelected(), function(i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminCrmSalesOrders.rowsSelected = adminCrmSalesOrders.rowsSelected + 1;

        salesOrderServices.update(
          rowToSave,
          function() {
            adminCrmSalesOrders.checkAllIsSaved();
            adminCrmSalesOrders.tableResult.push({
              id: rowToSave.id,
              success: true
            });
            notificationHelpers.success(adminCrmSalesOrders.updateCompleted);
          },
          function(response) {
            adminCrmSalesOrders.checkAllIsSaved();
            adminCrmSalesOrders.tableResult.push({
              id: rowToSave.id,
              success: false,
              message: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    onTableCheckSalesOrders() {
      var countRowSelected = this.$refs.tableSalesOrders.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },

    confirmCancelSalesOrders() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmCancel"))) {
        this.executeCancelDocumentsStatuses();
      }
    },

    executeCancelDocumentsStatuses() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $("#tabTableSalesOrders").addClass("active");
      $("#tabDetailSalesOrders").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveSalesOrders() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveSalesOrders();
      }
    },

    executeSaveSalesOrders() {
      spinnerHelpers.show();
      var adminCrmSalesOrders = this;
      this.detailSalesOrders.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailSalesOrders.code)) {
        this.detailSalesOrders.code = false;
      }

      if (!functionHelpers.isValued(this.detailSalesOrders.description)) {
        this.detailSalesOrders.description = false;
      }

      if (!functionHelpers.isValued(this.languages)) {
        this.detailSalesOrders.idLanguage = storageData.sIdLanguage();
      } else {
        this.detailSalesOrders.idLanguage = this.languages;
      }

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailSalesOrders.id = this.rowIdSelected;

        salesOrderServices.update(this.detailSalesOrders, function(result) {
          adminCrmSalesOrders.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmSalesOrders.updateCompleted
          });
          notificationHelpers.success(adminCrmSalesOrders.updateCompleted);
          adminCrmSalesOrders.loadTable(adminCrmSalesOrders.languages);
          $("#tabTableSalesOrders").addClass("active");
          $("#tabDetailSalesOrders").removeClass("active");
        });
      } else {
        salesOrderServices.insert(this.detailSalesOrders, function(result) {
          adminCrmSalesOrders.tableResult.push({
            id: result.data,
            success: true,
            message: adminCrmSalesOrders.insertCompleted
          });
          notificationHelpers.success(adminCrmSalesOrders.insertCompleted);
          adminCrmSalesOrders.loadTable(adminCrmSalesOrders.languages);
          $("#tabTableSalesOrders").addClass("active");
          $("#tabDetailSalesOrders").removeClass("active");
        });
      }
    },

    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable(this.languages);
      }
    }
  }
};
</script>

<style scoped>
.card-title-admin .card {
  background: transparent;
  border: 0px;
}
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}
.align-btn {
  position: absolute;
  margin-top: 10px;
  z-index: 1;
}
</style>
