<template>
  <div id="adminSelenaViews">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ setting }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Carrelli</router-link>
      </li>
    </ol>
    
    <div class="container-fluid card-title-admin">
      <div class="row">
        <div class="col-6 align-self-center">
          <h1>Carrelli</h1>
        </div>
      </div>
    </div>
     <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane nopadding active" id="tabTable" role="tabpanel">
            <div class="card-body">
              <bootstrapTable
                :configurations="tableConfiguration"
                :datas="tableData"
                id="tableContents"
                ref="tableContents"
                :onCheck="onTableCheckCustomer"
                :results="tableNationResult"
              ></bootstrapTable>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabNationDetail" role="tabpanel" style="padding-left: 40px;padding-right: 40px;">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";
export default {
  name: "adminSelenaViews",
  components: {
    BootstrapTable,
    PageDetail,
    Select2
  },
  data: function() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      save: dictionaryHelpers.getDictionary("Save"),
      setting: dictionaryHelpers.getDictionary("Setting"),
      language: dictionaryHelpers.getDictionary("Language"),
      updateCompleted: dictionaryHelpers.getDictionary('UpdateCompleted'),
      insertCompleted: dictionaryHelpers.getDictionary('InsertCompleted'),
      defaultLanguageOptions: [],
      detailNationConfiguration: [],
      tableNationResult: [],
      detailNationData: {},
      tableConfiguration: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null }
      },
      tableData: [],
      disableButton: true,
      url: window.location.pathname,
      serviceAreas: 'regions',
      dataCarrierArea: [],
      rowIdSelected:'',
      newRow : false
    };
  },
  created() {
    var adminSelenaViews = this;

    spinnerHelpers.show();
    adminSelenaViews.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function(result) {
      adminSelenaViews.tableConfiguration = result.data.tablesConfigurations;
        
      adminSelenaViews.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminSelenaViews = this;
      
      cartServices.getAll(function(result) {
        adminSelenaViews.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    onTableCheckCustomer(){

    },
    SalesCartsFormatter(){

    }
  }
};
</script>
<style>

.card-title-admin h1{
  font-size:40px;
  font-weight: lighter;
  color:#303C54;
}
.align-btn {
  position: absolute;
  margin-top: 30px;
  margin-left: 5px;
  z-index: 1;
}
.row-area{
  padding-top:15px;
  padding-bottom:15px;
}

.row-area label{
  margin-right: 25px;
  color: #303c54;
  font-size: 13px;
  font-weight: lighter;
}

.row-area h6{
  font-size:15px;
  font-weight: bold;
  color:#303C54;
}
.row-area h5{
  font-size:18px;
  font-weight: bold;
  color:#303C54;
  text-transform:uppercase;
  font-weight: bold;
}
.div-row-detail-carrier-area{
  margin-bottom: 5px;
}
.nav-tabs .nav-item span{
  
  color: #fff;
}
.nav-tabs .nav-item {
  width: 50%;
}
.nav-tabs .nav-link {
  width: 100%;
  border-radius: 0;
  color: #fff;
  background: #3c4b64;
  border-bottom: 3px solid #f45f00 !important;
  border: 0px;
}
.nav-tabs .nav-link.active {
  background: #2a3545 !important;
}
.nav-tabs > .nav-item > .nav-link:not(.active) {
  background: #3c4b64 !important;
}

</style>
