<template>
  <div id="adminSalesVoucher">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ setting }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">Voucher</router-link>
      </li>
    </ol>
      <div class="container-fluid card-title-admin">
        <h1>Voucher</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
            <div class="row align-btns">
              <div class="col-lg-12">
                <button
                  id="btnAdd"
                  type="button"
                  class="btn btn-primary"
                  @click="onNewVoucher"
                >
                  <i class="fa fa-plus"></i>
                  <span>{{ add }}</span>
                </button>
                <!-- 
                <button
                  id="btnSave"
                  type="button"
                  class="btn btn-sm btn-success"
                  @click="confirmSaveVoucher"
                  :disabled="disableButton"
                >
                  <i class="fa fa-floppy-o"></i>
                  <span>{{ save }}</span>
                </button>
                -->
                <!--
                <button
                  id="btnDelete"
                  type="button"
                  class="btn btn-danger"
                  @click="confirmDeleteVoucher"
                  :disabled="disableButton"
                >
                  <i class="fa fa-trash"></i>
                  <span>{{ del }}</span>
                </button>
                -->
              </div>
            </div>
      
            <div class="row">
              <div class="col-sm-12">
                <bootstrapTable
                  :configurations="tableConfiguration"
                  :datas="tableData"
                  id="tableVoucher"
                  :onCheck="onTableCheckVoucher"
                  :onCheckAll="onTableCheckVoucher"
                  :onUncheck="onTableCheckVoucher"
                  :onUncheckAll="onTableCheckVoucher"
                  ref="tableVoucher"
                  :results="tableResult"
                ></bootstrapTable>
              </div>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabDetail" role="tabpanel">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <button
                    id="tabadminSettingGeneralButton"
                    class="nav-link active"
                    type="button"
                    data-toggle="tab"
                    href="#tabadminSettingGeneralButton"
                    role="tab"
                    aria-controls="tabadminSettingGeneralButton"
                    v-on:click="ontabadminSettingGeneralButton"  
                  >
                    <i class=""></i>
                    <span>Informazioni</span>
                  </button>
                </li> 
              </ul>


            <div class="card-body active tab-pane " id="detailVoucher"  role="tabpanel" style="padding:2rem;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="adminSalesVoucher"
                  :configurations="detailConfiguration"
                  :jsonValue="detailData"
                ></pageDetail>
              </div>
              <div class="row" style="margin-top:15px;margin-bottom:200px;">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="confirmCancelNewVoucher"
                  ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="confirmSaveNewVoucher"
                  ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                </div>
              </div>
            </div>
            <!--div class="card-body tab-pane" id="detailDoveUsato"  role="tabpanel">
              <div class="row" >                                
                <div class="col-sm-12">
                    <!--<bootstrapTable
                      :configurations="UsersReferentConfiguration"
                      :datas="tableUserReferentData"
                      id="tableGroupDisabled"
                      :onCheck="onTableGroupsDisabledCheck"
                      :onCheckAll="onTableGroupsDisabledCheck"
                      :onUncheck="onTableGroupsDisabledCheck"
                      :onUncheckAll="onTableGroupsDisabledCheck"
                      ref="tableGroupsDisabled"
                      :results="tableUserReferentResult"
                    ></bootstrapTable>  --> 
                <!--/div>
              </div> 
            </div-->  


          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import PageDetail from "@/components/PageDetail.vue";
import Select2 from "@/components/Select2.vue";

export default {
  name: "adminSalesVoucher",
  components: {
    BootstrapTable,
    Select2,
    PageDetail
  },
  data: function() {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      language: dictionaryHelpers.getDictionary("Language"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      setting: dictionaryHelpers.getDictionary("Setting"),
      del: dictionaryHelpers.getDictionary("Delete"),
      deleteCompleted: dictionaryHelpers.getDictionary("DeleteCompleted"),
      detailConfiguration: [],
      detailData: {},
      languages: 0,
      disableButton: true,
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      newVoucher: dictionaryHelpers.getDictionary("newVoucher"),
      openDetail: dictionaryHelpers.getDictionary("OpenDetail"),
      save: dictionaryHelpers.getDictionary("Save"),
      defaultLanguageOptions: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null }
      },
      tableConfiguration: [],
      tableCustomerResult: [],
      tableData: [],
      tableResult: [],
      titleDetail: null,
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      url: window.location.pathname,
      rowIdSelected: 0,
      rowsSelected: 0
    };
  },
  created() {
    var adminSalesVoucher = this;
    spinnerHelpers.show();
    
    this.languages = storageData.sIdLanguage();

    adminSalesVoucher.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage()
    };

    adminConfigurationServices.getFunctionality(function(result) {
        adminSalesVoucher.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;                                
        adminSalesVoucher.detailConfiguration = result.data.tabsConfigurations[0].pageConfigurations;
      adminSalesVoucher.loadTable(storageData.sIdLanguage());
    });
  },
  methods: {
    loadTable(ln) {
      var adminSalesVoucher = this;
      if(!functionHelpers.isValued(ln)){
        ln = storageData.sIdLanguage();
      }else{
        ln = this.languages;
      }

      voucherServices.getAll(ln, function(result) {
        adminSalesVoucher.tableData = result.data;
        spinnerHelpers.hide();
        
      });

    },

    VoucherFormatter(value, row, index, field) {
      var adminSalesVoucher = this;
      var html =
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<div class="col-1"><button class="btn btn-success" onclick="adminSalesVoucher.__vue__.executeOpenDetail(' +
        row.id +
        ')"><i class="fa fa-pencil" title="' +
        this.openDetail +
        '" /></button></div>';


      if (functionHelpers.isValued(this.tableResult)) {
        $.each(this.tableResult, function(i, result) {
          if (result.id == row.id) {
            if (result.success) {
              html +=
                '<div class="col-1"><i class="fa fa-check text-success" title="';
              if (functionHelpers.isValued(result.Voucher)) {
                html += result.Voucher;
              } else {
                html += adminSalesVoucher.updateCompleted;
              }
              html += '" /></div>';
            } else {
              html +=
                '<div class="col-1"><i class="fa fa-exclamation-triangle text-danger" title="' +
                result.Voucher +
                '" /></div>';
            }
            return;
          }
        });
      }
      html += "</div></div>";
      return html;
    },

    executeOpenDetail(id) {
      spinnerHelpers.show();
      var adminSalesVoucher = this;
      this.rowIdSelected = id;
      //this.titleDetail = this.customer;

      $.each(this.tableData, function(i, row) {
        if (adminSalesVoucher.rowIdSelected == row.id) {
          adminSalesVoucher.detailData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    onNewVoucher() {
      spinnerHelpers.show();

      this.detailData = {};
      this.titleDetail = this.newVoucher;
      this.rowIdSelected = 0;
      $("#tabTable").removeClass("active");
      $("#tabDetail").addClass("active");
      spinnerHelpers.hide();
    },

    /*
    confirmSaveVoucher() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveVoucherSave();
      }
    },
    */

    executeSaveVoucherSave() {
      spinnerHelpers.show();
      var adminSalesVoucher = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableVoucher.getRowSelected(), function(i, row) {
        var rowToSave = row;
        rowToSave.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();
        adminSalesVoucher.rowsSelected = adminSalesVoucher.rowsSelected + 1;
       // rowToSave.idlanguage=adminSalesVoucher.languages;

        voucherServices.update(
          rowToSave,
          function() {
            adminSalesVoucher.checkAllIsSaved();
            adminSalesVoucher.tableResult.push({
              id: rowToSave.id,
              success: true
            });
            notificationHelpers.success(adminSalesVoucher.updateCompleted);
          },
          function(response) {
            adminSalesVoucher.checkAllIsSaved();
            adminSalesVoucher.tableResult.push({
              id: rowToSave.id,
              success: false,
              Voucher: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    confirmDeleteVoucher() {
      if (confirm(this.confirmDelete)) {
        this.executeDeleteVoucher();
      }
    },
    executeDeleteVoucher() {
      spinnerHelpers.show();
      var adminSalesVoucher = this;
      this.rowsSelected = 0;
      this.tableResult = [];

      $.each(this.$refs.tableVoucher.getRowSelected(), function(i, row) {
        adminSalesVoucher.rowsSelected = adminSalesVoucher.rowsSelected + 1;

        voucherServices.del(
          row.id,
          function() {
            adminSalesVoucher.checkAllIsSaved();
            notificationHelpers.success(adminSalesVoucher.deleteCompleted);
            
          },
          function(response) {
            adminSalesVoucher.checkAllIsSaved();
            adminSalesVoucher.tableResult.push({
              id: rowToSave.id,
              success: false,
              Voucher: response
            });
            notificationHelpers.error(response);
          }
        );
      });
    },

    onTableCheckVoucher() {
      var countRowSelected = this.$refs.tableVoucher.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },

    confirmCancelNewVoucher() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmCancel"))) {
        this.executeCancelVoucher();
      }
    },

    ontabadminSettingGeneralButton() {    
        $("#detailVoucher").addClass("active");
        $("#detailDoveUsato").removeClass("active");
      spinnerHelpers.hide();
    },

    ontabadminSettingDoveUsatoButton() {    
        $("#detailVoucher").removeClass("active");
        $("#detailDoveUsato").addClass("active");
      spinnerHelpers.hide();
    },
    
    executeCancelVoucher() {
      spinnerHelpers.show();
      this.detailTemplateEditorData = {};
      $("#tabTable").addClass("active");
      $("#tabDetail").removeClass("active");
      spinnerHelpers.hide();
    },

    confirmSaveNewVoucher() {
      if (confirm(dictionaryHelpers.getDictionary("ConfirmSave"))) {
        this.executeSaveNewVoucher();
      }
    },

    executeSaveNewVoucher() {
      spinnerHelpers.show();
      var adminSalesVoucher = this;
      this.detailData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (!functionHelpers.isValued(this.detailData.code)) {
        this.detailData.code = false;
      }

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailData.id = this.rowIdSelected;

        voucherServices.update(this.detailData, function(result) {
          adminSalesVoucher.tableResult.push({
            id: result.data,
            success: true,
            Voucher: adminSalesVoucher.updateCompleted
          });
          notificationHelpers.success(adminSalesVoucher.updateCompleted);
          adminSalesVoucher.loadTable(adminSalesVoucher.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      } else {
        voucherServices.insert(this.detailData, function(result) {
          adminSalesVoucher.tableResult.push({
            id: result.data,
            success: true,
            Voucher: adminSalesVoucher.insertCompleted
          });
          notificationHelpers.success(adminSalesVoucher.insertCompleted);
          adminSalesVoucher.loadTable(adminSalesVoucher.languages);
          $("#tabTable").addClass("active");
          $("#tabDetail").removeClass("active");
        });
      }
    },

    checkAllIsSaved() {
      this.rowsSelected = this.rowsSelected - 1;
      if (this.rowsSelected == 0) {
        this.disableButton = true;
        this.loadTable(this.languages);
      }
    }
  }
};
</script>


<style>

/* TAB */
.nav-tabs .nav-item span{
  color: #fff;
}
.nav-tabs .nav-item {
  width: 100%;
}
.nav-tabs .nav-link {
  width: 100%;
  border-radius: 0;
  color: #fff;
  background: #3c4b64;
  border-bottom: 3px solid #f45f00 !important;
  border: 0px;
}
.nav-tabs .nav-link.active {
  background: #2a3545 !important;
}
.nav-tabs > .nav-item > .nav-link:not(.active) {
  background: #3c4b64 !important;
}

.align-btns {
 position: absolute;
    z-index: 1;
    margin-top: 10px;
}
/* END TAB */

</style>
