<template>
  <div id="adminCrmVoucherType">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ admin }}</li>
      <li class="breadcrumb-item">{{ crm }}</li>
      <li class="breadcrumb-item active">
        <router-link :to="url">{{ voucherType }}</router-link>
      </li>
    </ol>
    <div class="container-fluid card-title-admin">
      <h1>Tipi di voucher</h1>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="tab-content noborder">
          <div class="tab-pane active" id="tabTable" role="tabpanel">
                  <div class="row align-btns" style="width: 85%;">
                    <div class="col-lg-6">
                      <button id="btnAdd" type="button" class="btn btn-primary" @click="onClickNew">
                        <i class="fa fa-plus"></i>
                        <span>{{ add }}</span>
                      </button>
                    </div>
                    <div class="col-3 text-left">
                      <select2
                        id="select_AdminPagesView_IdLanguage"
                        ref="select_AdminPagesView_IdLanguage"
                        class="form-control nopadding"
                        style="width:75%"
                        :filterable="false"
                        service="languages"
                        v-model="
                    pageValueSelected.languagePageSetting.idLanguage
                  "
                        :default="defaultLanguageOptions"
                        :change="languageChange"
                      />
                      <span style="margin-left:10px;">{{ language }}</span>
                    </div>
                  </div>
            <div class="card-body nopadding">
              <bootstrapTable
                :configurations="tableConfiguration"
                :datas="tableData"
                id="tableVoucherType"
                :onCheck="onTableCheckVoucherType"
                :onCheckAll="onTableCheckVoucherType"
                :onUncheck="onTableCheckVoucherType"
                :onUncheckAll="onTableCheckVoucherType"
                ref="tableVoucherType"
                :results="tablevoucherTypeResult"
              ></bootstrapTable>
            </div>
          </div>
          <div class="tab-pane nopadding" id="tabvoucherTypeDetail" role="tabpanel" style="box-shadow:none;">
            <div class="card-body" style="padding:30px;">
              <div class="row">
               <div v-if="rowIdSelected > 0">
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Modifica</h1>
                      </div>
                      <div v-else>
                      <h1 style="margin-top: 10px; font-size: 30px;font-weight: lighter;color: #303C54;">Aggiungi</h1>
                      </div>
                <pageDetail
                  functions="AdminSettingvoucherType"
                  :configurations="detailvoucherTypeConfiguration"
                  :jsonValue="detailvoucherTypeData"
                ></pageDetail>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    @click="cancelNewvoucherType"
                  ><i class="fa fa-times"></i>&nbsp;{{ cancel }}</button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="saveNewvoucherType"
                  ><i class="fa fa-floppy-o"></i>&nbsp;{{ save }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BootstrapTable from "@/components/BootstrapTable.vue";
import Select2 from "@/components/Select2.vue";
import PageDetail from "@/components/PageDetail.vue";
export default {
  name: "adminCrmVoucherType",
  components: {
    BootstrapTable,
    Select2,
    PageDetail,
  },
  data: function () {
    return {
      add: dictionaryHelpers.getDictionary("Add"),
      admin: dictionaryHelpers.getDictionary("Admin"),
      cancel: dictionaryHelpers.getDictionary("Cancel"),
      save: dictionaryHelpers.getDictionary("Save"),
      crm: dictionaryHelpers.getDictionary("CRM"),
      voucherType: dictionaryHelpers.getDictionary("voucherType"),
      language: dictionaryHelpers.getDictionary("Language"),
      updateCompleted: dictionaryHelpers.getDictionary("UpdateCompleted"),
      insertCompleted: dictionaryHelpers.getDictionary("InsertCompleted"),
      defaultLanguageOptions: [],
      detailvoucherTypeConfiguration: [],
      tablevoucherTypeResult: [],
      detailvoucherTypeData: {},
      tableConfiguration: [],
      pageValueSelected: {
        id: 0,
        languagePageSetting: { content: null },
      },
      tableData: [],
      disableButton: true,
      url: window.location.pathname,
    };
  },
  created() {
    var adminCrmVoucherType = this;

    spinnerHelpers.show();
    adminCrmVoucherType.defaultLanguageOptions = {
      id: storageData.sIdLanguage(),
      text: storageData.sDescriptionLanguage(),
    };

    spinnerHelpers.show();
    adminConfigurationServices.getFunctionality(function (result) {
      adminCrmVoucherType.tableConfiguration = result.data.tablesConfigurations[0].tablesConfigurations;;
      adminCrmVoucherType.detailvoucherTypeConfiguration = result.data.tabsConfigurations[0].pageConfigurations;

      adminCrmVoucherType.loadTable();
    });
  },
  methods: {
    loadTable(ln) {
      var adminCrmVoucherType = this;
      if (!functionHelpers.isValued(ln)) {
        ln = storageData.sIdLanguage();
      }

      voucherTypeServices.getAll(ln, function (result) {
        adminCrmVoucherType.tableData = result.data;
        spinnerHelpers.hide();
      });
    },
    onTableCheckVoucherType() {
      var countRowSelected = this.$refs.tableVoucherType.countRowSelected();
      if (countRowSelected == 0) {
        this.disableButton = true;
      } else {
        this.disableButton = false;
      }
    },
    languageChange(value) {
      spinnerHelpers.show();
      var adminCrmVoucherType = this;
      adminCrmVoucherType.loadTable(value);
      spinnerHelpers.hide();
    },
    VoucherTypeFormatter(value, row, index, field) {
      var adminCrmVoucherType = this;
      var html = "";
      html +=
        '<div class="container-fluid nopadding" style="width:80px;"><div class="row">';
      html +=
        '<button class="btn btn-success" onclick="adminCrmVoucherType.__vue__.viewDatailInfo(' +
        row.id +
        ')"><i class="fa fa-pencil"/></button>';
      html +=
        '<button class="btn btn-danger" onclick="adminCrmVoucherType.__vue__.delete(' +
        row.id +
        ')"><i class="fa fa-trash"/></button>';

      html += "</div>";
      return html;
    },
    viewDatailInfo(id) {
      spinnerHelpers.show();
      var adminCrmVoucherType = this;
      this.rowIdSelected = id;

      $.each(this.tableData, function (i, row) {
        if (adminCrmVoucherType.rowIdSelected == row.id) {
          adminCrmVoucherType.detailvoucherTypeData = row;
        }
      });

      $("#tabTable").removeClass("active");
      $("#tabvoucherTypeDetail").addClass("active");
      spinnerHelpers.hide();
    },
    delete(id) {
      var adminCrmVoucherType = this;
      spinnerHelpers.show();
      voucherTypeServices.del(id, function () {
        notificationHelpers.success(
          dictionaryHelpers.getDictionary("DeleteCompleted")
        );
        var ln =
          adminCrmVoucherType.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        adminCrmVoucherType.loadTable(ln);
        window.scrollTo(0, 0);
      });
    },
    onClickNew() {
      spinnerHelpers.show();
      this.detailvoucherTypeData = {};
      $("#tabTable").removeClass("active");
      $("#tabvoucherTypeDetail").addClass("active");
      spinnerHelpers.hide();
    },
    cancelNewvoucherType() {
      spinnerHelpers.show();
      this.detailvoucherTypeData = {};
      $("#tabTable").addClass("active");
      $("#tabvoucherTypeDetail").removeClass("active");
      spinnerHelpers.hide();
    },
    saveNewvoucherType() {
      spinnerHelpers.show();
      var adminCrmVoucherType = this;
      this.detailvoucherTypeData.idFunctionality = menuHelpers.getIdFunctionByAdminUrl();

      if (
        functionHelpers.isValued(this.rowIdSelected) &&
        this.rowIdSelected > 0
      ) {
        this.detailvoucherTypeData.id = this.rowIdSelected;
        var ln = adminCrmVoucherType.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        this.detailvoucherTypeData.language_id = ln;

        voucherTypeServices.update(this.detailvoucherTypeData, function (
          result
        ) {
          notificationHelpers.success(adminCrmVoucherType.updateCompleted);
          adminCrmVoucherType.loadTable();
          $("#tabTable").addClass("active");
          $("#tabvoucherTypeDetail").removeClass("active");
        });
      } else {
        var ln = adminCrmVoucherType.pageValueSelected.languagePageSetting.idLanguage;
        if (!functionHelpers.isValued(ln)) {
          ln = storageData.sIdLanguage();
        }
        this.detailvoucherTypeData.language_id = ln;
        voucherTypeServices.insert(this.detailvoucherTypeData, function (
          result
        ) {
          notificationHelpers.success(adminCrmVoucherType.insertCompleted);
          adminCrmVoucherType.loadTable();
          $("#tabTable").addClass("active");
          $("#tabvoucherTypeDetail").removeClass("active");
        });
      }
    },
  },
};
</script>
<style scoped>
.card-title-admin .card {
  background: transparent;
  border: 0px;
}
.card-title-admin h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #303c54;
}

.align-btns {
    position: absolute;
    z-index: 1;
    margin-top: 10px;
}

.span {
  position: absolute;
  margin-top: 75px;
}
</style>
